 <div class="container fs-style padding0 bgwhite" *ngIf="type =='stealThatStyle'">
  <div class="row1">
  <h3 *ngIf="page =='celeb-store'||page =='movie-store'" class="text-left">FLIK THAT STYLE</h3>
  <h3 *ngIf="page =='industry'" class="text-left">STEAL THAT STYLE</h3>
    <h5 class="fs-seemore">
      <span class="pull-left">Grab ‘em before those styles fly away!</span>
      <a rel="canonical" on-click="goToAllContent('see-all','steal-that-style')"  class="pull-right">Show all</a></h5>
  </div>
  <div class='row1'>
    <div class='col-md-12'>
      <div class="carousel slide media-carousel" id="media100000">
        <div class="carousel-inner">
          <div class="item  active">
            <div class="row">
              <div *ngFor="let item of activeArray" class="col-md-3 col-xs-3">
                <div *ngIf='item.products'>
                  <a *ngIf='item.products[0]' rel="canonical" class="thumbnail hidden-xs" [routerLink]="['/product', item.products[0].productSlug]" target="_blank" ><img alt="" src="{{item.profilePic}}">
                  <!-- <span class="fs-stealStyle"><img alt="" src="{{item.products[0].productProfilePic}}"></span> -->
                </a>
                <a *ngIf='item.products[0]' rel="canonical" class="thumbnail visible-xs" [routerLink]="['/product', item.products[0].productSlug]"  ><img alt="" src="{{item.profilePic}}">
                  <!-- <span class="fs-stealStyle"><img alt="" src="{{item.products[0].productProfilePic}}"></span> -->
                </a>
                  <span *ngIf='item.products[0]' [routerLink]="['/product', item.products[0].productSlug]" class="text-capitalize">{{item.products[0].productTitle}}</span>
                  <!-- <span>#LOREM</span><span>Lorem</span> -->
                  <br>
                </div>
              </div> 
            </div>
          </div>
          <div class="item" *ngFor="let array of inactiveArrays">
            <div class="row">
              <div *ngFor="let item of array" class="col-md-3 col-xs-3 ">
                <div *ngIf='item.products'>
                  <a *ngIf='item.products[0]' rel="canonical" class="thumbnail hidden-xs" [routerLink]="['/product', item.products[0].productSlug]" target="_blank" ><img alt="" src="{{item.profilePic}}">
                  <!-- <span class="fs-stealStyle"><img alt="" src="{{item.products[0].productProfilePic}}"></span> -->
                </a>
                <a *ngIf='item.products[0]' rel="canonical" class="thumbnail visible-xs" [routerLink]="['/product', item.products[0].productSlug]"  ><img alt="" src="{{item.profilePic}}">
                  <!-- <span class="fs-stealStyle"><img alt="" src="{{item.products[0].productProfilePic}}"></span> -->
                </a>
                  <span *ngIf='item.products[0]' [routerLink]="['/product', item.products[0].productSlug]" class="text-capitalize">{{item.products[0].productTitle}}</span>
                  <!-- <span>#LOREM</span><span>Lorem</span> -->
                </div>
              </div> 
            </div>
          </div>
        </div>
        <a rel="canonical" data-slide="prev" href="/#media100000" class="left carousel-control">
          <!-- <i _ngcontent-c1="" aria-hidden="true" class="fa fa-chevron-left"></i> -->
          <img class="" src="../../../assets/img/arrowleft.png">
        </a>
        <a rel="canonical" data-slide="next" href="/#media100000" class="right carousel-control">
          <!-- <i _ngcontent-c1="" aria-hidden="true" class="fa fa-chevron-right"></i> -->
          <img class="" src="../../../assets/img/arrowright.png">
        </a>
      </div>                          
    </div>
  </div>
</div> 

<div class="container fs-Products padding0" *ngIf="type =='bargainStyle'">
  <div class="row">
  <h3 class="text-center fs-mt50">BARGAIN HUNTING MADE EASY</h3>
    <h5 class="text-right fs-seemore"><a rel="canonical" on-click="goToSeeAll('see-all','steal-that-style','2')"  class="">See More</a></h5>
  </div>
  <div class='row'>
    <div class='col-md-12'>
      <div class="carousel slide media-carousel" id="media6">
        <div class="carousel-inner">
          <div class="item  active">
            <div class="row">
              <div class="col-md-3 col-xs-3 ">
                <a rel="canonical" class="thumbnail" on-click="goToProduct('product','item1')"><img alt="" src="http://content.flikster.com/celeb/SHILPA-SHETTY-IN-WHITE-FRILLS-D.jpg"></a>
                <span class="text-uppercase">Short Dress With 3/4 Ruffled Sleeves</span><br>
                <span>Haute Curry</span><br><span>&#8377;2,499/-</span>
              </div>          
              <div class="col-md-3 col-xs-3 ">
                <a rel="canonical" class="thumbnail" on-click="goToProduct('product','item1')"><img alt="" src="http://content.flikster.com/celeb/kajol-nikasha-floral-saree-vip-promotions-a-abc.jpg"></a>
                <span class="text-uppercase">Salmon pink printed sari & blouse</span><br>
                <span>Taruni</span><br><span>&#8377;12,399/-</span>
              </div>
              <div class="col-md-3 col-xs-3 ">
                <a rel="canonical" class="thumbnail" on-click="goToProduct('product','item1')"><img alt="" src="http://content.flikster.com/celeb/laskhmi_manchu_in_purvi_doshi_4.jpg"></a>
                <span class="text-uppercase">Off-white Khadi Hand Embroidery Two layer dress.</span><br>
                <span>Steve Madden</span><br><span>&#8377;16,599/-</span>
              </div>  
              <div class="col-md-3 col-xs-3 ">
                <a rel="canonical" class="thumbnail" on-click="goToProduct('product','item1')"><img alt="" src="http://content.flikster.com/celeb/mister-adidas-white-shoes-green-back-a-ab.jpg"></a>
                <span class="text-uppercase">Stan Smith Boost Shoes</span><br>
                <span>Superdry</span><br><span>&#8377;7,999/-</span>
              </div>  
              <div class="col-md-3 col-xs-3 ">
                <a rel="canonical" class="thumbnail" on-click="goToProduct('product','item1')"><img alt="" src="http://content.flikster.com/celeb/steve-madon-multi-color-heels-jio-manjima-ab.jpeg"></a>
                <span class="text-uppercase">Caged High Heel Sandal</span><br>
                <span>Lady Love</span><br><span>&#8377;6,999/-</span>
              </div>     
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div class="col-md-3 col-xs-3 ">
                <a rel="canonical" class="thumbnail" on-click="goToProduct('product','item1')"><img alt="" src="http://content.flikster.com/celeb/SHILPA-SHETTY-IN-WHITE-FRILLS-D.jpg"></a>
                <span class="text-uppercase">Short Dress With 3/4 Ruffled Sleeves</span><br>
                <span>Description</span><br><span>&#8377;28,499/-</span>
              </div>          
              <div class="col-md-3 col-xs-3 ">
                <a rel="canonical" class="thumbnail" on-click="goToProduct('product','item1')"><img alt="" src="http://content.flikster.com/celeb/kajol-nikasha-floral-saree-vip-promotions-a-abc.jpg"></a>
                <span class="text-uppercase">Salmon pink printed sari & blouse</span><br>
                <span>Description</span><br><span>&#8377;12,399/-</span>
              </div>
              <div class="col-md-3 col-xs-3 ">
                <a rel="canonical" class="thumbnail" on-click="goToProduct('product','item1')"><img alt="" src="http://content.flikster.com/celeb/laskhmi_manchu_in_purvi_doshi_4.jpg"></a>
                <span class="text-uppercase">Off-white Khadi Hand Embroidery Two layer dress.</span><br>
                <span>Description</span><br><span>&#8377;16,599/-</span>
              </div>  
              <div class="col-md-3 col-xs-3 ">
                <a rel="canonical" class="thumbnail" on-click="goToProduct('product','item1')"><img alt="" src="http://content.flikster.com/celeb/mister-adidas-white-shoes-green-back-a-ab.jpg"></a>
                <span class="text-uppercase">Adidas Stan Smith Boost Shoes</span><br>
                <span>Description</span><br><span>&#8377;7,999/-</span>
              </div>  
              <div class="col-md-3 col-xs-3 ">
                <a rel="canonical" class="thumbnail" on-click="goToProduct('product','item1')"><img alt="" src="http://content.flikster.com/celeb/steve-madon-multi-color-heels-jio-manjima-ab.jpeg"></a>
                <span class="text-uppercase">STEVE MADDEN Caged High Heel Sandal</span><br>
                <span>Description</span><br><span>&#8377;6,999/-</span>
              </div>     
            </div>
          </div>
        </div>
        <a rel="canonical" data-slide="prev" href="/#media6" class="left carousel-control"><i _ngcontent-c4="" _ngcontent-c1="" aria-hidden="true" class="fa fa-chevron-left"></i></a>
        <a rel="canonical" data-slide="next" href="/#media6" class="right carousel-control"><i _ngcontent-c4="" _ngcontent-c1="" aria-hidden="true" class="fa fa-chevron-right"></i></a>
      </div>                          
    </div>
  </div>
</div>


 <div class="container fs-obsessions bgwhite" *ngIf="type =='latestObsessions'" style="padding:0 0 15px 0;">
  <div class="row1">
  <h3 class="text-left">WHAT'S NEW</h3>
  <h5><span>Check out our new collections</span>
    <a class="pull-right" [routerLink] = "['/see-all/whats-new/home']">Show all</a></h5>
   
  </div>
  <div class='row1'>
    <div class='col-md-12 padding0'>
      <div class="carousel slide media-carousel" id="media12_1">
        <div class="carousel-inner">
          <div class="item active">
            <div class="row1 r1">
              <div *ngFor="let item of activeArray" class="col-md-3 col-xs-3">
                <a rel="canonical" class="thumbnail hidden-xs"  [routerLink] = "['/product/'+item.slug]" target="_blank"><img alt="" src="{{item.profilePic}}"></a>
                <a rel="canonical" class="thumbnail visible-xs"  [routerLink] = "['/product/'+item.slug]" ><img alt="" src="{{item.profilePic}}"></a>
                  <span class="text-uppercase">{{item.name}}</span>
                  <span class="text-uppercase">Rs. {{item.price}}/-</span>
              </div> 
            </div>
          </div>
          <div class="item" *ngFor="let array of inactiveArrays">
              <div class="row1 r1">
                <div *ngFor="let item of array" class="col-md-3 col-xs-3">
                  <a rel="canonical" class="thumbnail hidden-xs"  [routerLink] = "['/product/'+item.slug]" target="_blank"><img alt="" src="{{item.profilePic}}"></a>
                  <a rel="canonical" class="thumbnail visible-xs"  [routerLink] = "['/product/'+item.slug]" ><img alt="" src="{{item.profilePic}}"></a>
                  <span class="text-uppercase">{{item.name}}</span>
                  <span class="text-uppercase">Rs. {{item.price}}/-</span>
                </div> 
              </div>
          </div>
        </div>
        <a rel="canonical" data-slide="prev" href="/#media12_1" class="left carousel-control">
          <img _ngcontent-c0="" class="" src="../../../assets/img/arrowleft.png">
        </a>
        <a rel="canonical" data-slide="next" href="/#media12_1" class="right carousel-control">
          <img _ngcontent-c0="" class="" src="../../../assets/img/arrowright.png">
        </a>
      </div>                          
    </div>
  </div>
</div> 



<div class="container fs-News fs-News-likemodal padding0 fs-mt40 bgwhite" *ngIf="type=='news'">
  <div class="row1">
  <h3 class="text-left">NEWS</h3>
    <h5 class="text-right fs-seemore">
      <span>Check out the latest happenings</span>
      <a rel="canonical" on-click="goToAllContent('see-all','news')"  class="">
      Show all</a></h5>
  </div>
  <div class='row1'>
    <div class='col-md-12'>
      <div class="carousel slide media-carousel" id="media3">
        <div class="carousel-inner">
          <div class="item  active">
            <div class="row">
              <div *ngFor="let item of activeArray" class="col-md-4 col-xs-4 ">
                  <card-news [content]="item" [miniCard]="miniCard" *ngIf="type=='news'"></card-news>
              </div>          
            </div>
          </div>
          <div class="item" *ngFor="let array of inactiveArrays">
            <div class="row">
              <div *ngFor="let item of array" class="col-md-4 col-xs-4 ">
                  <card-news [content]="item" [miniCard]="miniCard" *ngIf="type=='news'"></card-news>
              </div>          
            </div>
          </div>
        </div>
        <a rel="canonical" data-slide="prev" href="/#media3" class="left carousel-control">
          <img class="" src="../../../assets/img/arrowleft.png">
          <!-- <i _ngcontent-c1="" aria-hidden="true" class="fa fa-chevron-left"></i> -->
        </a>
        <a rel="canonical" data-slide="next" href="/#media3" class="right carousel-control">
          <img class="" src="../../../assets/img/arrowright.png">
          <!-- <i _ngcontent-c1="" aria-hidden="true" class="fa fa-chevron-right"></i> -->
        </a>
      </div>                          
    </div>
  </div>
</div>

<!-- <div class="container fs-News fs-videos padding0" *ngIf="type=='videos'" style="">
  <div class="row">
  <h3 class="text-center">VIDEOS</h3>
    <h5 class="text-right fs-seemore"><a rel="canonical" on-click="goToAllContent('see-all','videos')"  class="">See More</a></h5>
  </div>
  <div class='row'>
    <div class='col-md-12'>
      <div class="carousel slide media-carousel" id="media13">
        <div class="carousel-inner">
          <div class="item  active">
            <div class="row">
              <div *ngFor="let item of dataArray | slice:0:3;" class="col-md-4 col-xs-4 ">
                  
                  <a rel="canonical"  class="thumbnail" [routerLink]="['/content', item.slug]"><img alt="" src="{{item.profilePic}}">
                    <img alt="play btn" class="img-responsive fs-glyph-play" src="../../../assets/img/play.png">
                  </a>
                  <div class="fs-vid-info">
                    <span >{{item.title}}</span><br>
                  </div>
              </div>          
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div *ngFor="let item of dataArray | slice:3:6;" class="col-md-4 col-xs-4 ">
                  
                  <a rel="canonical"  class="thumbnail" [routerLink]="['/content', item.slug]"><img alt="" src="{{item.profilePic}}">
                    <img alt="play btn" class="img-responsive fs-glyph-play" src="../../../assets/img/play.png">
                  </a>
                  <span >{{item.title}}</span><br>
                  <span *ngIf="item.tags">{{item.tags[0]}}</span><br>
              </div>          
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div *ngFor="let item of dataArray | slice:6:9;" class="col-md-4 col-xs-4 ">
                  
                  <a rel="canonical"  class="thumbnail" [routerLink]="['/content', item.slug]"><img alt="" src="{{item.profilePic}}">
                    <img alt="play btn" class="img-responsive fs-glyph-play" src="../../../assets/img/play.png">
                  </a>
                  <span >{{item.title}}</span><br>
                  <span *ngIf="item.tags">{{item.tags[0]}}</span><br>
              </div>          
            </div>
          </div>
          
        </div>
        <a rel="canonical" data-slide="prev" href="/#media13" class="left carousel-control"><i _ngcontent-c1="" aria-hidden="true" class="fa fa-chevron-left"></i></a>
        <a rel="canonical" data-slide="next" href="/#media13" class="right carousel-control"><i _ngcontent-c1="" aria-hidden="true" class="fa fa-chevron-right"></i></a>
      </div>                          
    </div>
  </div>
</div> -->



<div class="container fs-ShareUrStyle padding0 bgwhite fs-mt40 mob-fs-mt15" *ngIf="type == 'gallery'">
  <div class="row1">
  <h3 class="text-left">GALLERY</h3>
    <h5 class="text-right fs-seemore">
      <span>Paparazzi’s den!</span>
      <a rel="canonical" on-click="goToAllContent('see-all','gallery')"  class="">Show all</a>
    </h5>
  </div>
  <div class='row1'>
    <div class='col-md-12'>
      <div class="carousel slide media-carousel" id="media4">
        <div class="carousel-inner">
          <div class="item  active">
            <div class="row">
              <div *ngFor="let item of activeArray" class="col-md-4 col-xs-4 ">
                  <fs-card [contentData]="item" [contentType]="item.contentType" [miniCard]="miniCard"></fs-card>
                <!-- <a rel="canonical" class="thumbnail" ><img alt="" src="{{item.profilePic}}"></a> -->
              </div>          
            </div>
          </div>
          <div class="item" *ngFor="let array of inactiveArrays">
            <div class="row">
              <div *ngFor="let item of array" class="col-md-4 col-xs-4 ">
                  <fs-card [contentData]="item" [contentType]="item.contentType" [miniCard]="miniCard"></fs-card>
                <!-- <a rel="canonical" class="thumbnail" ><img alt="" src="{{item.profilePic}}"></a> -->
              </div>          
            </div>
          </div>
        </div>
        <a rel="canonical" data-slide="prev" href="/#media4" class="left carousel-control">
          <img class="" src="../../../assets/img/arrowleft.png">
          <!-- <i _ngcontent-c1="" aria-hidden="true" class="fa fa-chevron-left"></i> -->
        </a>
        <a rel="canonical" data-slide="next" href="/#media4" class="right carousel-control">
          <img class="" src="../../../assets/img/arrowright.png">
          <!-- <i _ngcontent-c1="" aria-hidden="true" class="fa fa-chevron-right"></i> -->
        </a>
      </div>                          
    </div>
  </div>
</div>




<!-- <div class="container fs-shopByVideos padding0" *ngIf="type == 'shopbyvideos' && activeArray.length > 0">
  <div  class="row">
  <h3  class="text-center">SHOP BY VIDEOS</h3>
    <h5 class="text-right fs-seemore"><a rel="canonical" on-click="goToAllContent('see-all','shop-by-videos')"   class="">See More</a></h5>
  </div>
  <div class='row'>
    <div class='col-md-12'>
      <div class="carousel slide media-carousel" id="media15"> 
          <div class="carousel-inner">
              <div class="item  active">
                <div class="row">
                  <div *ngFor="let item of activeArray" class="col-md-4 col-xs-4 ">
                      <a  rel="canonical" class="thumbnail" on-click="displayPopup(item)" ><img alt="" src="{{item.thumbnail}}"><span class="glyphicon glyphicon-play-circle fs-glyph-play"></span></a>
                      <div *ngIf="item.movie">
                        <span *ngIf="item.movie[0]">{{item.movie[0].name}}</span><br>
                      </div>
                      <div *ngIf="item.celeb">
                        <span *ngIf="item.celeb[0]">{{item.celeb[0].name}}</span><br>
                      </div>  
                      <div *ngIf="item.designer">
                        <span *ngIf="item.designer[0]">{{item.designer[0].name}}</span><br>
                      </div>  
                      <div *ngIf="item.brand">
                        <span *ngIf="item.brand[0]">{{item.brand[0].name}}</span><br>
                      </div>                     
                      <span *ngIf="item.productCount">{{item.productCount}} Products</span>
                  </div>          
                </div>
              </div>
              <div class="item" *ngFor="let array of inactiveArrays">
                <div class="row">
                  <div *ngFor="let item of array" class="col-md-4 col-xs-4 ">
                      <a *ngIf="data" rel="canonical" class="thumbnail" on-click="displayPopup(item)" ><img alt="" src="{{item.thumbnail}}"><span class="glyphicon glyphicon-play-circle fs-glyph-play"></span></a>
                      <div *ngIf="item.movie">
                        <span *ngIf="item.movie[0]">{{item.movie[0].name}}</span><br>
                      </div>
                      <div *ngIf="item.celeb">
                        <span *ngIf="item.celeb[0]">{{item.celeb[0].name}}</span><br>
                      </div>  
                      <div *ngIf="item.designer">
                        <span *ngIf="item.designer[0]">{{item.designer[0].name}}</span><br>
                      </div>  
                      <div *ngIf="item.brand">
                        <span *ngIf="item.brand[0]">{{item.brand[0].name}}</span><br>
                      </div> 
                      <span *ngIf="item.productCount">{{item.productCount}} Products</span>
                  </div>          
                </div>
              </div>
            </div>  
        <a rel="canonical" data-slide="prev" href="/#media15" class="left carousel-control"><i _ngcontent-c1="" aria-hidden="true" class="fa fa-chevron-left"></i></a>
        <a rel="canonical" data-slide="next" href="/#media15" class="right carousel-control"><i _ngcontent-c1="" aria-hidden="true" class="fa fa-chevron-right"></i></a>                    
    </div>
  </div>
</div>
</div> -->


<div class="container fs-BrandSTore padding0" *ngIf="type=='productcarousel'">
  <div *ngIf="brandData" class='row'>
    <div class='col-md-12'>
      <div class="carousel slide media-carousel" id="media211">
        <div class="carousel-inner">
          <div class="item  active">
            <div class="row">
            <div class="col-md-12 col-xs-12">
              <div *ngFor="let item of brandData| slice:0:10;" class="brandStore">
                <a  [routerLink]="['/product', item.slug]" rel="canonical" class="thumbnail" ><img alt="" src="{{item.profilePic}}"></a>
              </div>          
              
            </div>
            
            </div>
          </div>

           <div *ngIf="brandData[11]" class="item">
            <div class="row">
            <div class="col-md-12 col-xs-12">
              <div *ngFor="let item of brandData| slice:10:20;" class="brandStore">
                <a rel="canonical" class="thumbnail" ><img alt="" src="{{item.profilePic}}"></a>
              </div>          
             
            </div>
           
            </div>
          </div>
          
           
          
        </div>
        <a rel="canonical" data-slide="prev" href="/#media211" class="left carousel-control"><i _ngcontent-c1="" aria-hidden="true" class="fa fa-chevron-left"></i></a>
        <a rel="canonical" data-slide="next" href="/#media211" class="right carousel-control"><i _ngcontent-c1="" aria-hidden="true" class="fa fa-chevron-right"></i></a>
      </div>                          
    </div>
  </div>
</div>


    <div class="container fs-BrandSTore fs-morebrands padding0" *ngIf="type=='double-rows'">
      <div *ngIf="brandData" class='row'>
        <div class='col-md-12'>
          <div class="carousel slide media-carousel" id="media21">
            <div class="carousel-inner">
              <div class="item  active">
                <div class="row">
                <div class="col-md-12 col-xs-12 pl40" style="">
                  <div *ngFor="let item of brandData| slice:0:10;" class="brandStore">
                    <a  on-click="gotoBrand(item.slug)" rel="canonical" class="thumbnail" ><img alt="" src="{{item.profilePic}}"></a>
                  </div>          
                  
                </div>
                
                </div>
              </div>
    
               <div *ngIf="brandData[11]" class="item">
                <div class="row">
                <div class="col-md-12 col-xs-12 pl40">
                  <div *ngFor="let item of brandData| slice:10:20;" class="brandStore">
                    <a  on-click="gotoBrand(item.slug)" rel="canonical" class="thumbnail" ><img alt="" src="{{item.profilePic}}"></a>
                  </div>          
                 
                </div>
               
                </div>
              </div>
              <div *ngIf="brandData[21]" class="item">
                <div class="row">
                <div class="col-md-12 col-xs-12">
                  <div *ngFor="let item of brandData| slice:20:30;" class="brandStore">
                    <a on-click="gotoBrand(item.slug)" rel="canonical" class="thumbnail" ><img alt="" src="{{item.profilePic}}"></a>
                  </div>          
                 
                </div>
               
                </div>
              </div>
              
               
              
            </div>
            <a rel="canonical" data-slide="prev" href="/#media21" class="left carousel-control"><i _ngcontent-c1="" aria-hidden="true" class="fa fa-chevron-left"></i></a>
            <a rel="canonical" data-slide="next" href="/#media21" class="right carousel-control"><i _ngcontent-c1="" aria-hidden="true" class="fa fa-chevron-right"></i></a>
          </div>                          
        </div>
      </div>
    </div>


    <div class="fs-style padding0" *ngIf="type=='pdpitems'">
      <div class="row">
        <!-- <h5 class="text-right fs-seemore"><a rel="canonical" on-click="goToSeeAll('see-all','steal-that-style','2')"  class="">See More</a></h5> -->
      </div>
      <div class='row'>
        <div class='col-md-12'>
          <div class="carousel slide media-carousel-prod" id="media1">
            <div class="carousel-inner">
              <div class="item  active">
                <div class="row">
                  <div *ngFor="let item of activeArray" class="col-md-4 col-xs-4">
                    <a rel="canonical" class="thumbnail" [routerLink]="['/product', item.productSlug]"><img alt="" src="{{item.profilePic}}">
                    <!-- <span class="fs-stealStyle"><img alt="" src="{{item.products.profilePic}}"></span> -->
                  </a>
                    <span [routerLink]="['/product', item.productSlug]" class="text-uppercase">{{item.productName}}</span>
                  </div> 
                </div>
              </div>
              <div class="item" *ngFor="let array of inactiveArrays">
                <div class="row">
                  <div *ngFor="let item of array" class="col-md-4 col-xs-4 ">
                    <a rel="canonical" class="thumbnail" ><img alt="" src="{{item.profilePic}}">
                    <!-- <span class="fs-stealStyle"><img alt="" src="{{item.products.profilePic}}"></span> -->
                  </a>
                    <span class="text-uppercase">{{item.productName}}</span>
                  </div> 
                </div>
              </div>
            </div>
            <a rel="canonical" data-slide="prev" href="/#media1" class="left carousel-control"><i _ngcontent-c1="" aria-hidden="true" class="fa fa-chevron-left"></i></a>
            <a rel="canonical" data-slide="next" href="/#media1" class="right carousel-control"><i _ngcontent-c1="" aria-hidden="true" class="fa fa-chevron-right"></i></a>
          </div>                          
        </div>
      </div>
    </div>
    
    <div class="fs-designer-store padding0 bgwhite" *ngIf="type=='design'">
<div class='row1'>
  <h3>DESIGNERS</h3>
  <h5 class="fs-seemore">
    <span>Hand picked designer collections</span>
    <a on-click="seeDesigners()" class="semore">Show all</a>
  </h5>
</div>
<!-- <p class="col-md-12 padding0 text-right" >
<span on-click="seeDesigners()" class="semore">See More</span></p> -->
       <!-- <div class="col-md-2 col-xs-2 " *ngFor="let image of activeArray ">
                        <a rel="canonical" class="thumbnail" on-click="goToSeeDesigner('designer-store',image.slug)" ><img alt="" src="{{image.profilePic}}">
                          <div class="shopnow"><span class="design_NAME">{{image.name}}</span>
                          <span class="">shop now</span>
                        </div>
                      </a>
                      </div> -->
        <div class='row1'>
            <div class='col-md-12'>
              <div class="carousel slide media-carousel carousel-designerstore" id="media6">
                <div class="carousel-inner">
                  <div class="item  active">
                      <div class='row1'>
                    <div class="row1" *ngIf="carouselData">
                      <div class="col-md-4 col-xs-4 " *ngFor="let image of activeArray ">
                        <a rel="canonical" class="thumbnail" on-click="goToSeeDesigner('designer-store',image.slug)" ><img alt="" src="{{image.profilePic}}"></a><h2 class="design_NAME">{{image.name}}</h2>
                        <h5>Fashion Designer, Model</h5>
                        <!-- <p>Dec-1981 | Andhra Pradesh, India</p> -->
                        <p><button on-click="goToSeeDesigner('designer-store',image.slug)">More</button></p>
                      </div>
                      </div> 
                    </div>
                  </div>
                  <div class="item" *ngFor="let array of inactiveArrays">
                      <div class='row1'>
                    <div class="row1" *ngIf="carouselData">
                      <div class="col-md-4 col-xs-4 " *ngFor="let image of array ">
                        <a rel="canonical" class="thumbnail" on-click="goToSeeDesigner('designer-store',image.slug)" ><img alt="" src="{{image.profilePic}}"></a><h2 class="design_NAME">{{image.name}}</h2>
                        <h5>Fashion Designer, Model</h5>
                        <!-- <p>Dec-1981 | Andhra Pradesh, India</p> -->
                        <p><button>More</button></p>
                      </div>
                      </div> 
                    </div>
                  </div>
                  
                  
                </div>
                    

                  
                <a rel="canonical" data-slide="prev" href="/#media6" class="left carousel-control">
                  <!-- <i _ngcontent-c1="" aria-hidden="true" class="fa fa-chevron-left"></i> -->
                  <img _ngcontent-c2="" class="" src="../../../assets/img/arrowleft.png">
                </a>
                <a rel="canonical" data-slide="next" href="/#media6" class="right carousel-control">
                <img _ngcontent-c2="" class="" src="../../../assets/img/arrowright.png">  <!-- <i _ngcontent-c1="" aria-hidden="true" class="fa fa-chevron-right"></i> -->
                </a>
              </div>                          
            </div>
          </div>

    </div>



    <div on-click='closePopup()' *ngIf="popup" class="container-fluid padding0 fs-ShopByvideosModal">

      <i on-click="closePopup()" class="fa fa-close" aria-hidden="true"></i>
        <div on-click="disablePopup()" *ngIf="popupVideo" class="col-md-8 col-md-offset-2 bgwhite">
          <div class="col-md-12 padding0">
          <h3>{{title}}</h3>
          <!-- <card-youtube [height]="height" [width]="width" [id]="id" ></card-youtube> -->
          <iframe  [src]='sanitizer.bypassSecurityTrustResourceUrl(videourl)' width="100%" height="360" frameborder="0"
          webkitallowfullscreen mozallowfullscreen allowfullscreen>
      </iframe>
          </div>
          <h3  class="col-md-12 pull-left padding0">{{title}}<span on-click="viewAll()" class="pull-right small viewallclick">View All</span></h3>
          <!--carusel start-->
          <div class="row">
          <div class="col-md-12">
            <div class="carousel slide media-carousel" id="media4">
              <div class="carousel-inner">
                <div class="item  active">
                  <div class="row">
                    <div *ngFor='let item of productArray |slice:0:3;let i=index'  class="col-md-4 col-xs-4 ">
                      <a [routerLink]="['/product', item.productSlug]" rel="canonical" class="thumbnail" ><img alt="" src="{{item.productProfilePic}}">
                      <!-- <span class="glyphicon glyphicon-play-circle fs-glyph-play"></span> -->
                      <span class="Buy">Buy</span>
                      </a>
                      <span>{{item.productTitle}}</span><br>
                      <span>{{item.productBrand}}</span>
                    </div>          
                    
                       
                  </div>
                </div>
                <div *ngIf="productArray[3]" class="item">
                  <div class="row">
                    <div *ngFor='let item of productArray |slice:3:6;let i=index'  class="col-md-4 col-xs-4 ">
                      <a [routerLink]="['/product', item.productSlug]" rel="canonical" class="thumbnail" ><img alt="" src="{{item.productProfilePic}}">
                      <!-- <span class="glyphicon glyphicon-play-circle fs-glyph-play"></span> -->
                      <span class="Buy">Buy</span>
                      </a>
                      <span>{{item.productName}}</span><br>
                      <span>{{item.productBrand}}</span>
                    </div>          
                    
                       
                  </div>
                </div>
               
                <!-- <div class="item">
                  <div class="row">
                       
                  </div>
                </div> -->
             
              </div>
              <a rel="canonical" data-slide="prev" href="/#media4" class="left carousel-control"><i _ngcontent-c1="" aria-hidden="true" class="fa fa-chevron-left"></i></a>
              <a rel="canonical" data-slide="next" href="/#media4" class="right carousel-control"><i _ngcontent-c1="" aria-hidden="true" class="fa fa-chevron-right"></i></a>
            </div>                          
          </div>
        </div><!-- carousel end-->
        </div>
      
      <div *ngIf="popupViewAll" class="col-md-8 col-md-offset-2 bgwhite fs-ShopByvideosModalViewall">
          <div class="col-md-12 padding0">
          <h4 on-click="backToVideo()" class="Back"> &lt; Back</h4>
          <h3>{{title}}</h3>
          </div>
          <div *ngIf='productArray' class="row">
            <div class="col-md-12">
              <div *ngFor="let item of productArray" class="col-md-4 col-xs-4 ">
                <a rel="canonical" class="thumbnail" [routerLink]="['/product', item.productSlug]"><img alt="" src="{{item.productProfilePic}}">
                <!-- <span class="glyphicon glyphicon-play-circle fs-glyph-play"></span> -->
                <span class="Buy">Buy</span>
                </a>
                <span>{{item.name}}</span><br>
            <span>{{item.brand}}</span>
              </div>
              
              
              
             
            </div>
          </div>
        </div>
      
      
      </div>
      

      <div class="fs-style" >
        <div *ngIf="cData" class='row'>
            <div class='col-md-12 padding0'>
                <div class="col-md-12 col-xs-12 padding0" >
              <div class="carousel slide media-carousel carousel-designerstore" id="media66">
                <div  class="carousel-inner">
                  <div  class="item active">
                    <div class="row">
                      <div class="col-md-4" *ngFor="let product of cData; let i=index">
                        <a rel="canonical" class="thumbnail other-prodlayer" on-click="goToLooks(i)"> <img src="{{product.productProfilePic}}">
                          <div class=""><span>BUY</span></div></a>
                          <p>{{product.productTitle}}</p>
                          <!-- <p>Rs.{{product.price}}/-</p> -->
                      </div>
                    </div>
                  </div>
                  <!-- <div  class="item">
                    <div class="row">
                      <div class="col-md-4" *ngFor="let product of cData">
                        <a rel="canonical" class="thumbnail"> <img src="{{product.productProfilePic}}"></a>
                      </div>
                    </div>
                  </div> -->
                </div>
                
                <a *ngIf="cData.length > 5"  rel="canonical" data-slide="prev" href="/#media66" class="left carousel-control"><i _ngcontent-c1="" aria-hidden="true" class="fa fa-chevron-left"></i></a>
                <a *ngIf="cData.length > 5"  rel="canonical" data-slide="next" href="/#media66" class="right carousel-control"><i _ngcontent-c1="" aria-hidden="true" class="fa fa-chevron-right"></i></a>
              </div>  
            </div>
            </div>
          </div>

    </div> 



    <!-- <div class="container-fluid fs-mt40 mob-m40 mob-fs-mt10">
  <div *ngIf='pageType=="celeb-store"' class="container fs-ProductsType padding0">
    <div class="col-md-12 bgWhite shopbystar ">
  <div *ngIf='pageType=="celeb-store"' class="row">
    <h3>SHOP BY STAR</h3>
    <h5 class=" fs-seemore">
  <span>Explore the wardrobe of your favourite star</span><a rel="canonical" on-click="viewAllProducts( widget._source.products)"  class="">Show all</a></h5>
  </div>

<div class="row"><div class="col-md-12">
  <div class="carousel slide media-carousel" id="media100000">
    <div class="carousel-inner">
  <div *ngIf='pageType=="celeb-store"' class='item active'>
    <div class="row">
      <div *ngFor="let items of shopByStar" class="col-md-3 col-sm-3">
        <div class="col-md-12 col-xs-12 pull-left fs-collectionsPic">
          <a rel="canonical" [routerLink]="['/'+items.item.type+'-store',items.item.slug]" class="thumbnail"><img src="{{items.image}}" alt="image" class="col-md-12 img-responsive padding0 center-block" ></a>
          <a rel="canonical" [routerLink]="['/'+items.item.type+'-store',items.item.slug]">#{{items.item.name}}</a>
        </div>
</div>
</div>
</div>
</div>
<a class="left carousel-control" data-slide="prev" href="/#media100000" rel="canonical">
   <img _ngcontent-c2="" class="" src="../../../assets/img/arrowleft.png">
</a>
<a class="right carousel-control" data-slide="next" href="/#media100000" rel="canonical">
  <img _ngcontent-c2="" class="" src="../../../assets/img/arrowright.png">
</a>
</div>
</div>
</div>
</div>
</div></div> -->
