<div  class="col-md-12 padding0" >  
    <ul class="list-unstyled fs-leadcast" *ngIf="cast && checkFollowing && cast.length>0">
      <p>Lead Cast</p>
      <li *ngFor=" let cast of cast | slice:0:2; let i=index ">
        <div class="col-md-2 padding0">
          <a rel="canonical" href=""><img src="{{cast.profilePic}}" alt=""></a>
        </div>
        <div class="col-md-7 fs-mt10" style="width: 140px;"><span><a rel="canonical" [routerLink] = "['/celeb/'+cast.slug]">{{cast.name}}</a></span></div>
        <div *ngIf='checkFollowing[i]' on-click="followCeleb(cast,i,checkFollowing[i])"  class="col-md-2 padding0">
          <button *ngIf="checkFollowing[i].data.Count=='0'">follow</button>
          <button *ngIf="checkFollowing[i].data.Count=='1'">following</button>
        </div>
      </li>
    
    </ul>
    <ul class="list-unstyled fs-leadcast" *ngIf="crew && checkFollowing && crew.length>0">
      <p>Crew</p>
      <li *ngFor=" let crew of crew |slice:0:2; let i=index">
        <div class="col-md-2 padding0">
          <a rel="canonical" href=""><img src="{{crew.profilePic}}" alt=""></a>
        </div>
        <div class="col-md-7 fs-mt10" style="width: 140px;"><span><a rel="canonical" [routerLink] = "['/celeb/'+crew.slug]">{{crew.name}}</a></span></div>
        <div *ngIf='checkFollowing[i+2]' on-click="followCeleb(crew,i,checkFollowing[i+2])"  class="col-md-2 padding0">
            <button *ngIf="checkFollowing[i+2].data.Count=='0'">follow</button>
            <button *ngIf="checkFollowing[i+2].data.Count=='1'">following</button>
        </div>
      </li>
      
    </ul>
    <ul *ngIf='SuggestedMovies && SuggestedMovies.length>0' class="list-unstyled suggested-movies">
      <h5>SUGGESTED MOVIES</h5>
      <li *ngFor="let item of SuggestedMovies |slice:0:flimShow"><a on-click="goToMovies(item.slug)">{{item.title}} <span *ngIf='item.censorCertificate'>({{item.censorCertificate}})</span></a></li>
     
      <li *ngIf='SuggestedMovies && SuggestedMovies.length>5' class="text-center"><span on-click="changeFilmShow()" [ngClass]="flimShow==5 ? 'fa fa-caret-down':'fa fa-caret-up'"  style="cursor: pointer;"></span></li>
    </ul>
    
  </div>