
    
    <div class="container-fluid padding0 fs-mt50">
    <div class="container fs-mt20">
    
    </div>
      <div class="container fs-mt30">
        <div class="col-md-12 padding0 shareStyleCard">
          <div class="col-md-12 padding0">
            <div class="col-md-6 padding0">
              <div class="styleInfo"><span>STATUS: </span><span>Single</span></div>
              <div class="styleInfo"><span>OCCUPATION: </span><span>Student</span></div>
              <div class="SHareSTylePic">
                <img class="img-responsive" src="http://www.cinespot.net/gallery/d/2208334-1/Jr+NTR+in+Maa+Naannaku+Prematho.jpg" alt="">
              </div>
            </div>
            <div class="col-md-6 padding0">
              <div class="fs-pl150 styleInfo"><span>STYLE ICON: </span><span>Samantha,</span><span>Deepika padhukone</span></div>
              <div class="fs-pl150 styleInfo"><span>FAVORITE ACCESSORY: </span><span>Sunglasses,</span><span>Shoes</span></div>
            </div>
            <div class="col-md-12 padding0 fs-mt50 fs-mb20"><h3 class="text-center">Lorem Ipsum Lorem Ipsum</h3></div>
            <div class="col-md-12 padding0">
              <div class="col-md-12 padding0">
                <div class="col-md-3 col-md-3a padding0 h200 fs-mb5 fs-mr5">
                  <img src="http://www.cinespot.net/gallery/d/2208334-1/Jr+NTR+in+Maa+Naannaku+Prematho.jpg" alt="" class="img-responsive">
                </div>
                <div class="col-md-3 col-md-3a padding0 h200 fs-mb5 fs-mr5 thumbnail text-center flex-center">
                  <p>"Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum "</p>
                </div>
                <div class="col-md-3 col-md-3a padding0 h200 fs-mb5 fs-mr5">
                  <img src="http://www.cinespot.net/gallery/d/2208334-1/Jr+NTR+in+Maa+Naannaku+Prematho.jpg" alt="" class="img-responsive">
                  <span>Lorem</span>
                </div>
                <div class="col-md-3 col-md-3a padding0 h200 fs-mb5 fs-mr5">
                  <img src="http://www.cinespot.net/gallery/d/2208334-1/Jr+NTR+in+Maa+Naannaku+Prematho.jpg" alt="" class="img-responsive">
                </div>
              </div>
              <div class="col-md-12 padding0">
                <div class="col-md-6 padding0">
                  <div class="col-md-6 col-md-6a padding0 h200 fs-mb5 fs-mr5">
                    <img src="http://www.cinespot.net/gallery/d/2208334-1/Jr+NTR+in+Maa+Naannaku+Prematho.jpg" alt="" class="img-responsive"><span>Lorem</span>
                  </div>
                  <div class="col-md-6 col-md-6a padding0 h200 fs-mb5 fs-mr5">
                    <img src="http://www.cinespot.net/gallery/d/2208334-1/Jr+NTR+in+Maa+Naannaku+Prematho.jpg" alt="" class="img-responsive">
                  </div>
                  <div class="col-md-6 col-md-6a padding0 h200 fs-mb5 fs-mr5 thumbnail text-center flex-center">
                    <p>"Lorem Ipsum Lorem Ipsum Lorem Ipsum "</p>
                  </div>
                  <div class="col-md-6 col-md-6a padding0 h200 fs-mb5 fs-mr5">
                    <img src="http://www.cinespot.net/gallery/d/2208334-1/Jr+NTR+in+Maa+Naannaku+Prematho.jpg" alt="" class="img-responsive">
                  </div>
                </div>
                <div class="col-md-6 padding0 flex">
                  <div class="col-md-6 col-md-6a padding0 fs-mr5">
                    <img src="http://www.cinespot.net/gallery/d/2208334-1/Jr+NTR+in+Maa+Naannaku+Prematho.jpg" alt="" class="img-responsive">
                  </div>
                  <div class="col-md-6 col-md-6a padding0">
                    <div class="col-md-12 padding0 h200 fs-mb5 thumbnail text-center flex-center"><p>"Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum"</p></div>
                    <div class="col-md-12 padding0 h200 fs-mb5">
                      <img src="http://www.cinespot.net/gallery/d/2208334-1/Jr+NTR+in+Maa+Naannaku+Prematho.jpg" alt="" class="img-responsive"><span>Lorem Ipsum</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    