
      <ul  class="list-unstyled fs-mt10 Types hidden-xs hidden-sm">
        <li [ngClass]="index == 'feed' ? 'Active' : ''" ><a [routerLink] = "['/feed']" >
        	<img *ngIf="index == 'feed'" src="../../../assets/img/Feed Pink.png" alt="" class="">
			<img *ngIf="index != 'feed'" src="../../../assets/img/Feed Icon.png" alt="" class="">
        	<span class="fs-ml5">My Feed</span></a></li>
        <li [ngClass]="index == 'boutique' ? 'Active' : ''"><a [routerLink] = "['/boutique']"> 
        	<img *ngIf="index == 'boutique'" src="../../../assets/img/my boutique selected.png" alt="" class="">
			<img *ngIf="index != 'boutique'" src="../../../assets/img/my boutique.png" alt="" class="">
            <span class="fs-ml5">My Boutique</span></a></li>
        <li [ngClass]="index == 'bookmark' ? 'Active' : ''"><a [routerLink] = "['/bookmark']">
        	<img *ngIf="index == 'bookmark'" src="../../../assets/img/bookmark selected.png" alt="" class="">
			<img *ngIf="index != 'bookmark'" src="../../../assets/img/bookmarks.png" alt="" class="">
        	<span class="fs-ml5">Bookmarks</span></a></li>
        <li [ngClass]="index == 'like' ? 'Active' : ''"><a [routerLink] = "['/like']" >
        	<img *ngIf="index == 'like'" src="../../../assets/img/liked posts selected.png" alt="" class="">
			<img *ngIf="index != 'like'" src="../../../assets/img/liked posts.png" alt="" class="">
        	<span class="fs-ml5">Liked Posts</span></a></li>
        <li [ngClass]="index == 'orders' ? 'Active' : ''"><a [routerLink] = "['/orders']" >
            <img *ngIf="index == 'orders'" src="../../../assets/img/my orders selected.png" alt="" class="">
			<img *ngIf="index != 'orders'" src="../../../assets/img/my orders.png" alt="" class="">
        	<span class="fs-ml5">My Orders</span></a></li>
        <li [ngClass]="index == 'trending' ? 'Active' : ''"><a [routerLink] = "['/trending']" >
            <img *ngIf="index == 'trending'" src="../../../assets/img/trending selected.png" alt="" class="">
			<img *ngIf="index != 'trending'" src="../../../assets/img/trending.png" alt="" class="">
        	<span class="fs-ml5">Trending</span></a></li>
      </ul>

      <div class="container-fluid movieInfoDiv1 padding0 visible-xs visible-sm">
              <div class="container visible-xs visible-sm hidden-lg padding0">
                <div class="Mob_myfeed">
                    <ul>
                      <li [ngClass]="pageName=='feed' ? '' :'listCentre'"><a on-click="showMenu()">{{titleHeading}}<i class="fa fa-angle-down"></i></a></li>
                      <div *ngIf='showTitleBar' class="Mob_myfeed_list">
                        <h3> {{titleHeading}}<span on-click="showMenu()">x</span></h3>
                          <ul>
                            <li  *ngIf='pageName!="feed"'><a [routerLink] = "['/feed']" >My Feed</a></li>
                              <li *ngIf='pageName!="boutique"'><a [routerLink] = "['/boutique']">My Boutique</a></li>
                              <li *ngIf='pageName!="bookmark"'><a [routerLink] = "['/bookmark']">Bookmarks</a></li>
                              <li *ngIf='pageName!="like"'><a [routerLink] = "['/like']" >Liked Posts</a></li>
                              <li *ngIf='pageName!="orders"'><a [routerLink] = "['/orders']">My Orders</a></li>
                              <li *ngIf='pageName!="trending"'><a [routerLink] = "['/trending']">Trending</a></li>
                          </ul>
                      </div>
                      <li *ngIf='pageName=="feed"'><a on-click="showFilter()"><i class="fa fa-filter"></i>Filters</a></li>
                       <div *ngIf='showFilterBar' class="Mob_myfeed_list filters">
                        <h3>Filters<span on-click="showFilter()">x</span></h3>
                          <ul>
                            <li *ngIf="contentType !='audio-song'"><a on-click='goToContent("audio-song")'>Audio song</a></li>
                              <li *ngIf="contentType !='comedy-clip'"><a on-click='goToContent("comedy-clip")'>Comedy Clip</a></li>
                              <li *ngIf="contentType !='dialouge'"><a on-click='goToContent("dialouge")'>Dialouge</a></li>
                              <li *ngIf="contentType !='first-look'"><a on-click='goToContent("first-look")'>First Look</a></li>
                              <li *ngIf="contentType !='gallery'"><a on-click='goToContent("gallery")'>Gallery</a></li>
                              <li *ngIf="contentType !='interview'"><a on-click='goToContent("interview")'>Interview</a></li>
                              <li *ngIf="contentType !='movie-making'"><a on-click='goToContent("movie-making")'>Movie Making</a></li>
                              <li *ngIf="contentType !='news'"><a on-click='goToContent("news")'>News</a></li>
                              <li *ngIf="contentType !='poster'"><a on-click='goToContent("poster")'>Poster</a></li>
                              <li *ngIf="contentType !='quote'"><a on-click='goToContent("quote")'>Quote</a></li>
                              <li *ngIf="contentType !='social-buzz'" ><a on-click='goToContent("social-buzz")'>Social Buzz</a></li>
                              <li *ngIf="contentType !='teasers-promos'"><a on-click='goToContent("teasers-promos")'>Teasers & Promos</a></li>
                              <li *ngIf="contentType !='trailer'"><a on-click='goToContent("trailer")'>Trailers</a></li>
                              <li *ngIf="contentType !='tweet'"><a on-click='goToContent("tweet")'>Tweets</a></li>
                              <li *ngIf="contentType !='video-song'"><a on-click='goToContent("video-song")'>Video Song</a></li>
                          </ul>
                      </div>
                    </ul>
                  </div>
              </div>
      </div>
   
