<!--<div *ngIf='page=="feed" || "celeb"'>
<div *ngIf="contentData">
    <div class="col-md-12 padding0">

      <card-associationdata [assnData]="assnData"></card-associationdata>
      
      <div class="col-md-12 padding0" on-click="gotocontent()">
        <img class="img-responsive" src="{{contentData.profilePic}}" style="width: 100%;"><span class="more" *ngIf="contentData.media.gallery[0] && page=='feed'">+{{contentData.media.gallery.length}} more</span>
      
      </div>
      
      <div class="col-md-12 col-xs-12 pull-left padding0">
        <div class="col-md-12 padding0">
          <card-socialbar [cardId]="cardId"></card-socialbar>
        </div>
      </div>
      <div class="col-md-12 bg-white card-Title">
        <h4 on-click="gotocontent()">{{contentData.title}}</h4>
      
      <div class="col-md-12 col-xs-12 pull-left padding0 bg-white">
        <div class="col-md-12 fs-comments padding0">
          <card-comments [cardId]="cardId"></card-comments>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>-->
<div *ngIf='page=="content" && !isMiniCard'>
  <!-- {{contentData.title}} -->
  <div *ngIf=" contentData">
    <div class="col-md-12 col-sm-12 col-xs-12 padding0">

      <!-- <h4 *ngIf='contentData' class="text-bold bg-white fs-m0" style="padding: 10px;">{{contentData.title}}</h4> -->
      <h5 class="fs-m0 bg-white" *ngIf='contentData' [innerHTML]='contentData.text' style="padding: 10px; display: none;">
      </h5>
<div class="Card_Style">
      <card-associationdata *ngIf="page=='content'" [time]='ShowTime' [date]='time' [assnData]="assnData"></card-associationdata>
    </div>
      <div *ngIf='contentData.contentType=="gallery"'>
        <div *ngFor="let item of contentData.media.gallery;let i=index" class="Card_Style col-md-12 col-sm-12 col-xs-12 padding0 fs-mb20">
          <div class="col-md-12 col-sm-12 col-xs-12 padding0 flex">
            <img class="img-responsive col-md-12 col-sm-12 col-xs-12 padding0" src="{{item}}" on-click="setpiviot(i)">

          </div>
          <card-socialbar [content]="content" [cardId]="item.split('/').join('-')" [shareSlug]='shareSlug' [shareProfilePic]='shareProfilePic'></card-socialbar>

          <div class="col-md-12 col-sm-12 col-xs-12 bg-white card-Title padding0">


            <div class="col-md-12 col-sm-12 col-xs-12 pull-left padding0 bg-white">
              <div class="col-md-12 col-sm-12 col-xs-12 fs-comments padding0">
                <card-comments [cardId]="item.split('/').join('-')"></card-comments>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf='contentData.contentType!="gallery"'>
        <div class="col-md-12 col-sm-12 col-xs-12 padding0 fs-mb20">
          
          <div class="col-md-12 col-sm-12 col-xs-12 padding0 flex">
            <img class="img-responsive col-md-12 col-sm-12 col-xs-12 padding0" src="{{contentData.profilePic}}">
          </div>
          <card-socialbar [content]="content" [cardId]="cardId" [shareSlug]='shareSlug' [shareProfilePic]='shareProfilePic'></card-socialbar>
          <div class="card-galleryInfo">
            <h1>{{contentData.title}}</h1>
            <!-- <h5 *ngIf='content.text'  class="text-justify" [innerHTML]='content.text'></h5> -->

            <!-- <h5 *ngIf='content' [innerHTML]='content.text'></h5> -->

          </div>
          <!-- <p>{{contentData.title}}</p> -->
          <div class="col-md-12 col-sm-12 col-xs-12 bg-white card-Title padding0">


            <div class="col-md-12 col-sm-12 col-xs-12 pull-left padding0 bg-white">
              <div class="col-md-12 col-sm-12 col-xs-12 fs-comments padding0">
                <card-comments [cardId]="cardId"></card-comments>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="gallery-modal" *ngIf="displayCarousel">
    <div class="gallery-modal-content">

      <!-- <label on-click="displayCarousel = false;">x</label> -->
      <span class="glyphicon1 glyphicon-remove-circle1" on-click="displayCarousel = false;">
        <img  class="" src="../../../assets/img/close-gallery.svg" >
      </span>

      <div class="items">
        <img src="{{carouselItem}}">
      </div>
      <div on-click="prev()" class="prev">
        <!-- prev -->
        <!-- <i aria-hidden="true" class="fa fa-chevron-left"></i> -->
        <img class="" src="../../../assets/img/left@arrow.svg" >
        <!-- <img src="assets/images/left-arrow.png" id="left" /> -->
      </div>
      <div on-click="next()" class="next">
        <!-- next -->
        <!-- <i aria-hidden="true" class="fa fa-chevron-right"></i> -->
        <img  class="" src="../../../assets/img/right@arrow.svg" >
        <!-- <img src="assets/images/right-arrow.png" id="right" /> -->
      </div>
    </div>
  </div>


</div>
<div *ngIf='page=="content" && isMiniCard'>

  <div class="container-fluid padding0">

    <div class="col-md-12 col-sm-12 col-xs-12 padding0 pull-left" *ngIf="content">
      <div class="col-md-12 col-sm-12 col-xs-12 padding0 pull-left">
        <div class="col-md-12 col-sm-12 col-xs-12 fs-mpading0 pull-left padding0">



          <div class="col-md-12 col-sm-12 col-xs-12 padding0" on-click="gotocontent()">


            <div *ngIf="!cardtype" class="rel-profilePicHeight">
              <div *ngIf="content.profilePic" class="relfliks-card-height"><img alt="" class="img-responsive center-block" src="{{content.profilePic}}"></div>

            </div>
            <div *ngIf="cardtype === '1'" class="fs-cardtype-v2 rel-fs-cardtype-v2">
              <div *ngIf="content.media.gallery[0]" class=""><img alt="" class="img-responsive" src="{{content.media.gallery[0]}}"></div>
              <div *ngIf="content.media.gallery[1]" class=""><img alt="" src="{{content.media.gallery[1]}}" class="img-responsive">
                <div class="img-more" *ngIf='content.media && content.media.gallery && content.media.gallery.length>2 '>+{{content.media.gallery.length-2}} more</div>
              </div>
            </div>

            <div *ngIf="cardtype === '2'" class="fs-cardtype-v2-h2 rel-fs-cardtype-v2-h2">
              <div class="" *ngIf="content.media.gallery[0]">
                <img alt="" class="img-responsive" src="{{content.media.gallery[0]}}">
              </div>
              <div class="">
                <div class="" *ngIf="content.media.gallery[1]">
                  <img alt="" src="{{content.media.gallery[1]}}" class="img-responsive">
                </div>
                <div class="" *ngIf="content.media.gallery[1]">
                  <img alt="" src="{{content.media.gallery[2]}}" class="img-responsive">
                  <div class="img-more" *ngIf='content.media && content.media.gallery && content.media.gallery.length>3 '>+{{content.media.gallery.length-3}} more</div>
                </div>
              </div>
            </div>

            <div *ngIf="cardtype ==='3'" class="fs-cardtype-2v2-2h2 rel-fs-cardtype-2v2-2h2">
              <div>
                <div *ngIf="content.media.gallery[0]"><img alt="" class="img-responsive" src="{{content.media.gallery[0]}}"></div>
                <div *ngIf="content.media.gallery[1]"><img alt="" class="img-responsive" src="{{content.media.gallery[1]}}"></div>
              </div>
              <div>
                <div *ngIf="content.media.gallery[2]"><img alt="" class="img-responsive" src="{{content.media.gallery[2]}}"></div>
                <div *ngIf="content.media.gallery[3]"><img alt="" class="img-responsive" src="{{content.media.gallery[3]}}">
                  <div class="img-more" *ngIf='content.media && content.media.gallery && content.media.gallery.length>4 '>+{{content.media.gallery.length-4}} more</div>
                </div>
              </div>
            </div>

            <div *ngIf="cardtype ==='4'" class="fs-cardtype-h2-v2 rel-fs-cardtype-h2-v2">
              <div class="" *ngIf="content.media.gallery[0]"><img alt="" class="img-responsive" src="{{content.media.gallery[0]}}"></div>
              <div class="" style="overflow: hidden;">
                <div class="" *ngIf="content.media.gallery[1]"><img alt="" class="img-responsive" src="{{content.media.gallery[1]}}"></div>
                <div class="" *ngIf="content.media.gallery[2]" style="overflow: hidden;"><img alt="" class="img-responsive" src="{{content.media.gallery[2]}}">
                  <div class="img-more" *ngIf='content.media && content.media.gallery && content.media.gallery.length>3 '>+{{content.media.gallery.length-3}} more</div>
                </div>
              </div>
            </div>

            <div *ngIf="cardtype ==='5'" class="fs-cardtype-h2-v3 rel-fs-cardtype-h2-v3">
              <div class="" *ngIf="content.media.gallery[0]">
                <img alt="" class="img-responsive" src="{{content.media.gallery[0]}}">
              </div>
              <div class="">
                <div class="" *ngIf="content.media.gallery[1]">
                  <img alt="" class="img-responsive" src="{{content.media.gallery[1]}}">
                </div>
                <div class="" *ngIf="content.media.gallery[2]">
                  <img alt="" class="img-responsive" src="{{content.media.gallery[2]}}">
                </div>
                <div class="" *ngIf="content.media.gallery[3]">
                  <img alt="" class="img-responsive" src="{{content.media.gallery[3]}}">
                  <div class="img-more" *ngIf='content.media && content.media.gallery && content.media.gallery.length>4'>+{{content.media.gallery.length-4}} more</div>
                </div>
              </div>
            </div>

            <div *ngIf="cardtype === '6'" class="fs-cardtype-v2-h3 rel-fs-cardtype-v2-h3">
              <div class="" *ngIf="content.media.gallery[0]">
                <img alt="" class="img-responsive" src="{{content.media.gallery[0]}}">
              </div>
              <div class="">
                <div class="" *ngIf="content.media.gallery[1]">
                  <img alt="" class="img-responsive" src="{{content.media.gallery[1]}}">
                </div>
                <div class="" *ngIf="content.media.gallery[2]">
                  <img alt="" class="img-responsive" src="{{content.media.gallery[2]}}">
                </div>
                <div class="" *ngIf="content.media.gallery[3]">
                  <img alt="" class="img-responsive" src="{{content.media.gallery[3]}}">
                  <div class="img-more" *ngIf='content.media && content.media.gallery && content.media.gallery.length>4 '>+{{content.media.gallery.length-4}} more</div>
                </div>
              </div>
            </div>
            <div *ngIf="cardtype === '7'" class="fs-cardtype-v2-h3 rel-fs-cardtype-v2-h3">
              <div class="" *ngIf="content.media.gallery[0]" style="width:100%; margin-left: 0;">
                <img alt="" class="img-responsive" src="{{content.media.gallery[0]}}" style="">
              </div>
            </div>


          </div>
          <card-socialbar [contentData]="contentData" [cardId]="cardId" [shareSlug]='shareSlug' [shareProfilePic]='shareProfilePic'></card-socialbar>
          <div class="card-galleryInfo">
            <h1 *ngIf='content' on-click="gotocontent()">{{content.title}}</h1>
            <!-- <h5 *ngIf='content.text'  class="text-justify" [innerHTML]='content.text'></h5> -->

            <!-- <h5 *ngIf='content' [innerHTML]='content.text'></h5> -->

          </div>
        </div>
      </div>
    </div>
  </div>


</div>


<div *ngIf="page!='content' && !isMiniCard" class="">
  <card-associationdata [time]='ShowTime' [date]='time' *ngIf="page=='feed' || page=='celeb' || page=='movie' || page=='like'|| page=='bookmark'"
    [assnData]="assnData"></card-associationdata>
  <div class="container-fluid padding0">

    <div class="col-md-12 col-sm-12 col-xs-12 padding0 pull-left" *ngIf="content">
      <div class="col-md-12 col-sm-12 col-xs-12 padding0 pull-left">
        <div class="col-md-12 col-sm-12 col-xs-12 fs-mpading0 pull-left padding0">



          <div class="col-md-12 col-sm-12 col-xs-12 padding0" on-click="gotocontent()">

            <div *ngIf="!cardtype">
              <div *ngIf="content.profilePic" class="feed-poster-card"><img alt="" class="img-responsive center-block" src="{{content.profilePic}}"></div>

            </div>
            <div *ngIf="cardtype === '1'" [ngClass]="page=='see-all'?'seeall-fs-cardtype-v2':''" class="fs-cardtype-v2 ">
              <div *ngIf="content.media.gallery[0]" class=""><img alt="" class="img-responsive" src="{{content.media.gallery[0]}}"></div>
              <div *ngIf="content.media.gallery[1]" class=""><img alt="" src="{{content.media.gallery[1]}}" class="img-responsive">
                <div class="img-more" *ngIf='content.media && content.media.gallery && content.media.gallery.length>2 '>+{{content.media.gallery.length-2}} more</div>
              </div>
            </div>

            <div *ngIf="cardtype === '2'" [ngClass]="page=='see-all'?'seeall-fs-cardtype-v2-h2':''" class="fs-cardtype-v2-h2 ">
              <div class="" *ngIf="content.media.gallery[0]">
                <img alt="" class="img-responsive" src="{{content.media.gallery[0]}}">
              </div>
              <div class="">
                <div class="" *ngIf="content.media.gallery[1]">
                  <img alt="" src="{{content.media.gallery[1]}}" class="img-responsive">
                </div>
                <div class="" *ngIf="content.media.gallery[1]">
                  <img alt="" src="{{content.media.gallery[2]}}" class="img-responsive">
                  <div class="img-more" *ngIf='content.media && content.media.gallery && content.media.gallery.length>3 '>+{{content.media.gallery.length-3}} more</div>
                </div>
              </div>
            </div>

            <div *ngIf="cardtype ==='3'" [ngClass]="page=='see-all'?'seeall-fs-cardtype-2v2-2h2':''" class="fs-cardtype-2v2-2h2 ">
              <div>
                <div *ngIf="content.media.gallery[0]"><img alt="" class="img-responsive" src="{{content.media.gallery[0]}}"></div>
                <div *ngIf="content.media.gallery[1]"><img alt="" class="img-responsive" src="{{content.media.gallery[1]}}"></div>
              </div>
              <div>
                <div *ngIf="content.media.gallery[2]"><img alt="" class="img-responsive" src="{{content.media.gallery[2]}}"></div>
                <div *ngIf="content.media.gallery[3]"><img alt="" class="img-responsive" src="{{content.media.gallery[3]}}">
                  <div class="img-more" *ngIf='content.media && content.media.gallery && content.media.gallery.length>4 '>+{{content.media.gallery.length-4}} more</div>
                </div>
              </div>
            </div>

            <div *ngIf="cardtype ==='4'" [ngClass]="page=='see-all'?'seeall-fs-cardtype-h2-v2':''" class="fs-cardtype-h2-v2 ">
              <div class="" *ngIf="content.media.gallery[0]"><img alt="" class="img-responsive" src="{{content.media.gallery[0]}}"></div>
              <div class="" style="overflow: hidden;">
                <div class="" *ngIf="content.media.gallery[1]"><img alt="" class="img-responsive" src="{{content.media.gallery[1]}}"></div>
                <div class="" *ngIf="content.media.gallery[2]" style="overflow: hidden;"><img alt="" class="img-responsive" src="{{content.media.gallery[2]}}">
                  <div class="img-more" *ngIf='content.media && content.media.gallery && content.media.gallery.length>3 '>+{{content.media.gallery.length-3}} more</div>
                </div>
              </div>
            </div>

            <div *ngIf="cardtype ==='5'" [ngClass]="page=='see-all'?'seeall-fs-cardtype-h2-v3':''" class="fs-cardtype-h2-v3 ">
              <div class="" *ngIf="content.media.gallery[0]">
                <img alt="" class="img-responsive" src="{{content.media.gallery[0]}}">
              </div>
              <div class="">
                <div class="" *ngIf="content.media.gallery[1]">
                  <img alt="" class="img-responsive" src="{{content.media.gallery[1]}}">
                </div>
                <div class="" *ngIf="content.media.gallery[2]">
                  <img alt="" class="img-responsive" src="{{content.media.gallery[2]}}">
                </div>
                <div class="" *ngIf="content.media.gallery[3]">
                  <img alt="" class="img-responsive" src="{{content.media.gallery[3]}}">
                  <div class="img-more" *ngIf='content.media && content.media.gallery && content.media.gallery.length>4'>+{{content.media.gallery.length-4}} more</div>
                </div>
              </div>
            </div>

            <div *ngIf="cardtype === '6'" [ngClass]="page=='see-all'?'seeall-fs-cardtype-v2-h3':''" class="fs-cardtype-v2-h3 ">
              <div class="" *ngIf="content.media.gallery[0]">
                <img alt="" class="img-responsive" src="{{content.media.gallery[0]}}">
              </div>
              <div class="">
                <div class="" *ngIf="content.media.gallery[1]">
                  <img alt="" class="img-responsive" src="{{content.media.gallery[1]}}">
                </div>
                <div class="" *ngIf="content.media.gallery[2]">
                  <img alt="" class="img-responsive" src="{{content.media.gallery[2]}}">
                </div>
                <div class="" *ngIf="content.media.gallery[3]">
                  <img alt="" class="img-responsive" src="{{content.media.gallery[3]}}">
                  <div class="img-more" *ngIf='content.media && content.media.gallery && content.media.gallery.length>4 '>+{{content.media.gallery.length-4}} more</div>
                </div>
              </div>
            </div>
            <div *ngIf="cardtype === '7'" [ngClass]="page=='see-all'?'seeall-fs-cardtype-v2-h3-bkp':''" class="fs-cardtype-v2-h3-bkp ">
              <div [ngClass]="page=='see-all'?'seeall-feed-poster-card':''" class="feed-poster-card" *ngIf="content.media.gallery[0]" style="">
                <img alt="" class="img-responsive center-block" src="{{content.media.gallery[0]}}" style="">
              </div>
            </div>

          </div>
          <card-socialbar [contentData]="contentData" [cardId]="cardId" [shareSlug]='shareSlug' [shareProfilePic]='shareProfilePic'></card-socialbar>
          <div class="card-galleryInfo">
            <h1 *ngIf='content' on-click="gotocontent()">{{content.title}}</h1>
            <h5 *ngIf='content.text' class="text-justify" [innerHTML]='content.text'></h5>

            <!-- <h5 *ngIf='content' [innerHTML]='content.text'></h5> -->

          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="">
    <card-comments [cardId]="cardId"></card-comments>
  </div>
</div>


<div *ngIf="page!='content' && isMiniCard">
  <!-- <card-associationdata [time]='ShowTime' [date]='time' *ngIf="page=='feed' || page=='celeb' || page=='movie'" [assnData]="assnData"></card-associationdata> -->
  <div class="container-fluid padding0">

    <div class="col-md-12 col-sm-12 col-xs-12 padding0 pull-left" *ngIf="content">
      <div class="col-md-12 col-sm-12 col-xs-12 padding0 pull-left">
        <div class="col-md-12 col-sm-12 col-xs-12 fs-mpading0 pull-left padding0">



          <a [routerLink]="['/content/'+content.slug]">
            <div class="col-md-12 col-sm-12 col-xs-12 padding0">

              <div *ngIf="!cardtype">
                <div *ngIf="content.profilePic" class=""><img alt="" class="img-responsive center-block" src="{{content.profilePic}}"></div>

              </div>
              <div *ngIf="cardtype === '1'" class="fs-cardtype-v2 mini-fs-cardtype-v2">
                <div *ngIf="content.media.gallery[0]" class=""><img alt="" class="img-responsive" src="{{content.media.gallery[0]}}"></div>
                <div *ngIf="content.media.gallery[1]" class=""><img alt="" src="{{content.media.gallery[1]}}" class="img-responsive"></div>
              </div>

              <div *ngIf="cardtype === '2'" class="fs-cardtype-v2-h2 mini-fs-cardtype-v2-h2">
                <div class="" *ngIf="content.media.gallery[0]">
                  <img alt="" class="img-responsive" src="{{content.media.gallery[0]}}">
                </div>
                <div class="">
                  <div class="" *ngIf="content.media.gallery[1]">
                    <img alt="" src="{{content.media.gallery[1]}}" class="img-responsive">
                  </div>
                  <div class="" *ngIf="content.media.gallery[1]">
                    <img alt="" src="{{content.media.gallery[2]}}" class="img-responsive">
                  </div>
                </div>
              </div>

              <div *ngIf="cardtype ==='3'" class="fs-cardtype-2v2-2h2 mini-fs-cardtype-2v2-2h2">
                <div>
                  <div *ngIf="content.media.gallery[0]"><img alt="" class="img-responsive" src="{{content.media.gallery[0]}}"></div>
                  <div *ngIf="content.media.gallery[1]"><img alt="" class="img-responsive" src="{{content.media.gallery[1]}}"></div>
                </div>
                <div>
                  <div *ngIf="content.media.gallery[2]"><img alt="" class="img-responsive" src="{{content.media.gallery[2]}}"></div>
                  <div *ngIf="content.media.gallery[3]"><img alt="" class="img-responsive" src="{{content.media.gallery[3]}}"></div>
                </div>
              </div>

              <div *ngIf="cardtype ==='4'" class="fs-cardtype-h2-v2 mini-fs-cardtype-h2-v2">
                <div class="" *ngIf="content.media.gallery[0]"><img alt="" class="img-responsive" src="{{content.media.gallery[0]}}"></div>
                <div class="" style="overflow: hidden;">
                  <div class="" *ngIf="content.media.gallery[1]"><img alt="" class="img-responsive" src="{{content.media.gallery[1]}}"></div>
                  <div class="" *ngIf="content.media.gallery[2]" style="overflow: hidden;"><img alt="" class="img-responsive" src="{{content.media.gallery[2]}}"></div>
                </div>
              </div>

              <div *ngIf="cardtype ==='5'" class="fs-cardtype-h2-v3 mini-fs-cardtype-h2-v3">
                <div class="" *ngIf="content.media.gallery[0]">
                  <img alt="" class="img-responsive" src="{{content.media.gallery[0]}}">
                </div>
                <div class="">
                  <div class="" *ngIf="content.media.gallery[1]">
                    <img alt="" class="img-responsive" src="{{content.media.gallery[1]}}">
                  </div>
                  <div class="" *ngIf="content.media.gallery[2]">
                    <img alt="" class="img-responsive" src="{{content.media.gallery[2]}}">
                  </div>
                  <div class="" *ngIf="content.media.gallery[3]">
                    <img alt="" class="img-responsive" src="{{content.media.gallery[3]}}">
                  </div>
                </div>
              </div>

              <div *ngIf="cardtype === '6'" class="fs-cardtype-v2-h3 mini-fs-cardtype-v2-h3">
                <div class="" *ngIf="content.media.gallery[0]">
                  <img alt="" class="img-responsive" src="{{content.media.gallery[0]}}">
                </div>
                <div class="">
                  <div class="" *ngIf="content.media.gallery[1]">
                    <img alt="" class="img-responsive" src="{{content.media.gallery[1]}}">
                  </div>
                  <div class="" *ngIf="content.media.gallery[2]">
                    <img alt="" class="img-responsive" src="{{content.media.gallery[2]}}">
                  </div>
                  <div class="" *ngIf="content.media.gallery[3]">
                    <img alt="" class="img-responsive" src="{{content.media.gallery[3]}}">
                  </div>
                </div>
              </div>
              <div *ngIf="cardtype === '7'" class="fs-cardtype-v2-h3 mini-fs-cardtype-v2-h3">
                <div class="" *ngIf="content.media.gallery[0]" style="width: 100%;">
                  <img alt="" class="img-responsive" src="{{content.media.gallery[0]}}" style="">
                </div>
              </div>

            </div>
          </a>

          <!-- <div class="card-galleryInfo">
                <h3 *ngIf='content' on-click="gotocontent()">{{content.title}}</h3>
                <h5 *ngIf='content.text'  class="text-justify" [innerHTML]='content.text'></h5>
                
                
                
              </div> -->
        </div>
      </div>
    </div>
  </div>

</div>