 <titlebar></titlebar>
 <banner *ngIf="pageType!='designer-store'" [pageType]="pageType" (filterIndustryData)='filterIndustryData($event)'></banner>
 <banner *ngIf="pageType=='designer-store'" [pagecontent]="pagecontent" [pageType]="pageType" (filterDesignerData)='filterDesignerData($event)'></banner>

<div *ngIf="(pageType=='celeb-store' || pageType=='movie-store') && showAllProducts == false">
    <div  class="container-fluid mob-plr7">

      

      <div class="container fs-style padding0 fs-mt40 mob-m40 mob-fs-mt10" *ngIf="stealThatStyleData && !celebName">
        <carousel  [stealThatStyleData] = "stealThatStyleData" [type]="stealThatStyle"></carousel> 
      </div>


    
    </div>

    <div *ngIf="widgets">
  
      <div *ngFor="let widget of widgets | slice:0:5; let i=index" class="container fs-ProductsType padding0">
       <div *ngIf='widget._source.collectionType=="Designer Collection"'>
        <div class="row">
        <a rel="canonical">
          <h2 class="text-left">{{widget._source.title}}</h2>
        </a>
        </div>
        <div class='row'>
          <div class="col-md-4 fs-pl0">
            <div class="col-md-12 col-xs-12 pull-left fs-collectionsPic">
              <a rel="canonical" [routerLink]="['/'+widget._source.item.type,widget._source.item.slug]"><img src="{{widget._source.image}}" alt="image" class="col-md-12 img-responsive padding0 center-block" ></a>
            </div>
            
            <div class="fs-association-data col-md-12 col-xs-12">
                    <div class="fs-pic"><img class="img-circle" src="{{widget._source.item.profilePic}}"></div>
                    <div class="fs-info col-md-9 col-xs-7">
                      <div *ngIf='widget._source.item' class="fs-title"><a rel="canonical" [routerLink]="['/'+widget._source.item.type,widget._source.item.slug]">{{widget._source.item.name}}</a></div>
                      <div class="fs-asso-hash">
                      <span *ngFor="let role of widget._source.item.role">#{{role}}</span>
                      </div>
                    </div>
      
            </div>
          </div>
          <div class='col-md-8'> 
            <div *ngIf="widget._source.products" class="carousel slide media-carousel" id="media{{i}}">
              <h5 *ngIf="widget._source.products.length>4" class="text-right fs-seemore"><a rel="canonical" [routerLink]="['/'+widget._source.location[0],widget._source.item.slug]"  class="">See More</a></h5>
              <div class="carousel-inner">
                <div class="item  active">
                  <div class="row">
                    <div class="col-md-3 col-xs-3" *ngFor="let product of widget._source.products">
                      <a rel="canonical" class="thumbnail" [routerLink] = "['/product/'+product._source.slug]"><img alt="" src="{{product._source.profilePic}}"></a>
                      <span *ngIf='product._source' class="text-uppercase">{{product._source.name}}</span><br>
                      <!-- <span>{{product._source.brand}}</span><br> -->
                      <span>&#8377;{{product._source.price}}/-</span>
                    </div>            
                  </div>
                </div>
              </div>
            </div>                          
          </div>
        </div>  
      </div>  

      <!-- <div *ngIf='widget._source.collectionType=="Catagory Collection"'>
          <div class="row">
          </div>
          <div class='row'>
             <div class="col-md-3" style="padding: 0;">
            <div style="height: 200px;overflow:hidden;"><img src="{{widget._source.image}}" alt="image" class="col-md-12 img-responsive padding0 center-block" >
              <div style="background-color: rgba(0,0,0,.2);width: 100%;height: 100%;float: left;
    position: absolute;"></div></div>
          <a rel="canonical" style="position: absolute;left: 0; bottom: 20px;width: 100%;">
              <h2 class="text-left" style="text-align: center;text-transform: capitalize; word-wrap: break-word;">{{widget._source.title}}</h2>
              <p style="text-align: center;margin-top: 50px;"><a style="background: #2874f0;
      color: #fff;box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2); border: none; padding: 10px 20px;cursor: pointer;" on-click='viewAllProducts( widget._source.products)'>VIEW ALL</a></p>
              
            </a>
          </div>
            
            <div class='col-md-9' style="margin-top: 35px;">
              <div *ngIf="widget._source.products" class="carousel slide media-carousel" id="media222" style="margin-top: 0;">
                <h5 *ngIf="widget._source.products.length>4 && widget._source.item" class="text-right fs-seemore"><a rel="canonical" [routerLink]="['/'+widget._source.location[0],widget._source.item.slug]"  class="">See More</a></h5>
                <div class="carousel-inner">
                  <div class="item  active">
                    <div class="row">
                      <div class="col-md-3 col-xs-3" *ngFor="let product of widget._source.products | slice:0:4;">
                        <a rel="canonical" class="thumbnail" [routerLink] = "['/product/'+product._source.slug]"><img alt="" src="{{product._source.profilePic}}"></a>
                        <span *ngIf='product._source' class="text-uppercase">{{product._source.name}}</span><br>
                        
                        <span>&#8377;{{product._source.price}}/-</span>
                      </div>            
                    </div>
                  </div>
                  <div *ngIf='widget._source.products.length>4' class="item">
                      <div class="row">
                        <div class="col-md-3 col-xs-3" *ngFor="let product of widget._source.products | slice:4:8;">
                          <a rel="canonical" class="thumbnail" [routerLink] = "['/product/'+product._source.slug]"><img alt="" src="{{product._source.profilePic}}"></a>
                          <span *ngIf='product._source' class="text-uppercase">{{product._source.name}}</span><br>
                        
                          <span>&#8377;{{product._source.price}}/-</span>
                        </div>            
                      </div>
                    </div>
                </div>
                <a rel="canonical" data-slide="prev" href="/#media222"  class="left carousel-control"><i _ngcontent-c1="" aria-hidden="true" class="fa fa-chevron-left"></i></a>
              <a rel="canonical" data-slide="next" href="/#media222"  class="right carousel-control"><i _ngcontent-c1="" aria-hidden="true" class="fa fa-chevron-right"></i></a>
              </div>                          
            </div>
          </div>  
        </div>  --> 
        
        <!-- <div *ngIf='widget._source.collectionType=="Icon Collection"' class="col-md-12 bgWhite fs-mt40 shopbystar">
            <div class="row">
                <a rel="canonical">
                  <h2 class="text-left">{{widget._source.title}}</h2>
                </a>
                </div>
                <div *ngIf='pageType=="celeb-store"' class="row">
                  <h3>SHOP BY STAR</h3>
              <h5 class=" fs-seemore">
                <span>Explore the wardrobe of your favourite star</span><a rel="canonical" on-click="viewAllProducts( widget._source.products)"  class="">Show all</a></h5>
                </div>
                <div *ngIf='pageType=="celeb-store"' class='row'>
                    <div class="col-md-3">
                      <div class="col-md-12 col-xs-12 pull-left fs-collectionsPic">
                        <a rel="canonical" [routerLink]="['/'+widget._source.item.type+'-store',widget._source.item.slug]" class="thumbnail"><img src="{{widget._source.image}}" alt="image" class="col-md-12 img-responsive padding0 center-block" ></a>
                        <a rel="canonical" [routerLink]="['/'+widget._source.item.type,widget._source.item.slug]">#{{widget._source.item.name}}</a>
                      </div>
        </div>
        <div class="col-md-3">
          <div class="col-md-12 col-xs-12 pull-left fs-collectionsPic">
            <a class="thumbnail"></a><a>#LOREM</a>
          </div></div>
        <div class="col-md-3">
          <div class="col-md-12 col-xs-12 pull-left fs-collectionsPic">
            <a class="thumbnail"></a><a>#LOREM</a>
          </div></div>
        <div class="col-md-3">
          <div class="col-md-12 col-xs-12 pull-left fs-collectionsPic">
            <a class="thumbnail"></a><a>#LOREM</a>
          </div></div>
        </div>
        </div> -->
<!-- <div>EDITOR'S PICKS</div> -->
       
      </div>
  </div>
 <div class="container-fluid fs-mt40 mob-m40 mob-fs-mt10">
  <div *ngIf='pageType=="celeb-store"' class="container fs-ProductsType padding0">
    <div class="col-md-12 bgWhite shopbystar ">
  <div *ngIf='pageType=="celeb-store"' class="row">
    <h3>SHOP BY STAR</h3>
    <h5 class=" fs-seemore">
  <span>Explore the wardrobe of your favourite star</span><a rel="canonical" on-click="viewAllProducts( widget._source.products)"  class="">Show all</a></h5>
  </div>

<div class="row"><div class="col-md-12">
  <div class="carousel slide media-carousel" id="media100000-shopbystar">
    <div class="carousel-inner">
  <div *ngIf='pageType=="celeb-store"' class='item active'>
    <div class="row">
      <div *ngFor="let items of shopByStar | slice:0:4;" class="col-md-3 col-sm-3">
        <div class="col-md-12 col-xs-12 pull-left fs-collectionsPic">
          <a rel="canonical" [routerLink]="['/'+items.item.type+'-store',items.item.slug]" class="thumbnail"><img src="{{items.image}}" alt="image" class="col-md-12 img-responsive padding0 center-block" ></a>
          <a rel="canonical" [routerLink]="['/'+items.item.type+'-store',items.item.slug]">#{{items.item.name}}</a>
        </div>
</div>
</div>
</div>
<div *ngIf='pageType=="celeb-store"' class='item'>
    <div class="row">
      <div *ngFor="let items of shopByStar | slice:4:8;" class="col-md-3 col-sm-3">
        <div class="col-md-12 col-xs-12 pull-left fs-collectionsPic">
          <a rel="canonical" [routerLink]="['/'+items.item.type+'-store',items.item.slug]" class="thumbnail"><img src="{{items.image}}" alt="image" class="col-md-12 img-responsive padding0 center-block" ></a>
          <a rel="canonical" [routerLink]="['/'+items.item.type+'-store',items.item.slug]">#{{items.item.name}}</a>
        </div>
</div>
</div>
</div>
</div>
<a class="left carousel-control" data-slide="prev" href="/#media100000-shopbystar" rel="canonical">
   <img _ngcontent-c2="" class="" src="../../../assets/img/arrowleft.png">
</a>
<a class="right carousel-control" data-slide="next" href="/#media100000-shopbystar" rel="canonical">
  <img _ngcontent-c2="" class="" src="../../../assets/img/arrowright.png">
</a>
</div>
</div>
</div>
</div>
</div></div>
</div>

<div *ngIf='pageType=="menfashion"||pageType=="womenfashion"'>
<div *ngIf='latestArrivedProducts' class="container-fluid mob-plr7">
  <div class="container bgWhite padding0 fs-mt40 mob-fs-mt10">
    <div class="col-md-12 padding0 alsospotted">
      <h3>JUST IN<span  [routerLink] = "['/see-all/justin/'+pageType]">Show all</span></h3>
      <!-- <h5><span>Check out the preference of your star</span><a>Show all</a></h5> -->
      <div class='row1'>
    <div class='col-md-12'>
      <div class="carousel slide media-carousel" id="media10000010">
        <div class="carousel-inner">
          <div class="item  active">
            <div class="row">
              <div *ngFor="let item of activeArray"  class="col-md-3 col-xs-3">
                <div>
                  <a *ngIf='setDisplayImage(item)' [routerLink] = "['/product/'+item.slug]" class="thumbnail hidden-xs" target="_blank" ><img alt="" src="{{displayImage}}">
                  </a>
                  <a *ngIf='setDisplayImage(item)' [routerLink] = "['/product/'+item.slug]" class="thumbnail visible-xs" ><img alt="" src="{{displayImage}}">
                  </a><br>
                  <a [routerLink] = "['/product/'+item.slug]" >{{item.name}}</a><br><span>Rs. {{item.price}}</span><br>
                  
                </div>
              </div>
             </div>
          </div>
          <div class="item"  *ngFor="let array of inactiveArrays">
            <div class="row">
              <div *ngFor="let item of array"  class="col-md-3 col-xs-3 ">
                <div>
                  <a *ngIf='setDisplayImage(item)' [routerLink] = "['/product/'+item.slug]" class="thumbnail hidden-xs" target="_blank" ><img alt="" src="{{displayImage}}">
                  </a>
                  <a *ngIf='setDisplayImage(item)' [routerLink] = "['/product/'+item.slug]" class="thumbnail visible-xs" ><img alt="" src="{{displayImage}}">
                  </a><br>
                <a [routerLink] = "['/product/'+item.slug]" >{{item.name}}</a><br><span>Rs. {{item.price}}</span>
                </div>
              </div> 
             
              
             
            </div>
          </div>
        </div>
        <a rel="canonical" data-slide="prev" href="/#media10000010" class="left carousel-control">
          <!-- <i _ngcontent-c1="" aria-hidden="true" class="fa fa-chevron-left"></i> -->
          <img class="" src="../../../assets/img/arrowleft.png">
        </a>
        <a rel="canonical" data-slide="next" href="/#media10000010" class="right carousel-control">
          <img class="" src="../../../assets/img/arrowright.png">
          <!-- <i _ngcontent-c1="" aria-hidden="true" class="fa fa-chevron-right"></i> -->
        </a>
      </div>                          
    </div>
  </div>
    </div>
  </div>
</div>

<div  class="container-fluid mob-plr7">
  <div class="container bgWhite padding0 fs-mt40 mob-fs-mt10">
    <div class="col-md-12 padding0 alsospotted">
      <h3 style="margin-bottom: 20px;">CLOTHING<span [routerLink] = "['/see-all/clothing/'+pageType]" style="float: right;font-size: 16px;">Show all</span></h3>
      <!-- <h5><span>Check out the preference of your star</span><a>Show all</a></h5> -->
      <div class='row1'>
    <div class='col-md-12'>
      <div class="carousel slide media-carousel" id="media10000011">
        <div class="carousel-inner">
          <div class="item  active">
            <div class="row">
              <div *ngFor="let item of activeClothingArray"   class="col-md-3 col-xs-3">
                <div>
                  <a *ngIf='setDisplayImage(item)' [routerLink] = "['/product/'+item.slug]" class="thumbnail hidden-xs" target="_blank" ><img alt="" src="{{displayImage}}">
                  </a>
                  <a *ngIf='setDisplayImage(item)' [routerLink] = "['/product/'+item.slug]" class="thumbnail visible-xs" ><img alt="" src="{{displayImage}}">
                  </a><br>
                  <a>{{item.name}}</a><br>
                  <span>Rs. {{item.price}}</span>
                </div>
              </div>
             
            </div>
          </div>
          <div class="item"   *ngFor="let array of inactiveClothingArrays">
            <div class="row">
              <div *ngFor="let item of array" class="col-md-3 col-xs-3 ">
                <div>
                  <a *ngIf='setDisplayImage(item)' [routerLink] = "['/product/'+item.slug]" class="thumbnail hidden-xs" target="_blank" ><img alt="" src="{{displayImage}}">
                </a>
                <a *ngIf='setDisplayImage(item)' [routerLink] = "['/product/'+item.slug]" class="thumbnail visible-xs" ><img alt="" src="{{displayImage}}">
                </a><br>
                  <span>{{item.name}}</span><br>
                  <span>Rs. {{item.price}}</span>
                </div>
              </div> 
              
            </div>
          </div>
        </div>
        <a rel="canonical" data-slide="prev" href="/#media10000011" class="left carousel-control">
          <!-- <i _ngcontent-c1="" aria-hidden="true" class="fa fa-chevron-left"></i> -->
          <img class="" src="../../../assets/img/arrowleft.png">
        </a>
        <a rel="canonical" data-slide="next" href="/#media10000011" class="right carousel-control">
          <img class="" src="../../../assets/img/arrowright.png">
          <!-- <i _ngcontent-c1="" aria-hidden="true" class="fa fa-chevron-right"></i> -->
        </a>
      </div>                          
    </div>
  </div>
    </div>
  </div>
</div>

<div class="container-fluid mob-plr7">
  <div class="container bgWhite padding0 fs-mt40 mob-fs-mt10">
    <div class="col-md-12 editorspicks padding0">
      <h3>BRANDS<span >Show all</span></h3>
      <!-- <h5><span>Created products exclusively for you</span><a>Show all</a></h5> -->
      <div class='row1'>
    <div class='col-md-12'>
      <div class="carousel slide media-carousel" id="media10000012">
        <div class="carousel-inner">
          <div class="item  active">
            <div *ngIf='brandDetailsArray' class="row">
              <div *ngFor='let item of brandDetailsArray | slice:0:2;' class="col-md-6 col-xs-6">
                <div>
                  <a [routerLink] = "['/brand-store/'+item.slug]" class="thumbnail hidden-xs" target="_blank" ><img alt="" src="{{item.profilePic}}">
                  </a>
                  <a [routerLink] = "['/brand-store/'+item.slug]" class="thumbnail visible-xs" ><img alt="" src="{{item.profilePic}}">
                  </a><br>
                  <a [routerLink] = "['/brand-store/'+item.slug]" target="_blank" class="hidden-xs">{{item.name}}</a>
                  <a [routerLink] = "['/brand-store/'+item.slug]" class="visible-xs">{{item.name}}</a>
                </div>
              </div>
             
            </div>
          </div>
          <div *ngIf='brandDetailsArray.length>2' class="item">
            <div class="row">
              <div  *ngFor='let item of brandDetailsArray | slice:2:4;' class="col-md-6 col-xs-6 ">
                <div>
                  <a [routerLink] = "['/brand-store/'+item.slug]" class="thumbnail hidden-xs" target="_blank"><img alt="" src="{{item.profilePic}}">
                </a>
                <a [routerLink] = "['/brand-store/'+item.slug]" class="thumbnail visible-xs"><img alt="" src="{{item.profilePic}}">
                </a><br>
                  <a [routerLink] = "['/brand-store/'+item.slug]" target="_blank" class="hidden-xs">{{item.name}}</a>
                  <a [routerLink] = "['/brand-store/'+item.slug]" class="visible-xs">{{item.name}}</a>
                </div>
              </div> 
              
            </div>
          </div>
          <div *ngIf='brandDetailsArray.length>4' class="item">
            <div class="row">
              <div  *ngFor='let item of brandDetailsArray | slice:4:6;' class="col-md-6 col-xs-6 ">
                <div>
                  <a [routerLink] = "['/brand-store/'+item.slug]" class="thumbnail hidden-xs" target="_blank"><img alt="" src="{{item.profilePic}}">
                </a>
                <a [routerLink] = "['/brand-store/'+item.slug]" class="thumbnail visible-xs"><img alt="" src="{{item.profilePic}}">
                </a><br>
                  <a [routerLink] = "['/brand-store/'+item.slug]" target="_blank" class="hidden-xs">{{item.name}}</a>
                  <a [routerLink] = "['/brand-store/'+item.slug]" class="visible-xs">{{item.name}}</a>
                </div>
              </div> 
              
            </div>
          </div>
        </div>
        <a rel="canonical" data-slide="prev" href="/#media10000012" class="left carousel-control">
          <img class="" src="../../../assets/img/arrowleft.png">
        </a>
        <a rel="canonical" data-slide="next" href="/#media10000012" class="right carousel-control">
          <img class="" src="../../../assets/img/arrowright.png">
        </a>
      </div>                          
    </div>
  </div>
    </div>
</div>
</div>

<div *ngIf='pageType=="menfashion"' class="container-fluid mob-plr7">
  <div class="container bgWhite padding0 fs-mt40 mob-fs-mt10">
    <div class="col-md-12 padding0 alsospotted shirtsndtees">
      <h3 style="margin-bottom: 20px;">SHIRTS & TEES<span  [routerLink] = "['/see-all/shirts-tees/'+pageType]" style="float: right;font-size: 16px;">Show all</span></h3>
      <div class='row1'>
    <div *ngIf='latestShirtsProducts' class='col-md-12'>
      <div class="carousel slide media-carousel" id="media10000013">
        <div class="carousel-inner">
          <div class="item  active">
            <div class="row">
              <div *ngFor='let item of latestShirtsProducts |slice:0:4;' class="col-md-3 col-xs-3">
                <div>
                  <a [routerLink] = "['/product/'+item.slug]" class="thumbnail hidden-xs" target="_blank"><img alt="" src="{{item.imageGallery[1]?item.imageGallery[1]:item.profilePic}}">
                  </a>
                  <a [routerLink] = "['/product/'+item.slug]" class="thumbnail visible-xs"><img alt="" src="{{item.imageGallery[1]?item.imageGallery[1]:item.profilePic}}">
                  </a><br>
                  <a [routerLink] = "['/product/'+item.slug]" target="_blank" class="hidden-xs">{{item.name}}</a>
                  <a [routerLink] = "['/product/'+item.slug]" class="visible-xs">{{item.name}}</a><br>
                  <span>Rs.{{item.price}}/-</span>
                </div>
              </div>
              
            </div>
          </div>
          <div *ngIf='latestShirtsProducts.length>4' class="item">
            <div class="row">
              <div *ngFor='let item of latestShirtsProducts |slice:4:8;' class="col-md-3 col-xs-3 ">
                <div>
                  <a [routerLink] = "['/product/'+item.slug]" class="thumbnail hidden-xs" target="_blank"><img alt="" src="{{item.imageGallery[1]?item.imageGallery[1]:item.profilePic}}">
                </a>
                <a [routerLink] = "['/product/'+item.slug]" class="thumbnail visible-xs"><img alt="" src="{{item.imageGallery[1]?item.imageGallery[1]:item.profilePic}}">
                </a><br>
                  <a [routerLink] = "['/product/'+item.slug]" target="_blank" class="hidden-xs">{{item.name}}</a>
                  <a [routerLink] = "['/product/'+item.slug]" class="visible-xs">{{item.name}}</a><br>
                  <span>Rs.{{item.price}}/-</span>
                </div>
              </div> 
              
            </div>
          </div>
        </div>
        <a rel="canonical" data-slide="prev" href="/#media10000013" class="left carousel-control">
          <img class="" src="../../../assets/img/arrowleft.png">
        </a>
        <a rel="canonical" data-slide="next" href="/#media10000013" class="right carousel-control">
          <img class="" src="../../../assets/img/arrowright.png">
        </a>
      </div>                          
    </div>
  </div>
    </div>
  </div>
</div>

<div *ngIf='pageType=="womenfashion"' class="container-fluid mob-plr7">
  <div class="container bgWhite padding0 fs-mt40 mob-fs-mt10">
    <div class="col-md-12 padding0 alsospotted designerwear">
      <h3>DESIGNER WEAR<span  [routerLink] = "['/see-all/designerwear/'+pageType]" style="float: right;font-size: 16px;">Show all</span></h3>
      <div class='row1 designerwear'>
    <div class='col-md-12'>
      <div class="carousel slide media-carousel" id="media10000018">
        <div class="carousel-inner">
          <div class="item  active">
            <div class="row">
              <div *ngFor='let item of latestDesignerProducts | slice:0:4;' class="col-md-3 col-xs-3">
                <div>
                  <a *ngIf='setDisplayImage(item)' [routerLink] = "['/product/'+item.slug]" class="thumbnail hidden-xs" target="_blank" ><img alt="" src="{{displayImage}}">
                  </a>
                  <a *ngIf='setDisplayImage(item)' [routerLink] = "['/product/'+item.slug]" class="thumbnail visible-xs" ><img alt="" src="{{displayImage}}">
                  </a><br>
                  <a>{{item.name}}</a><br>
                  <span>Rs. {{item.price}}</span>
                </div>
              </div>
              
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div *ngFor='let item of latestDesignerProducts | slice:4:8;' class="col-md-3 col-xs-3 ">
                <div>
                  <a *ngIf='setDisplayImage(item)' [routerLink] = "['/product/'+item.slug]" class="thumbnail hidden-xs" target="_blank" ><img alt="" src="{{displayImage}}">
                  </a>
                  <a *ngIf='setDisplayImage(item)' [routerLink] = "['/product/'+item.slug]" class="thumbnail visible-xs"  ><img alt="" src="{{displayImage}}">
                  </a><br>
                  <a>{{item.name}}</a><br>
                  <span>Rs. {{item.price}}</span>
                </div>
              </div> 
             
            </div>
          </div>
        </div>
        <a rel="canonical" data-slide="prev" href="/#media10000018" class="left carousel-control">
          <img class="" src="../../../assets/img/arrowleft.png">
        </a>
        <a rel="canonical" data-slide="next" href="/#media10000018" class="right carousel-control">
          <img class="" src="../../../assets/img/arrowright.png">
        </a>
      </div>                          
    </div>
  </div>
    </div>
  </div>
</div>

<div class="container-fluid mob-plr7">
  <div class="container bgWhite padding0 fs-mt40 mob-fs-mt10">
    <div class="col-md-12 padding0 alsospotted accessories">
      <h3 style="margin-bottom: 20px;">ACCESSORIES<span [routerLink] = "['/see-all/accessories/'+pageType]" style="float: right;font-size: 16px;">Show all</span></h3>
      <div class='row1'>
    <div class='col-md-12'>
      <div class="carousel slide media-carousel" id="media10000014">
        <div class="carousel-inner">
          <div class="item  active">
            <div class="row">
              <div *ngFor='let item of AccessoriesProducts | slice:0:4;' class="col-md-3 col-xs-3">
                <div>
                  <a *ngIf='setDisplayImage(item)' [routerLink] = "['/product/'+item.slug]" class="thumbnail hidden-xs" target="_blank" ><img alt="" src="{{displayImage}}">
                  </a>
                  <a *ngIf='setDisplayImage(item)' [routerLink] = "['/product/'+item.slug]" class="thumbnail visible-xs"  ><img alt="" src="{{displayImage}}">
                  </a><br>
                  <a [routerLink] = "['/product/'+item.slug]" target="_blank" class="hidden-xs">{{item.name}}</a>
                  <a [routerLink] = "['/product/'+item.slug]" class="visible-xs">{{item.name}}</a><br>
                  <span>Rs. {{item.price}}</span>
                </div>
              </div>
              
            </div>
          </div>
          <div *ngIf='AccessoriesProducts.length>4' class="item">
            <div class="row">
              <div *ngFor='let item of AccessoriesProducts | slice:4:8;' class="col-md-3 col-xs-3 ">
                <div>
                  <a *ngIf='setDisplayImage(item)' [routerLink] = "['/product/'+item.slug]" class="thumbnail hidden-xs" target="_blank" ><img alt="" src="{{displayImage}}">
                  </a>
                  <a *ngIf='setDisplayImage(item)' [routerLink] = "['/product/'+item.slug]" class="thumbnail visible-xs"  ><img alt="" src="{{displayImage}}">
                  </a><br>
                  <a [routerLink] = "['/product/'+item.slug]" target="_blank" class="hidden-xs">{{item.name}}</a>
                  <a [routerLink] = "['/product/'+item.slug]" class="visible-xs">{{item.name}}</a><br>
                  <span>Rs. {{item.price}}</span>
                </div>
              </div> 
              
            </div>
          </div>
          <div *ngIf='AccessoriesProducts.length>8' class="item">
            <div class="row">
              <div *ngFor='let item of AccessoriesProducts | slice:8:12;' class="col-md-3 col-xs-3 ">
                <div>
                  <a *ngIf='setDisplayImage(item)' [routerLink] = "['/product/'+item.slug]" class="thumbnail hidden-xs" target="_blank" ><img alt="" src="{{displayImage}}">
                  </a>
                  <a *ngIf='setDisplayImage(item)' [routerLink] = "['/product/'+item.slug]" class="thumbnail visible-xs" ><img alt="" src="{{displayImage}}">
                  </a><br>
                  <a [routerLink] = "['/product/'+item.slug]" target="_blank" class="hidden-xs">{{item.name}}</a>
                  <a [routerLink] = "['/product/'+item.slug]" class="visible-xs">{{item.name}}</a><br>
                  <span>Rs. {{item.price}}</span>
                </div>
              </div> 
              
            </div>
          </div>
        </div>
        <a rel="canonical" data-slide="prev" href="/#media10000014" class="left carousel-control">
          <img class="" src="../../../assets/img/arrowleft.png">
        </a>
        <a rel="canonical" data-slide="next" href="/#media10000014" class="right carousel-control">
          <img class="" src="../../../assets/img/arrowright.png">
        </a>
      </div>                          
    </div>
  </div>
    </div>
  </div>
</div>

<!-- <div *ngIf='pageType=="menfashion"' class="container-fluid">
  <div class="container bgWhite padding0 fs-mt40 mob-fs-mt15">
    <div class="col-md-12 editorspicks padding0">
      <h3 style="margin-bottom: 20px;">SPORTS WEAR<span style="float: right;font-size: 16px;">Show all</span></h3>
      <div class='row1'>
    <div class='col-md-12'>
      <div class="carousel slide media-carousel" id="media10000015">
        <div class="carousel-inner">
          <div class="item  active">
            <div class="row">
              <div class="col-md-6 col-xs-6">
                <div>
                  <a class="thumbnail" ><img alt="" src="">
                  </a><br>
                  <a>#Lorem</a>
                </div>
              </div>
              <div class="col-md-6 col-xs-6">
                <div>
                  <a class="thumbnail" ><img alt="" src="">
                  </a><br>
                  <a>#Lorem</a>
                </div>
              </div> 
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div class="col-md-6 col-xs-6 ">
                <div>
                  <a class="thumbnail" ><img alt="" src="">
                </a><br>
                  <a>#Lorem</a>
                </div>
              </div> 
              <div class="col-md-6 col-xs-6">
                <div>
                  <a class="thumbnail" ><img alt="" src="">
                  </a><br>
                  <a>#Lorem</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a rel="canonical" data-slide="prev" href="/#media10000015" class="left carousel-control">
          <img class="" src="../../../assets/img/arrowleft.png">
        </a>
        <a rel="canonical" data-slide="next" href="/#media10000015" class="right carousel-control">
          <img class="" src="../../../assets/img/arrowright.png">
        </a>
      </div>                          
    </div>
  </div>
    </div>
</div>
</div> -->

<!-- <div *ngIf='pageType=="womenfashion"' class="container-fluid">
  <div class="container bgWhite padding0 fs-mt40 mob-fs-mt15">
    <div class="col-md-12 editorspicks padding0">
      <h3 style="margin-bottom: 20px;">BEAUTY<span style="float: right;font-size: 16px;">Show all</span></h3>
      <div class='row1'>
    <div class='col-md-12'>
      <div class="carousel slide media-carousel" id="media10000017">
        <div class="carousel-inner">
          <div class="item  active">
            <div class="row">
              <div class="col-md-6 col-xs-6">
                <div>
                  <a class="thumbnail" ><img alt="" src="">
                  </a><br>
                  <a>#Lorem</a>
                </div>
              </div>
              <div class="col-md-6 col-xs-6">
                <div>
                  <a class="thumbnail" ><img alt="" src="">
                  </a><br>
                  <a>#Lorem</a>
                </div>
              </div> 
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div class="col-md-6 col-xs-6 ">
                <div>
                  <a class="thumbnail" ><img alt="" src="">
                </a><br>
                  <a>#Lorem</a>
                </div>
              </div> 
              <div class="col-md-6 col-xs-6">
                <div>
                  <a class="thumbnail" ><img alt="" src="">
                  </a><br>
                  <a>#Lorem</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a rel="canonical" data-slide="prev" href="/#media10000017" class="left carousel-control">
          <img class="" src="../../../assets/img/arrowleft.png">
        </a>
        <a rel="canonical" data-slide="next" href="/#media10000017" class="right carousel-control">
          <img class="" src="../../../assets/img/arrowright.png">
        </a>
      </div>                          
    </div>
  </div>
    </div>
</div>
</div> -->

<div class="container-fluid mob-plr7">
  <div class="container bgWhite padding0 fs-mt40 fs-mb50 mob-fs-mt10 mob-fs-mb10">
    <div class="col-md-12 padding0 alsospotted footwear">
      <h3 style="margin-bottom: 20px;">FOOTWEAR<span [routerLink] = "['/see-all/footwear/'+pageType]" style="float: right;font-size: 16px;">Show all</span></h3>
      <div class='row1'>
    <div class='col-md-12'>
      <div class="carousel slide media-carousel" id="media10000016">
        <div class="carousel-inner">
          <div class="item  active">
            <div *ngIf='latestFootwareProducts' class="row">
              <div *ngFor='let item of latestFootwareProducts |slice:0:4' class="col-md-3 col-xs-3">
                <div>
                  <a *ngIf='setDisplayImage(item)' [routerLink] = "['/product/'+item.slug]" class="thumbnail hidden-xs" target="_blank" ><img alt="" src="{{displayImage}}">
                  </a>
                  <a *ngIf='setDisplayImage(item)' [routerLink] = "['/product/'+item.slug]" class="thumbnail visible-xs"  ><img alt="" src="{{displayImage}}">
                  </a><br>
                  <a target="_blank" class="hidden-xs">{{item.name}}</a>
                  <a class="visible-xs">{{item.name}}</a><br>
                  <span>Rs.{{item.price}}/-</span>
                </div>
              </div>
              
            </div>
          </div>
          <div *ngIf="latestFootwareProducts.length>4" class="item">
            <div class="row">
              <div *ngFor='let item of latestFootwareProducts |slice:4:8;' class="col-md-3 col-xs-3 ">
                <div>
                  <a *ngIf='setDisplayImage(item)' [routerLink] = "['/product/'+item.slug]" class="thumbnail hidden-xs" target="_blank" ><img alt="" src="{{displayImage}}">
                  </a>
                  <a *ngIf='setDisplayImage(item)' [routerLink] = "['/product/'+item.slug]" class="thumbnail visible-xs"  ><img alt="" src="{{displayImage}}">
                  </a><br>
                  <a target="_blank" class="hidden-xs">{{item.name}}</a>
                  <a class="visible-xs">{{item.name}}</a><br>
                  <span>Rs.{{item.price}}</span>
                </div>
              </div> 
             
            </div>
          </div>
        </div>
        <a rel="canonical" data-slide="prev" href="/#media10000016" class="left carousel-control">
          <img class="" src="../../../assets/img/arrowleft.png">
        </a>
        <a rel="canonical" data-slide="next" href="/#media10000016" class="right carousel-control">
          <img class="" src="../../../assets/img/arrowright.png">
        </a>
      </div>                          
    </div>
  </div>
    </div>
  </div>
</div>
        </div>

<div *ngIf='pageType=="movie-store"' class="container-fluid mob-plr7">
  <div class="container bgWhite padding0 fs-mt40 mob-fs-mt10">
    <div class="col-md-12 padding0 alsospotted">
      <h3>STRAIGHT FROM THE MOVIE HOUSE</h3>
      <h5><span>Check out the costumes and merchandise from the movie production houses.</span><a [routerLink] = "['/see-all/movie-house/'+pageType]">Show all</a></h5>
      <div *ngIf='bigScreensProducts' class='row1'>
    <div class='col-md-12'>
      <div class="carousel slide media-carousel" id="media1000007">
        <div class="carousel-inner">
          <div class="item  active">
            <div class="row">
              <div *ngFor='let item of bigScreensProducts|slice:0:4;' class="col-md-3 col-xs-3">
                <div>
                  <a [routerLink] = "['/product/'+item.slug]" class="thumbnail hidden-xs" target="_blank" ><img alt="" src="{{item.profilePic}}">
                  </a>
                  <a [routerLink] = "['/product/'+item.slug]" class="thumbnail visible-xs" ><img alt="" src="{{item.profilePic}}">
                  </a><br>
                  <a [routerLink] = "['/product/'+item.slug]">{{item.name}}</a><br>
                  <br><span>Rs.{{item.price}}</span>
                </div>
              </div>
              
            </div>
          </div>
          <div *ngIf='bigScreensProducts.length>4' class="item">
            <div class="row">
              <div *ngFor='let item of bigScreensProducts |slice:4:8;' class="col-md-3 col-xs-3 ">
                <div>
                  <a [routerLink] = "['/product/'+item.slug]" class="thumbnail hidden-xs" target="_blank" ><img alt="" src="{{item.profilePic}}">
                </a>
                <a [routerLink] = "['/product/'+item.slug]" class="thumbnail visible-xs" ><img alt="" src="{{item.profilePic}}">
                </a><br>
                  <a [routerLink] = "['/product/'+item.slug]">{{item.name}}</a><br>
                  <span>Rs.{{item.price}}</span>
                </div>
              </div> 
              
            </div>
          </div>
        </div>
        <a rel="canonical" data-slide="prev" href="/#media1000009" class="left carousel-control">
          <img class="" src="../../../assets/img/arrowleft.png">
        </a>
        <a rel="canonical" data-slide="next" href="/#media1000007" class="right carousel-control">
          <img class="" src="../../../assets/img/arrowright.png">
        </a>
      </div>                          
    </div>
  </div>
    </div>
  </div>
</div>

     <!-- <div *ngIf='pageType=="movie-store"' class="container-fluid">
  <div class="container bgWhite padding0 fs-mt40 mob-fs-mt15">
    <div class="col-md-12 auctionsbidnow padding0">
      <h3>COMING SOON</h3>
      <h5><span>Get notified on the upcoming collections</span><a>Show all</a></h5>
      <div class='row1'>
    <div class='col-md-12'>
      <div class="carousel slide media-carousel" id="media1000008">
        <div class="carousel-inner">
          <div class="item  active">
            <div class="row">
              <div class="col-md-6 col-xs-6">
                <div>
                  <a class="thumbnail" ><img alt="" src="">
                  </a><br>
                  <a class="aucproname">Lorem</a><br><span>#LOREM</span>
                </div>
              </div>
              <div class="col-md-6 col-xs-6">
                <div>
                  <a class="thumbnail" ><img alt="" src="">
                  </a><br>
                  <a class="aucproname">Lorem</a><br><span>#LOREM</span>
                </div>
              </div> 
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div class="col-md-6 col-xs-6 ">
                <div>
                  <a class="thumbnail" ><img alt="" src="">
                </a><br>
                  <a class="aucproname">Lorem</a><br><span>#LOREM</span>
                </div>
              </div> 
              <div class="col-md-6 col-xs-6">
                <div>
                  <a class="thumbnail" ><img alt="" src="">
                  </a><br>
                  <a class="aucproname">Lorem</a><br><span>#LOREM</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a rel="canonical" data-slide="prev" href="/#media1000008" class="left carousel-control">
          <img class="" src="../../../assets/img/arrowleft.png">
        </a>
        <a rel="canonical" data-slide="next" href="/#media1000008" class="right carousel-control">
          <img class="" src="../../../assets/img/arrowright.png">
        </a>
      </div>                          
    </div>
  </div>
    </div>
</div>
</div> -->

<div *ngIf='pageType=="movie-store"' class="container-fluid mob-plr7">
  <div class="container bgWhite padding0 fs-mt40 mob-fs-mt10">
    <div class="col-md-12 padding0 alsospotted">
      <h3>COLLECTIONS FROM THE SMALL SCREEN</h3>
      <h5><span>Costumes from your favourite TV shows</span><a [routerLink] = "['/see-all/small-screen/'+pageType]">Show all</a></h5>
      <div *ngIf='smallScreensProducts' class='row1'>
    <div class='col-md-12'>
      <div class="carousel slide media-carousel" id="media1000009">
        <div class="carousel-inner">
          <div class="item  active">
            <div class="row">
              <div *ngFor='let item of smallScreensProducts |slice:0:4;' class="col-md-3 col-xs-3">
                <div>
                  <a [routerLink] = "['/product/'+item.slug]" class="thumbnail hidden-xs" target="_blank" ><img alt="" src="{{item.profilePic}}">
                  </a>
                  <a [routerLink] = "['/product/'+item.slug]" class="thumbnail visible-xs"  ><img alt="" src="{{item.profilePic}}">
                  </a><br>
                  <a [routerLink] = "['/product/'+item.slug]">{{item.name}}</a><br>
                  <span>Rs.{{item.price}}</span>
                </div>
              </div>
              
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div *ngFor='let item of smallScreensProducts |slice:4:8;' class="col-md-3 col-xs-3 ">
                <div>
                  <a [routerLink] = "['/product/'+item.slug]" class="thumbnail hidden-xs" target="_blank" ><img alt="" src="{{item.profilePic}}">
                </a>
                <a [routerLink] = "['/product/'+item.slug]" class="thumbnail visible-xs" ><img alt="" src="{{item.profilePic}}">
                </a><br>
                  <a [routerLink] = "['/product/'+item.slug]">{{item.name}}</a><br>
                  <span>Rs.{{item.price}}</span>
                </div>
              </div> 
             
            </div>
          </div>
        </div>
        <a rel="canonical" data-slide="prev" href="/#media1000009" class="left carousel-control">
          <img class="" src="../../../assets/img/arrowleft.png">
        </a>
        <a rel="canonical" data-slide="next" href="/#media1000009" class="right carousel-control">
          <img class="" src="../../../assets/img/arrowright.png">
        </a>
      </div>                          
    </div>
  </div>
    </div>
  </div>
</div>

<!-- <div *ngIf='pageType=="celeb-store"' class="container-fluid">
  <div class="container bgWhite padding0 fs-mt40 mob-fs-mt15">
    <div class="col-md-12 editorspicks padding0">
      <h3>EDITOR'S PICKS</h3>
      <h5><span>Created products exclusively for you</span><a>Show all</a></h5>
      <div class='row1'>
    <div class='col-md-12'>
      <div class="carousel slide media-carousel" id="media1000001">
        <div class="carousel-inner">
          <div class="item  active">
            <div class="row">
              <div class="col-md-6 col-xs-6">
                <div>
                  <a class="thumbnail" ><img alt="" src="">
                  </a><br>
                  <a>#Lorem</a>
                </div>
              </div>
              <div class="col-md-6 col-xs-6">
                <div>
                  <a class="thumbnail" ><img alt="" src="">
                  </a><br>
                  <a>#Lorem</a>
                </div>
              </div> 
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div class="col-md-6 col-xs-6 ">
                <div>
                  <a class="thumbnail" ><img alt="" src="">
                </a><br>
                  <a>#Lorem</a>
                </div>
              </div> 
              <div class="col-md-6 col-xs-6">
                <div>
                  <a class="thumbnail" ><img alt="" src="">
                  </a><br>
                  <a>#Lorem</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a rel="canonical" data-slide="prev" href="/#media1000001" class="left carousel-control">
          <img class="" src="../../../assets/img/arrowleft.png">
        </a>
        <a rel="canonical" data-slide="next" href="/#media1000001" class="right carousel-control">
          <img class="" src="../../../assets/img/arrowright.png">
        </a>
      </div>                          
    </div>
  </div>
    </div>
</div>
</div> -->

<!-- <div *ngIf='pageType=="celeb-store"' class="container-fluid">
  <div class="container bgWhite padding0 fs-mt40 mob-fs-mt15">
    <div class="col-md-12 padding0 alsospotted">
      <h3>ALSO SPOTTED</h3>
      <h5><span>Check out the preference of your star</span><a>Show all</a></h5>
      <div class='row1'>
    <div class='col-md-12'>
      <div class="carousel slide media-carousel" id="media1000002">
        <div class="carousel-inner">
          <div class="item  active">
            <div class="row">
              <div class="col-md-3 col-xs-3">
                <div>
                  <a class="thumbnail" ><img alt="" src="">
                  </a><br>
                  <a>Lorem</a><br><span>#LOREM</span><br><span>Rs. 0</span>
                </div>
              </div>
              <div class="col-md-3 col-xs-3">
                <div>
                  <a class="thumbnail" ><img alt="" src="">
                  </a><br>
                  <a>Lorem</a><br><span>#LOREM</span><br><span>Rs. 0</span>
                </div>
              </div> 
              <div class="col-md-3 col-xs-3">
                <div>
                  <a class="thumbnail" ><img alt="" src="">
                  </a><br>
                  <a>Lorem</a><br><span>#LOREM</span><br><span>Rs. 0</span>
                </div>
              </div>
              <div class="col-md-3 col-xs-3">
                <div>
                  <a class="thumbnail" ><img alt="" src="">
                  </a><br>
                  <a>Lorem</a><br><span>#LOREM</span><br><span>Rs. 0</span>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div class="col-md-3 col-xs-3 ">
                <div>
                  <a class="thumbnail" ><img alt="" src="">
                </a><br>
                  <a>Lorem</a><br><span>#LOREM</span><br><span>Rs. 0</span>
                </div>
              </div> 
              <div class="col-md-3 col-xs-3">
                <div>
                  <a class="thumbnail" ><img alt="" src="">
                  </a><br>
                  <a>Lorem</a><br><span>#LOREM</span><br><span>Rs. 0</span>
                </div>
              </div>
              <div class="col-md-3 col-xs-3">
                <div>
                  <a class="thumbnail" ><img alt="" src="">
                  </a><br>
                  <a>Lorem</a><br><span>#LOREM</span><br><span>Rs. 0</span>
                </div>
              </div>
              <div class="col-md-3 col-xs-3">
                <div>
                  <a class="thumbnail" ><img alt="" src="">
                  </a><br>
                  <a>Lorem</a><br><span>#LOREM</span><br><span>Rs. 0</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a rel="canonical" data-slide="prev" href="/#media1000002" class="left carousel-control">
          <img class="" src="../../../assets/img/arrowleft.png">
        </a>
        <a rel="canonical" data-slide="next" href="/#media1000002" class="right carousel-control">
          <img class="" src="../../../assets/img/arrowright.png">
        </a>
      </div>                          
    </div>
  </div>
    </div>
  </div>
</div> -->

<div *ngIf="bargainData" class="container-fluid mob-plr7">
      <div  class="container fs-obsessions fs-mt40 mob-fs-mt10 bgWhite" *ngIf="bargainData.length > 0 && !celebName && pageType=='celeb-store'">
        <div class="row">
          <h3 class="text-left">ADD BLING</h3>
          <h5><span>Add a dash of swag with these accessories</span><a>Show all</a></h5>
        </div>
        <div class='row'>
          <div class='col-md-12'>
            <div class="carousel slide media-carousel" id="media121">
              <div class="carousel-inner">
                <div class="item active">
                  <div class="row">
                    <div *ngFor="let item of activeArray" class="col-md-3 col-xs-3">
                      <div *ngIf='item'>
                      <a  rel="canonical" class="thumbnail"  [routerLink] = "['/product/'+item.slug]"><img alt="" src="{{item.profilePic}}"></a>
                      <span  class="">{{item.name}}</span>
                      <!-- <span class="text-uppercase">{{item.brand}}</span> -->
                      <span  class="text-uppercase txtstrike">Rs.{{item.price}}/-</span>
                      <span class="text-uppercase" style="float: none;display: inline-flex;padding-left: 5px;">
                        (<span  style="color:rgb(254, 91, 105); padding: 0 3px;">{{item.discountObj.discPercentage}} % off</span>)</span>
                      <span  class="text-uppercase">Rs.{{item.discountObj.discPrice}}/-</span>
                    </div> 
                    </div>
                  </div>
                </div>
                <div class="item" *ngFor="let array of inactiveArrays">
                    <div class="row">
                      <div *ngFor="let item of array" class="col-md-3 col-xs-3">
                        <a rel="canonical" class="thumbnail"  [routerLink] = "['/product/'+item.slug]"><img alt="" src="{{item.profilePic}}"></a>
                        <span *ngIf='item' class="">{{item.name}}</span>
                        <!-- <span class="text-uppercase">{{item.brand}}</span> -->
                        <span class="text-uppercase txtstrike">Rs.{{item.price}}/-</span>
                        <span class="text-uppercase" style="float: none;display: inline-flex;padding-left: 5px;">
                          (<span style="color:rgb(254, 91, 105);padding: 0 3px;">{{item.discountObj.discPercentage}} % off</span>)</span>
                        <span class="text-uppercase">Rs.{{item.discountObj.discPrice}}/-</span>
                      </div> 
                    </div>
                </div>
              </div>
              <a rel="canonical" data-slide="prev" href="/#media121" class="left carousel-control">
          <img class="" src="../../../assets/img/arrowleft.png">
              </a>
              <a rel="canonical" data-slide="next" href="/#media121" class="right carousel-control">
          <img class="" src="../../../assets/img/arrowright.png">
              </a>
            </div>                          
          </div>
        </div>
      </div> 
      </div>

<div *ngIf='pageType=="celeb-store"||pageType=="movie-store"' class="container-fluid mob-plr7">
  <div class="container bgWhite padding0 fs-mt40 mob-fs-mt10">
    <div class="col-md-12 auctionsbidnow padding0">
      <h3>AUCTIONS</h3>
      <h5><span>Bid now for exclusive premium products</span><a>Show all</a></h5>
      <div *ngIf='auctionData' class='row1'>
    <div class='col-md-12'>
      <div class="carousel slide media-carousel" id="media1000003">
        <div class="carousel-inner">
          <div class="item  active">
            <div class="row">
              <div *ngFor='let item of auctionData |slice:0:2' class="col-md-6 col-xs-6">
                <div>
                  <a [routerLink] = "['/auctions']"  class="thumbnail" ><img alt="" src="{{item.profilePic}}">
                  </a><br>
                  <a class="aucproname">{{item.name}}</a><br>
                  <!-- <span>#LOREM</span> -->
                </div>
              </div>
              
            </div>
          </div>
          <div *ngIf='auctionData.length>2' class="item">
            <div class="row">
              <div *ngFor='let item of auctionData |slice:2:4' class="col-md-6 col-xs-6 ">
                <div>
                  <a [routerLink] = "['/auctions']" class="thumbnail" ><img alt="" src="{{item.profilePic}}">
                </a><br>
                  <a class="aucproname">{{item.name}}</a><br>
                  <!-- <span>#LOREM</span> -->
                </div>
              </div> 
              
          </div>
        </div>
        
      </div> 
      <a rel="canonical" data-slide="prev" href="/#media1000003" class="left carousel-control">
          <img class="" src="../../../assets/img/arrowleft.png">
        </a>
        <a rel="canonical" data-slide="next" href="/#media1000003" class="right carousel-control">
          <img class="" src="../../../assets/img/arrowright.png">
        </a>                         
    </div>
  </div>
    </div>
</div>
</div>
</div>


<div *ngIf='pageType=="celeb-store"||pageType=="movie-store"' class="container-fluid mob-plr7">
  <div class="container bgWhite padding0 fs-mt40 fs-mb50 mob-fs-mt10 mob-fs-mb10">
    <div class="col-md-12 shpbyvidos padding0">
      <h3>SHOP BY VIDEOS</h3>
      <h5><span>Watch it. Pause it. Shop it</span><a>Show all</a></h5>
      <div class='row1'>
    <div class='col-md-12'>
      <div class="carousel slide media-carousel" id="media1000004">
        <div class="carousel-inner">
          <div *ngIf='shopbyVideosData'  class="item  active">
            <div *ngFor='let item of shopbyVideosData |slice:0:1;'  class="row">
              <div class="col-md-7 col-xs-7">
                <div>
                  <a class="thumbnail" ><img alt="" src="">
                    <iframe *ngIf='setUrl(item.videoUrl)'  [src]='sanitizer.bypassSecurityTrustResourceUrl(videoUrl)' width="652.5" height="350" frameborder="0"
        webkitallowfullscreen mozallowfullscreen allowfullscreen>
    </iframe>
                  </a><br>
                  <a class="aucproname">{{item.title}}</a><br>
                  <!-- <span>#LOREM</span> -->
                </div>
              </div>
              <div class="col-md-5 col-xs-5">
                <div class="col-md-12 thumbnal">
                  <div *ngFor='let items of item.products |slice:0:4;' class="col-md-6">
                    <div *ngIf='item'>
                    <a [routerLink] = "['/product/'+items.productSlug]" class="thumbnail"><img alt="" src="{{items.productProfilePic}}"></a>
                  </div>
                </div>
                  
                  
                </div>
              </div> 
            </div>
          </div>
          <div *ngFor='let item of shopbyVideosData |slice:1:2' class="item">
            <div class="row">
              <div class="col-md-7 col-xs-7 ">
                <div>
                  <a class="thumbnail" ><img alt="" src="">
                    <iframe *ngIf='setUrl(item.videoUrl)'  [src]='sanitizer.bypassSecurityTrustResourceUrl(videoUrl)' width="652.5" height="350" frameborder="0"
        webkitallowfullscreen mozallowfullscreen allowfullscreen>
    </iframe>
                </a><br>
                  <a class="aucproname">{{item.title}}</a><br>
                  <!-- <span>#LOREM</span> -->
                </div>
              </div> 
              <div class="col-md-5 col-xs-5">
                  <div class="col-md-12 thumbnal">
                      <div *ngFor='let items of item.products |slice:0:4;' class="col-md-6">
                        <div *ngIf='item'>
                        <a [routerLink] = "['/product/'+items.productSlug]" class="thumbnail"><img alt="" src="{{items.productProfilePic}}"></a>
                      </div>
                    </div>
                      
                      
                    </div>
              </div>
            </div>
          </div>
        </div>
        <a rel="canonical" data-slide="prev" href="/#media1000004" class="left carousel-control">
          <img class="" src="../../../assets/img/arrowleft.png">
        </a>
        <a rel="canonical" data-slide="next" href="/#media1000004" class="right carousel-control">
          <img class="" src="../../../assets/img/arrowright.png">
        </a>
      </div>                          
    </div>
  </div>
    </div>
</div>
</div>







<div *ngIf="!isDesigner && showAllProducts==true" class="container fs-mt50">
  <p style="width: 100%;float: left;"><span on-click='backfashion()' class="bak">Back</span></p>
  <div class="seeallThumbnail" *ngFor="let product of allProducts">
    <a  rel="canonical" class="thumbnail" [routerLink]="['/product', product.slug]">
      <img alt="" src="{{product.profilePic}}">
    </a>
    <span class="text-uppercase brandName" [routerLink]="['/product', product.slug]">{{product.name}}</span>
    <br>

  </div>


</div>





    <div class="container-fluid fs-mt50 mob-fs-mt10 mob-fs-mb10 mob-plr7" *ngIf = "isDesigner">
          <div *ngIf="!celebName && showFilteredData==false" class="container fs-Products padding0 mob-fs-mb10">
            <carousel *ngIf="carouselData" [type] = "design" [carouselData]="carouselData" (seemoreDesigners)='seemoreDesigners($event)' ></carousel>
          </div>
          <div *ngIf="showFilteredData==true" class="container padding0">
              <p style="float: left;width: 100%;">
                <span on-click='backMenu()' class="bak">Back</span></p>
          <div *ngIf='showType=="Designers"' class="container padding0 ">
            <div class="col-md-12 padding0 fs-designer-store">
              <div class="col-md-2 col-xs-2 " *ngFor="let image of carouselData ">
                  <a rel="canonical" class="thumbnail" on-click="goToSeeDesigner('designer-store',image.slug)" ><img alt="" src="{{image.profilePic}}">
                    
                </a>
                <h2 *ngIf='image' class="text-center">{{image.name}}</h2>
                <h5 class="text-center">Fashion Designer, Model</h5>
                <p><button>More</button></p>
                </div>
              </div>
          </div>
          <div *ngIf='showType=="Categories" && productsArray' class="container padding0">
            <!-- <div class="col-md-2 padding0 filter-div">
              <h3 style="margin-top: 0;">Filters</h3>
              <label><input type="radio" on-click="showProductsOf('men')" name="tcyvui"> Men</label>
              <label><input type="radio" on-click="showProductsOf('women')"  name="tcyvui"> Women</label>
              <br>
              <label><input type="checkbox" [(ngModel)]="isDiscounted" on-click='checkDiscounted(isDiscounted)' name=""> Discount</label><br>
            </div> -->
            <div class="col-md-12 col-xs-12 Categorys-Div padding0">
              <div class="col-md-3 col-xs-3" *ngFor="let product of productsArray">
                  <a rel="canonical" class="thumbnail" [routerLink] = "['/product/'+product.slug]"><img alt="" src="{{product.profilePic}}"></a>
                  <div class="">
                  <span class="text-uppercase">{{product.name}}</span><br>
                  <span [ngClass]="product.isDiscount == true ? 'discnt-price' : ''">&#8377;{{product.price}}/-</span>
                  <span *ngIf='product.isDiscount==true' style="float: none; color: #fe5b69;">{{product.discountObj.discPercentage}}% off</span>
                  <!-- <span *ngIf='!product.discountObj'>&#8377;{{product.price}}/-</span> -->
                  <span *ngIf='product.isDiscount==true'>&#8377;{{product.discountObj.discPrice}}/-</span>
                </div>
                </div>
              </div>

          </div>
          <div *ngIf='showType=="Latest Arrivals" && productsArray' class="container padding0">
              <!-- <div class="col-md-2 padding0 filter-div">
                <h3 style="margin-top: 0;">Filters</h3>
                <h4>Price</h4>
                <div style="margin-bottom: 10px;">
                <select id="price-min"  name="pricemin" [(ngModel)]="priceMinFilter" on-click="onPriceFromChange(priceMinFilter,'min')" class=" form-control1">
                    <option *ngFor="let _priceMin of _minpriceOptions;let i=index" [value]="_priceMin.valueP">{{ _priceMin.valueP | currency:'INR':true:'1.0-2' }}</option>
                  </select>
                  <span>to</span>
                  <select id="price-max"  name="pricemax" [(ngModel)]="priceMaxFilter" on-click="onPriceFromChange(priceMaxFilter,'max')" class=" form-control1">
                      <option *ngFor="let _priceMin of _maxpriceOptions;let i= index" [value]="_priceMin.valueP">{{ _priceMin.valueP | currency:'INR':true:'1.0-2' }}</option>
                    </select>
                  </div>
                <label><input type="radio" on-click="showProductsOf('men')" name="tcyvui"> Men</label>
                <label><input type="radio" on-click="showProductsOf('women')" name="tcyvui"> Women</label>
                <br>
                <label><input type="checkbox" [(ngModel)]="isDiscounted" on-click='checkDiscounted(isDiscounted)' name=""> Discount</label><br>
              </div> -->
              <div class="col-md-12 col-xs-12 Categorys-Div padding0">
                <div class="col-md-3 col-xs-3" *ngFor="let product of productsArray">
                    <a rel="canonical" class="thumbnail" [routerLink] = "['/product/'+product.slug]"><img alt="" src="{{product.profilePic}}"></a>
                    <span class="text-uppercase">{{product.name}}</span><br>
                    <span [ngClass]="product.isDiscount == true ? 'discnt-price' : ''">&#8377;{{product.price}}/-</span>
                    <span *ngIf='product.isDiscount==true' style="float: none; color: #fe5b69;">{{product.discountObj.discPercentage}}% off</span>
                    <!-- <span *ngIf='!product.discountObj'>&#8377;{{product.price}}/-</span> -->
                    <span *ngIf='product.isDiscount==true'>&#8377;{{product.discountObj.discPrice}}/-</span>
                  </div>
                </div>
  
            </div>
          <div *ngIf='widgets && showType=="Boutiques"' class="container padding0">
              <div *ngFor="let widget of widgets | slice:0:5; let i=index" class="container fs-ProductsType">
              <div *ngIf='widget._source.collectionType=="Designer Collection"'>
                  <div class="row">
                  <a rel="canonical"><h2 class="text-left">{{widget._source.title}}</h2></a>
                  </div>
                  <div class='row'>
                    <div class="col-md-4 fs-pl0">
                      <div class="col-md-12 col-xs-12 pull-left fs-collectionsPic">
                        <a rel="canonical" [routerLink]="['/'+widget._source.item.type,widget._source.item.slug]"><img src="{{widget._source.image}}" alt="image" class="col-md-12 img-responsive padding0 center-block" ></a>
                      </div>
                      
                      <div class="fs-association-data col-md-12 col-xs-12">
                              <div class="fs-pic"><img class="img-circle" src="{{widget._source.item.profilePic}}"></div>
                              <div class="fs-info col-md-9 col-xs-7">
                                <div *ngIf='widget._source.item'  class="fs-title"><a rel="canonical" [routerLink]="['/'+widget._source.item.type,widget._source.item.slug]">{{widget._source.item.name}}</a></div>
                                <div class="fs-asso-hash">
                                <span *ngFor="let role of widget._source.item.role">#{{role}}</span>
                                </div>
                              </div>
                
                      </div>
                    </div>
                    <div class='col-md-8'>
                      <div *ngIf="widget._source.products" class="carousel slide media-carousel" id="media{{i}}">
                        <h5 *ngIf="widget._source.products.length>4" class="text-right fs-seemore"><a rel="canonical" [routerLink]="['/'+widget._source.location[0],widget._source.item.slug]"  class="">See More</a></h5>
                        <div class="carousel-inner">
                          <div class="item  active">
                            <div class="row">
                              <div class="col-md-3 col-xs-3" *ngFor="let product of widget._source.products">
                                <a rel="canonical" class="thumbnail" [routerLink] = "['/product/'+product._source.slug]"><img alt="" src="{{product._source.profilePic}}"></a>
                                <span *ngIf='product._source'  class="text-uppercase">{{product._source.name}}</span><br>
                                <!-- <span>{{product._source.brand}}</span><br> -->
                                <span>&#8377;{{product._source.price}}/-</span>
                              </div>            
                            </div>
                          </div>
                        </div>
                      </div>                          
                    </div>
                  </div>  
                </div> 
               <!-- <div *ngIf='widget._source.collectionType=="Catagory Collection"'>
                 <div class="row">
        </div>
        <div class='row'>
          <div class="col-md-3">
          <a rel="canonical" >
            <h2 class="text-left" style="text-align: center;text-transform: capitalize; word-wrap: break-word;">{{widget._source.title}}</h2>
            <p style="text-align: center;margin-top: 50px;"><a style="background: #2874f0;
    color: #fff;box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2); border: none; padding: 10px 20px;cursor: pointer;">VIEW ALL</a></p>
            
          </a>
        </div>
          
          <div class='col-md-9'>
            <div *ngIf="widget._source.products" class="carousel slide media-carousel" id="media{{i}}" style="margin-top: 0;">
              <h5 *ngIf="widget._source.products.length>4" class="text-right fs-seemore"><a rel="canonical" [routerLink]="['/'+widget._source.location[0],widget._source.item.slug]"  class="">See More</a></h5>
              <div class="carousel-inner">
                <div class="item  active">
                  <div class="row">
                    <div class="col-md-3 col-xs-3" *ngFor="let product of widget._source.products">
                      <a rel="canonical" class="thumbnail" [routerLink] = "['/product/'+product._source.slug]"><img alt="" src="{{product._source.profilePic}}"></a>
                      <span class="text-uppercase">{{product._source.name}}</span><br>
                      <span>{{product._source.brand}}</span><br>
                      <span>&#8377;{{product._source.price}}/-</span>
                    </div>            
                  </div>
                </div>
              </div>
              <a rel="canonical" data-slide="prev" class="left carousel-control"><i _ngcontent-c1="" aria-hidden="true" class="fa fa-chevron-left"></i></a>
            <a rel="canonical" data-slide="next" class="right carousel-control"><i _ngcontent-c1="" aria-hidden="true" class="fa fa-chevron-right"></i></a>
            </div>                          
          </div>
        </div>  
            </div>  -->
              </div>

          </div>
          </div>

          <div *ngIf="celebName">
            <div class="container fs-Products padding0">
              <div *ngIf='pagecontent' class="row">
                <ul  class="breadcrumb">  
                  <li *ngIf="page == 'designer-store'"><a rel="canonical" [routerLink]="['/designer-store']">Designer Store</a></li>
                  <li *ngIf='pagecontent'> {{pagecontent.name}} </li>
                </ul>
                <!-- <h2 class="text-center">Premium Collections from Designers</h2> -->

              </div>
              <div class="col-md-3 padding0 left-sticky">
                <related-and-peers   [pageType]="pageType" [categoryArray]='categoryArray' (feedFilter)="feedFilter($event)"></related-and-peers>
              </div>
                <div class='col-md-9 designer-store-prod leftmargin' style="padding-left: 25px; padding-right: 0;">
                  <div class='col-md-12 padding0'>
                    <div class="carousel slide media-carousel">
                      <div class="carousel-inner">
                        <div class="item  active">
                          <div class="row designerStoreName" *ngIf=" designerProducts" style="margin:0;">
                            <div class="col-md-4 col-xs-4" *ngFor="let product of designerProducts">
                              <a rel="canonical" class="thumbnail" [routerLink] = "['/product/'+product._source.slug]" ><img alt="" src="{{product._source.profilePic}}"><div class="mask"></div></a>
                              <span *ngIf='product._source' class="">{{product._source.name}}</span><br>
                              <span *ngIf="product._source.category" style="font-family: proxima_nova_ltsemibold; color: #333;">{{product._source.category[0][2]}}</span><br>
                              <!-- <span>&#8377;{{product._source.price}}/-</span> -->
                            </div>         
                          </div>
                        </div>
                      </div>
                    </div>                          
                  </div>
                </div>
              </div>
          </div>

          <div *ngIf="!celebName && showFilteredData==false" class="container fs-Products padding0 mob-fs-mb0  ">
              <!--<carousel [data]="shopbyVideosData" [type]="videos"></carousel>-->
              <div *ngIf="designerMenProducts"  class="designer-mencolection bgWhite">
              <div *ngIf="designerMenProducts.length > 0">
                <div class="row1">
                <h3 class="text-left">Designer Men Collections</h3>
                  <!-- <h6>Media Slider Carousel BS3</h6> -->
                  <h5 class="fs-seemore">
                    <span>Premium range exclusively for Men</span>
                    <a rel="canonical" on-click="gotoMenCatagory()" class="">Show all</a></h5>
                </div>  
                <div class='row1'>
                  <div class='col-md-12'>
                    <div class="carousel slide media-carousel" id="media6a">
                      <div class="carousel-inner">
                        <div class="item  active">
                          <div class="row1">
                            <div class="col-md-3 col-xs-3" *ngFor="let product of designerMenProducts">
                              <a rel="canonical" class="thumbnail" [routerLink]="['/product', product.slug]"><img alt="" src="{{product.profilePic}}"></a>
                              <div class="col-md-12 padding0">
                              <span class="text-uppercase ProdName">{{product.name}}</span><br>
                              <!-- <span>{{product._source.brand}}</span><br> -->
                              <span [ngClass]="product.isDiscount == true ? 'discnt-price' : ''">Rs. {{product.price}}/-</span>
                              <span *ngIf='product.isDiscount==true' style="float: none; color: #fe5b69;">{{product.discountObj.discPercentage}}% off</span>
                              <span *ngIf='product.isDiscount==true'>Rs. {{product.discountObj.discPrice}}/-</span>
                              </div>
                            </div>    
                          </div>
                        </div>
                      </div>
          <a class="left carousel-control" data-slide="prev" href="/#media6a" rel="canonical">
               <img class="" src="../../../assets/img/arrowleft.png">
         </a>
                <a class="right carousel-control" data-slide="next" href="/#media6a" rel="canonical">
                <img class="" src="../../../assets/img/arrowright.png">  
                </a>
                    </div>                          
                  </div>
                </div>
              </div>
              </div>

              <!-- <div class="container bgWhite padding0 fs-mt40 mob-fs-mt15 socialbuzz-interviews">
    <div class="col-md-12 padding0">
      <h3>VIDEOS</h3>
      <h5><span>Collection of your favourite star as seen</span><a>Show all</a></h5>
      <div class='row1'>
    <div class='col-md-12'>
      <div class="carousel slide media-carousel" id="media10000013">
        <div class="carousel-inner">
          <div class="item  active">
            <div class="row">
              <div class="col-md-6 col-xs-6">
                <div>
                  <a class="thumbnail" ><img alt="" src="">
                    <img alt="" class="img-responsive playbtn" src="../../../assets/img/play.png">
                  </a><br>
                  <span>Lorem</span>
                </div>
              </div>
              <div class="col-md-6 col-xs-6">
                <div>
                  <a class="thumbnail" ><img alt="" src="">
                    <img alt="" class="img-responsive playbtn" src="../../../assets/img/play.png">
                  </a><br>
                  <span>Lorem</span>
                </div>
              </div> 
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div class="col-md-6 col-xs-6 ">
                <div>
                  <a class="thumbnail" ><img alt="" src="">
                    <img alt="" class="img-responsive playbtn" src="../../../assets/img/play.png">
                </a><br>
                  <span>Lorem</span>
                </div>
              </div> 
              <div class="col-md-6 col-xs-6">
                <div>
                  <a class="thumbnail" ><img alt="" src="">
                    <img alt="" class="img-responsive playbtn" src="../../../assets/img/play.png">
                  </a><br>
                  <span>Lorem</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a rel="canonical" data-slide="prev" href="/#media10000013" class="left carousel-control">
          <img class="" src="../../../assets/img/arrowleft.png">
        </a>
        <a rel="canonical" data-slide="next" href="/#media10000013" class="right carousel-control">
          <img class="" src="../../../assets/img/arrowright.png">
        </a>
      </div>                          
    </div>
  </div>
    </div>
</div> -->
              
              <div *ngIf="designerWomenProducts" class="designer-womencolection bgWhite fs-mt40 mob-fs-mt10">
              <div *ngIf="designerWomenProducts.length > 0">
                <div class="row1">
                <h3 class="text-left">Designer Women Collections</h3>
                  <!-- <h6>Media Slider Carousel BS3</h6> -->
                  <h5 class="fs-seemore">
                    <span>Premium range exclusively for Women</span>
                    <a rel="canonical" on-click="gotoWomenCatagory()" class="">Show all</a></h5>
                </div>  
                <div class='row1'>
                  <div class='col-md-12'>
                    <div class="carousel slide media-carousel" id="media6b">
                      <div class="carousel-inner">
                        <div class="item  active">
                          <div class="row1">
                            <div class="col-md-3 col-xs-3" *ngFor="let product of designerWomenProducts | slice:0:4;">
                              <a rel="canonical" class="thumbnail" [routerLink]="['/product', product.slug]"><img alt="" src="{{product.profilePic}}"></a>
                              <div class="col-md-12 padding0">
                              <span class="text-uppercase ProdName">{{product.name}}</span><br>
                              <span [ngClass]="product.isDiscount == true ? 'discnt-price' : ''">&#8377;{{product.price}}/-</span>
                              <span *ngIf='product.isDiscount==true' style="float: none; color: #fe5b69;">{{product.discountObj.discPercentage}}% off</span>
                              <span *ngIf='product.isDiscount==true'>&#8377;{{product.discountObj.discPrice}}/-</span>
                              <!-- <span>{{product._source.brand}}</span><br> -->
                              </div>
                            </div>    
                          </div>
                        </div>
                        <div *ngIf='designerWomenProducts.length>4' class="item">
                          <div class="row1">
                            <div class="col-md-3 col-xs-3" *ngFor="let product of designerWomenProducts | slice:4:8;">
                              <a rel="canonical" class="thumbnail" [routerLink]="['/product', product.slug]"><img alt="" src="{{product.profilePic}}"></a>
                              <div class="col-md-12 padding0">
                              <span class="text-uppercase ProdName">{{product.name}}</span><br>
                              <span [ngClass]="product.isDiscount == true ? 'discnt-price' : ''">&#8377;{{product.price}}/-</span>
                              <span *ngIf='product.isDiscount==true' style="float: none; color: #fe5b69;">{{product.discountObj.discPercentage}}% off</span>
                              <span *ngIf='product.isDiscount==true'>&#8377;{{product.discountObj.discPrice}}/-</span>
                              <!-- <span>{{product._source.brand}}</span><br> -->
                              </div>
                            </div>    
                          </div>
                        </div>
                      </div>
                      <a class="left carousel-control" data-slide="prev" href="/#media6b" rel="canonical">
               <img class="" src="../../../assets/img/arrowleft.png">
         </a>
                <a class="right carousel-control" data-slide="next" href="/#media6b" rel="canonical">
                <img class="" src="../../../assets/img/arrowright.png">  
                </a>
                    </div>                          
                  </div>
                </div>
              </div>
              </div>
<!-- <div class="bgWhite fs-mt40 mob-fs-mt15 handpicked col-md-12 padding0">
  <div class="col-md-12 col-xs-12 padding0 pull-left">
    <h3>HANDPICKED</h3>
    <h5><span>Collections of your favourite star as seen</span><a>Show all</a></h5>
  </div>
  <div class="col-md-12 col-xs-12 pull-left">
    <div class="col-md-3">
      <a class="thumbnail"></a><br>
      <span>Lorem</span><br>
      <span class="name">#Lorem</span><br>
      <span>Rs. 0</span>
    </div>
    <div class="col-md-3">
      <a class="thumbnail"></a><br>
      <span>Lorem</span><br>
      <span class="name">#Lorem</span><br>
      <span>Rs. 0</span>
    </div>
    <div class="col-md-3">
      <a class="thumbnail"></a><br>
      <span>Lorem</span><br>
      <span class="name">#Lorem</span><br>
      <span>Rs. 0</span>
    </div>
    <div class="col-md-3">
      <a class="thumbnail"></a><br>
      <span>Lorem</span><br>
      <span class="name">#Lorem</span><br>
      <span>Rs. 0</span>
    </div>
  </div>
</div> -->

            </div>
    </div>




      <footer></footer>