<div class="col-md-12 padding0 " [ngClass]=" checkFunction(contentType,contentsType)?'':'Card_Style'" style="">

<!-- <card-trailer [content]="content" *ngIf="contentType == 'trailer'"></card-trailer> -->


<card-news [miniCard]="miniCard" [content]="contentData" *ngIf="contentType == 'NEWS' || contentType == 'news'"></card-news>
<card-gallery [miniCard]="miniCard" [content]="contentData" *ngIf="contentType == 'GALLERY' || contentType == 'gallery' || contentType == 'POSTER' || contentType == 'poster' || contentType == 'FIRST-LOOK' || contentType == 'first-look' "></card-gallery>
<card-dialogue [miniCard]="miniCard" [content]="contentData" *ngIf="contentType == 'AUDIO-SONG' || contentType == 'audio-song'|| contentType == 'DIALOUGE' || contentType == 'dialouge'"></card-dialogue>
<card-nowshowing [miniCard]="miniCard" [content]="contentData" *ngIf="contentType == 'NOW-SHOWING' || contentType == 'now-showing'"></card-nowshowing>
<card-product [miniCard]="miniCard" [content]="contentData" *ngIf="contentType == 'PRODUCT' || contentType == 'product'"></card-product>
<card-quote [miniCard]="miniCard" [content]="contentData" *ngIf="contentType == 'QUOTE' || contentType == 'quote'"></card-quote>
<card-tweet [miniCard]="miniCard" [content]="contentData" *ngIf="contentType == 'TWEET' || contentType == 'tweet'" ></card-tweet>
<card-youtube [miniCard]="miniCard" [content]="contentData" *ngIf="contentType == 'VEDIO-CARD'|| contentType == 'vedio-card' || contentType == 'video-song'|| contentType == 'VIDEO-SONG' || contentType == 'COMEDY-CLIP' || contentType == 'comedy-clip' || contentType == 'INTERVIEW' || contentType == 'interview' || contentType == 'MOVIE-MAKING' || contentType == 'movie-making' || contentType == 'TRAILER' || contentType == 'trailer' || contentType == 'teasers-promos'|| contentType == 'SOCIAL-BUZZ' || contentType == 'social-buzz'"></card-youtube>
<up-comming [miniCard]="miniCard" [content]="contentData" *ngIf="contentType == 'UP-COMING' || contentType == 'up-coming'"></up-comming>
<card-style [miniCard]="miniCard" [content]="contentData" *ngIf="contentType == 'share-your-style'"></card-style>

<!-- <card-related-flicks [pageType5]="pageType5" *ngIf="contents=='relatedFlick'"></card-related-flicks> -->
<!-- <card-product [miniCard]="miniCard" [content]="contentData" *ngIf="contentType == 'product'"></card-product> -->
<!-- <card-user-review [miniCard]="miniCard" [content]="contentData" *ngIf="contentType == 'USER-REVIEW' || contentType == 'user-review'"></card-user-review>
<card-critic-review [miniCard]="miniCard" [content]="contentData"></card-critic-review> -->

  
</div>
