 
        <div *ngIf="!isMiniCard" class="col-md-12 col-sm-12 padding0 pull-left fs-mt50">
          <div *ngIf="contentData" class="col-md-12 padding0">
            <div class="fs-card">
              <div class="thumbnail1 col-md-12 padding0">
               
                    <card-associationdata [assnData]="assnData"></card-associationdata>
                  </div>
                  <div class="pull-left padding0 col-md-12" href="">
                    <img src="{{contentData.profilePic}}" alt="" class="img-responsive">
                  </div>
                  
              <div class="col-md-12 col-xs-12 pull-left padding0">
                <card-socialbar [content]="content" [cardId]="cardId" [shareSlug]='shareSlug'[shareProfilePic]='shareProfilePic'></card-socialbar>
              </div>
  
              <div class="col-md-12 bg-white">
  
  
  
                  <div class="col-md-12 padding0">
                      <h4 on-click="gotocontent()" class="text-bold col-md-12 padding0 fs-mt20">{{contentData.title}}</h4>
                      <!-- <p class="text-justify news-read-more" [innerHTML]=contentData.text></p> -->
                      
                  <div class="col-md-4 padding0" on-click="ratingPopup()">
                    <div class="col-md-12 col-sm-7 col-sm-offset-0 col-xs-6 pull-left padding0 fs-movie-rate">
                      <p class="text-center"><img src="../../../assets/img/starline.png" alt="" class="">
                        <span class="txt-clr1">Rate the Movie</span>
                      </p>
                    </div>
                </div>
                  </div>
  
                  <div class="col-md-12 padding0 userReview" *ngIf="reviews">
                    
  
                    <div class="col-md-12 padding0" *ngFor="let review of reviews">
                      <!-- <div class="USerPic">
                        <img src="{{review.profilePic}}"  alt="image" class="img-responsive img-circle">
                      </div> -->
                      <div class="userReviewINFO fs-pr0">
                        <div class="col-md-12 padding0">
                          <div class="col-md-3 padding0">
                            <h4 class="fs-mb0 col-md-12 padding0">{{review.updatedBy}}</h4>
                            <h5 class="text-capitalize">{{userId}}</h5>
                          </div>
                          <div class="col-md-9 padding0">
                            <p class="pull-left col-md-12 padding0 UsrREviewDiv">
                              <span class="UsrREview">
                                  
                                      <i *ngFor='let index of range' class='glyphicon'  [ngClass]="index <= review.ratingValue ? 'glyphicon-star' : 'glyphicon-star-empty'"></i>
                                 
                              </span>
                              <span><span>{{review.ratingValue}}</span><span>/</span><span>10</span></span>
                          </p>
                          </div>
                        </div>
                        <div class="col-md-12 padding0">{{review.ratingText}}</div>
                      </div>
                    </div>
  
  
                  </div>
                  <!--<div class="col-md-12 col-xs-12 pull-left padding0">
                    <card-comments></card-comments>
                </div>-->
              </div>
            </div>
          </div>
            
          </div>
        
        <!-- </div> -->
 
    <!-- <rate-movie *ngIf="displayRatingPopup" [isReview]="isReview" (closeRatingPopup)="closeRatingPopup($event)"></rate-movie> -->
    <rate-movie *ngIf="displayRatingPopup" [isReview]="isReview" [cardId]="cardId" (submitingRatingPopup)="submitingRatingPopup($event)"></rate-movie>


    <div *ngIf="isMiniCard">
        <div *ngIf="contentData" class=" col-md-12 padding0">
            <card-associationdata [assnData]="assnData"></card-associationdata>
          <div on-click="gotocontent()" class="col-md-12 col-xs-12 pull-left padding0 hei200"><img src= "{{contentData.profilePic}}" alt="">
          </div>
          <card-socialbar [content]="content" [cardId]="cardId" [shareSlug]='shareSlug' [shareProfilePic]='shareProfilePic'></card-socialbar>
      
            
          <div class="col-md-12 col-xs-12 pull-left padding0">
              <div class="col-md-12 fs-title-heading bgWhite">
                <h4 on-click="gotocontent()">{{contentData.title}}</h4>
                
                <p class="text-justify news-read-more" [innerHTML]=contentData.text></p>
                <a on-click="gotocontent()">Read more</a>
              </div>
          </div>
      
        </div>
      </div>