<!-- <div class="container-fluid fs-header">
        <div class="container"> -->
            <titlebar></titlebar>
        
        <div class="container-fluid padding0 bgWhite">
        <div class="container">
        
          
          </div>
          <banner [industry]="industry" [topMovies]="topMovies" [statusArray]="statusArray"></banner>
        </div>
        
        
        <div class="container-fluid padding0 fs-mt50 mob-plr7 mob-fs-mt10">
        
        <div class="container fs-style padding0" *ngIf="stealThatStyleData">
           <carousel [stealThatStyleData] = "stealThatStyleData" [type]="stealThatStyle"></carousel> 
        </div>
        
        <div class="container bgWhite padding0 fs-mt40 fs-mb50 mob-fs-mt15 mob-fs-mb15">
    <div class="col-md-12 shpbyvidos padding0">
      <h3>TRAILERS & PROMOS</h3>
      <h5><span>Indulge in latest movie updates</span><a [routerLink]="['/see-all/videos/'+industry]">Show all</a></h5>
      <div *ngIf='topTeasersVideos' class='row1'>
    <div class='col-md-12'>
      <div class="carousel slide media-carousel" id="media1000005">
        <div class="carousel-inner">
          <div class="item  active">
            <div class="row">
              <div *ngFor='let item of topTeasersVideos |slice:0:1;' class="col-md-7 col-xs-7 fs-pr0">
                <div>
                  <a  [routerLink]="['/content/'+item.slug]" class="thumbnail" target="_blank" ><img alt="" src="">
                    <img alt=""  src="{{item.profilePic}}">
                    <img alt="" class="img-responsive playbtn" src="../../../assets/img/play.png">
                  </a><br>
                  <a [routerLink]="['/content/'+item.slug]" class="aucproname">{{item.title}}</a><br>
                </div>
              </div>
              <div class="col-md-5 col-xs-5 fs-pl0">
                <div class="col-md-12 thumbnal">
                  <div *ngFor='let item of topTeasersVideos |slice:1:5;' class="col-md-6">
                    <a [routerLink]="['/content/'+item.slug]" class="thumbnail" target="_blank"><img alt="" src="">
                      <img  alt=""  src="{{item.profilePic}}">
                    <img alt="" class="img-responsive playbtn" src="../../../assets/img/play.png">
                    </a>
                  <br><a [routerLink]="['/content/'+item.slug]" class="songname">{{item.title}}</a><br>
                  </div>
                 
                 
                </div>
              </div> 
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div *ngFor='let item of topTeasersVideos |slice:5:6;' class="col-md-7 col-xs-7 fs-pr0">
                <div>
                  <a [routerLink]="['/content/'+item.slug]" class="thumbnail" ><img alt="" src="{{item.profilePic}}">
                    <img alt="" class="img-responsive playbtn" src="../../../assets/img/play.png">
                </a><br>
                  <a class="aucproname">{{item.title}}</a><br>
                </div>
              </div> 
              <div class="col-md-5 col-xs-5">
                <div class="col-md-12 thumbnal">
                  <div *ngFor='let item of topTeasersVideos |slice:6:10;' class="col-md-6">
                    <a [routerLink]="['/content/'+item.slug]" class="thumbnail"><img alt="" src="{{item.profilePic}}">
                    <img alt="" class="img-responsive playbtn" src="../../../assets/img/play.png">
                    </a>
                  <br><a [routerLink]="['/content/'+item.slug]" class="songname">{{item.title}}</a><br>
                  </div>
                
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div *ngFor='let item of topTeasersVideos |slice:10:11;' class="col-md-7 col-xs-7 fs-pr0">
                <div>
                  <a [routerLink]="['/content/'+item.slug]" class="thumbnail" ><img alt="" src="{{item.profilePic}}">
                    <img alt="" class="img-responsive playbtn" src="../../../assets/img/play.png">
                </a><br>
                  <a class="aucproname">{{item.title}}</a><br>
                </div>
              </div> 
              <div class="col-md-5 col-xs-5">
                <div class="col-md-12 thumbnal">
                  <div *ngFor='let item of topTeasersVideos |slice:11:15;' class="col-md-6">
                    <a [routerLink]="['/content/'+item.slug]" class="thumbnail"><img alt="" src="{{item.profilePic}}">
                    <img alt="" class="img-responsive playbtn" src="../../../assets/img/play.png">
                    </a>
                  <br><a [routerLink]="['/content/'+item.slug]" class="songname">{{item.title}}</a><br>
                  </div>
                
                </div>
              </div>
            </div>
          </div>
        </div>
        <a rel="canonical" data-slide="prev" href="/#media1000005" class="left carousel-control">
          <img class="" src="../../../assets/img/arrowleft.png">
          <!-- <i _ngcontent-c1="" aria-hidden="true" class="fa fa-chevron-left"></i> -->
        </a>
        <a rel="canonical" data-slide="next" href="/#media1000005" class="right carousel-control">
          <img class="" src="../../../assets/img/arrowright.png">
          <!-- <i _ngcontent-c1="" aria-hidden="true" class="fa fa-chevron-right"></i> -->
        </a>
      </div>                          
    </div>
  </div>
    </div>
</div>
        <!--<div class="container fs-News">-->     
          <!--<div class="row">
          <h3 class="text-center">NEWS</h3>
            <h5 class="text-right fs-seemore"><a href="" class="">See More</a></h5>
          </div>-->
          <carousel [data]="shopbyVideosData" [type]="shopbyvideos"></carousel>
          <carousel [data]="topContentNews" [type]="news"></carousel>


          <!-- <carousel [data]="topContentVideos" [type]="videos"></carousel> -->
        <!--</div>-->
        
        <!--<div class="container fs-shopByVideos">-->
          <!--<div class="row">
          <h3 class="text-center">VIDEOS</h3>
            <h5 class="text-right fs-seemore"><a href="" class="">See More</a></h5>
          </div>-->
          
          <!-- <carousel [data]="topContentVideos" [type]="videos"></carousel> -->
        <!--</div>-->
        
        <div class="container fs-WomenCollections bgWhite padding0 fs-mt40 mob-fs-mt15">
          <div class="row1">
          <h3 class="text-left">WOMEN COLLECTIONS</h3>  
            <h5 class="text-right fs-seemore">
              <span>Premium range exclusively for Women</span>
              <a rel="canonical" on-click="seemore('see-all','women-collections','womenwear')"  >Show all</a></h5>
          </div>
          <collections *ngIf="womencata" [data]="womencata"></collections>
        </div>

        <carousel [data]="topContentGallery" [type]="gallery"></carousel>
        
        <!-- <div  class="container fs-News padding0 fs-mb801">
          <div class="row">
          <h3 class="text-center">TWEETS - QUOTES - DIALOGUE</h3> 
            <h5 class="text-right fs-seemore"><a rel="canonical" on-click="goToAllContent('see-all','social')" [routerLink]="['/see-all/tqd/10']" class="">See More</a></h5>
          </div>
          <div class='row'>
            <div class='col-md-12 col-xs-12'>
              
                <div class="carousel-inner">
                  <div class="item  active">
                    <div class="row">
                    <div *ngIf="tweetArray" class="col-md-4 col-xs-12 ">
                        <card-tweet *ngIf="tweetArray[0]" [miniCard]="miniCard" [content]="tweetArray[0]._source" ></card-tweet>
                      </div>          
                      <div *ngIf="quoteArray" class="col-md-4 col-xs-12 ">
                        <card-quote *ngIf="quoteArray[0]" [miniCard]="miniCard" [content]="quoteArray[0]" ></card-quote>
                      </div>
                      <div *ngIf="dialougeArray" class="col-md-4 col-xs-12 ">
                        <card-dialogue *ngIf="dialougeArray[0]" [miniCard]="miniCard" [content]="dialougeArray[0]._source" ></card-dialogue>
                      </div>      
                    </div>
                  </div>  
                </div>
            </div>
          </div>
        </div> -->
        
<div class="container bgWhite padding0 fs-mt40 fs-mb50 mob-fs-mt15 mob-fs-mb15">
    <div class="col-md-12 shpbyvidos padding0">
      <h3>VIDEO SONGS & COMEDY CLIPS</h3>
      <h5><span>Indulge in some fun moments</span><a  [routerLink]="['/see-all/video-song/'+industry]">Show all</a></h5>
      <div class='row1'>
    <div class='col-md-12'>
      <div class="carousel slide media-carousel" id="media1000004">
        <div class="carousel-inner">
          <div class="item  active">
            <div class="row">
              <div *ngFor='let item of topContentVideos |slice:0:1;' class="col-md-7 col-xs-7 fs-pr0">
                <div>
                  <a [routerLink]="['/content/'+item.slug]" class="thumbnail" target="_blank" ><img alt="" src="{{item.profilePic}}">
                    <img alt="" class="img-responsive playbtn" src="../../../assets/img/play.png">
                  </a><br>
                  <a [routerLink]="['/content/'+item.slug]" class="aucproname" target="_blank">{{item.title}}</a><br>
                  <!-- <span>Lorem</span> -->
                </div>
              </div>
              <div class="col-md-5 col-xs-5 fs-pl0">
                <div class="col-md-12 thumbnal">
                  <div *ngFor='let item of topContentVideos |slice:1:5;' class="col-md-6">
                    <a [routerLink]="['/content/'+item.slug]" class="thumbnail"><img alt="" src="{{item.profilePic}}">
                    <img alt="" class="img-responsive playbtn" src="../../../assets/img/play.png">
                    </a>
                  <br><a [routerLink]="['/content/'+item.slug]" class="songname">{{item.title}}</a><br>
                  </div>
                  
              
                </div>
              </div> 
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div *ngFor='let item of topContentVideos |slice:5:6;' class="col-md-7 col-xs-7 fs-pr0">
                <div>
                  <a [routerLink]="['/content/'+item.slug]" class="thumbnail" ><img alt="" src="{{item.profilePic}}">
                    <img alt="" class="img-responsive playbtn" src="../../../assets/img/play.png">
                  </a><br>
                  <a [routerLink]="['/content/'+item.slug]" class="aucproname">{{item.title}}</a><br>
                </div>
              </div>
              <div class="col-md-5 col-xs-5 fs-pl0">
                <div class="col-md-12 thumbnal">
                  <div *ngFor='let item of topContentVideos |slice:6:10;' class="col-md-6">
                    <a [routerLink]="['/content/'+item.slug]" class="thumbnail"><img alt="" src="{{item.profilePic}}">
                    <img alt="" class="img-responsive playbtn" src="../../../assets/img/play.png">
                    </a>
                  <br><a [routerLink]="['/content/'+item.slug]" class="songname">{{item.title}}</a><br>
                  </div>
                  
              
                </div>
              </div> 
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div *ngFor='let item of topContentVideos |slice:10:11;' class="col-md-7 col-xs-7 fs-pr0">
                <div>
                  <a [routerLink]="['/content/'+item.slug]" class="thumbnail" ><img alt="" src="{{item.profilePic}}">
                    <img alt="" class="img-responsive playbtn" src="../../../assets/img/play.png">
                  </a><br>
                  <a [routerLink]="['/content/'+item.slug]" class="aucproname">{{item.title}}</a><br>
                </div>
              </div>
              <div class="col-md-5 col-xs-5 fs-pl0">
                <div class="col-md-12 thumbnal">
                  <div *ngFor='let item of topContentVideos |slice:11:15;' class="col-md-6">
                    <a [routerLink]="['/content/'+item.slug]" class="thumbnail"><img alt="" src="{{item.profilePic}}">
                    <img alt="" class="img-responsive playbtn" src="../../../assets/img/play.png">
                    </a>
                  <br><a [routerLink]="['/content/'+item.slug]" class="songname">{{item.title}}</a><br>
                  </div>
                  
              
                </div>
              </div> 
            </div>
          </div>
         
        </div>
        <a rel="canonical" data-slide="prev" href="/#media1000004" class="left carousel-control">
          <img class="" src="../../../assets/img/arrowleft.png">
        </a>
        <a rel="canonical" data-slide="next" href="/#media1000004" class="right carousel-control">
          <img class="" src="../../../assets/img/arrowright.png">
        </a>
      </div>                          
    </div>
  </div>
    </div>
</div>

        <div class="container fs-WomenCollections padding0 fs-mt40 bgWhite mob-fs-mt15">
          <div class="row1">
          <h3 class="text-left">MEN COLLECTIONS</h3>
            <!-- <h6>Media Slider Carousel BS3</h6> -->
            <h5 class="text-right fs-seemore">
              <span>Premium range exclusively for Men</span>
              <a rel="canonical" on-click="seemore('see-all','men-collections','menwear')"  rel="canonical"  class="">Show all</a></h5>
          </div>
          <collections *ngIf="mencatg"  [datas]="mencatg"></collections>
        </div>

        <div class="container bgWhite padding0 fs-mt40 socialbuzz-interviews mob-fs-mt15">
    <div class="col-md-12 padding0">
      <h3>SOCIAL BUZZ & INTERVIEWS</h3>
      <h5><span>Food for them social bees!  </span><a   [routerLink]="['/see-all/interview/'+industry]">Show all</a></h5>
      <div class='row1'>
    <div class='col-md-12'>
      <div class="carousel slide media-carousel" id="media10000012">
        <div class="carousel-inner">
          <div class="item  active">
            <div class="row">
              <div *ngFor='let item of topInterviewVideos |slice:0:2;' class="col-md-6 col-xs-6">
                <div>
                  <a [routerLink]="['/content/'+item.slug]" class="thumbnail" target="_blank" ><img alt="" src="{{item.profilePic}}">
                    <img alt="" class="img-responsive playbtn" src="../../../assets/img/play.png">
                  </a><br>
                  <a [routerLink]="['/content/'+item.slug]" class="trackname" target="_blank">{{item.title}}</a><br>
                </div>
              </div>
              
            </div>
          </div>
          <div *ngIf='topInterviewVideos.length>2' class="item">
            <div class="row">
              <div *ngFor='let item of topInterviewVideos |slice:2:4;' class="col-md-6 col-xs-6 ">
                <div>
                  <a [routerLink]="['/content/'+item.slug]" class="thumbnail" target="_blank" ><img alt="" src="{{item.profilePic}}">
                    <img alt="" class="img-responsive playbtn" src="../../../assets/img/play.png">
                </a><br>
                  <a class="trackname" target="_blank">{{item.title}}</a><br>
                </div>
              </div> 
              
            </div>
          </div>
        </div>
        <a rel="canonical" data-slide="prev" href="/#media10000012" class="left carousel-control">
          <img class="" src="../../../assets/img/arrowleft.png">
          <!-- <i _ngcontent-c1="" aria-hidden="true" class="fa fa-chevron-left"></i> -->
        </a>
        <a rel="canonical" data-slide="next" href="/#media10000012" class="right carousel-control">
          <img class="" src="../../../assets/img/arrowright.png">
          <!-- <i _ngcontent-c1="" aria-hidden="true" class="fa fa-chevron-right"></i> -->
        </a>
      </div>                          
    </div>
  </div>
    </div>
</div>
        
        <div class="container fs-sharingStyle padding0">
        <h2>{{industry}}</h2>
          <div *ngIf="industry == 'bollywood'">
            <p>Bollywood is the India's biggest entertainment Industry that dictates the Indian fashion trends. Dating back to polka dot fashion with winged eyeliner and puffy hair of 1960s to pioneering body fitness in 1990s. The 21st Century Bollywood has taken refuge into character based looks, With a new character onscreen comes a new trend.
            <br>
            Bollywood (since forever) has regulated fast pace change in fashion industry. fashion Industry in return supplied merchandise to fit into the trend.</p>
          </div>

          <div *ngIf="industry == 'tollywood'">
            <p>Be inspired by how our stylish users are sharing their style. Share your look on Instagram or Twitter using  #Myflikstyle  or simply  upload  your  photo  here for a  chance to  be  featured  in our gallery. Be inspired by how our stylish users are sharing their style. Share your look on Instagram or Twitter using  #Myflikstyle or simply upload your photo here for a chance to be  featured in our gallery.</p>
          </div>

          <div *ngIf="industry == 'kollywood'">
            <p>Making everything look larger than life has been peculiar to Tamil Cinema. Using contrasting bright colors and extravagance in stunts and dance movement has stereotyped it to be loud. From the epic Sunglasses to personalized accessories, Kollywood has been walking down the lane getting close to life-like practicality. Where western look meant always denim, it is handloom that has raised Kollywood to the level of sophistication.
            <br>
            Kollywood stars approach stylists to maintain their red carpet image on and off screen.</p>
          </div>

          <div *ngIf="industry == 'mollywood'">
            <p>Malayalam film Industry is known for their progressive stand, focused on the content and plot. The old cinema used natural landscape within Kerala as an embellishment tool. Taking pride in  traditional Kerala where men wore mundu and women were stereotyped in white nayar saree or half saree along with knotted hair. The recent new wave of cinema has given the followed fashion a progressive stand displaying female leads in bob cut hair accompanied with a fusion wear. For men, world is just not limited to mundu as both formal and informal wear. There are pocketed trousers that has updated Malyali men's taste in fashion.</p>
          </div>

          <div *ngIf="industry == 'sandalwood'">
            <p>Transformation didn't leave the sandalwood stars untouched. Getting inspired from other leading film manufacturing houses, then traditional kannada film industry has acquired a fusion touch in its outlook. The actors make their onscreen entry in style and try maintaining it offscreen. Always looking glamorous in their public apparence with the hint of their personalized style sense.</p>
          </div>
        </div>






<div *ngIf="widgets">
    <div *ngFor="let widget of widgets | slice:0:show; let i=index" class="container fs-ProductsType">
      <div class="row">
      <a rel="canonical"><h2 class="text-left">{{widget._source.title}}</h2></a>
      </div>
      <div class='row'>
        <div class="col-md-4 fs-pl0">
          <div class="col-md-12 col-xs-12 pull-left fs-collectionsPic">
            <a rel="canonical" [routerLink]="['/'+widget._source.item.type,widget._source.item.slug]"><img src="{{widget._source.image}}" alt="image" class="col-md-12 img-responsive padding0 center-block" ></a>
          </div>
          
          <div class="fs-association-data col-md-12 col-xs-12">
                  <div class="fs-pic"><img class="img-circle" src="{{widget._source.item.profilePic}}"></div>
                  <div class="fs-info col-md-9 col-xs-7">
                    <div class="fs-title"><a rel="canonical" [routerLink]="['/'+widget._source.item.type,widget._source.item.slug]">{{widget._source.item.name}}</a></div>
                    <div class="fs-asso-hash">
                    <span *ngFor="let role of widget._source.item.role">#{{role}}</span>
                    </div>
                  </div>
                  <!-- <div class="fs-follow col-md-3 col-xs-2"><button class="pull-right">Follow</button></div> -->
    
          </div>
        </div>
        <div class='col-md-8 fs-ProductsType-carousel'>
          <div class="carousel slide media-carousel" id="media{{i}}">
          <!--<h5 class="text-right fs-seemore"><a rel="canonical" on-click="goToClothing()"  class="">See More</a></h5>-->
            <!--<div class="carousel-inner">-->
              <!--<div class="item  active">-->
                <div class="row">
                  <div class="col-md-3 col-xs-3" *ngFor="let product of widget._source.products">
                    <a rel="canonical" class="thumbnail"  [routerLink] = "['/product/'+product._source.slug]"><img alt="" src="{{product._source.profilePic}}"></a>
                    <span class="text-uppercase">{{product._source.name}}</span><br>
                    <span>{{product._source.brand}}</span><br><span>&#8377;{{product._source.price}}/-</span>
                  </div>            
                </div>
              <!--</div>-->
              <!--<div class="item">-->
                <!--<div class="row">
                  <div class="col-md-3 col-xs-3" *ngFor="let item of fourArray">
                    <a rel="canonical" class="thumbnail" ><img alt="" src="http://content.flikster.com/celeb/SHILPA-SHETTY-IN-WHITE-FRILLS-D.jpg"></a>
                    <span class="text-uppercase">Short Dress With 3/4 Ruffled Sleeves</span><br>
                    <span>Description</span><br><span>&#8377;28,499/-</span>
                  </div>            
                </div>-->
              <!--</div>-->
            <!--</div>-->
            <!--<a rel="canonical" data-slide="prev" href="/#media{{i}}" class="left carousel-control"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>-->
            <!--<a rel="canonical" data-slide="next" href="/#media{{i}}" class="right carousel-control"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>-->
          </div>                          
        </div>
      </div>    
    </div>
</div>



        </div>

        <div class="container-fluid padding0 fs-mstore-footer1">
          <footer></footer>
        </div>


<login *ngIf="displayLoginPopup" (closeLoginPopup)="closeLoginPopup($event)"></login>