<div class="container-fluid fs-footer-div">
  <img alt="" class="gototop img-responsive" src="../../../assets/img/uparrow2.png">
<!-- <div class="container-fluid padding0 fs-mstore-footer">
  <div class="fs-b1"></div>
  <div class="fs-b2"></div>
  <div class="fs-b3"></div>
  <div class="fs-b4"></div>
  <div class="fs-b5"></div>
</div>
<div class="container-fluid padding0 fs-mstore-footer1">
  <p class="text-center">
    <a rel="canonical" [routerLink] = "['/privacy']" >Privacy</a> 
    <a rel="canonical" [routerLink] = "['/terms']" >Terms</a>
    <a rel="canonical" [routerLink] = "['/about']" >About</a>
    <a rel="canonical" [routerLink] = "['/careers']" >Careers</a>
    <a rel="canonical" [routerLink] = "['/return-policy']" >Return Policy</a>
    <a rel="canonical" [routerLink] = "['/faq']" >FAQ</a>
  </p>
</div> -->
<div class="container">
  <ul class="list-unstyled pull-left"><h3>COMPANY<span class="strp"></span></h3>
    <li><a [routerLink]="['/about']">About Us</a></li>
    <li><a [routerLink]="['/help']">Help</a></li>
    <li><a [routerLink]="['/privacy']">Privacy</a></li>
    <li><a [routerLink]="['/terms']">Terms & Conditions</a></li>
    <li><a [routerLink]="['/return-policy']">Return Policy</a></li>
  </ul>
    <ul class="list-unstyled pull-left"><h3>GET IN TOUCH<span class="strp" style="width: 90px;"></span></h3>
    <li><a [routerLink]="['/business']">Business</a></li>
    <li><a [routerLink]="['/careers']">Careers</a></li>
    <li><a [routerLink]="['/blog']">Blog</a></li>
    <li><a [routerLink]="['/contact']">Contact Us</a></li>
  </ul>
  <ul class="list-unstyled pull-left"><h3>USER<span class="strp" style="width: 45px;"></span></h3>
    <li *ngIf='login=="false"'><a on-click="displayLogin('login')" >Login</a></li>
    <li *ngIf='login=="false"'><a on-click="displayLogin('signup')">Create Account</a></li>
    <li><a [routerLink]="['/refer-a-friend']">Refer a Friend</a></li>
    <li><a [routerLink]="['/rewards']">My Rewards</a></li>
  </ul>
  <div class="pull-left store-div hidden-xs hidden-sm">
    <a>
      <img alt="" class="img-responsive" src="../../../assets/img/logo@footer.png">
    </a>
      
      <p>
    <a href="https://play.google.com/store/apps/details?id=com.flikster" target="_blank">
      <img alt="" class="img-responsive" src="../../../assets/img/android.png"></a>
    <a href="https://itunes.apple.com/us/app/flikster/id1221940431" target="_blank">
      <img alt="" class="img-responsive" src="../../../assets/img/ios.png"></a>
    </p>
  </div>
  <div class="pull-left col-md-12 padding0 socialIcns">
    <p>
        <a href="https://www.facebook.com/Flikster/" target="_blank"><i aria-hidden="true" class="fa fa-facebook"></i>
        </a>
        <a href="https://www.instagram.com/fliksterfashion/" target="_blank"><i aria-hidden="true" class="fa fa-instagram"></i></a>
        <a href="https://www.twitter.com/Flikster/" target="_blank"><i aria-hidden="true" class="fa fa-twitter"></i></a>
        <a href="https://www.plus.google.com.com/fliksterfashion/" target="_blank"><i aria-hidden="true" class="fa fa-google-plus"></i></a>
        <a href="https://www.pinterest.com/fliksterfashion/" target="_blank"><i aria-hidden="true" class="fa fa-pinterest"></i></a>
        <span class="mob hidden-lg visible-xs visible-sm">
          <a href="https://play.google.com/store/apps/details?id=com.flikster" target="_blank">
      <img alt="" class="img-responsive" src="../../../assets/img/android.png"></a>
    <a href="https://itunes.apple.com/us/app/flikster/id1221940431" target="_blank">
      <img alt="" class="img-responsive" src="../../../assets/img/ios.png"></a>
        </span>
        <span>&copy; 2018, All rights reserved.</span>
        </p>
  </div>
</div>
</div>
<login *ngIf="displayLoginPopup" [logType]='loginType' (closeLoginPopup)="closeLoginPopup($event)"></login>