<div *ngIf="user">
<!-- **************************LOGIN********************* -->

<div *ngIf = "mainLogin" class="container-fluid padding0">

    <div class="container1">
        <div class="fs-modal-signup">
         <!--  <img src="images/Flikster logo.png">
          <span class="glyphicon glyphicon-remove-circle fs-modal-
          "></span>
          <h4>Experience the best version of <br>flikster by getting the app.</h4>
          <p>
          <img src="images/Itunes Logo.png">
          <img src="images/Android Logo.png">
          </p> -->
          <div class="col-md-12 col-xs-12 padding0">
            <div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 col-xs-12 padding0 fs-modal-signup1">
              <div class="col-md-4 col-sm-4 col-xs-4 hidden-xs padding0 hello">
              <div class=""><img src="../../../assets/img/fliksterlogo.png" alt="image"><br>Hello From Flikster!</div>
              </div>
              <div class="col-md-8 col-sm-8 col-xs-12 padding0 signupfields">
              <div class="col-md-12 col-xs-12 padding0">
                <span on-click="closePopup()" class="glyphicon glyphicon-remove-circle fs-modal-close hidden-xs"></span>
                <img on-click="closePopup()" alt="image" class=" visible-xs" src="../../../assets/img/back.svg" style="height: 22px;">
              </div>
              <div class="col-md-12 col-xs-12 padding0 col-xs-12">
              <div class="col-md-8 col-sm-10 col-sm-offset-2 col-xs-10 col-xs-offset-1 col-md-offset-2 padding0 fs-mt70 text-center">
                <h3 class="visible-xs">Login</h3>
                <p class="smstxt">"Join our exclusive community of Movie,<br>Celebrity & Fashion Enthusiasts."</p>
                <h3 class=" hidden-xs">Login</h3>
              </div>
              <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-2 col-xs-10 col-xs-offset-1 text-center fs-mb10 padding0">
                <div class="btn-group logintype">
                  <button type="button" class="btn btn-default " on-click="goToPhone()">Phone</button>
                  <button type="button" class="btn btn-default " on-click="goToEmail()">Email</button>
                </div>
              </div>
              <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-2 col-xs-10 col-xs-offset-1 text-center padding0 fs-mt10">
                <div class="btn-group logintypewithSocial">
                  <button type="button" on-click="signInWithFB()" class="btn btn-primary">Facebook</button>
                  <button type="button" on-click="signInWithGoogle()" class="btn btn-danger">Google</button>
                </div>
              </div>
              <div class="col-md-7 col-md-offset-2 col-xs-10 col-xs-offset-1 text-right padding0 fs-mt10">
                <p class="fs-pr10">Don't have an account? <a rel="canonical" on-click="goToSignUp()" style="display: inline-block; cursor: pointer;">Signup</a></p>
              </div>
                <div class="col-md-8 col-sm-10 col-xs-10 col-xs-offset-2 col-sm-offset-2 col-md-offset-2 padding0 fs-mtb10" style="display: none;"><div class="fs-mobilefield">
                  <input type="text" name="" placeholder="Name*" class="center-block mob91" value="+91">
                  <!-- <img class="padding0" src="images/Editname.png" class="edit" style=""> -->
                  <input type="text" name="" placeholder="Phone Number" class="center-block mobnum" value="">
                </div></div>
                <div class="col-md-8 col-md-offset-2 padding0 fs-mtb10" style="display: none;"><div class="col-md-8 padding0 text-center">
                <button class="fs-next">NEXT</button><br>Or<br>
                <button class="loginwithfb">Login With Facebook</button>
                </div></div>
                <!-- <div class="col-md-12 text-center fs-mtb10"><button class="fs-submit">SUBMIT</button></div> -->
                </div>
              </div>
              <div class="col-md-12 col-xs-12 fs-terms padding0 text-right pull-left">
                <p style="color: #b9b9b9;">By signing up, you agree to the <span [routerLink] = "['/terms']">Terms and conditions</span> & <span [routerLink] = "['/privacy']">Privacy Policy</span></p>
              </div>
            </div>
          </div>
        
      </div>
      </div>
</div>

<!-- *************************** Phone Login********************* -->


<div *ngIf="phone" class="container-fluid padding0">
  <div class="container1">
    <div class="fs-modal-signup">
      <div class="col-md-12 padding0">
        <div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 col-xs-12 padding0 fs-modal-signup1">
          <div class="col-md-4 col-sm-4 col-xs-4 hidden-xs padding0 hello">
          <div class=""><img src="../../../assets/img/fliksterlogo.png" alt="image"><br>Hello From Flikster!</div>
          </div>
          <div class="col-md-8 col-sm-8 col-xs-12 padding0 signupfields">
          <div class="col-md-12 padding0">
            <span on-click="closePopup()" class="glyphicon glyphicon-remove-circle fs-modal-close hidden-xs"></span>
            <img on-click="closePopup()" alt="image" class="visible-xs fs-modal-close" src="../../../assets/img/close.svg" style="height: 20px;">
          <img on-click="goToLoginPopup()" alt="image" class=" visible-xs" src="../../../assets/img/back.svg" style="height: 22px;"></div>
          <div class="col-md-12 col-xs-12 padding0">
          <div class="col-md-8 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1 col-md-offset-2 padding0 fs-mt70 text-center LoginInWithPhone">
          <form>
            <div class="form-group ">
              <input type="text" class="form-control" placeholder="Phone Number" name="loginmobile" (keyup)="clearErrorText()" [(ngModel)]="user.mobile">
            </div>
            <div class="form-group ">
              <input type="password" class=" form-control" placeholder="Password" name="loginpass" (keyup)="clearErrorText()" [(ngModel)]="user.pwd">
            </div>
            <div class="form-group text-left">
              <label class="control-label"><input type="checkbox"> Remember Me</label>
              <a rel="canonical" *ngIf="!displayVerify" on-click = "goToForgetPhoneNumber()" class="pull-right">Forgot Password?</a>
              <a rel="canonical" *ngIf="displayVerify" on-click = "goToOtpForgot('mobile')" class="pull-right">Verify Phone</a>
            </div>
            <div class="form-group">
              <p class="text-left small">{{signUpErrorText}}</p>
              <button on-click="userLogin('phone')" class="btn btn-danger form-control">SUBMIT</button>
            </div>
            <div class="form-group text-left col-md-2 padding0 hidden-xs">
            <a rel="canonical" on-click="goToLoginPopup()" class="pull-left ">Back</a>
            </div>
            <div class="col-md-10 text-right padding0 fs-mt10 col-xs-12" style="margin-top: 0px;">
              <p class="fs-pr10">Don't have an account? <a rel="canonical" on-click="signUpPhone()" style="display: inline-block; cursor: pointer;color: #337ab7;">Signup</a></p>
            </div>
          </form>
        </div>
        
            </div>
          </div>
          <div class="col-md-12 col-xs-12 fs-terms padding0 text-right pull-left">
            <p style="color: #b9b9b9;">By signing up, you agree to the <span [routerLink] = "['/terms']">Terms and conditions</span> & <span [routerLink] = "['/privacy']">Privacy Policy</span></p>
          </div>
        </div>
      </div>
  </div>
  </div>
  </div>




  <!-- ********************LOGIN EMAIL ********************************* -->

  <div *ngIf="email" class="container-fluid padding0"><div class="container1">
      <div class="fs-modal-signup">
       <!--  <img src="images/Flikster logo.png">
        <span class="glyphicon glyphicon-remove-circle fs-modal-close"></span>
        <h4>Experience the best version of <br>flikster by getting the app.</h4>
        <p>
        <img src="images/Itunes Logo.png">
        <img src="images/Android Logo.png">
        </p> -->
        <div class="col-md-12 padding0">
          <div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 col-xs-12 padding0 fs-modal-signup1">
            <div class="col-md-4 col-sm-4 col-xs-4 hidden-xs padding0 hello">
            <div class=""><img src="../../../assets/img/fliksterlogo.png" alt="image"><br>Hello From Flikster!</div>
            </div>
            <div class="col-md-8 col-sm-8 col-xs-12 padding0 signupfields">
            <div class="col-md-12 padding0">
              <span on-click="closePopup()" class="glyphicon glyphicon-remove-circle fs-modal-close hidden-xs"></span>
              <img on-click="closePopup()" alt="image" class="visible-xs fs-modal-close" src="../../../assets/img/close.svg" style="height: 20px;">
              <img on-click="goToLoginPopup()" alt="image" class=" visible-xs" src="../../../assets/img/back.svg" style="height: 22px;">
            </div>
            <div class="col-md-12 col-xs-12 padding0">
            <div class="col-md-8 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1 col-md-offset-2 padding0 fs-mt70 text-center LoginInWithPhone">
            <form>
              <div class="form-group ">
                <input type="email" class="form-control" placeholder="Email" name="loginemail" (keyup)="clearErrorText()" [(ngModel)]="user.email">
              </div>
              <div class="form-group ">
                <input type="password" class=" form-control" placeholder="Password" name="loginpwd2" (keyup)="clearErrorText()" [(ngModel)]="user.pwd">
              </div>
              <div class="form-group text-left">
                <label class="control-label"><input type="checkbox"> Remember Me</label>
                <!-- <a rel="canonical" on-click="goToForgetEmaiPassword()" class="pull-right">Forgot Password?</a> -->
              <a rel="canonical" *ngIf="!displayVerify" on-click = "goToForgetEmaiPassword()" class="pull-right">Forgot Password?</a>
              <a rel="canonical" *ngIf="displayVerify" on-click = "goToOtpForgot('email')" class="pull-right">Verify Phone</a>
              </div>
              <div class="form-group">
                <p class="text-left small">{{signUpErrorText}}</p>
                <button on-click="userLogin('email')" class="btn btn-danger form-control">SUBMIT</button>
              </div>
              <div class="form-group text-left col-md-2 padding0 hidden-xs">
              <a rel="canonical" on-click="goToLoginPopup()" class="pull-left ">Back</a>
              </div>
              <div class="col-md-10 text-right padding0 fs-mt10 col-xs-12" style="margin-top: 0px;">
                <p class="fs-pr10">Don't have an account? <a rel="canonical" on-click="signUpEmail()" style="display: inline-block; cursor: pointer; color: #337ab7;">Signup</a></p>
              </div>
            </form>
          </div>
              <!-- <div class="col-md-12 text-center fs-mtb10"><button class="fs-submit">SUBMIT</button></div> -->
              </div>
            </div>
            <div class="col-md-12 col-xs-12 fs-terms padding0 text-right pull-left">
              <p style="color: #b9b9b9;">By signing up, you agree to the <span [routerLink] = "['/terms']">Terms and conditions</span> & <span [routerLink] = "['/privacy']">Privacy Policy</span></p>
            </div>
          </div>
        </div>
      
    </div>
    </div>
    </div>



      <!-- ********************AFTER OTP ********************************* -->

      <div *ngIf = "afterOtp" class="container-fluid padding0">
        <div class="container1">
          <div class="fs-modal-signup">
           <!--  <img src="images/Flikster logo.png">
            <span class="glyphicon glyphicon-remove-circle fs-modal-close"></span>
            <h4>Experience the best version of <br>flikster by getting the app.</h4>
            <p>
            <img src="images/Itunes Logo.png">
            <img src="images/Android Logo.png">
            </p> -->
            <div class="col-md-12 padding0">
              <div class="col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8 col-xs-12 padding0 fs-modal-signup1">
                <div class="col-md-4 col-sm-4 col-xs-4 hidden-xs padding0 hello">
                <div class=""><img src="../../../assets/img/fliksterlogo.png" alt="image"><br>Hello From Flikster!</div>
                </div>
                <div class="col-md-8 col-sm-8 col-xs-12 padding0 signupfields">
                <div class="col-md-12 col-xs-12 padding0">
                  <span on-click="closePopup()" class="glyphicon glyphicon-remove-circle fs-modal-close hidden-xs"></span>
                  <img on-click="closePopup()" alt="image" class="visible-xs fs-modal-close" src="../../../assets/img/close.svg" style="height: 20px;">
                  <img on-click="closePopup()" alt="image" class=" visible-xs" src="../../../assets/img/back.svg" style="height: 22px;">
                </div>
                <div class="col-md-12 padding0 fs-mt70">
                <!-- <div class="col-md-6 col-md-offset-3 padding0 text-center fs-mtb10 addphoto">
                <div><img class="padding0" src="images/user.png"><span>Change Photo</span></div>
                </div> -->
                  <div class="col-md-6 col-md-offset-3 padding0 fs-mtb10"><div class="fs-namefield">
                    <input type="text" name="" placeholder="User Name*" class="center-block" value="">
                    <img class="padding0" src="../../../assets/img/Editname.png" alt="image" class="edit" style="">
                  </div></div>
                  <div class="col-md-12 text-center fs-mtb10 genderbtns">
                    <button class="male selected">Male</button>
                    <button class="female">Female</button>
                  </div>
                  <div class="fs-namefield" >
                    <input name="" placeholder="Password" class="center-block" value="" type="text">
                    <!-- <img class="padding0" src="images/Editname.png" style="display: inline;"> -->
                  </div>
                    <div class="fs-namefield" style="border-bottom:none;">
                    <!-- <p class="samll" style="text-align: left;margin-top: 5px; font-size: 11px;">Your password must be atleast 8 characters long</p> -->
                  </div>
        
                  <div class="col-md-12 text-center fs-mtb10"><button on-click="closePopup()" class="fs-submit">SUBMIT</button></div>
                  <div class="fs-namefield" style="border-bottom: none; text-align: left">
                    <a rel="canonical" class="pull-left" style="cursor: pointer;">Back</a></div>
                  </div>
                </div>
                <div class="col-md-12 col-xs-12 fs-terms padding0 text-right pull-left">
                  <p style="color: #b9b9b9;">By signing up, you agree to the <span [routerLink] = "['/terms']">Terms and conditions</span> & <span [routerLink] = "['/privacy']">Privacy Policy</span></p>
                </div>
              </div>
            </div>
          
        </div>
        </div>
        </div>


        <!-- *************************SIGNUP******************** -->


        <div *ngIf = "signUp" class="container-fluid padding0"><div class="container1">
            <div class="fs-modal-signup">
             <!--  <img src="images/Flikster logo.png">
              <span class="glyphicon glyphicon-remove-circle fs-modal-close"></span>
              <h4>Experience the best version of <br>flikster by getting the app.</h4>
              <p>
              <img src="images/Itunes Logo.png">
              <img src="images/Android Logo.png">
              </p> -->
              <div class="col-md-12 padding0">
                <div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 col-xs-12 padding0 fs-modal-signup1">
                  <div class="col-md-4 col-sm-4 col-xs-4 hidden-xs padding0 hello">
                  <div class=""><img src="../../../assets/img/fliksterlogo.png" alt="image"><br>Hello From Flikster!</div>
                  </div>
                  <div class="col-md-8 col-sm-8 col-xs-12 padding0 signupfields">
                  <div class="col-md-12 padding0">
                    <span on-click="closePopup()" class="glyphicon glyphicon-remove-circle fs-modal-close hidden-xs"></span>
                    <img on-click="closePopup()" alt="image" class=" visible-xs" src="../../../assets/img/back.svg" style="height: 22px;">
                  </div>
                  <div class="col-md-12 col-xs-12 padding0">
                  <div class="col-md-8 col-sm-10 col-sm-offset-2 col-xs-10 col-xs-offset-1 col-md-offset-2 padding0 fs-mt70 text-center">
                    <h3 class=" visible-xs">Signup</h3>
                    <p class="smstxt">"Join our exclusive community of Movie,<br>Celebrity & Fashion Enthusiasts."</p>
                    <h3 class="hidden-xs">Signup</h3>
                  </div>
                  <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-2 col-xs-10 col-xs-offset-1 text-center fs-mb10 padding0">
                    <div class="btn-group logintype">
                      <button on-click = "signUpPhone()" type="button" class="btn btn-default ">Phone</button>
                      <button on-click = "signUpEmail()" type="button" class="btn btn-default ">Email</button>
                    </div>
                  </div>
                  <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-2 col-xs-10 col-xs-offset-1 text-center padding0 fs-mt10">
                    <div class="btn-group logintypewithSocial">
                      <button type="button" class="btn btn-primary">Facebook</button>
                      <button type="button" class="btn btn-danger">Google +</button>
                    </div>
                  </div>
                  <div class="col-md-7 col-md-offset-2 col-xs-10 col-xs-offset-1 text-right padding0 fs-mt10">
                    <p class="fs-pr10">Already have an account? <a rel="canonical" on-click="goToLoginPopup()" style="display: inline-block; cursor: pointer;">Login</a></p>
                  </div>
                    <div class="col-md-8 col-sm-10 col-xs-10 col-xs-offset-2 col-sm-offset-2 col-md-offset-2 padding0 fs-mtb10" style="display: none;"><div class="fs-mobilefield">
                      <input type="text" name="" placeholder="Name*" class="center-block mob91" value="+91">
                      <!-- <img class="padding0" src="images/Editname.png" class="edit" style=""> -->
                      <input type="text" name="" placeholder="Phone Number" class="center-block mobnum" value="">
                    </div></div>
                    <div class="col-md-8 col-md-offset-2 padding0 fs-mtb10" style="display: none;"><div class="col-md-8 padding0 text-center">
                    <button class="fs-next">NEXT</button><br>Or<br>
                    <button class="loginwithfb">Login With Facebook</button>
                    </div></div>
                    <!-- <div class="col-md-12 text-center fs-mtb10"><button class="fs-submit">SUBMIT</button></div> -->
                    </div>
                  </div>
                  <div class="col-md-12 col-xs-12 fs-terms padding0 text-right pull-left">
                    <p style="color: #b9b9b9;">By signing up, you agree to the <span [routerLink] = "['/terms']">Terms and conditions</span> & <span [routerLink] = "['/privacy']">Privacy Policy</span></p>
                  </div>
                </div>
              </div>
            
          </div>
          </div>
          </div>

          <!-- *********************SIGNUP EMAIL**************** -->

          <div *ngIf = "semail" class="container-fluid padding0"><div class="container1">
              <div class="fs-modal-signup">
               <!--  <img src="images/Flikster logo.png">
                <span class="glyphicon glyphicon-remove-circle fs-modal-close"></span>
                <h4>Experience the best version of <br>flikster by getting the app.</h4>
                <p>
                <img src="images/Itunes Logo.png">
                <img src="images/Android Logo.png">
                </p> -->
                <div class="col-md-12 padding0">
                  <div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 col-xs-12 padding0 fs-modal-signup1">
                    <div class="col-md-4 col-sm-4 col-xs-4 hidden-xs padding0 hello">
                    <div class=""><img src="../../../assets/img/fliksterlogo.png" alt="image"><br>Hello From Flikster!</div>
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-12 padding0 signupfields">
                    <div class="col-md-12 padding0">
                      <span on-click = "closePopup()" class="glyphicon glyphicon-remove-circle fs-modal-close hidden-xs"></span>
                      <img on-click="closePopup()" alt="image" class="visible-xs fs-modal-close" src="../../../assets/img/close.svg" style="height: 20px;">
                      <img on-click="goToSignUp()" alt="image" class=" visible-xs" src="../../../assets/img/back.svg" style="height: 22px;">
                    </div>
                    <div class="col-md-12 padding0">
                    <div class="col-md-7 col-sm-10 col-sm-offset-2 col-xs-10 col-xs-offset-1 col-md-offset-2 padding0 fs-mt20 text-center LoginInWithPhone">
                    <form>
                      <div class="form-group ">
                        <input type="text" class="form-control" placeholder="First Name" name="firstname" (keyup)="clearErrorText()" [(ngModel)]="user.firstname">
                      </div>
                      <div class="form-group ">
                        <input type="text" class=" form-control" placeholder="Last Name" name="lastname" (keyup)="clearErrorText()" [(ngModel)]="user.lastname">
                      </div>
                      <div class="form-group ">
                        <input type="email" class=" form-control" placeholder="Email" name="mail" (keyup)="clearErrorText()" [(ngModel)]="user.email">
                      </div>
                      <div class="form-group ">
                        <input type="password" class=" form-control" placeholder="Password" name="password" (keyup)="clearErrorText()" [(ngModel)]="user.pwd">
                        <!-- <p class="text-left small">Your password must be atleast 8 characters long</p> -->
                      </div>
                      <div class="form-group ">
                        <input type="password" class=" form-control" placeholder="Confirm Password" (keyup)="clearErrorText()" name="rePassword" [(ngModel)]="rePassword">
                      </div>
                      
                      <div class="form-group fs-mt30">
                        <p class="text-left small">{{signUpErrorText}}</p>
                        <button on-click = "userSignUp('email')" class="btn btn-danger form-control">SUBMIT</button>
                      </div>
                      <div class="form-group text-left">
                      <a rel="canonical" on-click="goToSignUp()" class="pull-left hidden-xs">Back</a>
                      </div>
                    
                    </form>
                  </div>
                      <!-- <div class="col-md-12 text-center fs-mtb10"><button class="fs-submit">SUBMIT</button></div> -->
                      </div>
                    </div>
                    <div class="col-md-12 col-xs-12 fs-terms padding0 text-right pull-left">
                      <p style="color: #b9b9b9;">By signing up, you agree to the <span [routerLink] = "['/terms']">Terms and conditions</span> & <span [routerLink] = "['/privacy']">Privacy Policy</span></p>
                    </div>
                  </div>
                </div>
              
            </div>
            </div>
            </div>

            <!-- *************************SIGNUP PHONE************************** -->

            <div *ngIf="signPhone" class="container-fluid padding0"><div class="container1">
                <div class="fs-modal-signup">
                 <!--  <img src="images/Flikster logo.png">
                  <span class="glyphicon glyphicon-remove-circle fs-modal-close"></span>
                  <h4>Experience the best version of <br>flikster by getting the app.</h4>
                  <p>
                  <img src="images/Itunes Logo.png">
                  <img src="images/Android Logo.png">
                  </p> -->
                  <div class="col-md-12 padding0">
                    <div class="col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6 col-xs-12 padding0 fs-modal-signup1">
                      <div class="col-md-4 col-sm-4 col-xs-4 hidden-xs padding0 hello">
                      <div class=""><img src="../../../assets/img/fliksterlogo.png" alt="image"><br>Hello From Flikster!</div>
                      </div>
                      <div class="col-md-8 col-sm-8 col-xs-12 padding0 signupfields">
                      <div class="col-md-12 padding0">
                        <span on-click="closePopup()" class="glyphicon glyphicon-remove-circle fs-modal-close hidden-xs"></span>
                        <img on-click="closePopup()" alt="image" class="visible-xs fs-modal-close" src="../../../assets/img/close.svg" style="height: 20px;">
                        <img on-click="goToSignUp()" alt="image" class=" visible-xs" src="../../../assets/img/back.svg" style="height: 22px;">
                      </div>
                      <div class="col-md-12 padding0">
                      <!--<div class="col-md-8 col-sm-10 col-sm-offset-2 col-xs-10 col-xs-offset-2 col-md-offset-2 padding0 fs-mtb10">
                        <h3 class="verify">Verify your number</h3>
                        <p class="smstxt">Flikster will send an SMS message to verify your <br>phone number.</p>
                      </div>-->
                        <!--<div class="col-md-8 col-sm-10 col-xs-10 col-xs-offset-2 col-sm-offset-2 col-md-offset-2 padding0 fs-mtb10"><div class="fs-mobilefield">
                          <input type="text" name="" placeholder="Name*" class="center-block mob91" value="+91">
                          <input type="text" name="" placeholder="Phone Number" class="center-block mobnum" value="">
                        </div></div>-->
                        <!--<div class="col-md-8 col-md-offset-2 padding0 fs-mtb10"><div class="col-md-8 padding0 text-center">
                        <button on-click = "goToOtp()" class="fs-next">NEXT</button><br>Or<br>
                        <button class="loginwithfb">Login With Facebook</button>

                        </div></div>-->
                <div class="col-md-7 col-sm-10 col-sm-offset-2 col-xs-10 col-xs-offset-1 col-md-offset-2 padding0 text-center LoginInWithPhone LoginInWithPhone1">
                    <form>
                      <div class="form-group ">
                        <input type="text" class="form-control" placeholder="First Name" name="firstname" (keyup)="clearErrorText()" [(ngModel)]="user.firstname">
                      </div>
                      <div class="form-group ">
                        <input type="text" class=" form-control" placeholder="Last Name" name="lastname" (keyup)="clearErrorText()" [(ngModel)]="user.lastname">
                      </div>
                      <div class="form-group ">
                        <input type="email" class=" form-control" placeholder="Phone Number" name="mobile" (keyup)="clearErrorText()" [(ngModel)]="user.mobile">
                      </div>
                      <div class="form-group ">
                        <input type="password" class=" form-control" placeholder="Password" name="password" (keyup)="clearErrorText()" [(ngModel)]="user.pwd">
                        <!-- <p class="text-left small">Your password must be atleast 8 characters long</p> -->
                      </div>
                      <div class="form-group ">
                        <input type="password" class=" form-control" placeholder="Confirm Password" name="rePassword" (keyup)="clearErrorText()" [(ngModel)]="rePassword">
                      </div>
                      
                      <div class="form-group fs-mt20">
                        <p class="text-left small">{{signUpErrorText}}</p>
                        <button on-click = "userSignUp('phone')" class="btn btn-danger form-control">SUBMIT</button>
                      </div>
                      <div class="form-group text-left">
                      <a rel="canonical" on-click="goToSignUp()" class="pull-left hidden-xs" style="margin-top: 5px;">Back</a>
                      </div>
                    
                    </form>
                  </div>

                        <!--<div class="form-group text-left pull-left fs-mt10">
                          <a on-click="goToSignUp()" class="pull-left">Back</a>
                        </div>-->
                        <!-- <div class="col-md-12 text-center fs-mtb10"><button class="fs-submit">SUBMIT</button></div> -->
                        </div>
                      </div>
                      <div class="col-md-12 col-xs-12 fs-terms padding0 text-right pull-left">
                        <p style="color: #b9b9b9;">By signing up, you agree to the <span [routerLink] = "['/terms']">Terms and conditions</span> & <span [routerLink] = "['/privacy']">Privacy Policy</span></p>
                      </div>
                    </div>
                  </div>
                
              </div>
              </div>
              </div>





<!-- ******************** OTP ********************************* -->

<div *ngIf="otp123" class="container-fluid padding0">
    <div class="container1">
      <div class="fs-modal-signup">
       <!--  <img src="images/Flikster logo.png">
        <span class="glyphicon glyphicon-remove-circle fs-modal-close"></span>
        <h4>Experience the best version of <br>flikster by getting the app.</h4>
        <p>
        <img src="images/Itunes Logo.png">
        <img src="images/Android Logo.png">
        </p> -->
        <div class="col-md-12 padding0">
          <div class="col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6 col-xs-12 padding0 fs-modal-signup1">
            <div class="col-md-4 col-sm-4 col-xs-4 hidden-xs padding0 hello">
            <div class=""><img src="../../../assets/img/fliksterlogo.png" alt="image"><br>Hello From Flikster!</div>
            </div>
            <div class="col-md-8 col-sm-8 col-xs-12 padding0 signupfields">
            <div class="col-md-12 padding0">
              <span on-click="closePopup()" class="glyphicon glyphicon-remove-circle fs-modal-close hidden-xs"></span>
              <img on-click="closePopup()" alt="image" class="visible-xs fs-modal-close" src="../../../assets/img/close.svg" style="height: 20px;">
              <img on-click="closePopup()" alt="image" class=" visible-xs" src="../../../assets/img/back.svg" style="height: 22px;">
            </div>
            <div class="col-md-12 padding0">
            <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1 padding0 fs-mt10">
              <h3 class="enterotp">Enter your code</h3>
              <p class="smstxt">Enter the verification code sent to <br>{{username}}</p>
            </div>
              <div class="col-md-8 col-md-offset-2  col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2 padding0 fs-mtb10"><div class="fs-otpfield">
                <!-- <input type="text" name="" placeholder="Name*" class="center-block" value="+91"> -->
                <!-- <img class="padding0" src="images/Editname.png" class="edit" style=""> -->
                <input type="text" name="otp" placeholder="--- ---" class="otp" (keyup)="clearErrorText()" [(ngModel)]="user.otp">
                <p class="pull-left">Didn't receive a code? <span on-click="resendOtp()">Resend Code</span></p>
              </div></div>
              <div class="col-md-8 col-md-offset-2 padding0 fs-mtb10"><div class="col-md-8 padding0 text-center">
                <p class="text-left small">{{signUpErrorText}}</p>
              <button on-click="submitOtp('register')" class="fs-next">SUBMIT</button>
              <!--<br>Or<br>-->
              <!--<button class="loginwithfb">Login With Facebook</button>-->
              <!--<div class="form-group text-left fs-mt10 pull-left">
                <a rel="canonical" on-click="signUpPhone()" class="pull-left">Back</a>
              </div>-->
              </div></div>
              <!-- <div class="col-md-12 text-center fs-mtb10"><button class="fs-submit">SUBMIT</button></div> -->
              </div>
            </div>
            <div class="col-md-12 col-xs-12 fs-terms padding0 text-right pull-left">
              <p style="color: #b9b9b9;">By signing up, you agree to the <span [routerLink] = "['/terms']">Terms and conditions</span> & <span [routerLink] = "['/privacy']">Privacy Policy</span></p>
            </div>
          </div>
        </div>
      
    </div>
    </div>
    </div>
 <!-- ******************** Forget Phone Number ********************************* -->
<div *ngIf = "forgetPhoneNumber" class="container-fluid padding0"><div class="container1">
        <div class="fs-modal-signup">
         <!--  <img src="images/Flikster logo.png">
          <span class="glyphicon glyphicon-remove-circle fs-modal-close"></span>
          <h4>Experience the best version of <br>flikster by getting the app.</h4>
          <p>
          <img src="images/Itunes Logo.png">
          <img src="images/Android Logo.png">
          </p> -->
          <div class="col-md-12 padding0">
            <div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 col-xs-12 padding0 fs-modal-signup1">
              <div class="col-md-4 col-sm-4 col-xs-4 hidden-xs padding0 hello">
              <div class=""><img src="../../../assets/img/fliksterlogo.png" alt="image"><br>Hello From Flikster!</div>
              </div>
              <div class="col-md-8 col-sm-8 col-xs-12 padding0 signupfields">
              <div class="col-md-12 padding0">
                <span ng-click = "closePopup()" class="glyphicon glyphicon-remove-circle fs-modal-close hidden-xs"></span>
                <img on-click="closePopup()" alt="image" class="visible-xs fs-modal-close" src="../../../assets/img/close.svg" style="height: 20px;">
<img on-click="goToPhone()" alt="image" class=" visible-xs" src="../../../assets/img/back.svg" style="height: 22px;">
              </div>
              <div class="col-md-12 padding0">
              <div class="col-md-8 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1 col-md-offset-2 padding0 fs-mt100 text-center LoginInWithPhone">
              <form>
                <div class="form-group ">
                  <div class="fs-mobilefield fs-mb20 pull-left col-md-12 padding0">
                    <input name="" placeholder="Name*" class="center-block mob91" (keyup)="clearErrorText()" value="+91" type="text">
                    <input name="forgphone" placeholder="Enter Phone Number" (keyup)="clearErrorText()" class="center-block mobnum" [(ngModel)]="user.mobile" type="text">
                  </div>
                </div>
                
                <div class="form-group fs-mt30">
                  <p class="text-left small">{{signUpErrorText}}</p>
                  <button on-click="goToOtpForgot('mobile')" class="btn btn-danger form-control">SUBMIT</button>
                </div>
                <div class="form-group text-left">
                <a rel="canonical" on-click="goToPhone()" class="pull-left hidden-xs">Back</a>
                </div>
              
              </form>
            </div>
                <!-- <div class="col-md-12 text-center fs-mtb10"><button class="fs-submit">SUBMIT</button></div> -->
                </div>
              </div>
              <div class="col-md-12 col-xs-12 fs-terms padding0 text-right pull-left">
                <p style="color: #b9b9b9;">By signing up, you agree to the <span [routerLink] = "['/terms']">Terms and conditions</span> & <span [routerLink] = "['/privacy']">Privacy Policy</span></p>
              </div>
            </div>
          </div>
        
      </div>
      </div>
    </div>

      <!-- ********************NEW PASSWORD********************* -->

<div *ngIf="newPassword" class="container-fluid padding0"><div class="container1">
          <div class="fs-modal-signup">
           <!--  <img src="images/Flikster logo.png">
            <span class="glyphicon glyphicon-remove-circle fs-modal-close"></span>
            <h4>Experience the best version of <br>flikster by getting the app.</h4>
            <p>
            <img src="images/Itunes Logo.png">
            <img src="images/Android Logo.png">
            </p> -->
            <div class="col-md-12 padding0">
              <div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 col-xs-12 padding0 fs-modal-signup1">
                <div class="col-md-4 col-sm-4 col-xs-4 hidden-xs padding0 hello">
                <div class=""><img src="../../../assets/img/fliksterlogo.png" alt="image"><br>Hello From Flikster!</div>
                </div>
                <div class="col-md-8 col-sm-8 col-xs-12 padding0 signupfields">
                <div class="col-md-12 padding0">
                  <span ng-click = "closePopup()" class="glyphicon glyphicon-remove-circle fs-modal-close hidden-xs"></span>
                  <img on-click="closePopup()" alt="image" class="visible-xs fs-modal-close" src="../../../assets/img/close.svg" style="height: 20px;">
                  <img on-click="closePopup()" alt="image" class=" visible-xs" src="../../../assets/img/back.svg" style="height: 22px;">
                </div>
                <div class="col-md-12 padding0">
                <div class="col-md-8 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1 col-md-offset-2 padding0 fs-mt100 text-center LoginInWithPhone">
                <form>
                  <div class="form-group ">
                    <input type="password" class="form-control" placeholder="New Password" name="otpqwer" (keyup)="clearErrorText()" [(ngModel)]="user.pwd">
                  </div>
                  <div class="form-group ">
                    <input type="password" class="form-control" placeholder="Confirm Password" name="otpqwer" (keyup)="clearErrorText()" [(ngModel)]="rePassword">
                    <p class="text-left small">Your password must be at least 8 characters long.</p>
                  </div>
        
                  <div class="form-group fs-mt30">
                    <button on-click="changePassword()" class="btn btn-danger form-control">SUBMIT</button>
                  </div>
                  
                </form>
              </div>
              
                  <!-- <div class="col-md-12 text-center fs-mtb10"><button class="fs-submit">SUBMIT</button></div> -->
                  </div>
                </div>
                <div class="col-md-12 col-xs-12 fs-terms padding0 text-right pull-left">
                  <p style="color: #b9b9b9;">By signing up, you agree to the <span [routerLink] = "['/terms']">Terms and conditions</span> & <span [routerLink] = "['/privacy']">Privacy Policy</span></p>
                </div>
              </div>
            </div>
          
        </div>
        </div>
        </div>

        <!-- ****************FORGET EMAIL PASSWORD*********************** -->

        <div *ngIf="forgetEmailPassword" class="container-fluid padding0"><div class="container1">
            <div class="fs-modal-signup">
             <!--  <img src="images/Flikster logo.png">
              <span class="glyphicon glyphicon-remove-circle fs-modal-close"></span>
              <h4>Experience the best version of <br>flikster by getting the app.</h4>
              <p>
              <img src="images/Itunes Logo.png">
              <img src="images/Android Logo.png">
              </p> -->
              <div class="col-md-12 padding0">
                <div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 col-xs-12 padding0 fs-modal-signup1">
                  <div class="col-md-4 col-sm-4 col-xs-4 hidden-xs padding0 hello">
                  <div class=""><img src="../../../assets/img/fliksterlogo.png" alt="image"><br>Hello From Flikster!</div>
                  </div>
                  <div class="col-md-8 col-sm-8 col-xs-12 padding0 signupfields">
                  <div class="col-md-12 padding0">
                    <span ng-click = "closePopup()" class="glyphicon glyphicon-remove-circle fs-modal-close hidden-xs"></span>
                    <img on-click="closePopup()" alt="image" class="visible-xs fs-modal-close" src="../../../assets/img/close.svg" style="height: 20px;">
                    <img on-click="goToEmail()" alt="image" class=" visible-xs" src="../../../assets/img/back.svg" style="height: 22px;">
                  </div>
                  <div class="col-md-12 padding0">
                  <div class="col-md-8 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1 col-md-offset-2 padding0 fs-mt100 text-center LoginInWithPhone">
                  <form>
                    <div class="form-group ">
                      <input type="email" class="form-control" placeholder="Enter Email Id" name="forgemail" (keyup)="clearErrorText()" [(ngModel)]="user.email">
                    </div>
                    
                    <div class="form-group fs-mt30">
                      <p class="text-left small">{{signUpErrorText}}</p>
                      <button on-click = "goToOtpForgot('email')" class="btn btn-danger form-control">SUBMIT</button>
                    </div>
                    <div class="form-group text-left">
                    <a rel="canonical"  on-click="goToEmail()" class="pull-left hidden-xs">Back</a>
                    </div>
                  </form>
                </div>
                
                    <!-- <div class="col-md-12 text-center fs-mtb10"><button class="fs-submit">SUBMIT</button></div> -->
                    </div>
                  </div>
                  <div class="col-md-12 col-xs-12 fs-terms padding0 text-right pull-left">
                    <p style="color: #b9b9b9;">By signing up, you agree to the <span [routerLink] = "['/terms']">Terms and conditions</span> & <span [routerLink] = "['/privacy']">Privacy Policy</span></p>
                  </div>
                </div>
              </div>
            
          </div>
          </div>
          </div>



          <!-- **************RESET EMAIL LINK******************** -->

          <div *ngIf="resetEmailLink" class="container-fluid padding0"><div class="container1">
              <div class="fs-modal-signup">
               <!--  <img src="images/Flikster logo.png">
                <span class="glyphicon glyphicon-remove-circle fs-modal-close"></span>
                <h4>Experience the best version of <br>flikster by getting the app.</h4>
                <p>
                <img src="images/Itunes Logo.png">
                <img src="images/Android Logo.png">
                </p> -->
                <div class="col-md-12 padding0">
                  <div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 col-xs-12 padding0 fs-modal-signup1">
                    <div class="col-md-4 col-sm-4 col-xs-4 hidden-xs padding0 hello">
                    <div class=""><img src="../../../assets/img/fliksterlogo.png" alt="image"><br>Hello From Flikster!</div>
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-12 padding0 signupfields">
                    <div class="col-md-12 padding0">
                      <span on-click="closePopup()" class="glyphicon glyphicon-remove-circle fs-modal-close hidden-xs"></span>
                      <img on-click="closePopup()" alt="image" class="visible-xs fs-modal-close" src="../../../assets/img/close.svg" style="height: 20px;">
                      <img on-click="closePopup()" alt="image" class=" visible-xs" src="../../../assets/img/back.svg" style="height: 22px;">
                    </div>
                    <div class="col-md-12 padding0">
                    <div class="col-md-8 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1 col-md-offset-2 padding0 fs-mt100 text-center LoginInWithPhone">
                    <form>
                      
                      <div class="form-group ">
                        <p class="">A password reset link has been sent to<br>&lt; Email address &gt;</p>
                      </div>
            
                      <div class="form-group fs-mt30">
                        <button on-click="closePopup()" class="btn btn-danger form-control">Go To Flikster</button>
                      </div>
                      <div class="form-group text-left">
                        <a rel="canonical" href="/" class="pull-left">Back</a>
                      </div>
                    </form>
                  </div>
                  
                      <!-- <div class="col-md-12 text-center fs-mtb10"><button class="fs-submit">SUBMIT</button></div> -->
                      </div>
                    </div>
                    <div class="col-md-12 col-xs-12 fs-terms padding0 text-right pull-left">
                      <p style="color: #b9b9b9;">By signing up, you agree to the <span [routerLink] = "['/terms']">Terms and conditions</span> & <span [routerLink] = "['/privacy']">Privacy Policy</span></p>
                    </div>
                    
                  </div>
                </div>
              
            </div>
            </div>
            </div>
<!-- ******************** FORGET OTP ********************************* -->

<div *ngIf="forgetOtp" class="container-fluid padding0">
    <div class="container1">
      <div class="fs-modal-signup">
       <!--  <img src="images/Flikster logo.png">
        <span class="glyphicon glyphicon-remove-circle fs-modal-close"></span>
        <h4>Experience the best version of <br>flikster by getting the app.</h4>
        <p>
        <img src="images/Itunes Logo.png">
        <img src="images/Android Logo.png">
        </p> -->
        <div class="col-md-12 padding0">
          <div class="col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6 col-xs-12 padding0 fs-modal-signup1">
            <div class="col-md-4 col-sm-4 col-xs-4 hidden-xs padding0 hello">
            <div class=""><img src="../../../assets/img/fliksterlogo.png" alt="image"><br>Hello From Flikster!</div>
            </div>
            <div class="col-md-8 col-sm-8 col-xs-12 padding0 signupfields">
            <div class="col-md-12 padding0">
              <span on-click="closePopup()" class="glyphicon glyphicon-remove-circle fs-modal-close hidden-xs"></span>
              <img on-click="closePopup()" alt="image" class="visible-xs fs-modal-close" src="../../../assets/img/close.svg" style="height: 20px;">
              <img on-click="closePopup()" alt="image" class=" visible-xs" src="../../../assets/img/back.svg" style="height: 22px;">
            </div>
            <div class="col-md-12 padding0">
            <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1 padding0 fs-mtb10">
              <h3 class="enterotp">Enter your code</h3>
              <p class="smstxt">Enter the verification code sent to <br>{{username}}</p>
            </div>
              <div class="col-md-8 col-md-offset-2  col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2 padding0 fs-mtb10"><div class="fs-otpfield">
                <!-- <input type="text" name="" placeholder="Name*" class="center-block" value="+91"> -->
                <!-- <img class="padding0" src="images/Editname.png" class="edit" style=""> -->
                <input type="text" name="otpp" placeholder="--- ---" class="otp" (keyup)="clearErrorText()" [(ngModel)]="user.otp">
                <p class="pull-left">Didn't receive a code? <span on-click="resendOtp()">Resend Code</span></p>
              </div></div>
              <div class="col-md-8 col-md-offset-2 padding0 fs-mtb10"><div class="col-md-8 padding0 text-center">
                <p class="text-left small">{{signUpErrorText}}</p>
              <button on-click="submitOtp('forgotpass')" class="fs-next">SUBMIT</button>
              <!--<button on-click="goToNewPassword()" class="fs-next">SUBMIT</button>-->
              <!--<br>Or<br>-->
              <!--<button class="loginwithfb">Login With Facebook</button>-->
              <!--<div class="form-group text-left fs-mt10 pull-left">
                <a rel="canonical" on-click="goToForgetPhoneNumber()" class="pull-left">Back</a>
              </div>-->
              </div></div>
              <!-- <div class="col-md-12 text-center fs-mtb10"><button class="fs-submit">SUBMIT</button></div> -->
              </div>
            </div>
            <div class="col-md-12 col-xs-12 fs-terms padding0 text-right pull-left">
              <p style="color: #b9b9b9;">By signing up, you agree to the <span [routerLink] = "['/terms']">Terms and conditions</span> & <span [routerLink] = "['/privacy']">Privacy Policy</span></p>
            </div>
          </div>
        </div>
      
    </div>
    </div>
    </div>
</div>