.padding0{
padding: 0;
}
.padding15{
padding: 15px;
}
.padding30{
padding:30px;
}
.bgwhite{
background-color: #fff;
}
.mt50{
margin-top: 50px;
}
.about-us .header{ 
    background-image: url(../../../assets/img/Doodle.png); background-size: cover; 
    background-repeat: no-repeat;} 
.about-us .header .header-layer{background-color: #ff596b; padding:120px; opacity: .7;}
.about-us{
margin-bottom: 50px; color: #616161;
}
.about-us h3{
margin-bottom: 25px;
}
.OurTeam{
float: left; width: 100%; color: #616161;
}
.OurTeamDiv{
border: 1px solid #ccc;
width: 28.8%;
margin: 25px 75px 45px 0;
height: 350px;
padding:20px 15px;
border-radius: 8px;
}
.OurTeamDiv img{
margin: 0 auto;
border: 1px solid #ccc;
padding: 5px;
width: 150px;
height: 150px;
border-radius: 100%;
background-color: #f5f5f5;
}
.OurTeamDiv:nth-child(3n){
margin-right: 0;
}
.OurTeamDiv strong{
font-size: 16px;
}
.OurTeamDiv .designation{
margin-bottom: 20px;
float: left;
width: 100%;
}
.about-us .title{
position: relative;
}
.about-us .strip {
border-top: 1px solid rgb(255, 89, 107);
width: 50px;
height: 2px;
display: inline-block;
position: absolute;
top: 30px;
left: 0px;
}
.OurTeam .title{
position: relative;
}
.OurTeam .strip{
border-top: 1px solid rgb(255, 89, 107);
width: 50px;
height: 2px;
display: inline-block;
position: absolute;
top: 30px;
left:0px;
}
.careers{
	color: #616161; /*float: left;*/ width: 100%;
}
.careers .header{ 
    background-image: url(../../../assets/img/Doodle.png); background-size: cover; 
    background-repeat: no-repeat;} 
.careers .header .header-layer{background-color: #ff596b; padding:120px; opacity: .7;}
.fs-mb20{ margin-bottom: 20px; }
.careers .title{
position: relative;
float: left;
width: 100%;
margin-bottom: 25px;
}
.careers .strip{
border-top: 1px solid rgb(255, 89, 107);
width: 50px;
height: 2px;
display: inline-block;
position: absolute;
top: 30px;
left: 0px;
}
.careers h2{
	margin-top: 50px;
}
.careers h3{ margin-bottom: 30px; color: #616161; position: relative; }
.careers h3 .strip{ border-top: 1px solid rgb(255, 89, 107); width: 80px; height: 2px;
    display: inline-block; position: absolute; left: 0px;}
.careers h4{ float: left; width: 100%; font-weight: bold; color: #7e7e7e; }
.careers p{ float: left; width: 100%; text-align: justify; color: #616161; }
.careers ul{
	margin-top: 10px;
	float: left;
	width: 100%; padding-left: 20px;
}
.careers li {
padding-bottom: 10px;
list-style: none;
font-size: 18px;
position: relative;
}
.careers li:before{
content: "";
position: absolute;
width: 10px;
height: 10px;
background-color: rgb(255, 89, 107);
border-radius: 100%;
left: -20px;
top: 8px;
}
a:hover{
text-decoration: none;
}
.content-writer{ 
float: left;
width: 100%;
color: #616161;
}
.content-writer .title{
float: left;
width: 100%;
color: #337ab7;
}
.content-writer h4{
padding-left: 20px;
margin-bottom: 20px;
}
.content-writer li{
padding-bottom: 15px;
list-style-position: inside;
padding-left: 30px;
color: #616161;
}
.content-writer button{
border: 1px solid rgb(255, 89, 107);
padding: 8px 20px;
background-color: rgb(255, 89, 107);
color: #fff;
border-radius: 10px;
font-size: 18px;
margin-top: 15px;
}
.jobinfo-row{
margin-bottom: 10px;
padding-left: 30px;
}
.jobinfo-row span{
float: left;
text-transform: capitalize;
}
.jobinfo-row span:first-child{
font-size: 16px;
width: 150px;
}
.jobinfo-row span:last-child{
padding-left: 35px;
}
.content-writer hr{
border-top: 1px solid #ccc;
float: left;
width: 96%;
margin: 0 2% 20px;
}
.ref-header{
	text-align: center;
	margin-bottom: 50px;
}
.ref-header img{
margin: 0 auto;
border: 1px solid #ccc;
padding: 5px;
width: 125px;
height: 125px;
border-radius: 100%;
background-color: #f5f5f5;
display: inline;
}
.refer-a-friend{
	margin-top: 50px;
}
.ref-header span{
color: rgb(255, 89, 107);
border-bottom: 2px dashed #00AEEF;
padding: 10px 10px;
position: relative;
top: -10px;
margin: 0 15px;
font-size: 30px;
}
.refer-a-friend button{
	border: 1px solid rgb(255, 89, 107);
padding: 8px 20px;
background-color: rgb(255, 89, 107);
color: #fff;
border-radius: 10px;
font-size: 18px;
margin-top: 15px;
width: 150px;
float: right;
}
.refer-a-friend label{
	font-weight: normal;
	font-size: 16px;
}
.refer-a-friend .shareicons{
margin-top: 15px;
}
.refer-a-friend .fa{
font-size: 25px;
border: 1px solid #ccc;
border-radius: 8px;
width: 40px;
height: 40px;
text-align: center;
margin-right: 15px;
padding-top: 7px;
cursor: pointer;
}
.refer-a-friend .fa:hover{
	border-color: rgb(255, 89, 107);
	color: rgb(255, 89, 107);
}
.refer-a-friend h4{
	margin-top: 80px;
}
.termsconditions{
	color: #616161;float: left; width: 100%;
}
.termsconditions .header{ 
    background-image: url(../../../assets/img/Doodle.png); background-size: cover; 
    background-repeat: no-repeat;} 
.termsconditions .header .header-layer{background-color: #ff596b; padding:120px; opacity: .7;}
.termsconditions p{
color: #616161;
    float: left;
    width: 100%;
    margin-bottom: 30px; text-align: justify;  text-transform: lowercase;
}

.termsconditions .title{
position: relative;
float: left;
width: 100%;
margin-bottom: 25px;color: #616161;
}
.termsconditions .strip{
border-top: 1px solid rgb(255, 89, 107);
width: 50px;
height: 2px;
display: inline-block;
position: absolute;
top: 30px;
left: 0px;
}
.privacy{
	color: #616161;
}
.privacy .title{
position: relative;
float: left;
width: 100%;
margin-bottom: 25px;
}
.privacy .strip{
border-top: 1px solid rgb(255, 89, 107);
width: 50px;
height: 2px;
display: inline-block;
position: absolute;
top: 30px;
left: 0px;
}
.contactus{
	color: #616161;
}
.contactus .title{
position: relative;
float: left;
width: 100%;
margin-bottom: 25px;
}
.contactus .strip{
border-top: 1px solid rgb(255, 89, 107);
width: 50px;
height: 2px;
display: inline-block;
position: absolute;
top: 50px;
left: 0px;
}
.contactus1{
/*padding: 25px 50px;*/
padding:40px 50px;
box-shadow: 0px 0px 3px #ddd;
border-radius: 8px;
margin-bottom: 20px;
margin-left: 30px;
background-color: #fff;
}
.contactus1a{ 
/*height: 185px;
padding: 50px 50px;*/
}
.contactus1b{ 
/*height: 185px;*/
 }
.contactus1c{ 
/*height: 185px;
padding: 50px 50px;*/
 }
.contactus1b .icn{
	top: 53px;
}
.contactus1 .icn{
position: absolute;
left: -40px;
box-shadow: 0px 0px 3px #ddd;
padding: 20px 25px;
border-radius: 100%;
width: 80px;
height: 80px;
background-color: #fff;
text-align: center;
display: flex;
align-items: center;
justify-content: center;
top: 28px;
}
.contactus1 .icn img{
width: 30px;
}
.contactus1 h4{
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 5px;
}
.contactus1 .fa{
border: 1px solid #e0e0e0;
color: #222;
height: 26px;
margin-right: 6px;
padding: 5px;
text-align: center;
width: 26px;
cursor: pointer;
border-radius: 100%;
}
.contactus2{
box-shadow: 0px 0px 3px #ddd;
border-radius: 8px;
margin-bottom: 20px;
width: 63%;
margin-left: 3%;
padding: 50px;
background-color: #fff;
}
.contactus2 h4{
	text-transform: uppercase;
}
.contactus2 input{
	border-width: 0 0 1px 0;
	margin-bottom: 50px;
	padding-bottom: 4px; padding-left: 4px;
}
.contactus2 textarea{
border: 1px solid #ddd;
padding: 15px;
height: 200px;
margin-bottom: 26px;
}
.contactus2 button{
background-color: rgb(255, 89, 107);
border: 1px solid rgb(255, 89, 107);
float: right;
color: #fff;
padding: 6px 35px;
border-radius: 20px;
}
.pl0{
	padding-left: 0;
}
.mt40{
	margin-top: 40px;
}
.contactus2 .req{
	border-left: 4px solid rgb(255, 89, 107);
position: relative;
left: -50px;
padding-left: 44px;
}
.sentRes{
	text-align: center;
	color: #0f0;
	font-size: 24px;
}


.fs-tabs-help{
	background: #ebecee;
	padding:15px 0; margin-bottom: 20px;
}
.fs-tabs-help ul{
	padding-left: 0;
	border-bottom: none;
}
.fs-tabs-help ul li{
	width: 100%;
}
.fs-tabs-help ul li:before{
content: "";
	background: none;
}
.fs-tabs-help ul li a{
	padding: 2px 2px 2px 26px;
	border-left: 3px solid transparent;
	color: #7b7878;
	font-size: 14px;
	border-radius: 0;
}
.fs-tabs-help ul li.active a{
    border-left: 3px solid rgb(255, 89, 107);
    color: #222;
    font-weight: bold;
    background-color: transparent;
    border-top:none;
    border-right: none;
}
.help-contet{
list-style-position: inside;
}
.help-contet li{
	list-style: inherit;
}
.help-contet li:before{
	content: "";
	background: none;
}
.help-contet li a{
	color: #616161;
	font-size: 14px;
}
summary{ cursor: pointer; padding-bottom: 8px; color: #7e7e7e; font-weight: bold; }
:focus{ outline: none; }

.blog-commingsoon{
	background: rgba(35, 35, 35, .9);
        position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    color: #fff;z-index: 999;
}
.blog-Content{
	/*background: -webkit-linear-gradient(-180deg,#e0948c 5%, #837d7d 75%, #57525b 90%); 
    background: -o-linear-gradient(-180deg,#e0948c 5%, #837d7d 75%, #57525b 90%); 
    background: -moz-linear-gradient(-180deg,#e0948c 5%, #837d7d 75%, #57525b 90%); 
    background: linear-gradient(-180deg,#e0948c 5%, #837d7d 75%, #57525b 90%); */
	/*width: 1000px; height: 500px;
    margin: 0 auto;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 50px;*/
   width: 450px;
    height: 290px;
    margin: 0 auto;
    position: absolute;
    top: 230px;
    left: 0;
    right: 0;
    color: #111;
    padding: 30px 50px;
    background-color: #fff;
    display: table;
}
.blg-modal-close{
	text-align: right;
    width: 100%;
    cursor: pointer;
    font-size: 20px;
    position: relative;
    float: left;
    top: -14px;
    right: -33px;color: #a9a3a3;
}
.blog-Content p{
	/*position: relative;top: -150px;text-align: center;*/
}
.blog-Content button{
	    background: #ff596b;
    border: 1px solid #ff596b;
    width: 100px;
    font-size: 18px;
    cursor: pointer;
    color: #fff;
    margin-left: 10px; padding: 2px;
}
.privacy p{
	text-align: justify;
}
.blog-Content input{
    width: 240px;
    text-align: center; padding: 4px;float: left;
}
.blog-Content h4{
	font-size: 26px; color: #a9a3a3;
}
.blog-Content h3{
font-size: 40px;
    padding-bottom: 2px;
    border-bottom: 1px solid #ff596b;
    color: #616161;
}
#DISCOUNTSandCOUPONS ol li{
	list-style: none;
}
#DISCOUNTSandCOUPONS ol li:before{
	content: none;
}
#DISCOUNTSandCOUPONS ol li h4{
	margin-top: 0;
	font-size: 16px;
    font-weight: bold;
}
#DISCOUNTSandCOUPONS ol li p{
	font-size: 14px; text-align: justify;
}
#REFUNDS ol li{
	list-style: none;
}
#REFUNDS ol li:before{
	content: none;
}
#REFUNDS ol li h4{
	margin-top: 0;
	font-size: 16px;
    font-weight: bold;
}
#REFUNDS ol li p{
	font-size: 14px; text-align: justify;
}
#GENERALandDELIVERY ol li{
	list-style: none;
}
#GENERALandDELIVERY ol li:before{
	content: none;
}
#GENERALandDELIVERY ol li h4{
	margin-top: 0;
	font-size: 16px;
    font-weight: bold;
}
#GENERALandDELIVERY ol li p{
	font-size: 14px; text-align: justify;
}
#ORDERS ol li{
	list-style: none;
}
#ORDERS ol li:before{
	content: none;
}
#ORDERS ol li h4{
	margin-top: 0;
	font-size: 16px;
    font-weight: bold;
}
#ORDERS ol li p{
	font-size: 14px; text-align: justify;
}
#PAYMENTS ol li{
	list-style: none;
}
#PAYMENTS ol li:before{
	content: none;
}
#PAYMENTS ol li h4{
	margin-top: 0;
	font-size: 16px;
    font-weight: bold;
}
#PAYMENTS ol li p{
	font-size: 14px; text-align: justify;
}
#RETURNS ol li{
	list-style: none;
}
#RETURNS ol li:before{
	content: none;
}
#RETURNS ol li h4{
	margin-top: 0;
	font-size: 16px;
    font-weight: bold;
}
#RETURNS ol li p{
	font-size: 14px; text-align: justify;
}
.contactus2 select{
	width: 100%;margin-bottom: 50px;border-color: #ddd;padding:6px;
}
.abt-info-border{
    border: 1px solid rgba(0,0,0,.15);
    padding: 10px;
    text-align: center;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,.15);
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,.15);
    width: 30%;border-radius: 20px;
    min-height: 270px;position: relative;
}
.abt-info-border:nth-child(2){
	margin:0 40px;
}
.abt-info-border h4{ font-size: 25px; margin-bottom: 20px;color: #000;}
.abt-info-border .strip{
    border-top: 1px solid rgba(0,0,0,.55);
    width: 80px;
    height: 2px;
    display: inline-block;
    position: absolute;
    top: 50px;
    left: 130px;
}
.abt-info-border button{
	        background-color: rgb(255, 89, 107);
    border: 1px solid rgb(255, 89, 107);
    color: #fff;
    padding: 2px;
    border-radius: 20px;
    width: 65px;
    position: absolute;
    bottom: 25px;
    margin: 0 auto;
    left: 42%;
}
.abt-info-border p{
	    color: #000;
    font-size: 16px;
}
.careers-Div{
	border: 1px solid rgba(0,0,0,.15);
    padding: 10px;
    text-align: center;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,.15);
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,.15);
    width: 30%;border-radius: 20px;
    min-height: 270px;position: relative;float: left;margin-bottom: 50px;
}
.careers-Div:nth-child(3n+2){
	margin:0 40px;
}
.careers-Div button{
	        background-color: rgb(255, 89, 107);
    border: 1px solid rgb(255, 89, 107);
    color: #fff;
    padding: 2px;
    border-radius: 20px;
    width: 65px;
    position: absolute;
    bottom: 25px;
    margin: 0 auto;
    left: 42%;
}
.careers-Div h4{ font-size: 25px; margin-bottom: 20px; color: #616161; font-weight: normal !important;}
.careers-Div p{
	    color: #000;
    font-size: 16px; text-align: center; float: left; width: 100%;
}
.careers-Div .strip{
    border-top: 1px solid rgba(0,0,0,.55);
    width: 80px;
    height: 2px;
    display: inline-block;
    position: absolute;
    top: 50px;
    left: 130px;
}
.privacy h4{
	color: rgb(255, 89, 107);font-size: 22px;
}
.privacy h5{
	float: left;
	width: 100%;font-size: 20px;
	margin-bottom: 20px;
	font-weight: bold;
}
.careers h5{ font-weight: bold; }
.change-pwd-acc{ margin-top: 0 !important; margin-bottom: 0; }
.change-pwd-acc li{ font-size: 14px; }