
.mt20{
margin-top: 20px;
}
.Photos{
float: left;
width: 100%;
padding: 10px;
}
.Photos > li {
border: 1px solid #ddd;
/*display: flex; justify-content: center; align-items: center;*/
float: left;
height: 77px;
margin-bottom: 3%;
margin-right: 3%;
overflow: hidden;
width: 31.33%;
position: relative;
}
.Photos > li:nth-child(3n+1) {
margin-right: 0;
}
.Photos p{
color: rgb(108, 108, 108);
margin-bottom: 6px;
}
.Photos img {
/*height: 100%;
width: 100%;*/
width: 126px;
position: absolute;
/*top: -20px;*/
left: -26px;
cursor: pointer;
}
.padding0{
padding: 0;
}
.bgwhite{
background-color: #fff;
}