<div  class="col-md-12 padding0 bgwhite" *ngIf="galleryPhotos">
  
  <ul  class="list-unstyled Photos">
        <p>Photos</p>
          <li *ngFor="let photo of galleryPhotos;let i=index;"><img  [routerLink]="['/content', gallerySlug[i]]" src="{{photo}}"></li>
        </ul>
</div>



<div class="col-md-12 padding0" *ngIf="celebrityCollection">
  <ul class="list-unstyled Photos">
        <p>Collections</p>
          <!-- <li *ngFor="let item of celebrityCollection"><a rel="canonical" [routerLink]="['/product', item.productSlug]"><img src="{{item.profilePic}}"></a></li> -->
          <li *ngFor="let photo of celebrityCollection[0]._source.media.gallery"><img src="{{photo}}"></li>
        </ul>
</div>
