<div class="container-fluid fs-header">
  <titlebar></titlebar>
</div>
    <banner *ngIf='brand' [bannerType]='bannerType' [brandContent]='brand.Items[0]'></banner>
  <div *ngIf="brand" class="container-fluid padding0 fs-mt50 mob-fs-mt10 mob-plr7">
    <!-- <div *ngIf="brand.Items[0]" class="container padding0 fs-mb50 fs-mt50">
      <h5 on-click='goBack()'><span class="cursor-pointer">&lt; Back</span></h5>
      <div class="col-md-12 padding0 bransstoreBaner">
        <img alt="" src="{{brand.Items[0].profilePic}}" alt="image">
      </div>
    </div> -->
    <div class="container padding0">
      <div class="col-md-3 padding0 left-sticky">
        <related-and-peers   [pageType]="pageType" (feedFilter)="feedFilter($event)"></related-and-peers>
      </div>
<!-- <carousel [brandData]='productArray' [type]="productRows"></carousel>   -->
<div class="col-md-9 brancd-store leftmargin" style="padding-left: 25px; padding-right: 0;">
  <div class="brancd-store-div1">
   <div *ngFor="let product of productArray" class="col-md-4 brancd-store-div">
   <div *ngIf='productArray' class="col-md-12 padding0">
    <a rel="canonical" [routerLink]="['/product/'+product.slug]"><img src="{{product.profilePic}}" alt="image" class="img-responsive padding0 center-block" ><div class="mask"></div></a>
    <span>{{product.name}}</span>
   </div>
 </div>
</div>
</div>
   </div>
 </div>

    <!--<div class="container padding0">
      <div class="col-md-12 col-sm-12 padding0 relstrip">
        <div class="col-md-4 col-sm-4 padding0"><hr></div>
        <div class="col-md-4 col-sm-4 padding0">
          <h3 class="text-center fs-mt10"><strong>RELATED</strong> PRODUCTS</h3>
        </div>
        <div class="col-md-4 col-sm-4 padding0"><hr></div>
      </div>
    </div>-->
<!-- <carousel  [type]="doubleRows"></carousel> -->
<!-- <carousel [data]="shopByData" [type]="shopbyvideos"></carousel> -->
  

  
  <!-- <div class="container padding0">
    <div class="col-md-12 col-sm-12 padding0 relstrip">
      <div class="col-md-4 col-sm-4 padding0"><hr></div>
      <div class="col-md-4 col-sm-4 padding0">
        <h3 class="text-center fs-mt10"><strong>MORE</strong> BRANDS</h3>
      </div>
      <div class="col-md-4 col-sm-4 padding0"><hr></div>
    </div>
  </div> -->
<!-- <carousel *ngIf="brandArray" [brandData]='brandArray' [type]="doubleRows"></carousel> -->

<!-- <div *ngIf="widgets">
    <div *ngFor="let widget of widgets | slice:0:show; let i=index" class="container fs-ProductsType">
      <div class="row">
      <a rel="canonical"><h2 class="text-left">{{widget._source.title}}</h2></a>
      </div>
      <div class='row'>
        <div class="col-md-4 fs-pl0">
          <div class="col-md-12 col-xs-12 pull-left fs-collectionsPic">
            <a rel="canonical" [routerLink]="['/'+widget._source.item.type,widget._source.item.slug]"><img src="{{widget._source.image}}" alt="image" class="col-md-12 img-responsive padding0 center-block" ></a>
          </div>
          
          <div class="fs-association-data col-md-12 col-xs-12">
                  <div class="fs-pic"><img class="img-circle" src="{{widget._source.item.profilePic}}"></div>
                  <div class="fs-info col-md-9 col-xs-7">
                    <div class="fs-title"><a rel="canonical" [routerLink]="['/'+widget._source.item.type,widget._source.item.slug]">{{widget._source.item.name}}</a></div>
                    <div class="fs-asso-hash">
                    <span *ngFor="let role of widget._source.item.role">#{{role}}</span>
                    </div>
                  </div>
    
          </div>
        </div>
        <div class='col-md-8'>
          <div class="carousel slide media-carousel" id="media{{i}}">
          
                <div class="row">
                  <div class="col-md-3 col-xs-3" *ngFor="let product of widget._source.products">
                    <a rel="canonical" class="thumbnail"  [routerLink] = "['/product/'+product._source.slug]"><img alt="" src="{{product._source.profilePic}}"></a>
                    <span class="text-uppercase">{{product._source.name}}</span><br>
                    <span>{{product._source.brand}}</span><br><span>&#8377;{{product._source.price}}/-</span>
                  </div>            
                </div>
              
          </div>                          
        </div>
      </div>    
    </div>
</div> -->


  <!-- </div> -->
    <div class="container-fluid padding0 fs-mstore-footer1">
      <footer></footer>
    </div>
          