@font-face {
  font-family: 'DIN Medium';
  src: url('DIN Medium.eot');
  src: url('DIN Medium.woff2') format('woff2'),
       url('DIN Medium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DIN-Medium';
  src: url('DIN-Medium.woff') format('woff'),
       url('DIN-Medium.ttf') format('truetype'),
       url('DIN-Medium.svg#DIN-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

