<div *ngIf="isMiniCard && contentData && page=='content'" class="col-md-12 col-xs-12 padding0">
   
    <div class="thumbnail col-md-12 col-xs-12 padding0" style="border:1px solid #ddd;">
      <div class="tweet-height"  on-click="gotocontent()">
        
        <!-- <p class="fs-quotes" ></p> -->
        <img src="{{contentData.profilePic}}" alt="" class="img-responsive">
      </div>
      <!-- <card-associationdata []> </card-associationdata> -->

      <card-associationdata *ngIf='assnData' [time]='ShowTime' [date]='time' [assnData]="assnData"></card-associationdata>
      
      <div class="col-md-12">
        <h1 class="text-justify Tweet-Title" [innerHTML]='contentData.title'></h1>
      
          <p class="text-justify hei50" [innerHTML]='contentData.text'></p>
         <!-- <p> <span *ngIf="contentData.text" on-click="gotocontent()">Read More</span>
         </p> -->
      </div>
      
      <card-socialbar [content]="content" [contentData]="contentData" [cardId]="cardId" [shareSlug]='shareSlug' [shareProfilePic]='shareProfilePic'></card-socialbar>
    </div>
</div>
<div *ngIf="isMiniCard && contentData && page!='content'" class="col-md-12 col-xs-12 padding0">
  
   <div class="thumbnail col-md-12 col-xs-12 padding0" style="border:1px solid #ddd;">
    <a [routerLink] = "['/content/'+contentData.slug]"> <div class="tweet-height">
       
       <!-- <p class="fs-quotes" ></p> -->
       <img src="{{contentData.profilePic}}" alt="" class="img-responsive">
     </div></a>
     <!-- <card-associationdata []> </card-associationdata> -->

     <card-associationdata *ngIf='assnData' [time]='ShowTime' [date]='time' [assnData]="assnData"></card-associationdata>
     
     <div class="col-md-12">
       <h1 on-click="gotocontent()" class="text-justify Tweet-Title" [innerHTML]='contentData.title'></h1>
     
         <p class="text-justify hei50" [innerHTML]='contentData.text'></p>
        <!-- <p> <span *ngIf="contentData.text" on-click="gotocontent()">Read More</span>
        </p> -->
     </div>
     
     <card-socialbar [content]="content" [contentData]="contentData" [cardId]="cardId" [shareSlug]='shareSlug' [shareProfilePic]='shareProfilePic'></card-socialbar>
   </div>
</div>

<div *ngIf="contentData && !isMiniCard" class="col-md-12 col-xs-12 padding0">  
    <card-associationdata *ngIf='assnData' [time]='ShowTime' [date]='time' [assnData]="assnData"> </card-associationdata>
    
  <div class="thumbnail col-md-12 col-xs-12 padding0">
      
    <div class="col-md-12 padding0 feed-tweetcard-height" >
        <img on-click="gotocontent()" src="{{contentData.profilePic}}" alt="" class="img-responsive col-md-12 padding0">
    </div>
<card-socialbar [content]="content" [contentData]="contentData" [cardId]="cardId" [shareSlug]='shareSlug' [shareProfilePic]='shareProfilePic'></card-socialbar>
    <div class="col-md-12 fs-plr10">
        <h1 on-click="gotocontent()" class="text-justify Tweet-Title">{{contentData.title}}</h1>
        <p *ngIf="contentData.text" class="text-justify hei50" [innerHTML]='contentData.text'></p>
    </div>
   
    <!-- <card-socialbar [cardId]="cardId"></card-socialbar> -->
    <card-comments [cardId]="cardId"></card-comments>
  </div>
</div>