
/** Auctions **/
.fs-pl0{ padding-left: 0; }
.fs-header{ background-color: #fff; }
.fs-Auctions{
	background: -webkit-linear-gradient(#349aa7, #008297); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#349aa7, #008297); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#349aa7, #008297); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#349aa7, #008297); /* Standard syntax (must be last) */
}
.fs-Aucpic{
	background: -webkit-linear-gradient(#349aa7, #008297); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#349aa7, #008297); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#349aa7, #008297); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#349aa7, #008297); /* Standard syntax (must be last) */
}
.fs-Aucpic .fa-legal{
font-size: 100px;
color: #fff;
}
.bidrbuy {
border: 1px solid;
border-radius: 8px;
display: block;
float: left;
height: 22px;
padding: 0px 8px;
 /*font-family: "open_sansregular";*/
 font-weight: 100;
 line-height: 22px;
}
.fs-relflks .col-md-3 .col-md-12 a{ height: 230px; }
.fs-relflks .col-md-3 .col-md-12:hover .bidorbuydiv{ display: flex; }
.bidorbuydiv{
  background-color: rgba(0, 0, 0, 0.3);
color: #fff;
display: none;
-webkit-justify-content: center;
justify-content: center;
-webkit-align-items: center;
align-items: center;
height: 100%;
position: absolute;
text-transform: capitalize;
top: 0;
width: 100%;
}
.bidorbuydiv{
text-transform: none !important;
}
.auctionspace{
margin-bottom: 30px;
}
.auctionspace h3{
/*font-family: "DINLight"; */
margin: 5px 0 0;
}
.fs-relflks .col-md-3 .col-md-12 img {
margin: 0 auto;
/*width: 100%;*/
}
.auctionspace  div{
float: left;
width: 38%; border-top: 1px solid #fff;
}
.auctionspace  div:nth-child(2){
width: 24%;
border: none;
position: relative;
top: -18px;
}
.auctionspace hr{ border-color: #333; }
.fs-auctionProcess hr{
border-color: #fff;
}
.fs-auctionProcess h3{
color: #fff;
}
.fs-auctionProcess ul{
float: left;
width: 100%;
}
.fs-auctionProcess ul li {
float: left;
width: 25%;
position: relative;
list-style-type: none;
}
.fs-auctionProcess ul li a {
color: #fff;
float: left;
width: 100%;
text-align: center;
}
.fs-auctionProcess ul li a img{
    /*width: 50px;*/
    height: 60px;
}
.fs-auctionProcess ul li a span{
float: left;
width: 100%;
font-size: 18px;
margin: 20px 0 30px;
/*font-family: open_sansregular;*/
}
.fs-auctionProcess ul li a + span{
position: absolute;
top: 20px;
font-size: 20px;
color: #fff;
right: -15px;
opacity: .2;
}
.fs-auctionProcess ul li a i {
font-size: 50px;
}
.fs-auctionProcess ul li::after {
color: #fff;
content: ">";
height: 100%;
position: absolute;
top: 18px;
width: 100px;
display: none;
}
.fs-auctionProcess ul li:last-child::after {
content: "";
}
.borderwhite{
border: 1px solid #fff;
}
.fs-p5{
padding: 5px;
}
.fontsize14{
font-size: 14px !important;
}
.firstPuchase{
height: 50px;
}
.fs-mb0 {
    margin-bottom: 0;
}
.fs-relflks > div{ padding-right: 30px; height: 310px;  }
.fs-relflks > div:nth-child(4n){ padding-right: 0; }
.fs-relflks .col-md-3 .col-md-12 img + div{
align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    display: none;
    height: 100%;
    justify-content: center;
    position: absolute;
    text-transform: capitalize;
    top: 0;
    width: 100%;
}
.fs-relflks .col-md-3 .col-md-12:hover img + div {
    display: flex;
}
.fs-relflks .col-md-3 .col-md-12 {
    /*border: 1px solid rgb(70, 70, 70);*/
    cursor: pointer;
height: 230px;
overflow: hidden;
border: 1px solid #ddd;
display: flex;
align-items: center;
justify-content: center;
}
.prodprice {
    color: rgb(166, 164, 164);
    float: left;
    margin-bottom: 30px;
    width: 100%;
    /*font-family: "DINLight";*/
}
.padding0{
padding: 0;
}
.fs-prodname {
    float: left;
    width: 100%;
    white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
    /*font-family: "DINLight";*/
}
.fs-mt10 {
    margin-top: 10px;
}
.fs-mt50 {
    margin-top: 50px;
}
.fs-mt60 {
    margin-top: 60px;
}
.fs-Loadmore {
    margin: 20px auto;
    }
    .fs-Loadmore button {
    background: transparent none repeat scroll 0 0;
    border: 1px solid #616161;
    border-radius: 16px;
    /*line-height: 20px;*/
    /*padding-top: 8px;*/
    width: 100px;
    /*font-family: "open_sansregular";*/
    font-weight: 100;
    color: #616161;
    height: 30px;
    }
    .fs-Loadmore button:hover{
    color: rgb(255, 89, 107);
    border-color: rgb(255, 89, 107);
    }
.fs-mb80{
    margin-bottom: 80px;
}



.bgWhite{background-color: #fff;}
.Curnt_Auction h3 {
    padding: 0 15px;
    margin-bottom: 25px; margin-top: 25px;
    border-left: 4px solid rgb(255, 89, 107);
    line-height: 20px;
    color: #575757;
}
.Curnt_Auction h3 span {
    float: right;
    font-size: 16px;
}
.Curnt_Auction .media-carousel{ padding-bottom: 30px; }
.Curnt_Auction .media-carousel .item .thumbnail{height: 436px; margin-bottom: 10px; display: flex;
align-items: center; position: relative; overflow:hidden;}
.Curnt_Auction .media-carousel .item .thumbnail > div{
    width:  100%;
    position:  absolute;
    height:  100%; left: 0;
    background-color: rgba(0,0,0,.2); display: none;
}
.Curnt_Auction .media-carousel .item .thumbnail > div button{
    position: absolute;
    left: 32%;
    top: 48%;
    background: #fff;
    border: 1px solid #fff;
    bottom: auto;
    color:  #575757;
    border-radius:  20px; text-transform: uppercase; padding-top: 2px;
    width:  85px;
    height:  25px;
}
.Curnt_Auction .media-carousel .item .thumbnail:hover > div{ display: block; cursor: pointer; }
.Curnt_Auction .carousel-control.left{ background: #fff; margin-top: 200px; opacity: 1;
    border: none;
    -webkit-box-shadow: 0px 0px 3px 0px #ddd;
    box-shadow: 0px 0px 3px 0px #ddd;
    border-radius: 4px;
    height: 38px;
    width: 25px; }
.Curnt_Auction .carousel-control.right{ background: #fff; margin-top: 200px; opacity: 1;
    border: none;
    -webkit-box-shadow: 0px 0px 3px 0px #ddd;
    box-shadow: 0px 0px 3px 0px #ddd;
    border-radius: 4px;
    height: 38px;
    width: 25px; }
.Curnt_Auction .media-carousel .carousel-control.right {
    right: -28px !important;
}
.Curnt_Auction .media-carousel .carousel-control.left {
    left: -28px !important;
}
.Curnt_Auction .media-carousel .carousel-control img {
    padding: 10px 3px;    max-height: 100%;
}
.Curnt_Auction .col-md-3 .thumbnail + a{
        color: #7e7e7e;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    float: left; text-transform: capitalize;
}
.Curnt_Auction .col-md-3 div{ color: #616161; float: left; width: 100%; }
.Curnt_Auction .col-md-3 div span{font-family: 'proxima_nova_ltsemibold';}
.Curnt_Auction .col-md-3 div:last-child{color: #616161;}
.Curnt_Auction .col-md-3 div:last-child span{ font-family: 'proxima_nova_ltsemibold'; }
a:hover{ text-decoration: none; }
.fs-mt40 {
    margin-top: 40px;
}
.fs-mt80 {
    margin-top: 80px;
}
.padding0{padding: 0;}

.Upcoming_Auction h3 {
    padding: 0 15px;
    margin-bottom: 25px; margin-top: 25px;
    border-left: 4px solid rgb(255, 89, 107);
    line-height: 20px;
    color: #575757;
}
.Upcoming_Auction h3 span {
    float: right;
    font-size: 16px;
}
.Upcoming_Auction .media-carousel{ padding-bottom: 30px; }
.Upcoming_Auction .media-carousel .item .thumbnail{height: 436px; margin-bottom: 10px; display: flex;
align-items: center;}
.Upcoming_Auction .media-carousel .item .thumbnail span{
    background-image: url("../../../assets/img/eye_white.png");
    position:  absolute;
    top: 12px;
    right: 22px;
    width: 45px;
    height: 25px;
    background-size: 40px 20px;
    background-repeat: no-repeat;
}
.Upcoming_Auction .media-carousel .item .thumbnail span.active{
    background-image: url("../../../assets/img/eye_red.png");
}
.Upcoming_Auction .carousel-control.left{ background: #fff; margin-top: 200px; opacity: 1;
    border: none;
    -webkit-box-shadow: 0px 0px 3px 0px #ddd;
    box-shadow: 0px 0px 3px 0px #ddd;
    border-radius: 4px;
    height: 38px;
    width: 25px; }
.Upcoming_Auction .carousel-control.right{ background: #fff; margin-top: 200px; opacity: 1;
    border: none;
    -webkit-box-shadow: 0px 0px 3px 0px #ddd;
    box-shadow: 0px 0px 3px 0px #ddd;
    border-radius: 4px;
    height: 38px;
    width: 25px; }
.Upcoming_Auction .media-carousel .carousel-control.right {
    right: -28px !important;
}
.Upcoming_Auction .media-carousel .carousel-control.left {
    left: -28px !important;
}
.Upcoming_Auction .media-carousel .carousel-control img {
    padding: 10px 3px;    max-height: 100%;
}
.Upcoming_Auction .col-md-3 .thumbnail + a{
        color: #7e7e7e;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    float: left; text-transform: capitalize;
}
.Upcoming_Auction .col-md-3 div{ color: #616161; float: left; width: 100%; }
.Upcoming_Auction .col-md-3 div span{font-family: 'proxima_nova_ltsemibold';}

.Completed_AUctions h3 {
    padding: 0 15px;
    margin-top: 25px; margin-bottom: 25px;
    border-left: 4px solid rgb(255, 89, 107);
    line-height: 20px;
    color: #575757;
}
.Completed_AUctions h3 span {
    float: right;
    font-size: 16px;
}
.Completed_AUctions .media-carousel{ padding-bottom: 30px; }
.Completed_AUctions .media-carousel .item .thumbnail{height: 436px; margin-bottom: 10px; display: flex;
align-items: center;}
.Completed_AUctions .carousel-control.left{ background: #fff; margin-top: 200px; opacity: 1;
    border: none;
    -webkit-box-shadow: 0px 0px 3px 0px #ddd;
    box-shadow: 0px 0px 3px 0px #ddd;
    border-radius: 4px;
    height: 38px;
    width: 25px; }
.Completed_AUctions .carousel-control.right{ background: #fff; margin-top: 200px; opacity: 1;
    border: none;
    -webkit-box-shadow: 0px 0px 3px 0px #ddd;
    box-shadow: 0px 0px 3px 0px #ddd;
    border-radius: 4px;
    height: 38px;
    width: 25px; }
.Completed_AUctions .media-carousel .carousel-control.right {
    right: -28px !important;
}
.Completed_AUctions .media-carousel .carousel-control.left {
    left: -28px !important;
}
.Completed_AUctions .media-carousel .carousel-control img {
    padding: 10px 3px;    max-height: 100%;
}
.Completed_AUctions .col-md-3 .thumbnail + a{
        color: #7e7e7e;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    float: left; text-transform: capitalize;
}
.Completed_AUctions .col-md-3 div{ color: #616161; float: left; width: 100%; }
.Completed_AUctions .col-md-3 div span{font-family: 'proxima_nova_ltsemibold';}