<!-- Header -->
<div class="container-fluid padding0 fs-header">
  <div class="container padding0">
    <titlebar></titlebar>
  </div>
</div>

<!-- Banner -->
<banner [pageType]="pageType"></banner>

<!-- Current Auctions -->
<div *ngIf="showcurrent" class="container-fluid fs-bg mob-plr7">
  <div  class="container padding0 bgWhite Curnt_Auction fs-mt80 mob-fs-mt15">
   

<div class="row1">
  <h3 class="">CURRENT AUCTIONS<span>Show all</span></h3>
</div>
<div class='row1'>
    <div class='col-md-12'>
      <div class="carousel slide media-carousel" id="media6_1">
        <div *ngIf='currentData' class="carousel-inner">
          <div class="item  active">
            <div  class="row">
              <div *ngFor="let item of currentarray |slice:0:4;" class="col-md-3 col-xs-3 ">
                <a  [routerLink] = "['/product/auction/'+item.slug]" rel="canonical" class="thumbnail" ><img alt="" src="{{item.profilePic}}">
                <div><button>Bid / Buy</button></div>
                </a>
                <a>{{item.name}}</a>
                <div *ngIf='getCurrentBid(item)'>Current Bid: <span>Rs.{{currBid}}/-</span></div>
                <div *ngIf='getEndTime(item)'>Ends in: <span>{{daysLeft}}d:{{hoursLeft}}h:{{minutsLeft}}m</span></div>
              </div>
              
              </div>
            </div>
            <div *ngIf='currentData.length>4' class="item">
            <div class="row">
              <div *ngFor="let item of currentarray |slice:4:8;" class="col-md-3 col-xs-3 ">
                <a rel="canonical" class="thumbnail"><img alt="" src="{{item.profilePic}}">
                <div><button>Bid / Buy</button></div>
                </a>
                <a>{{item.name}}</a>
                <div *ngIf='getCurrentBid(item)'>Current Bid: <span>Rs. Rs.{{currBid}}/-</span></div>
                <div *ngIf='getEndTime(item)'>Ends in: <span>{{daysLeft}}d:{{hoursLeft}}h:{{minutsLeft}}m</span></div>
              </div>
              
              </div>
            </div>
          </div>
          <a rel="canonical" data-slide="prev" href="/#media6_1" class="left carousel-control">
            <!-- <i _ngcontent-c4="" _ngcontent-c1="" aria-hidden="true" class="fa fa-chevron-left"></i> -->
            <img src="../../../assets/img/arrowleft.png">
          </a>
        <a rel="canonical" data-slide="next" href="/#media6_1" class="right carousel-control">
          <!-- <i _ngcontent-c4="" _ngcontent-c1="" aria-hidden="true" class="fa fa-chevron-right"></i> -->
            <img src="../../../assets/img/arrowright.png">
          </a>
        </div>
      </div>
    </div>

    <!-- <div  class="container fs-Loadmore" ><button class="center-block">Load more</button></div> -->
</div>
</div>



<!-- Upcoming Auctions -->
<div *ngIf='showupcoming' class="container-fluid fs-bg mob-plr7">
      <div class="container padding0 bgWhite fs-mb80 fs-mt40 mob-fs-mt15 mob-fs-mb15 Upcoming_Auction">
       
        <div class="row1">
  <h3 class="">UPCOMING AUCTIONS<span>Show all</span></h3>
</div>
<div *ngIf='upcomingarray' class='row1'>
    <div class='col-md-12'>
      <div class="carousel slide media-carousel" id="media6_2">
        <div class="carousel-inner">
          <div class="item  active">
            <div class="row">
              <div *ngFor='let item of upcomingarray' class="col-md-3 col-xs-3 ">
                <a rel="canonical" class="thumbnail"><img alt="" src="{{item.profilePic}}">
                  <span></span>
                </a>
                <a>{{item.name}}</a>
                <div *ngIf='getStartTime(item)'>Starts in: <span>{{daysLeft}}d:{{hoursLeft}}h:{{minutsLeft}}m</span></div>
              </div>
             
              </div>
            </div>
            <div *ngIf='upcomingarray.length>4' class="item">
            <div class="row">
              <div *ngFor='let item of upcomingarray'  class="col-md-3 col-xs-3 ">
                <a rel="canonical" class="thumbnail"><img alt="" src="{{item.profilePic}}">
                  <span></span>
                </a>
                <a>{{item.name}}</a>
                <div *ngIf='getStartTime(item)'>Starts in: <span>{{daysLeft}}d:{{hoursLeft}}h:{{minutsLeft}}m</span></div>
              </div>
              
              </div>
            </div>
          </div>
          <a rel="canonical" data-slide="prev" href="/#media6_2" class="left carousel-control">
            <!-- <i _ngcontent-c4="" _ngcontent-c1="" aria-hidden="true" class="fa fa-chevron-left"></i> -->
            <img src="../../../assets/img/arrowleft.png">
          </a>
        <a rel="canonical" data-slide="next" href="/#media6_2" class="right carousel-control">
          <!-- <i _ngcontent-c4="" _ngcontent-c1="" aria-hidden="true" class="fa fa-chevron-right"></i> -->
            <img src="../../../assets/img/arrowright.png">
          </a>
        </div>
      </div>
    </div>
      </div>
      <!-- <div  class="container fs-Loadmore" ><button class="center-block">Load more</button></div> -->


<div *ngIf="widgets">  
  <div *ngFor="let widget of widgets | slice:0:show; let i=index" class="container fs-ProductsType">
    <div class="row">
    <a rel="canonical"><h2 class="text-left">{{widget._source.title}}</h2></a>
    </div>
    <div class='row'>
      <div class="col-md-4 fs-pl0">
        <div class="col-md-12 col-xs-12 pull-left fs-collectionsPic">
          <a rel="canonical" [routerLink]="['/'+widget._source.item.type,widget._source.item.slug]"><img src="{{widget._source.image}}" alt="image" class="col-md-12 img-responsive padding0 center-block" ></a>
        </div>
        
        <div class="fs-association-data col-md-12 col-xs-12">
                <div class="fs-pic"><img class="img-circle" src="{{widget._source.item.profilePic}}"></div>
                <div class="fs-info col-md-9 col-xs-7">
                  <div class="fs-title"><a rel="canonical" [routerLink]="['/'+widget._source.item.type,widget._source.item.slug]">{{widget._source.item.name}}</a></div>
                  <div class="fs-asso-hash">
                  <span *ngFor="let role of widget._source.item.role">#{{role}}</span>
                  </div>
                </div>
                <!-- <div class="fs-follow col-md-3 col-xs-2"><button class="pull-right">Follow</button></div> -->
  
        </div>
      </div>
      <div class='col-md-8'>
        <div class="carousel slide media-carousel" id="media{{i}}">
        <!--<h5 class="text-right fs-seemore"><a rel="canonical" on-click="goToClothing()"  class="">See More</a></h5>-->
          <!--<div class="carousel-inner">-->
            <!--<div class="item  active">-->
              <div class="row">
                <div class="col-md-3 col-xs-3" *ngFor="let product of widget._source.products">
                  <a rel="canonical" class="thumbnail"  [routerLink] = "['/product/'+product._source.slug]"><img alt="" src="{{product._source.profilePic}}"></a>
                  <span class="text-uppercase">{{product._source.name}}</span><br>
                  <span>{{product._source.brand}}</span><br><span>&#8377;{{product._source.price}}/-</span>
                </div>            
              </div>
            <!--</div>-->
            <!--<div class="item">-->
              <!--<div class="row">
                <div class="col-md-3 col-xs-3" *ngFor="let item of fourArray">
                  <a rel="canonical" class="thumbnail" ><img alt="" src="http://content.flikster.com/celeb/SHILPA-SHETTY-IN-WHITE-FRILLS-D.jpg"></a>
                  <span class="text-uppercase">Short Dress With 3/4 Ruffled Sleeves</span><br>
                  <span>Description</span><br><span>&#8377;28,499/-</span>
                </div>            
              </div>-->
            <!--</div>-->
          <!--</div>-->
          <!--<a rel="canonical" data-slide="prev" href="/#media{{i}}" class="left carousel-control"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>-->
          <!--<a rel="canonical" data-slide="next" href="/#media{{i}}" class="right carousel-control"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>-->
        </div>                          
      </div>
    </div>    
  </div>
</div>
</div>

<!-- Auctions Banner - How it works -->
<div *ngIf="showhowitwork" class="container-fluid fs-Auctions fs-mb80 mob-fs-mb15">
      <div class="container padding0 fs-auctionProcess">
        <div class="col-md-12 col-sm-12 padding0 relstrip auctionspace fs-mt50 mob-fs-mt15">
          <div class="col-md-4 col-sm-4 padding0 hidden-xs"><!-- <hr> --></div>
          <div class="col-md-4 col-sm-4 padding0">
            <h3 class="text-center"><strong>HOW IT WORKS ?</strong></h3>
          </div>
          <div class="col-md-4 col-sm-4 padding0 hidden-xs"><!-- <hr> --></div>
        </div>
        <div class="col-md-12 col-sm-12 padding0">
          <ul>
            <li><a rel="canonical">
              <!-- <i class="fa fa-user" aria-hidden="true"></i> -->
              <img src="../../../assets/img/avathar icon.png" class="">
              <span>LOGIN</span>
            </a><span class="glyphicon glyphicon-menu-right"></span>
          </li>
            <li><a rel="canonical">
              <!-- <i class="fa fa-money" aria-hidden="true"></i> -->
              <img src="../../../assets/img/actions.png" class="">
              <span>BID or BUY</span>
            </a><span class="glyphicon glyphicon-menu-right"></span>
          </li>
            <li><a rel="canonical">
              <!-- <i class="fa fa-legal" aria-hidden="true"></i> -->
              <img src="../../../assets/img/actions1.png" class="">
              <span>CONFIRM BID</span>
            </a><span class="glyphicon glyphicon-menu-right"></span>
          </li>
            <li><a rel="canonical">
              <!-- <i class="fa fa-trophy" aria-hidden="true"></i> -->
              <img src="../../../assets/img/win.png" class="">
              <span>WIN</span>
            </a></li>
          </ul>
        </div>
      </div>
</div>


<!-- Completed Auctions -->
<div class="container-fluid fs-bg mob-plr7">
      <div class="container padding0 fs-mb80 mob-fs-mb15 bgWhite Completed_AUctions">
        <!-- <div class="col-md-12 col-sm-12 padding0 relstrip auctionspace ">
          <div class="col-md-4 col-sm-4 padding0"></div>
          <div class="col-md-4 col-sm-4 padding0">
            <h3 class="text-center"><strong>UPCOMING</strong> AUCTIONS</h3>
          </div>
          <div class="col-md-4 col-sm-4 padding0"></div>
        </div> -->
        <!-- <div *ngIf="currentData" class="col-md-12 col-xs-12 padding0 fs-relflks">
          <div *ngFor="let item of upcomingarray" class="col-md-3 col-sm-3 col-xs-6 fs-pl0">
                  <a>
                <div class="col-md-12 padding0">
                  <img src="{{item.profilePic}}" alt="image" class="img-responsive">
                  <div class="bidorbuydiv"><span class="bidrbuy">Follow</span></div>
                </div>
              </a>
                <div class="fs-prodname fs-mt10">{{item.name}}</div>
                <div class="prodprice">Rs.{{item.startingPrice}}</div>
          </div>
        </div> -->
        <div class="row1">
  <h3 class="">COMPLETED AUCTIONS<span>Show all</span></h3>
</div>
<div *ngIf='completedarray' class='row1'>
    <div class='col-md-12'>
      <div class="carousel slide media-carousel" id="media6_3">
        <div class="carousel-inner">
          <div class="item  active">
            <div class="row">
              <div *ngFor='let item of completedarray |slice:0:4;' class="col-md-3 col-xs-3 ">
                <a rel="canonical" class="thumbnail" ><img alt="" src="{{item.profilePic}}"></a>
                <a>{{item.name}}</a>
                <div>Wining Bid: <span>Rs. {{item.bids[item.bids.length-1].bidAmount}}/-</span></div>
              </div>
              
              </div>
            </div>
            <div *ngIf='completedarray.length>4' class="item">
            <div class="row">
              <div *ngFor='let item of completedarray |slice:4:8;' class="col-md-3 col-xs-3 ">
                <a rel="canonical" class="thumbnail"><img alt="" src="{{item.profilePic}}"></a>
                <a>{{item.name}}</a>
                <div>Wining Bid: <span>Rs. {{item.bids[item.bids.length-1].bidAmount}}/-</span></div>
              </div>
              
              </div>
            </div>
          </div>
          <a rel="canonical" data-slide="prev" href="/#media6_3" class="left carousel-control">
            <!-- <i _ngcontent-c4="" _ngcontent-c1="" aria-hidden="true" class="fa fa-chevron-left"></i> -->
            <img src="../../../assets/img/arrowleft.png">
          </a>
        <a rel="canonical" data-slide="next" href="/#media6_3" class="right carousel-control">
          <!-- <i _ngcontent-c4="" _ngcontent-c1="" aria-hidden="true" class="fa fa-chevron-right"></i> -->
            <img src="../../../assets/img/arrowright.png">
          </a>
        </div>
      </div>
    </div>
      </div>
      <!-- <div  class="container fs-Loadmore" ><button class="center-block">Load more</button></div> -->


<div *ngIf="widgets">  
  <div *ngFor="let widget of widgets | slice:0:show; let i=index" class="container fs-ProductsType">
    <div class="row">
    <a rel="canonical"><h2 class="text-left">{{widget._source.title}}</h2></a>
    </div>
    <div class='row'>
      <div class="col-md-4 fs-pl0">
        <div class="col-md-12 col-xs-12 pull-left fs-collectionsPic">
          <a rel="canonical" [routerLink]="['/'+widget._source.item.type,widget._source.item.slug]"><img src="{{widget._source.image}}" alt="image" class="col-md-12 img-responsive padding0 center-block" ></a>
        </div>
        
        <div class="fs-association-data col-md-12 col-xs-12">
                <div class="fs-pic"><img class="img-circle" src="{{widget._source.item.profilePic}}"></div>
                <div class="fs-info col-md-9 col-xs-7">
                  <div class="fs-title"><a rel="canonical" [routerLink]="['/'+widget._source.item.type,widget._source.item.slug]">{{widget._source.item.name}}</a></div>
                  <div class="fs-asso-hash">
                  <span *ngFor="let role of widget._source.item.role">#{{role}}</span>
                  </div>
                </div>
                <!-- <div class="fs-follow col-md-3 col-xs-2"><button class="pull-right">Follow</button></div> -->
  
        </div>
      </div>
      <div class='col-md-8'>
        <div class="carousel slide media-carousel" id="media{{i}}">
        <!--<h5 class="text-right fs-seemore"><a rel="canonical" on-click="goToClothing()"  class="">See More</a></h5>-->
          <!--<div class="carousel-inner">-->
            <!--<div class="item  active">-->
              <div class="row">
                <div class="col-md-3 col-xs-3" *ngFor="let product of widget._source.products">
                  <a rel="canonical" class="thumbnail"  [routerLink] = "['/product/'+product._source.slug]"><img alt="" src="{{product._source.profilePic}}"></a>
                  <span class="text-uppercase">{{product._source.name}}</span><br>
                  <span>{{product._source.brand}}</span><br><span>&#8377;{{product._source.price}}/-</span>
                </div>            
              </div>
            <!--</div>-->
            <!--<div class="item">-->
              <!--<div class="row">
                <div class="col-md-3 col-xs-3" *ngFor="let item of fourArray">
                  <a rel="canonical" class="thumbnail" ><img alt="" src="http://content.flikster.com/celeb/SHILPA-SHETTY-IN-WHITE-FRILLS-D.jpg"></a>
                  <span class="text-uppercase">Short Dress With 3/4 Ruffled Sleeves</span><br>
                  <span>Description</span><br><span>&#8377;28,499/-</span>
                </div>            
              </div>-->
            <!--</div>-->
          <!--</div>-->
          <!--<a rel="canonical" data-slide="prev" href="/#media{{i}}" class="left carousel-control"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>-->
          <!--<a rel="canonical" data-slide="next" href="/#media{{i}}" class="right carousel-control"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>-->
        </div>                          
      </div>
    </div>    
  </div>
</div>
</div>

<!-- Footer Component -->
<footer></footer>