<titlebar></titlebar>

<div *ngIf="isMovie">
  <banner (feedFilterFromBanner)="feedFilterFromBanner($event)" (showmore)="showmore($event)" (showReview)='showReview($event)' [profileData]="profileData" (feedFilter)="feedFilter($event)"></banner>
</div>
<div *ngIf="isCeleb">
  <banner (showmore)="showmore($event)" (celebFilterFromBanners)="celebFilterFromBanners($event)" (feedFilterFromBanner)="feedFilterFromBanner($event)" [profileData]="profileData" (feedFilter)="feedFilter($event)"></banner>
</div>
<div *ngIf="isDesigner">
  <banner (feedFilterFromBanner)="feedFilterFromBanner($event)" [profileData]="profileData"></banner>
</div>

<div *ngIf="isDesigner" class="container-fluid fs-mt30 fs-mb20">
  <div class="container" *ngIf="profileData">
    <h3>About</h3>
   
    <div   class="col-md-12 padding0">
      <p style="height:50px;overflow:hidden;" *ngIf="readmore==false" [innerHTML]="profileData.about">
     </p>
     <p  *ngIf="readmore==true" [innerHTML]="profileData.about">
    </p>
      
    </div>
    <p (click)="readmore=!readmore" class="col-md-12 padding0">
      <span class="pull-right">{{readmore ? 'hide' : 'readmore'}}</span></p>
  </div>

</div>

<div *ngIf="isCeleb && pageType=='celeb-store'" class=""></div>  
<div class="container-fluid fs-mb20 mob-plr7"> 
  <div class="container padding0 fs-mt50 mob-fs-mt5">

    <div class="col-md-3 padding0 left-sticky">
  <related-and-peers *ngIf="isCeleb || isDesigner" [peers] = "peers" [pageType]="pageType" [categoryArray]="categoryArray" (selectedCatagory)="selectedCatagory($event)" (feedFilter)="feedFilter($event)"></related-and-peers>
  <related-and-peers *ngIf="isMovie" [movieCast] = "movieCast" [pageType]="pageType" [categoryArray]="categoryArray" (selectedCatagory)="selectedCatagory($event)" (feedFilter)="feedFilter($event)"></related-and-peers>
  <ul *ngIf='pageType=="movie"' class="list-unstyled cast-nd-story hidden-xs hidden-sm">
    <li><a on-click='castCrewDisplay()'>Cast & Crew</a></li>
    <li *ngIf='profileData && profileData.storyLine'><a on-click='showStoryLine()'>Story Line</a></li>
  </ul>
  <ul *ngIf='pageType=="celeb" && "profileData" && "profileData.biography"' class="list-unstyled cast-nd-story hidden-xs hidden-sm">
    <li><a on-click='showStoryLine()'>BIOGRAPHY</a></li>
  </ul>
  </div>
  <!-- <div class="col-md-6 plr25">
   <div class="col-md-12 padding0" *ngIf="contentData">
     <card-critic-review [miniCard]="miniCard" [content]="contentData"></card-critic-review>
   </div> 
</div> -->
   <div *ngIf="displayStyle && !displayCastCrew" class="col-md-6 plr25"> 
      <div *ngFor="let content of celebContent ; let i=index" class="col-md-12 padding0 fs-mb20">
          <!-- <fs-card *ngIf="content._source.contentType" [contentData]="content._source" [contentType]="content._source.contentType"></fs-card> -->
          <!-- <fs-card *ngIf="!content._source.contentType" [contentData]="content._source" [contentType]="content._source.serviceName"></fs-card> -->
          <img [src]= "content.profilePic" alt="image" class="img-responsive col-md-12 padding0 fs-mb10">
          <div *ngIf="i<contentsCount && (i+1)%5==0 && (i+1)==contents.length" class="fs-Loadmore" on-click="getContent()"><button class="center-block">Load more</button></div>
      </div>
      <!-- <h1>This is style</h1> -->
  </div>
  <!-- <div *ngIf="!displayStyle">
    <div *ngIf="contents && displayFilm==false" class="col-md-6 plr25">
        <div *ngFor="let content of contents ; let i=index" class="col-md-12 padding0 fs-mb20">
            <fs-card *ngIf="content._source.contentType" [contentData]="content._source" [contentType]="content._source.contentType"></fs-card>
            <fs-card *ngIf="!content._source.contentType" [contentData]="content._source" [contentType]="content._source.serviceName"></fs-card>
            <div *ngIf="i<contentsCount && (i+1)%5==0 && (i+1)==contents.length" class="fs-Loadmore" on-click="getContent()"><button class="center-block">Load more</button></div>
        </div>
    </div>
  </div> -->
  <div *ngIf="!displayStyle && contents[0] && !displayCastCrew">
      <div *ngIf="contents && displayFilm==false && contents[0]._source.contentType" class="col-md-6 col-xs-12 plr25 leftmargin" >
        
          <div *ngFor="let content of contents ; let i=index" class="col-md-12 col-sm-12 col-xs-12 padding0 fs-mb20 pull-left" >
            <!-- <div class="prod-div" *ngIf="!content._source.contentType">
              <a  class="col-md-12 pull-left  " rel="canonical"> <img class="img-responsive" alt="" [routerLink]="['/product', content._source.slug]"   src="{{content._source.profilePic}}">
              </a>
              <span class="col-md-12 padding0 text-center fs-moviename">Lorem</span><br>
              <span class="col-md-12 padding0 text-center fs-prodcnt">Lorem</span>
              </div> -->
            <fs-card *ngIf="content._source.contentType" [contentData]="content._source" [contentType]="content._source.contentType"></fs-card>
            <!-- <div *ngIf="i<contentsCount && (i+1)%5==0 && (i+1)==contents.length && !content._source.contentType" class="fs-Loadmore" on-click="getProductContent()"><button class="center-block">Load more</button></div> -->
              <div *ngIf="i<contentsCount && (i+1)%5==0 && (i+1)==contents.length && !content._source.contentType && filterFeed ==true" class="fs-Loadmore" on-click="getFeedContent()"><button class="center-block">Load more</button></div>

            <div *ngIf="i<contentsCount && (i+1)%5==0 && (i+1)==contents.length && content._source.contentType && filterFeed ==false " class="fs-Loadmore" on-click="getContent()"><button class="center-block">Load more</button></div>
          </div>
        
      </div>
       <div *ngIf="contents && displayFilm==false && !contents[0]._source.contentType" class="col-md-9 pull-left leftmargin celeb-right-div">
        <div class="prod-div">
          <div *ngFor="let content of contents ; let i=index" class="fs-shopbyvideos" >
            <div class="col-md-12 padding0" *ngIf="!content._source.contentType">
              <a  class="col-md-12 pull-left  " rel="canonical"> <img class="img-responsive" alt="" [routerLink]="['/product', content._source.slug]"   src="{{content._source.profilePic}}">
                <div  [routerLink]="['/product', content._source.slug]" class="mask"></div>
              </a>
              <!-- <span *ngIf='content._source.movie || content._source.celeb' class="col-md-12 padding0 text-center fs-moviename">{{content._source.movie[0].name?content._source.movie[0].name:content._source.celeb[0].name}}</span><br> -->
              <span *ngIf='content._source.name' [routerLink]="['/product', content._source.slug]" class="col-md-12 padding0 text-center fs-prodcnt">{{content._source.name}}</span>
              </div>
            <!-- <fs-card *ngIf="content._source.contentType" [contentData]="content._source" [contentType]="content._source.contentType"></fs-card> -->
            <div *ngIf="i<contentsCount && (i+1)%5==0 && (i+1)==contents.length && !content._source.contentType" class="fs-Loadmore" on-click="getProductContent()"><button class="center-block">Load more</button></div>

            <!-- <div *ngIf="i<contentsCount && (i+1)%5==0 && (i+1)==contents.length && content._source.contentType" class="fs-Loadmore" on-click="getContent()"><button class="center-block">Load more</button></div> -->
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="filmography && displayFilm==true && !displayCastCrew" class="col-md-9 leftmargin pull-left celeb-right-div">
      <table class="table table-filmography bg-white">
        <thead>
          <tr>
          <th>&nbsp;</th>
          <th>MOVIE NAME</th>
          <th>ROLE</th>
          <th>RELEASE DATE</th>
          </tr>
        </thead>
        <tbody>
        <tr *ngFor="let content of filmography | slice:0:show; let i=index" class="col-md-12 padding0 fs-mb20 filmography">

         <td><img [src]="content.profilePic" alt="image" on-click="goToMovie(content.slug)" class="col-md-12 padding0 fs-mb10 img-responsive img-circle"></td>
         <td>{{content.title}}
          <div><span *ngFor="let item of content.genre"> #{{item}}</span></div>
         </td>
         <!-- <td>{{content.charecterName}}</td> -->
         <td>
          <div><span>{{content.role}}</span>
            
          <!-- <span [innerHTML]="content.storyLine"></span> -->
          </div>
          </td>
         <td>{{content.releaseDate}}</td>
         

            <div *ngIf="i==(show-1) && show%5==0 && show<filmography.length" class="fs-Loadmore" on-click="show=show+5"><button class="center-block">Load more</button></div>
        
        </tr></tbody>
      </table>
    </div>
  
<div *ngIf='displayCastCrew' class="plr25 col-xs-12 pull-left col-md-9">
  <div class="cast-div">
    <h3>CAST</h3>
    <div class="col-md-12 padding0 cast-div1">
      <div *ngFor="let item of cast" class="cast-div1a-1">
      <div class="cast-div1a">
        <img src="{{item.profilePic}}">
      </div>
      <div class="cast-div1b">
        <div><a on-click='gotomoviepage("celeb",item.slug)'>{{item.name}}&nbsp;<span *ngIf='item.characterName.length>2'>( As {{item.characterName}} )</span></a></div>
        <div><span>#{{item.castRole}}</span></div>
      </div>
    </div>
  </div>
  </div>
  <div *ngIf='crew && crew.length>0' class="cast-div">
    <h3>CREW</h3>
    <div class="col-md-12 padding0 cast-div1">
      <div *ngFor='let item of crew' class="cast-div1a-1">
      <div class="cast-div1a">
        <img src="{{item.profilePic}}">
      </div>
      <div class="cast-div1b">
        <div><a on-click='gotomoviepage("celeb",item.slug)'>{{item.name}}&nbsp;</a></div>
        <div><span>#{{item.crewRole}}</span></div>
      </div>
    </div>
  </div>
  </div>
</div>
    <div *ngIf='( pageType =="celeb" || pageType =="movie") && displayFilm == false && !displayCastCrew' class="col-md-3 padding0 hidden-xs pull-right">
    <div *ngIf="isMovie" class="col-md-12 fs-mb20 padding0">
    <div class="col-md-12 padding0" style="float : right">
      <cast-crew *ngIf='passCasting' [cast] = "cast" [crew] = "crew" [checkFollowing]="followArray" [SuggestedMovies]="SuggestedMovies"></cast-crew>
 </div>
    </div>
   
    <ul class="list-unstyled RelMovies pers" *ngIf = "peers && followArray">
                <div *ngIf = "peers[0]" class="pull-left">
                  <p>Peers</p>
                    <li *ngFor="let peer of peers |slice:0:5;let i=index">
                      <div><a rel="canonical" ><img src="{{peer.profilePic}}" alt="image">
                    </a></div>
                      <div  class="RelMoviesName"><span><a rel="canonical" on-click="gotomoviepage('celeb',peer.slug)">{{peer.name}}</a></span></div>
                      <div  on-click="followCeleb(peer,i,followArray[i])" class="pull-right"><button *ngIf="followArray[i] && followArray[i].data.Count=='0'">follow</button>
                        <button *ngIf="followArray[i] && followArray[i].data.Count=='1'">following</button></div>
                    </li>
                </div>
              </ul>
  </div>


   </div>
  </div>


<div *ngIf="isMovie && pageType!='movie-store' && profileData && checkStoryline(profileData) && !displayCastCrew" class="container-fluid fs-mt30 fs-mb20 hidden-xs">
  <div class="container storyline padding0" *ngIf="profileData">
    <h3>STORY LINE</h3>
    <div class="col-md-12 padding0 StoryLine-div">
      <p style="height:40px;overflow:hidden;" *ngIf="readmore==false" [innerHTML]="profileData.storyLine">
     </p>
     <p  *ngIf="readmore==true" [innerHTML]="profileData.storyLine">
    </p>
      
    </div>
    <p *ngIf='profileData.storyLine && checkData(profileData.storyLine.length) && showToggle' class="readmore" (click)="readmore=!readmore">{{readmore ? 'hide' : 'read more'}}</p>
    <!-- <p [innerHTML]="profileData.storyLine"></p> -->
  </div>
  
  <!-- <card-critic-review *ngIf="contentData" [miniCard]="miniCard" [content]="contentData"></card-critic-review> -->
</div>

<div *ngIf="isCeleb && pageType!='celeb-store' && 'profileData' && 'profileData.biography'" class="container-fluid fs-mt30 fs-mb20 hidden-xs">
  
  <div class="container biography " *ngIf="profileData && displayFilm == false">
    <h3>Biography</h3>
   
        <!-- <p [innerHTML]="profileData.biography"></p> -->
        <div   class="col-md-12 padding0 biography-div">
            <p style="height:40px;overflow:hidden;" *ngIf="readmore==false" [innerHTML]="profileData.biography">
           </p>
           <p  *ngIf="readmore==true" [innerHTML]="profileData.biography"> 
          </p>
            
          </div>
          <div *ngIf="profileData.biography">
          <p *ngIf='checkData(profileData.biography.length) && showToggle' class="Readmore" (click)="readmore=!readmore">{{readmore ? 'hide' : 'read more'}}</p>
        </div>
    
  </div>
  
</div>


<login *ngIf="loginPopup" (closeLoginPopup)="closeLoginPopup($event)"></login>

<footer></footer>