
    *{
    /*font-family: 'DINLight';*/
    }
    body{
    /*position: relative;
    min-height: 100%;
    font-family: 'DIN Medium';*/
    /*font-family: 'DINLight';*/
    height: 100%;
    min-height: 100vh;
    position: relative;
    }
    @font-face {
      font-family: 'architects_daughterregular';
      src: url('../../../assets/fonts/architectsdaughter/architectsdaughter.woff2') format('woff2'),
         url('../../../assets/fonts/architectsdaughter/architectsdaughter.woff') format('woff');
      font-weight: normal;
      font-style: normal;
    }
    @font-face {
      font-family: 'DIN-Medium';
      src: url('../../../assets/fonts/din/DIN-Medium.woff') format('woff'),
           url('../../../assets/fonts/din/DIN-Medium.ttf') format('truetype'),
           url('../../../assets/fonts/din/DIN-Medium.svg#DIN-Medium') format('svg');
      font-weight: normal;
      font-style: normal;
    }
    @font-face {
      font-family: 'DINRegular';
      src: url('../../../assets/fonts/din/DINRegular.woff') format('woff');
    }
    @font-face {
      font-family: 'DINLight';
      src: url('../../../assets/fonts/din/DINLight.woff') format('woff');
    }
    @font-face {
      font-family: 'ArchitectsDaughter';
      src: url('../../../assets/fonts/ArchitectsDaughter.woff') format('woff');
    }
    
    
    .fs-header{
    background: #fff;
    }
    .flk{
    font-family: 'ArchitectsDaughter';
    margin-top: 15px;
    }
    .fs-mstore-flk + img{
    width: 30px;
    margin: 10px auto !important;
    }
    .flk + img{
    width: 30px;
    margin: 10px 0 ;
    }
    .icon-bar{
    background-color: #333;
    }
    .navbar-toggle.block{
    display: block;
    margin: 2px 0;
    padding: 0;
    }
    .fs-notifi{
    margin-right: 20px;
    }
    .getapp{
    background-color: rgb(255,89,107);
    border: 1px solid rgb(255,89,107);
    border-radius: 16px;
    color: #fff;
    height: 20px;
    font-weight: 100;
    font-size: 12px;
    margin-right: 20px;
    line-height: 25px;
    padding: 0 10px;
    }
    .space{
    margin-top: 15px;
    margin-bottom: 15px;
    float: right;
    }
    .srchicon{
    margin: 2px 20px 0 10px;
    cursor: pointer;
    }
    .srch{
    border-color: #616161;
    border-width: 0 0 1px;
    height: 20px;
    font-weight: 100;
    color: #a5a5a5;
    width: 40%;
    display: none;
    }
    .srch:focus{
    box-shadow: 0 1px 0 0 #616161;
    display: block !important;
    }
    .fs-userPic {
    float: right;
    height: 20px;
    margin-right: 20px;
    margin-left: 15px;
    width: 20px;
    }
    .fs-userPic > img {
    border-radius: 20px;
    height: 20px;
    width: 20px;
    }
    .fs-Notifi{
    font-size: 18px;
    position: relative; margin-top: 5px;
    }
    .fs-Notifi span{
    background: rgb(255, 89, 107) none repeat scroll 0 0;
    border-radius: 16px;
    color: #fff;
    cursor: pointer;
    float: right;
    font-size: 11px;
    font-weight: bold;
    height: 14px;
    position: absolute;
    right: -7px;
    text-align: center;
    top: -6px;
    width: 14px;
    }
    .fs-shopingbag{
    margin-top: 3px;
    }
    .fs-SrchDiv{
    float: right;
    position: relative;
    width: 66%;
    }
    .fs-srchresult{
    position: absolute; 
    z-index: 1; 
    background-color: rgb(255, 255, 255); 
    top: 30px; 
    width: 100%; 
    box-shadow: 0px 2px 2px 0px rgb(51, 51, 51); 
    display: none;
    }
    .fs-srchresult h4{
    margin: 0;
    padding-left: 10px;
    float: left;
    width: 100%
    }
    .fs-srchresult .fs-association-data:hover{
    background-color: rgb(254, 250, 222);
    }
    .border0{
    border: none;
    }
    .fs-m0{
    margin:0;
    }
    .fs-ml5{
    margin-left: 5px;
    }
    .fs-mt50{
    margin-top: 50px;
    }
    .fs-mt30{
    margin-top: 30px;
    }
    .fs-mtb10{
    margin-top: 10px; margin-bottom: 10px;
    }
    .fs-mtb20{
    margin-top: 20px; margin-bottom: 20px;
    }
    .fs-mb10{
    margin-bottom: 10px;
    }
    .fs-mb20{
    margin-bottom: 20px;
    }
    .fs-mb50{
    margin-bottom: 50px;
    }
    .fs-mt5{
    margin-top: 5px;
    }
    .fs-mt10{
    margin-top: 10px;
    }
    .fs-mt15{
    margin-top: 15px;
    }
    .fs-mt20{
    margin-top: 20px;
    }
    .fs-pl20{
    padding-left: 20px;
    }
    .fs-ptb20{
    padding-top: 20px; padding-bottom: 20px;
    }
    .fs-pr20{
    padding-right: 20px;
    }
    .fs-plr10{
    padding-left: 10px; padding-right: 10px;
    }
    .fs-pl0{
    padding-left: 0;
    }
    .fs-pr0{
    padding-right: 0;
    }
    .fs-plr0{
    padding-left: 0; padding-right: 0;
    }
    .fs-pr50{
    padding-right: 50px;
    }
    .fs-bg{
    background-color: #fafafa;
    }
    .bg-white{
    background-color: #fff;
    }
    .fs-card{
    float: left;
    background-color: #fff;
    border: 2px solid rgb(233, 232, 232);
    margin-bottom: 30px;
    padding-bottom: 10px;
    }
    .fs-association-data{
    padding:10px 0;
    float: left;
    }
    .fs-title{
    text-transform: capitalize;
    font-family: DIN-Medium;
    margin-top: 5px;
    color: #222;
    font-size: 15px;
    cursor: pointer;
    }
    .fs-asso-hash span{
    margin-right: 5px;
    text-transform: capitalize;
    color: #616161;
    /*font-family: DINLight;*/
    }
    .fs-pic{
    float: left;
    padding:3px 10px 0;
    }
    .fs-pic img{
    width: 40px;
    height: 40px;
    }
    .fs-info {
    padding-left: 0px;
    padding-right: 10px;
    }
    .fs-follow{
    float: right;
    margin-right: 10px;
    margin-top: 12px;
    max-width: 65px;
    padding: 0;
    }
    .fs-follow button{
    background: transparent none repeat scroll 0 0;
    border: 1px solid #616161;
    border-radius: 16px;
    float: left;
    text-transform: capitalize;
    font-size: 12px;
    min-width: 55px;
    /*font-family: "open_sansregular";*/
    line-height: 18px;
    }
    .fs-follow button:hover{
    border-color: rgb(255, 89, 107);
    color: rgb(255, 89, 107);
    }
    .fs-glyph-play{
    color: #fff;
    font-size: 30px;
    left: 48%;
    position: absolute;
    top: 45%;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 100%;
    }
    .fs-socialbar {
    padding-bottom: 14px;
    padding-top: 20px;
    border-bottom: 1px solid rgb(233, 232, 232);
    }
    .fs-socialbar button{
    border: 0;
    background-color: transparent;
    padding-left: 0;
    padding-right: 16px;
    color: #616161;
    text-transform: capitalize;
    }
    .fs-socialbar button span:last-child {
    color: #616161;
    padding-left: 7px;
    }
    .fs-socialbar button span.glyphicon{
    color: #222;
    }
    .fs-likes{
    font-size: 12px;
    padding-top: 4px;
    }
    .fs-likes span{
    font-weight: bold;
    margin-right: 3px;
    font-size: 14px;
    }
    .fs-title-heading h4{
    color: #222; font-size: 14px;
    text-transform: capitalize;
    font-family: DIN-Medium;
    margin: 20px 0;
    }
    .fs-comments p {
    margin-bottom: 0px;
    margin-top: 3px;
    color: #616161;
    font-size: 12px;
    }
    .fs-comments p span{
    color: #a5a5a5;
    text-transform: capitalize;
    }
    .fs-comments button{
    border: 0;
    background-color: transparent;
    padding: 0;
    color: #222;
    }
    .separator {
    border-top: 1px solid rgb(233, 232, 232);
    margin-top: 10px;
    }
    .fs-comments textarea{
    border-width: 0;
    width: 95%;
    float: left;
    line-height: 30px;
    resize: none;
    }
    .fs-comments textarea:focus {
    box-shadow: 0 1px 0 0 #5ba0fe;
    }
    .fs-option{
    float: left;
    margin-top: 12px;
    text-align: right;
    width: 5%;
    }
    .padding0{
    padding: 0;
    }
    .fs-modal{
    background: rgba(35,35,35,.9);
    width:100%;
    height: 100%;
    float: left;
    display: none;
    position: absolute;
    top: 0;
    }
    .fs-modal-dialog{
    background: #fff none repeat scroll 0 0;
    height: 220px;
    margin: 0 auto;
    position: relative;
    top: 200px;
    max-width: 400px;
    text-align: center;
    border-bottom: 10px solid #ff596b;
    padding-top: 10px;
    }
    .fs-modal-dialog img{
    width: 60px;
    }
    .fs-modal-dialog h4{
    color: #222;
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
    }
    .fs-modal-dialog p img{
    width: 150px;
    cursor: pointer;
    }
    .fs-modal-close{
    font-size: 20px;
    position: absolute;
    right: 5px;
    top: 6px;
    cursor: pointer;
    }
    /***************************  hamburger  *****************************/
    .fs-hamburger{
    background: rgba(35, 35, 35, 0.8);
    min-height: 100%;
    position: absolute;
    right: 0px;
    top: 0;
    display: none;
    width: 100%;
    z-index: 1;
    }
    .fs-hamburger-title {
    background: rgb(255, 89, 107);
    float: left;
    width: 100%;
    }
    .fs-hamburger-title h4{
    font-family: 'architects_daughterregular';
    color: #fff;
    padding:0 10px  0 20px;
    }
    .fs-hamburger #myNavbar{
    padding: 0;
    width: 258px;
    min-height: 100%;
    position: absolute;
    right: 0;
    background: #fff;
    display: none !important;
    margin:0 auto;
    }
    .fs-hamburger-close{
    cursor: pointer;
    }
    .fs-user{
    margin-bottom: 0;
    margin-top: 25px;
    width: 100%;
    }
    .fs-UserProPic{
    border-radius: 100%;
    float: left;
    height: 50px;
    margin: 3px 20px;
    width: 50px;
    }
    .fs-UserProPicName{
    float: left;
    font-size: 20px;
    margin-top: 20px;
    }
    .fs-hamburger .navbar-nav{
    width: 100%;
    margin: 20px 0 0;
    float: left;
    }
    .fs-hamburger .navbar-nav:last-child{
    margin-top: 30px;
    }
    .fs-hamburger .navbar-nav li{
    width: 100%;
    color: #8f8f8f;
    }
    .fs-hamburger .navbar-nav.navabr-nav-inline li{
    display: inline;
    width: auto;
    }
    .fs-hamburger .navbar-nav.navabr-nav-inline li a {
    padding: 3px 8px;
    font-size: 14px; color: #8f8f8f;
    }
    .fs-hamburger .navbar-nav.navabr-nav-inline li a::after {
    content: "-";
    font-size: 10px;
    position: absolute;
    right: 0;
    top: 1px;
    }
    .fs-hamburger .navbar-nav.navabr-nav-inline li:last-child a::after {
    content: "";
    }
    .fs-hamburger .navbar-nav.navabr-nav-inline .dropup .dropdown-menu{
    min-width: 100px;
    }
    .fs-hamburger ul > li > a:focus, .fs-hamburger ul > li > a:hover {
    color: #ff596b;
    }
    .fs-hamburger ul li a {
    padding: 3px 20px;
    color: #222;
    text-transform: capitalize;
    font-size: 16px;
    }
    .fs-hamburger h4 {
    padding: 5px 10px 5px 20px;
    float: left;
    width: 100%;
    margin-bottom: 0;
    }
    .fs-hamburger h4.fs-mt30 {
    color: #8f8f8f;
    }
    .fs-hamburger p {
    padding: 0 20px;
    float: left;
    }
    .fs-hamburger p .fa {
    font-size: 18px;
    cursor: pointer;
    margin-right: 15px;
    }
    .fs-hamburger .fa-user-circle-o{
    font-size: 60px;
    color: #eee;
    border-radius: 100%;
    }
    .fs-Copy{
    bottom: 0;
    position: fixed;
    right: 0;
    }
    .fs-hamburger #beforeLogin{
    padding: 0 50px;
    width: 1024px;
    min-height: 100%;
    position: absolute;
    right: 0;
    left: 0;
    background: #fff;
    display: block;
    margin:0 auto;
    /*display: none;*/
    }
    #beforeLogin li a {
    font-size: 20px;
    float: left;
    width: 100%;
    }
    /*********************  Nowshowing  **********************/
    .fs-cast div{
    display: table-cell;
    }
    .fs-width45{
    width: 45px;
    }
    .fs-ratings-div{
    margin:10px 0 0;
    }
    .fs-users-rating{
    border-right:1px solid #e7e5e5;
    padding-top: 8px;
    margin-top: 5px;
    }
    .fs-users-rating p {
    margin-bottom: 0;
    }
    .fs-critics-rating{
    padding-top: 5px;
    margin-top: 5px;
    }
    .fs-users-rating .txt-clr, .fs-critics-rating .txt-clr{
    color: #fe5b69;
    font-size: 14px;
    }
    .fs-users-rating img, .fs-critics-rating img {
    margin-right: 3px;
    margin-top: -7px;
    width: 17px;
    }
    .fs-users-rating strong, .fs-critics-rating strong {
    font-size: 16px;
    font-weight: normal;
    font-family: DIN-Medium;
    }
    .fs-users-rating span, .fs-critics-rating span {
    font-size: 10px;
    }
    .fs-movie-rate{
    border: 1px solid #222;
    border-radius: 8px;
    padding-top: 10px;
    cursor: pointer;
    }
    .fs-movie-rate p {
    margin-bottom: 6px;
    }
    .fs-movie-rate img {
    width: 20px;
    margin-bottom: 3px;
    }
    .fs-movie-title-info{
    font-family: DIN-Medium;
    color: #222;
    font-size: 15px;
    }
    .fs-movie-info {
    float: left;
    font-size: 12px;
    margin-bottom: 6px;
    width: 100%;
    }
    .fs-movie-info span {
    color: #222;
    float: left;
    font-family: DINRegular;
    font-size: 12px;
    font-weight: 100;
    line-height: 14px;
    margin-right: 3px;
    padding-right: 3px;
    }
    .fs-movie-info:last-child span {
    color: #222;
    font-family: DIN-Medium;
    }
    .fs-movie-info span:last-child {
    border-right: 0;
    }
    .fs-cast {
    margin-top: 5px;
    }
    .fs-cast .fs-width45{
    font-family: DIN-Medium;
    }
    .fs-cast-info p {
    margin-bottom: 8px;
    }
    .fs-cast-info span {
    color: #222;
    font-family: DINRegular;
    font-size: 13px;
    }
    .fs-director {
    float: left;
    margin-top: -8px;
    }
    .fs-director span:first-child {
    font-family: DIN-Medium;
    color: #222;
    }
    .fs-director span {
    color: #222;
    font-family: DINRegular;
    font-size: 13px;
    }
    .fs-modal-rating, .fs-modal-rating-tollywood{
    background: rgba(35,35,35,.8);
    width:100%;
    height: 100%;
    min-height: 100vh;
    float: left;
    display: none;
    position: absolute;
    top: 0;
    }
    .fs-dialog-rating, .fs-modal-rating-tollywood .fs-dialog-rating {
    background: #fff none repeat scroll 0 0;
    height: 220px;
    margin: 0 auto;
    max-width: 400px;
    position: relative;
    text-align: center;
    top: 150px;
    }
    .fs-dialog-rating-heading {
    background: #ff596b;
    float: left;
    width: 100%;
    }
    .fs-dialog-rating-heading h5{
    color: #fff;
    padding-left: 5px;
    position: relative;
    text-align: left;
    text-transform: capitalize;
    top: 4px;
    font-size: 16px;
    }
    .fs-dialog-rating-heading .fs-modal-close {
    color: #fff;
    }
    .fs-rating-dialog-info {
    float: left;
    width: 100%;
    }
    .fs-rating-dialog-info h4 {
    margin-top: 20px;
    }
    .fs-rating-dialog-info p{
    text-align: center;
    }
    .fs-rating-dialog-info img{
    width: 25px;
    cursor: pointer;
    }
    .fs-rating-dialog-info span{
    position: relative;
    top: 6px;
    }
    .fs-modal-movie-rate{
    font-size: 20px;
    }
    .fs-rating-dialog-info button {
    background: #ff596b none repeat scroll 0 0;
    border: 1px solid #ff596b;
    border-radius: 16px;
    color: #fff;
    height: 30px;
    line-height: 42px;
    font-size: 20px;
    padding:0 20px;
    margin-top: 25px;
    }
    .fs-nowshowingpic{
    overflow: hidden;
    padding: 0 0 0 10px;
    }
    .fs-nowshowingpic img {
    height: 100%;
    }
    .fs-upcomingpic{
    height: 160px;
    width: 160px;
    overflow: hidden;
    padding: 0 0 0 10px;
    }
    .fs-upcomingpic1{
    height: 128px;
    width: 128px;
    overflow: hidden;
    padding: 0 0 0 10px;
    }
    .fs-upcomingpic img {
    height: 100%;
    }
    
    /**********************************  Responsive  **********************************/
    @media only screen and (min-width:300px) and (max-width:500px){
    .fs-pos-rel p img { width: 72px; }
    .fs-pos-rel p{ left: 38% !important; }
    }
    @media only screen and (max-width:320px){
    .fs-celebStore button{ /*width: 98%;*/ margin-right: 2%; }
    }
    @media only screen and (min-width:480px) and (max-width:480px){
    .fs-pos-rel p { left: 40% !important; }
    .fs-pos-rel p img { width: 86px; }
    }
    @media only screen and (min-width:360px) and (max-width:360px){
    .fs-pos-rel p{ left: 36.5% !important; }
    .fs-pos-rel p img { width: 86px; }
    }
    @media only screen and (max-width:345px){
    .fs-title{ font-size: 12px; }
    .fs-asso-hash span{ font-size: 12px; }
    }
    @media only screen and (max-width:480px){
    .fs-pr0{ padding-right: 0; }
    .fs-csplr0{ padding-left: 0; padding-right: 0; }
    }
    @media only screen and (max-width:767px){
    .fs-celeb-profile .text-right{ text-align: left; }
    .fs-celeb-profile{ margin-bottom: 30px; }
    .fs-modal-celebdialog h3{ margin-top: 20px; }
    .fs-accessories{ margin-bottom: 15px; margin-right: 0; width: 100%; }
    .fs-everything{ margin-top: 0; margin-left: 1%; width: 49%; }
    .fs-shoe{ margin-right: 1%; width: 49%; }
    .padding-r0{ padding-right: 0; }
    .fs-mstore{ margin-top: 0; }
    .fs-categories{ margin:10px auto 0; }
    .fs-men-header{ height: auto; }
    .fs-men-header button{ height: auto; line-height: 18px !important; padding: 8px 15px 0;}
    .fs-men-header p{ font-size: 14px;}
    .fs-men-header p span{ float: none; }
    #fs-menu{ display: none; float: left; width: 100%; margin:0; }
    #fs-menu > .nav.navbar-nav{ margin:0; }
    .block1{ float: left; padding: 9px 0; font-family: "DINRegular"; margin-bottom: 0; }
    .block1 .glyphicon.glyphicon-menu-down { left: 5px; position: relative; top: 3px; }
    .fs-header .container.padding0 .col-md-4.col-xs-5.col-sm-5{ padding: 0; }
    .space{ padding-left:0; padding-right:0;  }
    .fs-pos-rel p { bottom: 19%; left: 42.5%; }
    .industrytypes p{ color: #222; }
    .industrytypes1 li a{ border: 1px solid #222; color: #222; }
    .industrytypes1 li a:hover{ color: #fff; }
    .fs-csplr0{ padding-right: 0; padding-left: 0; }
    .fs-pl0.fs-pr0.fs-mtb10{ padding-right: 0; }
    .gradient-clr{ height: auto; padding-bottom: 0; background: none; }
    .fs-celebtabs ul li a{ text-align: center; }
    .fs-celebPic{ width: 33.3333%; height: 95px; position: relative; margin-top: 0; }
    .fs-celebPic img{ width: 50px; height: 50px; }
    .fs-celebPic span{ margin:0; font-size: 9px; }
    .fs-celebDownloadapp p{ float: left !important; width: 100%; font-size: 10px; margin-top: 70px;}
    .fs-celebDownloadapp img{ width: 80px; margin-bottom: 3px; }
    .fs-celebStore .fs-men-header{ height: 180px; }
    .fs-celebDownloadapp p.pull-right{ margin-top: 70px; }
    .fs-menfashion .fs-mstore { margin-top: 50px; }
    .fs-menfashion .fs-mstore .fs-celebDownloadapp{ padding-left: 10px; }
    .fs-menfashion .fs-mstore .fs-celebDownloadapp p{ margin-top: 0; }
    .fs-womenfashion .fs-mstore { margin-top: 50px; }
    .fs-womenfashion .fs-mstore .fs-celebDownloadapp{ padding-left: 10px; }
    .fs-womenfashion .fs-mstore .fs-celebDownloadapp p{ margin-top: 0; }
    .fs-movieStore .fs-mstore { margin-top: 50px; }
    .fs-movieStore .fs-mstore .fs-celebDownloadapp{ padding-left: 10px; }
    .fs-movieStore .fs-mstore .fs-celebDownloadapp p{ margin-top: 0; }
    .fs-celebStore .fs-mstore { margin-top: 50px; }
    .fs-celebStore .fs-mstore .fs-celebDownloadapp{ padding-left: 10px; }
    .fs-celebStore .fs-mstore .fs-celebDownloadapp p{ margin-top: 0; text-align: right;}
    .fs-shareinfo h3{ font-size: 18px; width: 60%; left: 20%; }
    .fs-shareinfo > span{ width: 54%;left: 23%; }
    .admin_login{ padding: 30px !important; }
    .fs-tollywoodtabs ul li{ margin-bottom: 10px; }
    }
    @media only screen and (min-width:768px) and (max-width:768px){
    .fs-mstore{ margin-top: -25px; }
    .fs-shareinfo h3{ width: 30%; left: 35%; }
    .fs-shareinfo > span{ width: 20%;left: 40%; }
    }
    @media only screen and (min-width:800px) and (max-width:800px){
    }
    @media only screen and (max-width:991px){
    .fs-mpading0{ padding-left: 0; padding-right: 0; }
    .l-shareyourstyle img{ margin-right: 40px; }
    .l-menfashion img{ margin-left: 40px; }
    .fs-celebtabs ul li a{ font-size: 11px; }
    }
    @media only screen and (min-width:768px) and (max-width:1199px){
    .fs-pos-rel p{ left: 38%; }
    .fs-pos-rel p img{ width: 73px; }
    .fs-mstore{ margin-top: -25px; }
    }
    @media only screen and (max-width:1023px){
    .fs-men-header h3{ font-size: 80px; line-height: 150px; letter-spacing: -5px; }
    .l-womenfashion, .l-celebritystore, .l-moviestore{ margin-bottom: 10px; }
    .industrytypes{ padding: 0; }
    }
    @media only screen and (min-width:1024px) and (max-width:1024px){
    .fs-pos-rel p{ left: 38%; }
    .fs-pos-rel p img{ width: 86px !important; }
    }
    @media only screen and (min-width:1024px) and (max-width:1280px){
    .fs-men-header h3{ font-size: 110px; }
    .fs-mstore{ margin-top: -70px; }
    .fs-celebtabs ul li{ width: 20%; }
    }
    
   audio{
    width: 100%;
    cursor: pointer;
    /*margin-top: 67px;*/
    /*height: 195px;*/
   }
/*audio[type='play']{
    cursor: pointer;
    border: 1px solid #f00;
}*/
::-webkit-media-controls-play-button:hover{
    cursor: pointer;
}
::-moz-media-controls-play-button:hover{
    cursor: pointer;
}
.card-Title{
/*padding:0 10px 10px;*/
padding:0;
background-color: white;
}
.card-Title h1 {
/*font-family: "open_sansregular";*/
font-size: 15px;
font-weight: bold;
margin: 0;
line-height: 20px;
padding:0 10px;
cursor: pointer;
}
.card-Title p{
padding:0 10px;
}
.plr25{
    padding-left: 25px;
    padding-right: 25px;
}
.dialogue-height{
    /*height: 188px;*/
    height: 260px;
overflow: hidden;
box-shadow: 0 0 5px 0 #ddd;
margin: 10px 10px 3px;
width: 95%;
display: flex;align-items: center; justify-content: center;
}
.img-responsive{
    cursor: pointer;
}