<div  class="col-md-12 col-xs-12 padding0 fs-mb10 bg-white layer">

  <div  class="col-md-8 col-md-offset-2 col-xs-12  fs-mtb10 checkout-div">

    <div  class="fs-checkout-head">

      <h3 >LOOKS CHECK OUT</h3>

      <span ><i on-click='closePopup()'  aria-hidden="true" class="fa fa-close"></i></span>

    </div>

    <div class="col-md-12 padding0 checkout-info">


      <table  class="table">

        <tr>

          <th></th>

          <th>Description</th>

          <th>Color</th>

          <!-- <th>Quantity</th> -->

          <th>size</th>

          <th>Price</th>

          <!-- <th>Delete</th>   -->   

        </tr>

        <tr *ngFor="let sendObject of sendObjects;let i=index;">

          <td><img class="img-responsive chek-pic" src="{{sendObject.profilePic}}" alt="image"></td>

          <td><h4>{{sendObject.name}}</h4>

            <h5>{{sendObject.productInfo}}</h5>

          </td> 
          <td *ngIf='sendObject.color.length<2'>{{sendObject.color[0]}}</td>
          <td *ngIf='sendObject.color.length>1'><span  class="sizetype selected"><select  [(ngModel)]="productcolor[i]"><option *ngFor="let color of sendObject.color"  >{{color}}</option></select></span></td>

          <!-- <td *ngIf='sendObjects'><span class="qtyDiv">

            <span on-click="subcounter(sendObjects.quantity)" class="minus">-</span>

            <span   class="qtycnt">{{sendObjects.quantity}}</span>

            <span on-click="add()" class="add">+</span>

          </span></td> -->
          <!-- <td  *ngIf='checkSize(sendObject.size)'><span  *ngIf='sendObject.size.length==0'>unique</span></td> -->
          <!-- <td  *ngIf='sendObject.size'><span *ngIf='sendObject.size.length==1'>{{sendObject.size[0]}}</span></td> -->
          <td  *ngIf='sendObject.size'><span *ngIf='sendObject.size.length>1' class="sizetype selected"><select  [(ngModel)]="productsize[i]"><option *ngFor="let sizes of sendObject.size"  >{{sizes}}</option></select></span></td>

          <td>&#8377;{{sendObject.price}}</td>

          <!-- <td><span class="remove"><i on-click="removeItem()"  aria-hidden="true" class="fa fa-close"></i></span></td> -->

        </tr>

      </table>

      <div class="col-md-12 padding0 text-right">

        <button class="btn">CONTINUE SHOPPING</button>

        <button on-click='placeOrder()' class="btn">PLACE ORDER</button>

      </div>

    

      

  </div>

  </div>

</div>
