.layer{
	position: fixed;
width: 100%;
height: 100%;
background-color: rgba(0,0,0,.5);
top: 0;
}
.checkout-div{
background-color: #fff;
border: 1px solid rgb(244, 243, 243);
border-radius: 3px;
position: absolute;
/*right: 38px;*/
top: 75px;
/*width: 500px;*/
z-index: 2;
padding: 0;
}
.fs-checkout-head {
    background-color: rgb(255, 89, 107);
    float: left;
    width: 100%;
}
.fs-checkout-head > h3 {
    color: #fff;
    /*font-family: "open_sansregular";*/
    font-size: 18px;
    margin-bottom: 0;
    margin-top: 0;
    padding: 10px;
    text-align: center;
}
.checkout-div .fs-checkout-head > span {
    border: 1px solid;
    border-radius: 100%;
    color: #fff;
    height: 20px;
    line-height: 10px;
    padding: 2px 3px;
    cursor: pointer;
    position: absolute;
    right: 8px;
    top: 7px;
    width: 20px;
}
.checkout-info{
	padding: 15px;
}
.chek-pic{
	height: 100px;
}
.checkout-info table{
	border-bottom:1px dashed #ccc;
}
.checkout-info th:nth-child(2){
text-align: left;
}
.checkout-info th{
	border-top: 0; font-size: 16px; text-align: center;
}
.checkout-info td:nth-child(2){
text-align: left;
}
.checkout-info td{
	vertical-align: middle;
	border-top-style: dashed;
	text-align: center;
}
.checkout-info button{
border: 1px solid rgb(255, 89, 107);
padding: 8px 20px;
background-color: rgb(255, 89, 107);
color: #fff;
border-radius: 0px;
font-size: 14px;
margin-top: 15px;
font-weight: bold;
}
.checkout-info button:first-child{
background-color: #ccc;
border-color: #ccc;
margin-right: 20px;
}
.checkout-info .clrselect{
width: 45px;
background-color: #ccc;
height: 25px;
display: inline-block;
}
.checkout-info .remove{
	padding: 3px 5px;
border: 1px solid #ccc;
}
.checkout-info .qtyDiv{
border: 1px solid #ccc;
display: inline-block;
}
.checkout-info .qtyDiv span{
	padding: 2px 6px;
float: left;
border-right: 1px solid #ccc;
}
.checkout-info .qtyDiv span:last-child{
	border-right: 0;
}
.checkout-info .minus{}
.checkout-info .qtycnt{}
.checkout-info .add{}
