<div *ngIf="!isMiniCard">
    <div *ngIf='contentData'  class="thumbnail col-md-12 col-xs-12 padding0">
      
      
      <div on-click="gotocontent()" class="" style="width: 100%; float: left;display: inline-flex;align-items: center;">
        <p class="fs-quotes" [innerHTML]="contentData.text"></p>
      </div>
      <card-associationdata [time]='ShowTime' [date]='time' [assnData]="assnData"></card-associationdata>
<card-socialbar 
    [content]="content" 
    [contentData]="contentData" 
    [cardId]="cardId" 
    [shareSlug]='shareSlug' 
    [shareProfilePic]='shareProfilePic'>
</card-socialbar>
      <div class="col-md-12 col-sm-12 col-xs-12 pl10">
        <p on-click="gotocontent()" class="text-justify hei50">{{contentData.title}}</p>
        <!-- <p>
          <span>Read More</span>
        </p> -->
      </div>
      <div class="padding0 col-md-12 col-sm-12 col-xs-12 pull-left">
        <card-comments [cardId]="cardId"></card-comments>
      </div>
    </div>
</div>


<div *ngIf="isMiniCard  && page=='content'">
    

    <div *ngIf='contentData' class="thumbnail col-md-12 col-xs-12 padding0">
      
      <div on-click="gotocontent()" class="" style="width: 100%; float: left; padding: 0; display: inline-flex;align-items: center;">

        <p class="fs-quotes" [innerHTML]="contentData.text"></p>
      </div>
      
      <card-associationdata [time]='ShowTime' [date]='time' [assnData]="assnData"></card-associationdata>
      <!-- <card-associationdata [assnData]="assnData"> </card-associationdata> -->
      <div class="col-md-12 col-xs-12">
          <p class="text-justify hei50" [innerHTML]='contentData.title'></p>
          <!-- <p>
            <span>Read More</span>
          </p> -->
        </div>
      <card-socialbar [content]="content" [contentData]="contentData" [cardId]="cardId" [shareSlug]='shareSlug' [shareProfilePic]='shareProfilePic'></card-socialbar>
      
      
    </div>
</div>
<div *ngIf="isMiniCard  && page !='content'">
  

  <div *ngIf='contentData' class="thumbnail col-md-12 col-xs-12 padding0">
    
    <a [routerLink] = "['/content/'+contentData.slug]"><div  class="" style="width: 100%; float: left; padding: 0; display: inline-flex;align-items: center;">

      <p class="fs-quotes" [innerHTML]="contentData.text"></p>
    </div></a>
    
    <card-associationdata [time]='ShowTime' [date]='time' [assnData]="assnData"></card-associationdata>
    <!-- <card-associationdata [assnData]="assnData"> </card-associationdata> -->
    <div class="col-md-12 col-xs-12">
        <p on-click="gotocontent()" class="text-justify hei50" [innerHTML]='contentData.title'></p>
        <!-- <p>
          <span>Read More</span>
        </p> -->
      </div>
    <card-socialbar [content]="content" [contentData]="contentData" [cardId]="cardId" [shareSlug]='shareSlug' [shareProfilePic]='shareProfilePic'></card-socialbar>
    
    
  </div>
</div>