h1 {
  color: #00BCD4;
}
/*body{ background-color: #fafafa; }*/
.container {
    /*max-width: 1024px;*/
    /*max-width: 1100px;*/
    /*margin: 0 183px;*/
    }
*{
	/*font-family: 'Proxima Nova', Georgia, sans-serif;*/
	font-family: 'Proxima Nova';
/*font-family: 'open_sansregular';*/
/*font-family: 'ArchitectsDaughter';*/
}    
/*@font-face {
    font-family: 'open_sansitalic';
    src: url('../../../assets/fonts/Opensans/opensans-italic-webfont.woff2') format('woff2'), url('../../../assets/fonts/Opensans/opensans-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}*/

/*@font-face {
    font-family: 'Proxima Nova';
    src: url('../assets/fonts/Proxima Nova/fonts/Mark Simonson - Proxima Nova Alt Regular-webfont.eot');
    src: url('../assets/fonts/Proxima Nova/fonts/Mark Simonson - Proxima Nova Alt Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/Proxima Nova/fonts/Mark Simonson - Proxima Nova Alt Regular-webfont.woff2') format('woff2'),
         url('../assets/fonts/Proxima Nova/fonts/Mark Simonson - Proxima Nova Alt Regular-webfont.woff') format('woff'),
         url('../assets/fonts/Proxima Nova/fonts/Mark Simonson - Proxima Nova Alt Regular-webfont.ttf') format('truetype'),
         url('../assets/fonts/Proxima Nova/fonts/Mark Simonson - Proxima Nova Alt Regular-webfont.svg#proxima_nova_altregular') format('svg');
    font-weight: normal;
    font-style: normal;

}*/
/*.sb-wrapper{ min-width: auto; }*/
.sb-circles .sb-wrapper {
    color: #fff;
    background: transparent;
    min-width: unset;
    height: unset;
}
.sb-circles .sb-wrapper .sb-icon{
	width: 20px;
padding: 8px;
height: 36px;
float: left;
}
.sb-circles .sb-wrapper .sb-icon .fa{}
.sb-button{margin:0 ;}
.fs-bg {
    background-color: #fbfbfb;
}
body{
    background-color: #fbfbfb;
    font-family: 'Proxima Nova';
}
.img-responsive{
	cursor: pointer;
}
.sb-wrapper{
    min-width: 30px;/*margin-right: 15px;*/
}
.sb-wrapper .fa:hover{
  color: rgb(255, 89, 107);
}
.SHARE-SOCIAL-ICNS a:hover{
text-decoration: none;
}
.fs-socialicon a button{
    border:none; background-color: transparent;
}
@media only screen and (max-width:767px){
  .fashion_cat img{width: 50px;}
  .fashion_cat h2{font-size: 12px;}
}