<div on-click="closePopup()" class="container-fluid fs-uploadmodal" style="display: block;">
  </div>
  <div class="container padding0 fs-uploadmodalDiv">
      <div class="col-md-12 padding0">
        <div class="fs-Modalheader">
          <span on-click="closePopup()" class="glyphicon glyphicon-remove-circle fs-modal-Upladclose"></span>
        </div>
        <div class="fs-ModalContent">
          <h3 class="text-center">Share Your Style</h3>
          <p class="text-center">Upload your picture, tag products from the catelog and share the fashion style to the world.</p>

          <div class="fs-UploadCarousel">



<div class="container-fluid col-md-12">
<div class="col-md-10 col-md-offset-1 fs-ShareUrStyle1">
  <div class='row'>
    <div class='col-md-12'>
      <div class="carousel slide media-carousel" id="media2">
        <div class="carousel-inner">
          <div class="item  active">
            <div class="row">
               
            <div class="fs-Carousel1-div" on-click="changeDispCard(1,2)">
              <div class="fs-Carousel1-div2">
                <div class="fs-Carousel1-div2a"></div>
                <div class="fs-Carousel1-div2b"></div>
              </div>
            </div>
            <div class="fs-Carousel1-div" on-click="changeDispCard(2,3)">
              <div class="fs-Carousel1-div3">
                <div class="fs-Carousel1-div3a"></div>
                <div class="fs-Carousel1-div3b">
                  <div class="fs-Carousel1-div3b-1"></div>
                  <div class="fs-Carousel1-div3b-2"></div>
                </div>
              </div>
            </div>
            <div class="fs-Carousel1-div" on-click="changeDispCard(3,4)">
              <div class="fs-Carousel1-div4">
                <div class="fs-Carousel1-div4a">
                  <div class="fs-Carousel1-div4a-1"></div>
                  <div class="fs-Carousel1-div4a-2"></div>
                </div>
                <div class="fs-Carousel1-div3b">
                  <div class="fs-Carousel1-div3b-1"></div>
                  <div class="fs-Carousel1-div3b-2"></div>
                </div>
              </div>
            </div>
            <div class="fs-Carousel1-div active" on-click="changeDispCard(4,3)">
              <div class="fs-Carousel1-div3">
                <div class="fs-Carousel1-div3ah"></div>
                <div class="fs-Carousel1-div3bh">
                  <div class="fs-Carousel1-div3bh-1"></div>
                  <div class="fs-Carousel1-div3bh-2"></div>
                </div>
              </div>
            </div>
            <div class="fs-Carousel1-div" on-click="changeDispCard(5,4)">
              <div class="fs-Carousel1-div3">
                <div class="fs-Carousel1-div3ah"></div>
                <div class="fs-Carousel1-div3bh">
                  <div class="fs-Carousel1-div3bh-1a"></div>
                  <div class="fs-Carousel1-div3bh-2a">
                    <img class="img-responsive" src="images/image@1.png" alt="">
                  </div>
                  <div class="fs-Carousel1-div3bh-3a"></div>
                </div>
              </div>
            </div>
            <div class="fs-Carousel1-div" on-click="changeDispCard(6,4)">
              <div class="fs-Carousel1-div3">
                <div class="fs-Carousel1-div3a"></div>
                <div class="fs-Carousel1-div3bv">
                  <div class="fs-Carousel1-div3bv-1"></div>
                  <div class="fs-Carousel1-div3bv-2"></div>
                  <div class="fs-Carousel1-div3bv-3"></div>
                </div>
              </div>
            </div>
            </div>
          </div>
          <!--<div class="item">
            <div class="row">
                
              <div class="fs-Carousel1-div">
              <div class="fs-Carousel1-div2">
                <div class="fs-Carousel1-div2a"></div>
                <div class="fs-Carousel1-div2b"></div>
              </div>
            </div>
            <div class="fs-Carousel1-div">
              <div class="fs-Carousel1-div3">
                <div class="fs-Carousel1-div3a"></div>
                <div class="fs-Carousel1-div3b">
                  <div class="fs-Carousel1-div3b-1"></div>
                  <div class="fs-Carousel1-div3b-2"></div>
                </div>
              </div>
            </div>
            <div class="fs-Carousel1-div">
              <div class="fs-Carousel1-div4">
                <div class="fs-Carousel1-div4a">
                  <div class="fs-Carousel1-div4a-1"></div>
                  <div class="fs-Carousel1-div4a-2"></div>
                </div>
                <div class="fs-Carousel1-div3b">
                  <div class="fs-Carousel1-div3b-1"></div>
                  <div class="fs-Carousel1-div3b-2"></div>
                </div>
              </div>
            </div>
            <div class="fs-Carousel1-div active">
              <div class="fs-Carousel1-div3">
                <div class="fs-Carousel1-div3ah"></div>
                <div class="fs-Carousel1-div3bh">
                  <div class="fs-Carousel1-div3bh-1"></div>
                  <div class="fs-Carousel1-div3bh-2"></div>
                </div>
              </div>
            </div>
            <div class="fs-Carousel1-div">
              <div class="fs-Carousel1-div3">
                <div class="fs-Carousel1-div3ah"></div>
                <div class="fs-Carousel1-div3bh">
                  <div class="fs-Carousel1-div3bh-1a"></div>
                  <div class="fs-Carousel1-div3bh-2a">
                    <img class="img-responsive" src="images/image@1.png" alt="add1">
                  </div>
                  <div class="fs-Carousel1-div3bh-3a"></div>
                </div>
              </div>
            </div>
            <div class="fs-Carousel1-div">
              <div class="fs-Carousel1-div3">
                <div class="fs-Carousel1-div3a"></div>
                <div class="fs-Carousel1-div3bv">
                  <div class="fs-Carousel1-div3bv-1"></div>
                  <div class="fs-Carousel1-div3bv-2"></div>
                  <div class="fs-Carousel1-div3bv-3"></div>
                </div>
              </div>
            </div>
            <div class="fs-Carousel1-div">
              <div class="fs-Carousel1-div3">
                <div class="fs-Carousel1-div3a"></div>
                <div class="fs-Carousel1-div3b">
                  <div class="fs-Carousel1-div3b-1"></div>
                  <div class="fs-Carousel1-div3b-2"></div>
                </div>
              </div>
            </div>
                
            </div>
          </div>-->
          
        </div>
        <a rel="canonical" data-slide="prev" href="/#media2" class="left carousel-control"><i _ngcontent-c3="" _ngcontent-c1="" aria-hidden="true" class="fa fa-angle-left"></i></a>
        <a rel="canonical" data-slide="next" href="/#media2" class="right carousel-control"><i _ngcontent-c3="" _ngcontent-c1="" aria-hidden="true" class="fa fa-angle-right"></i></a>
      </div>                          
    </div>
  </div>
</div>
</div>
          
            <div class="fs-carouselPic col-md-7 col-sm-7 col-xs-12">

<!--card type1 start-->
              <div class="col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2 padding0 height-shareStyle crd-2v" *ngIf="cardsDispArray[0]">
                <div class="col-md-6 padding0 " style="">
                  <a rel="canonical" onclick="$('#profilePic').trigger('click'); return false;" *ngIf="!mainPicture">
                    
                    <img src="../../../assets/img/blank.jpeg" alt="add" *ngIf="!mainPicture" class="img-responsive">
                    <label>Upload picture</label>
                  </a>
                  <img src="{{mainPicture}}" alt="add" *ngIf="mainPicture" class="img-responsive">
                  <span class="glyphicon glyphicon-remove" on-click="removePic('main')"></span>
                </div>
                <div class="col-md-6">
                  <img src="{{shareYourStyle.image[1]}}" alt="" class="img-responsive" on-click="setPivot(1)" >
                  <!--<div class="" style="top: 0px;left: 0;position: absolute;width: 100%;height: 100%;background: rgb(170,169,173);opacity: .8;"></div>-->
                  <span class="glyphicon glyphicon-remove" on-click="removePic(1)"></span>
                </div>
              </div>
<!--card type1 end-->


<!--card type2 start-->
              <div class="col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2 padding0 height-shareStyle card-2v-r2h" *ngIf="cardsDispArray[1]">
                <div>
                  <a rel="canonical" onclick="$('#profilePic').trigger('click'); return false;" *ngIf="!mainPicture">
                    <img src="../../../assets/img/blank.jpeg" alt="add" *ngIf="!mainPicture" class="img-responsive" >
                    <label>Upload picture</label>
                  </a>
                  <img src="{{mainPicture}}" alt="add" *ngIf="mainPicture" class="img-responsive" >
                  <span class="glyphicon glyphicon-remove" on-click="removePic('main')"></span>
                </div>
                <div>
                  <div>
                    <img src="{{shareYourStyle.image[1]}}" alt="" class="img-responsive" on-click="setPivot(1)" >
                  <span class="glyphicon glyphicon-remove" on-click="removePic(1)"></span>
                  </div>
                  <div>
                    <img src="{{shareYourStyle.image[2]}}" alt="" class="img-responsive" on-click="setPivot(2)" >
                    <!--<div class="" style="top: 0px;left: 0;position: absolute;width: 100%;height: 100%;background: rgb(170,169,173);opacity: .8;"></div>-->
                  <span class="glyphicon glyphicon-remove" on-click="removePic(2)"></span>
                  </div>
               </div>
              </div>
<!--card type2 end-->


<!--card type3 start-->
              <div class="col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2 padding0 height-shareStyle card-2v-2h" *ngIf="cardsDispArray[2]">
                <div>
                  <div *ngIf="!mainPicture">
                    <a rel="canonical" onclick="$('#profilePic').trigger('click'); return false;" *ngIf="!mainPicture">
                      <img src="../../../assets/img/blank.jpeg" alt="add" *ngIf="!mainPicture" class="img-responsive" >
                      <label>Upload picture</label>
                    </a>
                    <img src="{{mainPicture}}" alt="add" *ngIf="mainPicture" class="img-responsive" >
                    <span class="glyphicon glyphicon-remove" on-click="removePic('main')"></span>
                  </div>
                  <div>
                    <img src="{{shareYourStyle.image[1]}}" alt="" class="img-responsive" on-click="setPivot(1)">
                  <span class="glyphicon glyphicon-remove" on-click="removePic(1)"></span>
                  </div>
                </div>
                <div>
                  <div>
                    <img src="{{shareYourStyle.image[2]}}" alt="" class="img-responsive" on-click="setPivot(2)" >
                  <span class="glyphicon glyphicon-remove" on-click="removePic(2)"></span>
                  </div>
                  <div>
                    <img src="{{shareYourStyle.image[3]}}" alt="" class="img-responsive" on-click="setPivot(3)" >
                    <!--<div class="" style="top: 0px;left: 0;position: absolute;width: 100%;height: 100%;background: rgb(170,169,173);opacity: .8;"></div>-->
                  <span class="glyphicon glyphicon-remove" on-click="removePic(3)"></span>
                  </div>
               </div>
              </div>
<!--card type3 end-->

              <!--card type4 start-->
              <div class="col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2 padding0 height-shareStyle crd-2h-b2v" *ngIf="cardsDispArray[3]">
              <div class="col-md-12">
                  <a rel="canonical" onclick="$('#profilePic').trigger('click'); return false;" *ngIf="!mainPicture">
                    <img src="../../../assets/img/blank.jpeg" alt="add" *ngIf="!mainPicture" class="img-responsive">
                    <label>Upload picture</label>
                  </a>
                  <img src="{{mainPicture}}" alt="add" *ngIf="mainPicture" class="img-responsive" style="width: 100%;">
                  <span class="glyphicon glyphicon-remove"  on-click="removePic('main')"></span>
              </div>
              <div>
                  <div>    
                      <img src="{{shareYourStyle.image[1]}}" alt="" class="img-responsive" on-click="setPivot(1)">
                      <span class="glyphicon glyphicon-remove" on-click="removePic(1)"></span>
                      <!--<div class="fs-layer"></div><span class="glyphicon glyphicon-remove"></span>-->
                  </div>
                   <div>   
                     <img src="{{shareYourStyle.image[2]}}" alt="" class="img-responsive" on-click="setPivot(2)" >
                      <span class="glyphicon glyphicon-remove"  on-click="removePic(2)"></span>
                   </div>
              </div>
              </div>
              <!--card type4 end-->

<!--card type5 start-->
              <div class="col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2 padding0 height-shareStyle card-2h-b3v" *ngIf="cardsDispArray[4]">
                <div>
                  <div>
                  <a rel="canonical" onclick="$('#profilePic').trigger('click'); return false;" *ngIf="!mainPicture">
                    <img src="../../../assets/img/blank.jpeg" alt="add" *ngIf="!mainPicture" class="img-responsive" style="width: 100%;">
                    <label>Upload picture</label>
                  </a>
                    <img src="{{mainPicture}}" alt="add" *ngIf="mainPicture" class="img-responsive" style="width: 100%;">
                    <span class="glyphicon glyphicon-remove" on-click="removePic('main')"></span>
                  </div>
                </div>
                <div>
                  <div>
                    <img src="{{shareYourStyle.image[1]}}" alt="" class="img-responsive"  on-click="setPivot(1)">
                  <span class="glyphicon glyphicon-remove" on-click="removePic(1)"></span>
                  </div>
                  <div>
                    <img src="{{shareYourStyle.image[2]}}" alt="" class="img-responsive"  on-click="setPivot(2)">
                  <span class="glyphicon glyphicon-remove" on-click="removePic(2)"></span>
                  </div>
                  <div>
                    <img src="{{shareYourStyle.image[3]}}" alt="" class="img-responsive"  on-click="setPivot(3)">
                    <!--<div class="" style="top: 0px;left: 0;position: absolute;width: 100%;height: 100%;background: rgb(170,169,173);opacity: .8;"></div>-->
                  <span class="glyphicon glyphicon-remove" on-click="removePic(3)"></span>
                  </div>
               </div>
              </div>
<!--card type5 end-->

<!--card type6 start-->
              <div class="col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2 padding0 height-shareStyle card-2v-r3h" *ngIf="cardsDispArray[5]">
                <div>
                  <div>
                  <a rel="canonical" onclick="$('#profilePic').trigger('click'); return false;" *ngIf="!mainPicture">
                    <img src="../../../assets/img/blank.jpeg" alt="add" *ngIf="!mainPicture" class="img-responsive" >
                    <label>Upload picture</label>
                  </a>
                    <img src="{{mainPicture}}" alt="add" *ngIf="mainPicture" class="img-responsive" >
                    <span class="glyphicon glyphicon-remove" on-click="removePic('main')"></span>
                  </div>
                </div>
                <div>
                  <div>
                    <img src="{{shareYourStyle.image[1]}}" alt="" class="img-responsive" on-click="setPivot(1)" style="width: 100%;">
                  <span class="glyphicon glyphicon-remove" on-click="removePic(1)"></span>
                  </div>
                  <div>
                    <img src="{{shareYourStyle.image[2]}}" alt="" class="img-responsive" on-click="setPivot(2)">
                  <span class="glyphicon glyphicon-remove" on-click="removePic(2)"></span>
                  </div>
                  <div>
                    <img src="{{shareYourStyle.image[3]}}" alt="" class="img-responsive" on-click="setPivot(3)">
                  <!--<div class="" style="top: 0px;left: 0;position: absolute;width: 100%;height: 100%;background: rgb(170,169,173);opacity: .8;"></div>-->
                  <span class="glyphicon glyphicon-remove" on-click="removePic(3)"></span>
                  </div>
               </div>
              </div>
<!--card type6 end-->

          <div class="text-center" style="float: left;margin-left: 17%; margin-top: 10px;">
            <input type="text" [(ngModel)]="shareYourStyle.title" name="title" placeholder="Give your card a title..">
          </div>
              <div class="col-md-8 col-md-offset-2 padding0 fs-mt30 fs-mb10 col-xs-12">
                <!--Share on :<input name="facebook" type="radio"> <i class="fa fa-facebook" aria-hidden="true"></i>-->
                <!--<input name="twitter" type="radio"><i class="fa fa-twitter" aria-hidden="true"></i>-->
                <button on-click="post()" class="btn-success btn">POST</button>
                <p *ngIf='shareYourStyle.title==null'>{{displayText}}</p>
              </div>
            </div>
            <div class="fs-carouselPicType col-md-4 col-sm-4 col-xs-12">
              <h3 style="margin-top: 0;">Greetings! Hello :)</h3>
              <p class="small" *ngIf="!isPhotoUploaded"> Browse and upload your picture</p>
              <p class="small" *ngIf="isPhotoUploaded && !isProductTagged"> Select product from our catelog</p>
              <p class="small" *ngIf="isPhotoUploaded && isProductTagged"> Upload your picture or tag products, movies, celebs, etc</p>
              <p class="small" *ngIf="uploadAlert"> Upload atleast one picture</p>
              <p class="small" *ngIf="tagAlert"> Tag atleast one product</p>
              <p class="small" *ngIf="isUploading"> Uploading...Please wait</p>



    <input type="file" (change)="fileEvent($event, 'profilePic')" style="margin-bottom: 10px; display:none;" id="profilePic"/>

    <input name="search" *ngIf="isPhotoUploaded && !isProductTagged" placeholder="Search For Products" (change)="search()" [(ngModel)]="searchText">
    <div *ngFor="let result of searchResult">
        <img src="{{result._source.profilePic}}" alt=""  on-click="setPicture(result._source)" style="height:30px;width:30px;">
        <label on-click="setPicture(result._source)" class="example-full-width">{{result._source.name}}</label>
    </div>

    <input type="file" *ngIf="isPhotoUploaded && isProductTagged" (change)="fileEvent($event, pivot)" style="margin-bottom: 10px;"/>
    <!--<input type="radio" [(ngModel)]="shareYourStyle.shareType" value="PUBLIC">Products
    <input type="radio" [(ngModel)]="shareYourStyle.shareType" value="PRIVATE">Celebrities
    <input type="radio" [(ngModel)]="shareYourStyle.shareType" value="PRIVATE">Movies
    <input type="radio" [(ngModel)]="shareYourStyle.shareType" value="PRIVATE">Designers
    <input type="radio" [(ngModel)]="shareYourStyle.shareType" value="PRIVATE">Brands-->
    <input name="search" *ngIf="isPhotoUploaded && isProductTagged" placeholder="Search For Products, Movies, Celebs, etc" (change)="globalSearch()" [(ngModel)]="globalSearchText">
    <div *ngFor="let result of globalSearchResult">
        <img src="{{result._source.profilePic}}" alt=""  on-click="setPicture(result._source)" style="height:30px;width:30px;">      
        <label on-click="setPicture(result._source)" *ngIf="result._source.name" class="example-full-width">{{result._source.name}} ({{result._source.serviceName}})</label>
        <label on-click="setPicture(result._source)" *ngIf="result._source.title" class="example-full-width">{{result._source.title}} ({{result._source.serviceName}})</label>
    </div>
            </div>





            <div class="col-md-10 col-md-offset-1 fs-carouselPicTypeHeading">
              <div class="strip1"></div>
              <p class="text-center"><span>Share Your Style</span></p>


<!-- <div class="container-fluid col-md-12">
<div class=" fs-ShareUrStyle1 fs-carouselPicTypeHeading padding0">
  <div class='row'>
    <div class='col-md-12'>
      <div class="carousel slide media-carousel" id="media10">
        <div class="carousel-inner">
          <div class="item  active">
            <div class="row">
              <div class="col-md-2 col-xs-2 ">
                <a rel="canonical" class="thumbnail" [routerLink] = "['/share-your-style']"><img alt="" src="../../../assets/img/image@2.png"></a>
              </div>
              <div class="col-md-2 col-xs-2 ">
                <a rel="canonical" class="thumbnail" [routerLink] = "['/share-your-style']"><img alt="" src="../../../assets/img/image@2.png"></a>
              </div>
              <div class="col-md-2 col-xs-2 ">
                <a rel="canonical" class="thumbnail" [routerLink] = "['/share-your-style']"><img alt="" src="../../../assets/img/image@2.png"></a>
              </div>
              <div class="col-md-2 col-xs-2 ">
                <a rel="canonical" class="thumbnail" [routerLink] = "['/share-your-style']"><img alt="" src="../../../assets/img/image@2.png"></a>
              </div>
              <div class="col-md-2 col-xs-2 ">
                <a rel="canonical" class="thumbnail" [routerLink] = "['/share-your-style']"><img alt="" src="../../../assets/img/image@2.png"></a>
              </div>
              <div class="col-md-2 col-xs-2 ">
                <a rel="canonical" class="thumbnail" [routerLink] = "['/share-your-style']"><img alt="" src="../../../assets/img/image@2.png"></a>
              </div>     
            </div>
          </div>
        
        </div>
        <a rel="canonical" data-slide="prev" href="/#media10" class="left carousel-control"><i _ngcontent-c3="" _ngcontent-c1="" aria-hidden="true" class="fa fa-angle-left"></i></a>
        <a rel="canonical" data-slide="next" href="/#media10" class="right carousel-control"><i _ngcontent-c3="" _ngcontent-c1="" aria-hidden="true" class="fa fa-angle-right"></i></a>
      </div>                          
    </div>
  </div>
</div>
</div> -->



<div class="container-fluid col-md-12">
<div class="col-md-12 fs-ShareUrStyle1 fs-ShareUrStyle1-a padding0">
  <div class='row'>
    <div class='col-md-12'>
      <div class="carousel slide media-carousel" id="media22">
        <div class="carousel-inner">
          <div class="item  active">
            <div class="row">
              <div class="col-md-2 col-xs-2 " *ngFor="let item of carouselData">
                <img alt="" src="{{item.profilePic}}" on-click="setPicture(item)">
              </div>
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div class="col-md-2 col-xs-2 " *ngFor="let item of carouselData">
                <img alt="" src="{{item.profilePic}}" on-click="setPicture(item)">
              </div>
            </div>
          </div>
        </div>
        <a rel="canonical" data-slide="prev" href="/#media22" class="left carousel-control"><i _ngcontent-c3="" _ngcontent-c1="" aria-hidden="true" class="fa fa-angle-left"></i></a>
        <a rel="canonical" data-slide="next" href="/#media22" class="right carousel-control"><i _ngcontent-c3="" _ngcontent-c1="" aria-hidden="true" class="fa fa-angle-right"></i></a>
      </div>                          
    </div>
  </div>
</div>
</div>

            </div>


          </div>
        </div>
      </div>
    </div>



<login *ngIf="displayLoginPopup" (closeLoginPopup)="closeLoginPopup($event)"></login>