<div class="">
  <div class="container padding0"> </div>
  <titlebar [addedToBag]="addedToBag"></titlebar>
</div>




<div class="container-fluid fs-mt50 mob-padding0" *ngIf="product" >
    <div class="container padding0 ">
        <ul class="breadcrumb breadcrumb1 fs-mt20" style="background: transparent;margin-bottom: 0;padding-left: 0;">
            <li *ngIf="product.category[0][0]" on-click="gotoPage(product.category[0][0])">{{ product.category[0][0]}}</li>
            <!-- <li *ngIf="product.category[0][1]" on-click="gotoSubpage(product.category[0][0],product.category[0][1])">{{ product.category[0][1]}}</li> -->
            <li *ngIf="product.category[0][1]">{{ product.category[0][1]}}</li>
            <li *ngIf="product.category[0][2]">{{ product.category[0][2]}}</li>
            <li *ngIf="product.category[0][3]">{{ product.category[0][3]}}</li>

            <!-- <li *ngIf="product.category[0][2]" on-click="gotoCatagory(product.category[0][0],product.category[0][1],product.category[0][2])">{{ product.category[0][2]}}</li> -->
            <!-- <li *ngIf="product.category[0][3]" on-click="gotosubCatagory(product.category[0][0],product.category[0][1],product.category[0][2], product.category[0][3])">{{ product.category[0][3]}}</li> -->
        </ul>
      <div class="col-md-6 col-sm-12 col-xs-12 padding0 fs-mt20 mob-pro-left-height">
        <div class="col-md-2 col-sm-2 col-xs-2 padding0 Prod-Samples">
            <div *ngIf='product' class="col-md-12 col-sm-12 padding0" >
                <img src="{{product.profilePic}}" alt="image" class="img-responsive" on-click="swaplead()" >
              </div>
        <div class="col-md-12 col-sm-12 padding0" *ngFor="let img of product.imageGallery;let i=index">
          <img [src]="img" alt="image" class="img-responsive" on-click="swapImages(i)" >
        </div>
        </div>
        <div class="col-md-10 col-sm-10 col-xs-10 fs-pr0 prodviewtype" >
          <div class="hidden-xs" ><img (mouseenter) ="mouseEnter()"  (mouseleave) ="mouseLeave()" *ngIf="leadImage" [windowPosition]="1" imageZoom="{{leadImage}}" src="{{leadImage}}" alt="image" class="img-responsive hidden-xs"></div>
          <img *ngIf="leadImage" src="{{leadImage}}" alt="image" class="img-responsive visible-xs">
          <img src="../../../assets/img/Boutique.svg" alt="image" class="img-responsive boutiq">
          <span class="sale" style=""><img src="../../../assets/img/Sale Badge.png" alt="image"></span>
        </div>

      </div>
      
      <div [ngClass]="hideIndex =='true' ? 'indexClass':''"  class="col-md-5 col-md-offset-1 col-sm-5 col-sm-offset-1 col-xs-12 padding0 fs-mt20 mob-pro-right" style="margin-left: 4%; width: 46%;"> 
        <div class="col-md-12 col-xs-12 padding0 mob-plr7">
        <h1 class="Prod-Title" >{{product.name}}</h1>
       <a [routerLink] = "['/brand-store/',product.brand]"> <h6 style="display: none;" class="price">{{product.brand}}</h6></a>
        <h4 *ngIf="!product.isDiscount" class="price" style="color: #8d8d8d; font-weight: bold;">{{product.price | currency: 'Rs.': true:'1.0-0'}}</h4>
        <h4 *ngIf="product.isDiscount" class="price price-strike"><span>MRP :</span>
          <!-- <span>{{product.price | currency: 'INR': true:'1.0-0'}}</span> -->
          <span>{{product.price | currency: 'Rs.': true:'1.0-0'}}</span>
        </h4>    <!--write strike CSS for this -->
        <h4 *ngIf="product.isDiscount && product.discountObj" class="price">
          <span>Price :</span><span style="font-weight: bold; font-size: 21px; margin-top: -3px;">{{product.discountObj.discPrice | currency: 'Rs.': true:'1.0-0'}} </span>
          </h4>
          <h4 *ngIf="product.isDiscount" class="pull-left col-md-12 padding0" style="color: #8d8d8d;"><span class="pull-left" style="color: #6c6c6c;">You Save : </span> 
            <span class="pull-left" style="margin:0 4px;">Rs.{{+(product.price)-(+product.discountObj.discPrice)}} </span>
            <span *ngIf='product.discountObj'> ({{product.discountObj.discPercentage}}%)</span></h4>
        <!-- <div class="col-md-12 col-xs-12 padding0 fs-mtb10">
          <span *ngIf='product.color' class="colortxt">Color</span>
          <span *ngIf='product.color' class="sizetype selected"><select  [(ngModel)]="productcolor"  ><option *ngFor="let colors of product.color"  >{{colors}}</option></select></span>
          <button *ngFor="let colors of product.Items[0].color" class="clr">{{colors}}</button>
          <span [style.background-color]="'product.color[0]'"  class="clr" ></span>
          <span *ngFor="let colors of product.color" style="background-color: {{colors}}" class="clr">{{colors}}</span>
        </div> -->
        <!-- <h4 class="col-md-12 padding0" style="color: #0f0; font-size: 16px;">Only <span>*</span> left in stock</h4> -->
        <div class="col-md-12 col-xs-12 padding0 fs-mt10" >
          <span *ngIf='product.size' class="size">Size</span>
          <span *ngIf='product.size' class="sizetype selected">
          
            <!-- <select  [(ngModel)]="productsize"  >
              <option *ngFor="let sizes of product.size">{{sizes}}</option>
            </select> -->
            <ul class="SIZES-INFO" >

                 <div *ngIf="sizes >= 1" (ngModel)="productsize">

                 <li *ngFor="let sizes of product.size; let i=index;" (click)="showSelected(sizes)"><a [ngClass]="{'active':productsize == sizes}">{{sizes}}</a></li>

               </div>
               <div *ngIf='displayText' class="pro-size-warning"> {{displayText}}</div>

               <!-- <div *ngIf="selected">

                   <li *ngFor="let sizes of product.size; let i=index;" (click)="showSelected(item)" class="active"><a>{{ sizes}}</a></li>

                 </div> -->

               </ul>
          </span>
          <div *ngIf="!isAuction" class="btn-group sizeCnt">
              <span class="colortxt">Qty</span>
            
                 <button type="button"  class="btn btn-default" on-click="subcounter(counter)">-</button>
                 <!-- <button type="button" *ngIf="counter == 1" class="btn btn-default">-</button> -->
            
                 <button  type="button" class="btn btn-default">{{counter}}</button>
            
                 <button type="button" class="btn btn-default" on-click="counter=counter+1">+</button>
                 
            
                </div>       
        </div> 
        <!-- [disabled] = "availabilityToggle()" -->
        <div class="col-md-12 col-xs-12 padding0 fs-mtb10">
          <!-- <button class="fs-Boutic">SAVE</button> -->
          <button class="savelater" *ngIf="!addedToBag" on-click="addToBag()">ADD TO BAG</button>
          <button class="savelater" *ngIf="addedToBag">ADDED TO BAG</button>
          <button  on-click="placeOrder()" class="buybtn">BUY NOW</button>   
          <!-- <button on-click="getapp(i)" class="buybtn" *ngIf="isLooks">Buy Complete Look</button> -->
          <button class="buybtn hidden-xs" *ngIf="isLooks" on-click="getapp()" style="margin-top:15px;width:100%;">Buy Complete Look</button>
        </div>
        <div class="divider hidden-xs"></div>
      </div>
          <div class="col-md-12 col-xs-12 pull-left padding0 fs-mtb10 mob-fff mob-plr7 mob-pt10 mob-fs-mtb7">
            <details class="fs-mb10" open>
            <summary><!-- <i class="fa fa-play" aria-hidden="true"></i> -->Information</summary>
            <!-- <p class="text-justify">is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p> -->
            <p>{{product.productInfo}}</p>
          </details>
          <details class="fs-mb10" open>
            <summary><!-- <i class="fa fa-sort-down" aria-hidden="true"></i> -->Description</summary>
            <!-- <p class="text-justify">is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p> -->
                <p [innerHTML]="product.productDescription"></p>
          </details>
            <details class="fs-mb10 " >
              <summary>Dispatch within 10-12 days</summary>
              <p class="fs-mt10">Tax: Applicable tax on the basis of exact location & discount will be charged at the time of checkout. </p>
              <p class="fs-mt10">Free shipping across all products on a minimum purchase of Rs 999.</p>
              <p class="fs-mt10">Cash on delivery might be available.</p>
            </details>
            <details class="fs-mb10" >
              <summary>Return Policy and Authenticity</summary>
              <p class="fs-mt10">100% Original Products</p>
              <p class="fs-mt10">Easy 15 days returns & 15 days exchanges</p>
              <p class="fs-mt10">Have any questions? Our Returns Policies may vary based on Products and Promotions, but don’t worry we’re always here to help you. For full details on our Returns Policies, Read the <a [routerLink] = "['/return-policy']">full return policy</a></p>
            </details>
          
          </div>
          <div class="col-md-12 padding0 prod-certifed">
            <ul class="list-unstyled list-inline">
              <li><img src="../../../assets/img/Genuine Products.png" alt="image"></li>
              <li><img src="../../../assets/img/Secure Payments.png" alt="image"></li>
              <li><img src="../../../assets/img/Easy Returns.png" alt="image"></li>
            </ul>
          </div>
        <div class="divider hidden-xs" style="margin-bottom: 20px;"></div>
          
          <div *ngIf="item=='item1'"  class="container padding0 fs-mtb10">
            <details class="fs-mb10 " open>
              <summary>Dispatch within 10days</summary>
              <p class="fs-mt10">Tax: Applicable tax on the basis of exact location & discount will be charged at the time of checkout. </p>
              <p class="fs-mt10">Free shipping across all products on auction.</p>
              <p class="fs-mt10">Cash on delivery might be available.</p>
            </details>
            <details class="fs-mb10" open>
              <summary>Policy and Authencity</summary>
              <p class="fs-mt10">Cannot be returned or exchanged. </p>
              <p class="fs-mt10">Additional shipping charges may apply based upon the location of the winner. </p>
              <p class="fs-mt10">100% Original Products Includes a certificate of authenticity</p>
            </details>
  
  
            <details class="fs-mb10" open>
              <summary>Information</summary>
              <p class="text-justify">is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            </details>
            <details class="fs-mb10" open>
              <summary>Description</summary>
              <p class="text-justify">is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            </details>
  
  
            </div>
          <!-- <div *ngIf="isShareyourStyleProduct" class="col-md-12 col-xs-12 padding0 fs-mt10">
            <p class="text-justify"><strong>Information: </strong>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
          </div>
          
          <div *ngIf="isShareyourStyleProduct" class="col-md-12 col-xs-12 padding0 fs-mt10">
            <p class="text-justify"><strong>Description: </strong>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
          </div>
   -->
          
          <div class="col-md-12 col-xs-12 padding0 fs-socialicon">
            <p><strong>Share on: </strong> 
            <!--<a rel="canonical" ><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a rel="canonical" ><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a rel="canonical" ><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a rel="canonical" ><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            <a rel="canonical" ><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>-->
            
            <button shareButton="facebook" [style.backgroundColor]="share.prop.facebook.color" [sbImage]="product.profilePic"  [sbUrl]=productUrl>
                <i [class]="share.prop.facebook.icon"></i>
              </button>
              <button shareButton="twitter" [style.backgroundColor]="share.prop.twitter.color"   [sbUrl]=productUrl>
                  <i [class]="share.prop.twitter.icon"></i>
                </button>
                <button shareButton="whatsapp" [style.backgroundColor]="share.prop.whatsapp.color"   [sbUrl]=productUrl>
                    <i [class]="share.prop.whatsapp.icon"></i>
                  </button>
                  <button shareButton="google" [style.backgroundColor]="share.prop.google.color" [sbImage]=leadImage  [sbUrl]=productUrl>
                      <i [class]="share.prop.google.icon"></i>
                    </button>
                    <button shareButton="pinterest" [style.backgroundColor]="share.prop.pinterest.color"  [sbUrl]=productUrl>
                        <i [class]="share.prop.pinterest.icon"></i>
                      </button>
                      
                

          <!-- <a rel="canonical" >
            <share-button [theme]="'modern-light'"
                [button]="'facebook'"
                [url]=router.url
                ></share-button>
          </a> -->

          <!-- <a rel="canonical" >
            <share-button [theme]="'modern-light'"
            [button]="'twitter'"
                [url]=router.url
            ></share-button>
          </a>

          <a rel="canonical" >
            <share-button [theme]="'modern-light'"
            [button]="'whatsapp'"
                [url]=router.url
            ></share-button>
          </a>

          <a rel="canonical" >
            <share-button [theme]="'modern-light'"
            [button]="'google'"
                [url]=router.url
            ></share-button>
          </a>

          <a rel="canonical" >
            <share-button [theme]="'modern-light'"
            [button]="'pinterest'"
                [url]=router.url
            ></share-button>
          </a> -->

          
            </p>
          </div>
          
        <!-- </div> -->
      </div>
      <div *ngIf="isLooks && lookproduct" class="col-md-6 padding0 hidden-xs"> 
              <h3 style="text-align:center;margin-bottom:20px;margin-top:10px;">All product's in the look</h3>
            <carousel  (productPivot)="productPivot($event)" [carouselsData] = "lookproduct.products"></carousel>
          </div>
    </div>
  </div>

  <div class="container-fluid fs-mt50 mob-padding0" *ngIf="Auctionproduct" >
    <div class="container padding0 ">
      <div *ngIf="!Auctionproduct.gallery" class="col-md-6 col-sm-12 col-xs-12 padding0 fs-mt50 mob-pro-left-height">
        <div class="col-md-2 col-sm-2 col-xs-2 padding0 Prod-Samples">
        <div class="col-md-12 col-sm-12 padding0" >
          <img [src]="Auctionproduct.profilePic" alt="image" class="img-responsive"  >
        </div>
        </div>
        <div class="col-md-10 col-sm-10 col-xs-10 fs-pr0 prodviewtype" >
          <div class="hidden-xs">
          <img (mouseenter) ="mouseEnter()"  (mouseleave) ="mouseLeave()" *ngIf="leadImage" [windowPosition]="1" imageZoom="{{leadImage}}" src="{{leadImage}}" alt="image" class="img-responsive hidden-xs"></div>
          <img *ngIf="leadImage" src="{{leadImage}}" alt="image" class="img-responsive visible-xs">
        </div>

      </div>
      <div *ngIf="Auctionproduct.gallery" class="col-md-6 col-sm-12 col-xs-12 padding0 fs-mt50 mob-pro-left-height">
          <div class="col-md-2 col-sm-2 col-xs-2 padding0 Prod-Samples">
              <div class="col-md-12 col-sm-12 padding0" >
                  <img [src]="Auctionproduct.profilePic" alt="image" class="img-responsive" on-click="swapProfileImages()" >
                </div>
          <div class="col-md-12 col-sm-12 padding0" *ngFor="let img of Auctionproduct.gallery;let i=index">
            <img [src]="img" alt="image" class="img-responsive" on-click="swapImages(i)" >
          </div>
          </div>
          <div class="col-md-10 col-sm-10 col-xs-10 fs-pr0 prodviewtype" >
            <div class="hidden-xs">
            <img (mouseenter) ="mouseEnter()"  (mouseleave) ="mouseLeave()" *ngIf="leadImage" [windowPosition]="1" imageZoom="{{leadImage}}" src="{{leadImage}}" alt="image" class="img-responsive hidden-xs"></div>
          <img *ngIf="leadImage" src="{{leadImage}}" alt="image" class="img-responsive visible-xs">
          </div>
  
        </div>
      
      <div [ngClass]="hideIndex =='true' ? 'indexClass':''" class="col-md-5 col-md-offset-1 col-sm-5 col-sm-offset-1 col-xs-12 padding0 fs-mt50  mob-pro-right" style="margin-left: 4%; width: 46%;">
        <div class="col-md-12 col-xs-12 padding0 mob-plr7">
        <h1 class="Prod-Title">{{Auctionproduct.name}}</h1>
        <div style="float: left; margin-right: 25px;">
          <span *ngIf='Auctionproduct.color' class="colortxt">Color</span>
          <span  class="clr">{{Auctionproduct.color[0]}}</span>
          </div>
          <span *ngIf='Auctionproduct.size' class="size">Size</span>
          <span *ngIf='Auctionproduct.size' class="sizetype selected">{{sizeArray[0]}}</span>
          <!-- <span [style.background-color]="'product.color[0]'"  class="clr" ></span> -->
          <!-- <span *ngFor="let colors of product.color" style="background-color: {{colors}}" class="clr">{{colors}}</span> -->
          <div class="pull-right">
            <!-- <button class="wtchthis"><img alt="image" class="img-responsive1 img-thumbnail1" src="../../../assets/img/Search Eye.png" style="width: 20px;margin-right: 4px;">Watch</button></div> -->
        </div>
        </div>
        <!-- <h6 [routerLink] = "['/brand-store/haute-curry']"  class="price">{{Auctionproduct.brand}}</h6> -->
        <!-- <h4 *ngIf="Auctionproduct.maxPrice" class="price">{{Auctionproduct.maxPrice | currency: 'INR': true}}</h4> -->
        <div class="col-md-12 col-xs-12 padding0 fs-mtb10">
          
        <!-- <h4 *ngIf="Auctionproduct" class="price col-md-12 padding0"><span>Starting Bid : </span> {{Auctionproduct.startingPrice | currency: 'INR': true}}</h4> -->
        <div class="col-md-12 col-xs-12 padding0" >
          
          <div *ngIf="!isAuction" class="btn-group sizeCnt">
            <h3>Qty</h3>
                 <button type="button"  class="btn btn-default" on-click="subcounter(counter)">-</button>
                 <!-- <button type="button" *ngIf="counter == 1" class="btn btn-default">-</button> -->
                 <button type="button" class="btn btn-default">{{counter}}</button>
                 <button type="button" class="btn btn-default" on-click="counter=counter+1">+</button>
          </div> 
            
          <div class="divider hidden-xs"></div>
            <div class="col-md-12 col-xs-12 padding0 TimeLEft">
                <div class="col-md-2 col-xs-2 padding0">
                  <!-- <i class="fa fa-clock-o" aria-hidden="true" style="font-size: 45px;margin-top: -10px; color: rgb(159, 157, 151);"></i> -->
                  <img _ngcontent-c9="" alt="image" class="img-responsive1 img-thumbnail1" src="../../../assets/img/clock icon.png" style="width: 50px;">
                </div>
            <div class="col-md-10 col-xs-10 padding0">
                <div  class="col-md-12 col-xs-12 padding0"> 
                  <span *ngIf='daysLeft > 0' class="pull-left timedisplay"><span>{{daysLeft}}</span><br>day(s)</span>
                  <span class="pull-left timedisplay"><span>{{hoursLeft}}</span><br>hour(s)</span>
                  <span class="pull-left timedisplay"><span>{{minutsLeft}}</span><br>min(s)</span>
                  <span  class="pull-left timedisplay"><span>{{secondsLeft}}</span><br>sec(s)</span>
                </div>
            
                <div class="col-md-12 col-xs-12 padding0">Ends {{Auctionproduct.endDate |date }} at 10:05 AM</div>
            </div>
           </div>
              <div *ngIf="isAuction" class="Bid-Div">
               <div *ngIf='!auctionBidding' class="col-md-12 col-xs-12 padding0 fs-mtb10 StrtBID">
                <div class="col-md-12 padding0" style="font-size: 12px;">Starting Bid</div>
                <div class="text-bold col-md-4 padding0" style="font-size: 20px;">Rs {{Auctionproduct.startingPrice}}</div>
                <div *ngIf='!auctionBidding' class="col-md-8 padding0 text-right">(0 Bids)</div>
                <div *ngIf='auctionBidding' on-click="showbids()" class="col-md-8 padding0 text-right pointer" style="font-size: 16px;">({{auctionBidding.bidCount}} Bids)</div>
               </div>
               <div *ngIf='auctionBidding'  class="col-md-12 col-xs-12 padding0 fs-mtb10 StrtBID">
                    <div class="col-md-12 col-xs-3 padding0" style="font-size: 14px;"> Current Bid</div>
                    <div *ngIf='auctionBidding' class=" col-md-4 col-xs-6 padding0 curbid">Rs {{bidmore}}</div>
                    <div *ngIf='!auctionBidding' class="text-bold col-md-4 col-xs-6 padding0" style="font-size: 20px;">Rs {{ bidstarting}}</div>
                    <div *ngIf='auctionBidding' on-click="showbids()" class="col-md-8 col-xs-3 padding0 text-right pointer">({{auctionBidding.bidCount}} Bids)</div>
                    <!-- <div   class="col-md-4 padding0 text-right pointer"><i class="fa fa-refresh" aria-hidden="true"  on-click='refresh()'></i></div> -->
               </div>
               <div class="col-md-12 col-xs-12 padding0">
                <div  class="col-md-12 padding0 bidInfoBtns">
                <!-- <button *ngIf='enter==false || submitted' class=" form-control btn-ui" on-click='enterbid()' placeholder="Enter Your Bid"></button> -->
                <span  class="fs-mtb10 col-md-12 text-center padding0"><input class="col-md-12 padding0 form-control text-center" type="" [(ngModel)]="bidprice" placeholder="Enter Your Bid" /></span>
                <span *ngIf='enter==false && auctionBidding' class="fs-mtb10 col-md-12 col-xs-12 padding0 text-center">Enter <span class="text-bold">Rs {{bidmore}}</span> or more</span>
                <span *ngIf='enter==false && !auctionBidding' class="fs-mtb10 col-md-12 text-center">Enter <span class="text-bold">Rs {{bidstarting}}</span> or more</span> 
                <button  on-click='placebid()' class="btn btn-default form-control fs-mt10 btn-ui" style="background-color: #e85668;">Place Bid</button>
                </div>
                <div class="col-md-12 padding0">
                  <span *ngIf='success && submitted' class="fs-mtb10 col-md-12 text-center" style="color: #e85668;text-transform: capitalize;">{{success.message}}</span> 
                </div>
               </div>
               <!-- <div class="divider"></div> -->
               <!-- <div *ngIf='Auctionproduct.maxPrice' class="col-md-12 col-xs-12 padding0 fs-mt10">
                <p>Buy it directly, <a class="clickhere" on-click="placeOrder()">click here</a></p> 
               </div> -->
              </div>
              <div class="skip-auction-buy"> 
                <p>Skip the auction and buy now to get an autograph/picture and a chance to 
                  <span class="meet-celeb">meet the celebrity!</span></p>
                  <p class="skip-price">Rs<span *ngIf='setMaxPrice(bidmore,+Auctionproduct.maxPrice)'>{{currentMaxPrice}} </span></p>
                  <button class="hidden-xs"  on-click="placeOrder()">Buy Now</button>
                  <button class="visible-xs"  on-click="placeOrder()">BUY</button>
              </div>
        </div> 
        
        <!-- <div class="divider"></div> -->
        <!-- <div class="col-md-12 padding0 bynowdiv">
          <p class="col-md-12 padding0 text-center">Skip the auction and buy now to get an autograph/picture<br>and a chance to <span style="color: #e85668;cursor: pointer;">meet the celebrity!</span></p>
          <p class="text-center"><span style="font-size: 18px;font-weight: bold;">Rs {{Auctionproduct.maxPrice}}</span></p>
          <p class="text-center"><button class="btn btn-primary bynow">Buy Now</button></p>
        </div> -->
        
          <div *ngIf="item=='item'"  class="col-md-12 col-xs-12 pull-left padding0 fs-mtb10">
            <details class="fs-mb10 " open>
              <summary>Dispatch within 10-12 days</summary>
              <p class="fs-mt10">Tax: Applicable tax on the basis of exact location & discount will be charged at the time of checkout. </p>
              <p class="fs-mt10">Free shipping across all products on a minimum purchase of Rs 999.</p>
              <p class="fs-mt10">Cash on delivery might be available.</p>
            </details>
            <details class="fs-mb10" open>
              <summary>Return Policy and Authenticity</summary>
              <p class="fs-mt10">100% Original Products</p>
              <p class="fs-mt10">Easy 15 days returns & 15 days exchanges</p>
              <p class="fs-mt10">Have any questions? Our Returns Policies may vary based on Products and Promotions, but don’t worry we’re always here to help you. For full details on our Returns Policies, Read the <a [routerLink] = "['/return-policy']">full return policy</a></p>
            </details>


          <details class="fs-mb10">
            <summary>Information</summary>
            <!-- <p class="text-justify">is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p> -->
            {{ Auctionproduct.info}}
          </details>
          <details class="fs-mb10">
            <summary>Description</summary>
            <!-- <p class="text-justify">is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p> -->
                {{ Auctionproduct.description}}
          </details>


          </div>
          <div *ngIf="item=='item1'"  class="col-md-12 col-xs-12 pull-left padding0 fs-mtb10">
            <details class="fs-mb10 " >
              <summary>Dispatch within 10 days</summary>
              <p class="fs-mt10">Tax: Applicable tax on the basis of exact location & discount will be charged at the time of checkout. </p>
              <p class="fs-mt10">Free shipping across all products on auction</p>
              <p class="fs-mt10">Cash on delivery might be available.</p>
            </details>
            <details class="fs-mb10" open>
              <summary>Policy and Authencity</summary>
              <p class="fs-mt10">Cannot be returned or exchanged. </p>
              <p class="fs-mt10">Additional shipping charges may apply based upon the location of the winner. </p>
              <p class="fs-mt10">100% Original Products Includes a certificate of authenticity</p>
            </details>
  
  
            <details class="fs-mb10" open>
              <summary>Information</summary>
              <p class="text-justify">is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            </details>
            <details class="fs-mb10" open>
              <summary>Description</summary>
              <p class="text-justify">is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            </details>
  
  
            </div>
          <!-- <div *ngIf="isShareyourStyleProduct" class="col-md-12 col-xs-12 padding0 fs-mt10">
            <p class="text-justify"><strong>Information: </strong>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
          </div>
          
          <div *ngIf="isShareyourStyleProduct" class="col-md-12 col-xs-12 padding0 fs-mt10">
            <p class="text-justify"><strong>Description: </strong>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
          </div>
   -->
          
          <div class="col-md-12 col-xs-12 padding0 fs-socialicon" style="margin-top: 25px;">
            <p><strong>Share on : </strong> 
              <button shareButton="facebook" [style.backgroundColor]="share.prop.facebook.color" [sbImage]=leadImage  [sbUrl]=productUrl>
                  <i [class]="share.prop.facebook.icon"></i>
                </button>
                <button shareButton="twitter" [style.backgroundColor]="share.prop.twitter.color"   [sbUrl]=productUrl>
                    <i [class]="share.prop.twitter.icon"></i>
                  </button>
                  <button shareButton="whatsapp" [style.backgroundColor]="share.prop.whatsapp.color"   [sbUrl]=productUrl>
                      <i [class]="share.prop.whatsapp.icon"></i>
                    </button>
                    <button shareButton="google" [style.backgroundColor]="share.prop.google.color" [sbImage]=leadImage  [sbUrl]=productUrl>
                        <i [class]="share.prop.google.icon"></i>
                      </button>
                      <button shareButton="pinterest" [style.backgroundColor]="share.prop.pinterest.color"  [sbUrl]=productUrl>
                          <i [class]="share.prop.pinterest.icon"></i>
                        </button>
            <!-- <a href="https://www.facebook.com/Flikster/" target="_blank" rel="canonical" ><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="https://www.twitter.com/Flikster/" target="_blank" rel="canonical" ><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href="https://www.instagram.com/fliksterfashion/" target="_blank" rel="canonical" ><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a rel="canonical" ><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            <a href="https://www.pinterest.com/fliksterfashion/" rel="canonical" ><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
            <a rel="canonical" href="https://plus.google.com/115170069699213749949" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a> -->
            </p>
          </div>
          <!-- <div *ngIf="item=='item'" class="fs-mt20 col-md-12">
            <carousel [data] = "stealThatStyle" [type] = "pdpitems" ></carousel>
          </div> -->

      </div>

      
    </div>
    <div *ngIf="isAuction"  class="container padding0 fs-mtb10">
      <div class="col-md-12 col-xs-12 padding0">
      <div style="display: none;">
        <details class="fs-mb10 " open>
          <summary>Dispatch within 10-12 days</summary>
          <p class="fs-mt10">Tax: Applicable tax on the basis of exact location & discount will be charged at the time of checkout. </p>
          <p class="fs-mt10">Free shipping across all products on a minimum purchase of Rs 999.</p>
          <p class="fs-mt10">Cash on delivery might be available.</p>
        </details>
        <details class="fs-mb10" open>
          <summary>Return Policy and Authenticity</summary>
          <p class="fs-mt10">100% Original Products</p>
          <p class="fs-mt10">Easy 15 days returns & 15 days exchanges</p>
          <p class="fs-mt10">Have any questions? Our Returns Policies may vary based on Products and Promotions, but don’t worry we’re always here to help you. For full details on our Returns Policies, Read the <a [routerLink] = "['/return-policy']">full return policy</a></p>
        </details>
      <details class="fs-mb10" open>
        <summary>Information</summary>
        <!-- <p class="text-justify">is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p> -->
        {{ Auctionproduct.info}}
      </details>
      <details class="fs-mb10" open>
        <summary>Description</summary>
        <!-- <p class="text-justify">is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p> -->
        <p class="text-justify" [innerHTML]='Auctionproduct.description'></p>   
        <!-- {{ Auctionproduct.description}} -->
      </details>
    </div>
    <div class="BIDINFO">
      <h4 class="text-bold">Information</h4>
      <p>{{ Auctionproduct.info}}</p>
      <h4 class="text-bold">Description</h4>
      <p class="text-justify" [innerHTML]='Auctionproduct.description'></p>
      <h4 class="text-bold">Delivery</h4> 
      <ul>
        <li>Dispatch within 10 days</li>
        <li>Tax: Applicable tax on the basis of exact location & discount will be charged at the time of checkout.</li>
        <li>Free shipping across all products an auction</li>
      </ul>
      <h4 class="text-bold">Policy and Authenticity</h4>
      <ul>
        <li>Cannot be returned or exchanged</li>
        <li>Additional shipping charges may apply based upon the location of the winner.</li>
        <li>100% Original Products</li>
        <li>Includes a certificate of authenticity</li>
      </ul>
    </div>
  </div>
      </div>
    
  </div>

</div>

  <div  class="container-fluid padding0 mob-plr7 mob-fff mob-fs-mt7">
    <div class="container padding0">
      <div class="col-md-12 col-sm-12 padding0 relstrip fs-mt50 mob-m0">
        <div class="padding0"><hr></div>
        <div class="padding0">
            <h3 *ngIf="!isAuction" class="text-center"><strong>RELATED</strong> FLICKS</h3>
          <h3 *ngIf="isAuction" class="text-center"><strong>MORE</strong> AUCTIONS</h3>
        </div>
        <div class="padding0"><hr></div>
      </div>
      <div *ngIf='relatedFliks' class="col-md-12 col-xs-12 padding0 fs-relflks">
        <div *ngFor='let item of relatedFliks | slice:0:8;' class="col-md-3 col-sm-3 col-xs-6 fs-pl0">
          <div on-click='gotoProduct(item.slug)' class="col-md-12 padding0">
            <img src="{{item.profilePic}}" alt="image"  class="img-responsive"><div on-click='gotoProduct(item.slug)'></div>
          </div>
          <div class="fs-prodname fs-mt10" on-click='gotoProduct(item.slug)'>{{item.name}}</div>
          <!-- <div class="prodprice">{{item.brand}}</div> -->
          <div class="prodprice">Rs. {{item.price}}/-</div>
        </div>
      </div>
      <div *ngIf='relatedLooks' class="col-md-12 col-xs-12 padding0 fs-relflks">
        <div *ngFor='let item of relatedLooks | slice:0:12' class="col-md-3 col-sm-3 col-xs-6 fs-pl0">
          <div on-click='gotoLooks(item.slug)'  class="col-md-12 padding0">
            <img  src="{{item.profilePic}}" alt="image"  class="img-responsive"><div on-click='gotoLooks(item.slug)'></div>
          </div>
          <div class="fs-prodname fs-mt10" on-click='gotoLooks(item.slug)'>{{item.title}}</div>
          <div class="prodprice">{{item.brand}}</div>
        </div>
      </div>
        
      <div *ngIf='currentarray' class="col-md-12 col-xs-12 padding0 fs-relflks fs-relflks-auction">
        <div *ngFor='let item of currentarray' class="col-md-3 col-sm-3 col-xs-6 fs-pl0">
          <div class="col-md-12 padding0">
            <img src="{{item.profilePic}}" alt="image" class="img-responsive">
            <div on-click='gotoAuctionProduct(item.slug)'></div>
          </div>
          <div on-click='gotoAuctionProduct(item.slug)' class="fs-prodname fs-mt10">{{item.name}}</div>
          <div *ngIf='getEndTime(item)'  class=" fs-mt10">Ends in 
            <span>
              <span class="text-bold">{{reldaysLeft}}d</span>:
              <span class="text-bold">{{relhoursLeft}}h</span>:
              <span class="text-bold">{{relminutsLeft}}m</span>
            </span>
          </div>

          <!-- <div class="prodprice">Rs. 8,200/-</div> -->
        </div>
       
      
      </div>
      
    </div>
  </div>
  

<footer></footer>


<login *ngIf="displayLoginPopup" (closeLoginPopup)="closeLoginPopup($event)"></login>
<!-- <looks-checkout *ngIf="get" [sendObjects]='sendObject' [item]='item' [productOrder]='productOrder' [id]='orderId' (changingOrder)="changingOrder($event)" ></looks-checkout> -->
<looks-checkout *ngIf="get" (productPivot)="productPivot($event)" [looksData] = "productsArray" (changingOrder)="changingOrder($event)"></looks-checkout>

<div *ngIf='showbid'  class="col-md-12 col-xs-12 padding0 fs-mtb10 StrtBID Bid-Modal"  on-click="close()">
  <div *ngIf="showbid" class="Bid-Modal-content">
                      <div  style="margin-top: 10px;float: left;width: 100%;">
                        <h3>BID HISTORY
                          <!-- <span class="glyphicon glyphicon-remove-circle fs-modal-close"></span> -->
                          <img src="../../../assets/img/close.png" class="fs-modal-close">
                        </h3>
                        <div class="bid-his-info">
                          <span style="margin-right: 10px;">Bidders : <span class="text-bold">{{userids.length}}</span></span>
                          <span style="margin-right: 10px;">Bids : <span class="text-bold">{{bidArray.length}}</span></span>
                          <span>Time Left : 
                            <span class="text-bold">{{daysLeft}}</span>days
                            <span class="text-bold">{{hoursLeft}}</span>hours
                            <span class="text-bold">{{minutsLeft}}</span>min
                            <span class="text-bold">{{secondsLeft}}</span>sec
                          </span>
                        </div>
                      </div>
                     <table *ngIf="bidArray" class="bid-table table">
                      <thead>
                        <tr>
                          <th>s.no</th>
                         <th>Bidder</th>
                         <th>Amount</th>
                         <th>Time</th>
                       </tr>
                      </thead>
                       <tbody>
                         <tr *ngFor="let item of bidArray.reverse();let i=index">
                         <td> {{i+1}}</td>
                         <td >{{item.userId | slice:0:3 }}**********</td>
                         <td>{{item.bidAmount}}</td>
                         <td></td>
                       </tr>
                       </tbody>
                     </table>
                    </div>
</div>                  
