
<div class="fs-mb30 col-md-12 pull-left">

<div *ngIf="contentData" class="col-md-6 col-md-offset-3 col-xs-12 pull-left">

  <div class="col-md-5 col-sm-4 col-xs-12 pull-left fs-nowshowingpic" [routerLink] = "['/content','nowshowing']">
    <img src="{{contentData.profilePic}}" alt="" class="col-md-12 col-xs-12 img-responsive padding0">
    <span class="glyphicon glyphicon-play-circle fs-glyph-play"></span>
  </div>
  <div class="col-md-7 col-sm-8 col-xs-12 pull-left fs-plr10">
    <div class="col-md-12 col-xs-12 pull-left padding0">
      <h4 [routerLink] = "['/content','nowshowing']" class="fs-mt5 fs-movie-title-info">{{contentData.title}}</h4>
      <p class="fs-movie-info"><span>26 May,20117</span><span>|</span><span>2hrs 20min</span><span>|</span><span>U/A</span></p>
      <p class="fs-movie-info"><span>Telugu</span><span>|</span><span>Romance, Drama</span></p>
    </div>
    <div class="col-md-12 col-xs-12 pull-left padding0 fs-cast">
    <div class="fs-width45">Cast : </div>
    <div class="fs-cast-info"><p><span>Naga chaitanya Akkineni, </span><span>Rakul Preet Singh, </span><span>Sampath Raj, </span><span>Jagapati Babu, </span><span>Kousalya.</span></p>
    </div>
      
    </div>
    <div class="col-md-12 col-xs-12 pull-left padding0 fs-director">
      <p><span>Director : </span><span>kalyan krishna</span></p>
    </div>
  </div>
</div>

<div class="col-md-6 col-md-offset-3 col-xs-12 col-sm-12 pull-left fs-ratings-div">
    <div class="col-md-4 col-xs-6 col-sm-4 pull-left padding0 fs-users-rating">
    <p class="text-center"><img src="../../../assets/img/starselected.png" alt="" class=""><strong>8.0</strong><span>/10</span><br>
    <span class="txt-clr">User's rating</span></p>
    </div>
    <div class="col-md-4 col-xs-6 col-sm-4 pull-left padding0 fs-critics-rating">
    <p class="text-center"><img src="../../../assets/img/starselected.png" alt="" class=""><strong>7.5</strong><span>/10</span><br>
    <span class="txt-clr">Critic's rating</span></p>
    </div>
    <div class="col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-0 col-xs-6 col-xs-offset-3 pull-left padding0 fs-movie-rate">
      <p class="text-center"><img src="../../../assets/img/starline.png" alt=""..
        03* class=""><br>
        <span class="txt-clr1">Rate the movie</span>
      </p>
    </div>
</div>

</div>
