.bg-white {
background-color: white;
}

.fs-pr0{
padding-right: 0;
}
.padding0{
padding: 0;
}
.fs-mb0{
margin-bottom: 0;
}
.userReview h4{
margin:2px 0;
}
.UserRAting{
/*font-family: "open_sansregular";*/
font-weight: 100;
margin-top: -8px;
}
.userReview {
max-height: 400px;
overflow-y: auto;
margin-top: 20px;
/*font-family: "open_sansregular";*/
}
.userReview > div {
border-top: 1px solid #eee;
padding: 10px 0;
}
.USerPic {
float: left;
width: 40px;
height: 40px;
}
.USerPic > img {
height: 100%;
width: 100%;
}
.UsrREviewDiv {
text-align: right;
}
.UsrREview > img {
height: 18px;
width: 18px;
cursor: pointer;
}
.UsrREview i {
color: #FDD335;
cursor: pointer;
font-size: 19px;
margin-right: 4px;
}
.UsrREview i.fa-star-o{
color: #222;	
}
.UsrREview + span {
float: right;
margin-left: 10px;
margin-top: 1px;
}
.UsrREview + span span:first-child {
font-weight: bold;
margin-right: 3px;
}
.UsrREview + span span:last-child {
font-size: 12px;
}
.CriticREview img {
width: 15px;
}
.CriticREview i{
color: #FDD335;
cursor: pointer;
font-size: 17px;
}
.CriticREview i.fa-star-o{
color: #222;
}
.userReviewINFO{
width: 88%;
float: left;
padding-left: 10px;
text-align: justify;
}
.plr25{
padding-left: 25px;
padding-right: 25px;
}

.news-read-more{
/*font-family: "open_sansregular";*/
font-size: 12px;
font-weight: 100;
max-height: 53px;
line-height: 18px;
overflow: hidden;
text-align: justify;
width: 100%;
}
.news-read-more + p{
float: left;
width: 100%;
margin-bottom: 0;
}
.news-read-more + p span{
color: rgb(143, 163, 242);
cursor: pointer;
float: right;
height: auto;
text-align: right;
}

.fs-title-heading h4 {
    color: #222;
    font-size: 15px;
    text-transform: capitalize;
    /*font-family: "open_sansregular";*/
    margin: 0 0px 10px;
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-height: 20px;
    cursor: pointer;
    text-align: right;
}
.bgWhite {
    background-color: #fff;
}
.fs-title-heading {
    padding: 0 10px;
}
.img-responsive{
    cursor: pointer;
}