<titlebar></titlebar>
<div  class="fs-bg" style="min-height: 700px;">
    <banner></banner>
   
    

    <div *ngIf="isShareYourStyle" class="container-fluid padding0 fs-mt50">
        <div class="container fs-mt20">
            <div class="fs-shareinfo">
                <h3>Share Your Style</h3>
                <p>Create your own style statements and share it with the world, or simply check out shared styles to find your inspiration.<br>
Share your look on Instagram or Twitter using  <strong>#Myflikstyle</strong> or simply upload your photo here for a chance to be featured in our gallery.</p>
                <span on-click="uploadPopup()"><span class="glyphicon glyphicon-camera"></span>UPLOAD</span>

            </div>
        </div>
    </div>


    <div id="content" class="container-fluid fs-pt15 mob-fs-pt6 mob-padding0 mob-plr7" >
        <div class="container padding0">
            <div class="col-md-3 col-xs-12 padding0 bg-white">
                <feedbar></feedbar>
                <div class="hidden-xs hidden-sm">
                    <related-and-peers *ngIf='topMovies' [data]='topMovies'></related-and-peers>
                </div>
            </div>
            <div [ngClass]="contentFeed=='orders'?'col-md-9':'col-md-6'" class=" plr25 col-xs-12 pull-left" >
                <div  [ngClass]="contentFeed=='orders'?'hidden':''" *ngIf="!isShareYourStyle" class="col-md-12 col-xs-12 replydiv hidden-xs hidden-sm"> 
                    <div class="fs-rpic"><img class="img-responsive" src="{{profilePic}}" alt="image"></div>
                    <div class="fs-reptxt">
                        <p> Greetings! Hope you have a good day :)</p>
                    </div>
                    <div class="fs-follow col-md-3 col-xs-2"><button on-click="uploadPopup()"><i _ngcontent-c3="" aria-hidden="true" class="fa fa-camera hidden-xs hidden-sm"></i> Upload</button></div>
                </div>

    <div *ngIf="userContentData" class="col-md-12 col-sm-12 col-xs-12 padding0">
        <div *ngIf="displayContent">{{displayContent}}</div>
        <div *ngFor="let content of userContentData " class="col-md-12 col-sm-12 col-xs-12 padding0 fs-mb20 pull-left mob-fs-mb10">
            <fs-card [contentData]="content._source" [contentType]="content._source.contentType"></fs-card>
        </div>
        <div *ngIf="pageNo*5 < userContentDataCount" class="fs-Loadmore" on-click="getUserContent(likeOrBookmark)"><button class="center-block">Load more</button></div> 
    </div>
    <div *ngIf="sysContentData" class="col-md-12 col-sm-12 col-xs-12 padding0">
        <div *ngFor="let content of sysContentData " class="col-md-12 col-sm-12 col-xs-12 padding0 fs-mb20 pull-left mob-fs-mb10">
            <fs-card [contentData]="content" [contentType]="content.contentType"></fs-card>
            <!-- <div *ngIf="i==(show-1) && show%5==0 && show<sysContentData.length" class="fs-Loadmore" on-click="show=show+5"><button class="center-block">Load more</button></div> -->
        </div>
    </div>
    <div *ngIf="allContentDataByType" class="col-md-12 col-sm-12 col-xs-12 padding0">
        <div *ngFor="let content of allContentDataByType;let i=index" class="col-md-12 col-sm-12 col-xs-12 padding0 fs-mb20 pull-left mob-fs-mb10">
            <fs-card [contentData]="content._source" [contentType]="content._source.contentType ? content._source.contentType:typeToDisplay"></fs-card>
        </div>
        <div *ngIf="contentTypePage*5 < allContentDataCoun" class="fs-Loadmore" on-click="getMoreContent()"><button class="center-block">Load more</button></div>
    </div>
    <div *ngIf="allContentData" class="col-md-12 col-sm-12 col-xs-12 padding0">
        <div *ngFor="let content of allContentData " class="col-md-12 col-sm-12 col-xs-12 padding0 fs-mb20 pull-left mob-fs-mb10">
            <fs-card [contentData]="content._source" [contentType]="content._source.contentType"></fs-card>
            <!--<label>{{content._source.title}}</label>-->
        </div>
        <div *ngIf="pageNo*5 < allContentDataCount" class="fs-Loadmore" on-click="getIndustryFeed()"><button class="center-block">Load more</button></div> 
    </div>
    <div *ngIf="botiqueItems" class="col-md-12 col-sm-12 col-xs-12 padding0"> 
        <div *ngIf='displayBoutique'>{{displayBoutique}}</div>
        <div *ngFor="let content of botiqueItems " class="col-md-12 col-sm-12 col-xs-12 padding0 fs-mb20 pull-left mob-fs-mb10">
            <fs-card [contentData]="content._source" [contentType]="content._source.serviceName"></fs-card>
            <!-- <div *ngIf="i==(show-1) && show%5==0 && show<allContentData.length" class="fs-Loadmore" on-click="show=show+5"><button class="center-block">Load more</button></div> -->
        </div>
    </div>
    <div *ngIf="trendingProds" class="col-md-12 col-sm-12 col-xs-12 padding0">
        <div *ngFor="let content of trendingProds " class="col-md-12 col-sm-12 col-xs-12 padding0 fs-mb20 pull-left mob-fs-mb10">
            <fs-card [contentData]="content._source.products" [contentType]="content._source.products.serviceName"></fs-card>
            <!-- <div *ngIf="i==(show-1) && show%5==0 && show<allContentData.length" class="fs-Loadmore" on-click="show=show+5"><button class="center-block">Load more</button></div> -->
        </div>
    </div>
    <div *ngIf="ordersList" class="col-md-12 col-sm-12 col-xs-12 padding0">
        <div *ngFor="let content of ordersList" class="col-md-12 col-sm-12 col-xs-12 padding0 fs-mb15 pull-left mob-fs-mb10">
            <div class="col-md-12 col-sm-12 col-xs-12 padding0 My-Orders-Div">
                <div class="col-md-12 col-sm-12 col-xs-12 padding0 My-Order-Headre">
                <div class="col-md-12 col-sm-12 col-xs-12 padding0 My-Order-Id"> 
                    <label>Order No </label>
                    <label style="font-family:'proxima_nova_ltsemibold';">{{content._source.id}}</label> 
                    <span style="color: #7e7e7e;"><label class="tot">Total</label>
                    <span style="color: #616161; width: auto;font-family:'proxima_nova_ltsemibold';">&nbsp; Rs.3425</span></span>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 padding0">
                    <div class="col-md-4 fs-pl0" 
                    style="color: #616161;font-family:'proxima_nova_ltsemibold';">
                        <span style="color: #7e7e7e">Order Date :</span>&nbsp; {{content._source.createdAt | date:'dd-MMMM-yyyy'}}</div>
                    <div class="col-md-4 fs-pl0">
                        <label class="normal itm" style="color: #7e7e7e;">Items</label>
                        <span style="color: #616161;font-family:'proxima_nova_ltsemibold';">{{content._source.product.length}}</span>
                    </div>
                    <div class="col-md-4 fs-pr0 text-right payment-type"> 
                        <span style="color: #7e7e7e;">Payment Mode :
                        <span style="color: #616161;font-family:'proxima_nova_ltsemibold';">&nbsp;Net Banking</span></span>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 padding0 Ord_pro-ifo">
                <div *ngFor="let product of content._source.product;let i=index;" [ngClass]='i+1< content._source.product.length?"Ord_pro-ifo-div":""' class="col-md-12 col-sm-12 col-xs-12 padding0 fs-mtb10 ">
                    <div class="col-md-2 col-sm-12 col-xs-12 ord-pic" [routerLink] = "['/product/'+product.productSlug]">
                        <img src="{{product.productPic}}" alt="image" class="img-responsive">
                    </div>
                    <div class="col-md-10 col-xs-12 col-sm-12 padding0 ord-pic-Ifo">
                        <div class="col-md-6 col-xs-12 col-sm-12 fs-pl0">
                        <div class="col-md-12 col-xs-12 col-sm-12 padding0 My-Orders-Info">
                            <!-- <label>Name</label> -->
                            <label style="font-family:'proxima_nova_ltsemibold';">{{product.productTitle}}</label>
                        </div>
                        <div class="col-md-12 col-xs-12 col-sm-12 padding0 My-Orders-Info">
                            <!-- <label>Price</label>  -->
                            <!-- <label>{{product.price}} </label> -->
                            <div class="col-md-6 col-xs-12 col-sm-12 fs-pl0" style="color: #7e7e7e;">Color:
                                <span style="color: #616161;font-family:'proxima_nova_ltsemibold';"> {{product.color}}</span></div>
                            <div class="col-md-6 col-sm-12 col-xs-12 fs-pl0" style="color: #7e7e7e;">Size:
                                <span style="color: #616161;font-family:'proxima_nova_ltsemibold';"> {{product.size}}</span></div>
                        </div>
                        <div class="col-md-12 col-xs-12 col-sm-12 padding0 My-Orders-Info">
                            <label style="color: #7e7e7e;">Quantity: 
                            <span style="color: #616161;font-family:'proxima_nova_ltsemibold';">{{product.quantity}}</span> </label>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-12 col-sm-12 padding0 text-capitalize">{{content._source.status}}</div>
                    <div class="col-md-3 col-xs-12 col-sm-12 padding0 text-right Ord-Price" style="font-family:'proxima_nova_ltsemibold'; color: #616161;">Rs. {{product.price}}</div>
                </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 padding0 My-Order-Status text-right" style="color: #337ab7;">
                    <!-- <label>Status</label> <label>{{content._source.status}}</label>  -->
                    View Details
                </div>
            </div>
            </div>
        </div>
    </div>
    <!-- <photos-rsb [galleryPhotos]="galleryPhotos"></photos-rsb> -->
            </div>
            <div [ngClass]="contentFeed=='orders'?'hidden':''" class="col-md-3 col-xs-12 padding0">
                <ul class="list-unstyled fs-leadcast" *ngIf="followSuggesions">
                    <p>Follow Suggestions</p>
                    <li>
                        <div class="col-md-2 padding0">
                            <a rel="canonical" [routerLink]="['/movie',followSuggesions[0].slug]"><img src="http://www.telugusquare.com/wp-content/uploads/2017/08/arjun-reddy-260x300-1-260x300-1-260x300-1.png" alt="image"></a>
                        </div>
                        <div class="col-md-7 "> <a rel="canonical" [routerLink]="['/movie','vunnadhi-okate-zindagi']"><span>Arjun Reddy</span></a></div>
                        <div class="col-md-2 padding0"><button>follow</button></div>
                    </li>
                    <li>
                        <div class="col-md-2 padding0">
                            <a rel="canonical" [routerLink]="['/movie',followSuggesions[0].slug]"><img src="https://cdn.telanganatoday.com/wp-content/uploads/2017/08/Ravi-Teja.jpg" alt="image"></a>
                        </div>
                        <div class="col-md-7 fs-mt5"><a rel="canonical" [routerLink]="['/movie','vunnadhi-okate-zindagi']"><span>Raja The Great</span></a></div>
                        <div class="col-md-2 padding0"><button>follow</button></div>
                    </li>
                </ul>

                <div class="col-md-12 col-sm-12 col-xs-12 hidden-xs hidden-sm pull-left bg-white fs-p10 wtshot" *ngIf="bestSelling">
                    <h5 class="fs-m0">What's Hot</h5>
                    <div class="col-md-12 col-sm-12 col-xs-12 padding0 pull-left maxheihgt150">
                        <a rel="canonical" [routerLink]="['/product', bestSelling.slug]">
                            <!-- <img src="{{bestSelling.profilePic}}" alt="image" class="img-responsive"> -->
                            <img src="../../../assets/img/Kriti.png">
                        </a>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 padding0">
                        <div class="col-md-8 col-sm-8 col-xs-8 padding0">
                            <h6 class="fs-mb5">{{bestSelling.name}}</h6>
                            <h6 class="fs-m0">Rs.{{bestSelling.price}}/-</h6>
                        </div>
                        <div class="col-md-4 padding0 bestsellingbtn">
                            <button [routerLink]="['/product', bestSelling.slug]">Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<login *ngIf="displayLoginPopup" (closeLoginPopup)="closeLoginPopup($event)"></login>

<upload *ngIf="displayUploadPopup" (closeUploadPopup)="closeUploadPopup($event)"></upload>
<!-- <rate-movie *ngIf="displayRatingPopup" (submitingRatingPopup)="submitingRatingPopup($event)"></rate-movie> -->
<footer></footer>
