<div  class="col-md-12 col-xs-12 padding0 fs-mb10 bg-white layer">
        <div  class="col-md-8 col-md-offset-2 col-xs-12  fs-mtb10 checkout-div">
          <div  class="fs-checkout-head">
            <h3 >CHECK OUT</h3>
            <span >
              <!-- <i on-click='closePopup()'  aria-hidden="true" class="fa fa-close"></i> -->
              <img on-click='closePopup()' src="../../../assets/img/close@white.svg" width="14" height="14">
            </span>
          </div>
          <div class="col-md-12 padding0 checkout-info hidden-xs">
            <table *ngIf='sendObject' class="table">
              <tr>
                <th>Product</th>
                <th>Description</th>
                <th>Color</th>
                <th>Quantity</th>
                <th>size</th>
                <th>Delete</th>  
              </tr>
              <tr>
                <td><img class="img-responsive chek-pic" src="{{sendObject.profilePic}}" alt="image"></td>
                <td><h4>{{sendObject.name}}</h4>
                  <h5>{{sendObject.productInfo}}</h5>
                </td> 
                <td><span  class="sizetype selected"><select  [(ngModel)]="productcolor"><option *ngFor="let color of sendObject.color"  >{{color}}</option></select></span></td>
                <td *ngIf='sendObjects'><span class="qtyDiv">
                  <span on-click="subcounter(sendObjects.quantity)" class="minus">-</span>
                  <span   class="qtycnt">{{sendObjects.quantity}}</span>
                  <span on-click="add()" class="add">+</span>
                </span></td>
                <!-- <span class="remove"><i  aria-hidden="true" class="fa fa-close"></i></span> -->
                <td><span  class="sizetype selected"><select  [(ngModel)]="productsize"><option *ngFor="let sizes of sendObject.size"  >{{sizes}}</option></select></span></td>
                <td *ngIf='sendObject.isDiscount==false'>&#8377;{{sendObject.price*sendObjects.quantity}}</td>
                <td *ngIf='sendObject.isDiscount==true'>&#8377;{{sendObject.discountObj.discPrice*sendObjects.quantity}}</td>
                
                <td><span class="remove"><i on-click="removeItem()"  aria-hidden="true" class="fa fa-close"></i></span></td>
              </tr>
            </table>
            <div class="col-md-12 padding0 text-right">
              <button class="btn">CONTINUE SHOPPING</button>
              <button on-click='placeOrder()' class="btn">PLACE ORDER</button>
            </div>
        </div>

        <div class="col-md-12 col-xs-12 padding0 checkout-info visible-xs">
          <div *ngIf='sendObject' class="col-xs-12 padding0">
            <div class="col-xs-2 padding0" style="padding-right: 10px;"><img class="img-responsive chek-pic" src="{{sendObject.profilePic}}" alt="image"></div>
            <div class="col-xs-10 padding0">
              <div class="col-xs-12 padding0"><h4>{{sendObject.name}}</h4></div>
              <div class="col-xs-12 padding0">
              <div class="e-color">
                <span  class="sizetype selected">
                  <span style="float: left; padding-right: 5px; 
                width: 50px; text-align: right;">Color :</span> <select  [(ngModel)]="productcolor"><option *ngFor="let color of sendObject.color"  >{{color}}</option></select></span>
              </div>
              <div class="" style="width: 30px; float: right;"><span class="remove">
                <!-- <i on-click="removeItem()"  aria-hidden="true" class="fa fa-close"></i> -->
                <img on-click="removeItem()" src="../../../assets/img/remove.svg" width="14" height="14" style="float: left;">
              </span></div>
              <div class="e-size" >
                <span style="width: 50px; float: left; padding-right: 5px; text-align: right;">Size : </span>
                <span  class="sizetype selected"><select  [(ngModel)]="productsize"><option *ngFor="let sizes of sendObject.size"  >{{sizes}}</option></select></span>
              </div>
              <div class="e-qty" *ngIf='sendObjects'>
                <span style="float: left; padding-right: 5px; width: 50px; text-align: right;">Qty : </span> 
                <span class="qtyDiv">
                  <span on-click="subcounter(sendObjects.quantity)" class="minus">-</span>
                  <span   class="qtycnt">{{sendObjects.quantity}}</span>
                  <span on-click="add()" class="add">+</span>
                </span>
              </div>
              <div *ngIf='sendObject.isDiscount==true' class="">
              Rs {{sendObject.discountObj.discPrice*sendObjects.quantity}}</div>
              
              <div *ngIf='sendObject.isDiscount==false' class="e-price">
              Rs {{sendObject.price*sendObjects.quantity}}</div>
            </div>
            </div>
          </div>
          <div class="col-md-12 col-xs-12 padding0 text-right">
              <button class="btn">CONTINUE SHOPPING</button>
              <button on-click='placeOrder()' class="btn">PLACE ORDER</button>
            </div>
        </div>

        </div>
      </div>
     