  <div class="fs-modal">
  <div class="fs-modal-dialog">
    <img src="../../../assets/img/Flikster logo.png" alt="image">
    <span class="glyphicon glyphicon-remove-circle fs-modal-close"></span>
    <h4>Experience the best version of <br>flikster by getting the app..</h4>
    <p>
    <a href="https://play.google.com/store/apps/details?id=com.flikster"> <img src="../../../assets/img/App-store_button.png"  alt="image"></a>
    <img src="../../../assets/img/Play-store_button.png" alt="image">
    </p>
  </div>
</div>