
<div *ngIf=' pageType=="feed" || pageType=="content" || pageType=="like" || pageType=="bookmark"' class="bg-white cardAssociationDiv visible-xs">
<div class="fs-association-data col-md-12 col-xs-12 bg-white" *ngIf="assnData && !isUser">
  <div class="fs-pic"><a rel="canonical" [routerLink] = "['/'+type+'/'+assnData.slug]"><img  class="img-circle" src="{{assnData.profilePic}}" alt=""></a></div>
  <div class="fs-info col-md-8 col-xs-7">
    <div class="fs-title" ><a rel="canonical" on-click="gotomoviepage(assnData.type,assnData.slug)" >{{assnData.name}}</a></div>
    <div class="fs-asso-hash">
    <span *ngFor="let tag of contentTags">#{{tag}}</span>
            <span *ngIf='time'>{{time}}{{date}}</span>
    </div>
  </div>
  <div *ngIf="!isFollowing" class="fs-follow col-xs-2"><button on-click="follow()" class="pull-right">Follow</button></div>
  <div *ngIf="isFollowing" class="fs-follow col-xs-2"><button on-click="follow()" class="pull-right">Following</button></div>
</div>
<div class="fs-association-data col-md-12 col-xs-12 bg-white" *ngIf="assnData && isUser">
  <div class="fs-pic"><img  class="img-circle" src="{{assnData.profilePic}}" alt=""></div>
  <div class="fs-info col-md-8 col-xs-7">
    <div class="fs-title" >{{assnData.username}}</div>
  </div>
</div>
</div>

<div class="bg-white cardAssociationDiv hidden-xs">
<div class="fs-association-data col-md-12 col-xs-12 bg-white" *ngIf="assnData && !isUser">
  <div class="fs-pic"><a rel="canonical" [routerLink] = "['/'+type+'/'+assnData.slug]"><img  class="img-circle" src="{{assnData.profilePic}}" alt=""></a></div>
  <div class="fs-info col-md-8 col-xs-7">
    <div class="fs-title" ><a rel="canonical" on-click="gotomoviepage(assnData.type,assnData.slug)" >{{assnData.name}}</a></div>
    <div class="fs-asso-hash">
    <span *ngFor="let tag of contentTags">#{{tag}}</span>
            <span *ngIf='time'>{{time}}{{date}}</span>
    </div>
  </div>
  <div *ngIf="!isFollowing" class="fs-follow col-xs-2"><button on-click="follow()" class="pull-right">Follow</button></div>
  <div *ngIf="isFollowing" class="fs-follow col-xs-2"><button on-click="follow()" class="pull-right">Following</button></div>
</div>
<div class="fs-association-data col-md-12 col-xs-12 bg-white" *ngIf="assnData && isUser">
  <div class="fs-pic"><img  class="img-circle" src="{{assnData.profilePic}}" alt=""></div>
  <div class="fs-info col-md-8 col-xs-7">
    <div class="fs-title" >{{assnData.username}}</div>
  </div>
</div>
</div>


<login *ngIf="displayLoginPopup" (closeLoginPopup)="closeLoginPopup($event)"></login>