<div class="fs-header">
    <div class="">
        <titlebar></titlebar>
    </div>
</div>

<div [ngClass]="contentType=='movie-making' ||contentType== 'video-song' ||contentType== 'teasers-promos' ||contentType== 'trailer' ||contentType== 'comedy-clip' ||contentType== 'interview' || contentType== 'social-buzz'?'container-fluid content-ngfbfb padding0 ': 'container-fluid content-ngfbfb mob-plr7'" class="">
    <div [ngClass]="contentType=='movie-making' ||contentType== 'video-song' ||contentType== 'teasers-promos' ||contentType== 'trailer' ||contentType== 'comedy-clip' ||contentType== 'interview' ||contentType== 'social-buzz'?'container-fluid fs-mt50 padding0': 'container fs-mt50 padding0'" class="">
        <ul *ngIf="contentType=='audio-song' ||contentType== 'first-look' ||contentType== 'quote' ||contentType== 'gallery' ||contentType== 'poster'"  class="breadcrumb text-capitalize" style="margin-top: 20px;"> 
                        
                        <li *ngIf='mainRoute=="Industry" && rootPage !="feed"'><a rel="canonical" [routerLink]="['/industry/'+rootRoute]" >{{rootRoute}} </a></li>
                        <li *ngIf="rootPage == 'feed'"><a rel="canonical"  [routerLink]="['/feed']" >Feed</a></li>
                        <li *ngIf='contentType'>{{contentType}} </li>
                </ul>
            <div [ngClass]="contentType=='movie-making' ||contentType== 'video-song' ||contentType== 'teasers-promos' ||contentType== 'trailer' ||contentType== 'comedy-clip' ||contentType== 'interview'||contentType== 'social-buzz'?'col-md-12 col-xs-12 padding0 fs-mb50 mob-fs-mb15 pull-left mob-content-youtube-active': 'col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 padding0 fs-mt20 fs-mb50 mob-fs-mt0 mob-fs-mb15 pull-left col-xs-12'" >
                
                <!-- <ul *ngIf="contentType=='audio-song' ||contentType== 'first-look' ||contentType== 'quote' ||contentType== 'gallery' ||contentType== 'poster'"  class="breadcrumb text-capitalize"> 
                        
                        <li *ngIf='mainRoute=="Industry" && rootPage !="feed"'><a rel="canonical" [routerLink]="['/industry/'+rootRoute]" >{{rootRoute}} </a></li>
                        <li *ngIf="rootPage == 'feed'"><a rel="canonical"  [routerLink]="['/feed']" >Feed</a></li>
                        <li *ngIf='contentType'>{{contentType}} </li>
                </ul> -->
                <div *ngIf='contentType=="gallery"' class="content-galery-title" >{{content.title}}</div>
                <fs-card [contentData]="content" [contentType]="contentType"></fs-card>
            </div>
            
            <div *ngIf="relcontent && page=='content'"
            [ngClass]="contentType=='movie-making' ||contentType== 'video-song' ||contentType== 'teasers-promos' ||contentType== 'trailer' ||contentType== 'comedy-clip' ||contentType== 'interview'||contentType== 'social-buzz'?'container padding0 fs-mt50 mob-fs-mt0 mob-plr7 mob-pull-left mob-content-youtube-Inactive': 'col-md-12 padding0 pull-left RFliks col-xs-12'" class="">
                <h4 style="float: left; width: 100%; font-size: 20px;">Related Fliks</h4>
                <div  class="col-md-12 col-sm-12 col-xs-12 padding0">
                   
                    <div  *ngFor="let item of relcontent | slice:0:6;" class="col-md-4 col-xs-12 Rfliksdiv">
                        <div class="fs-card col-md-12 col-xs-12" style="padding-left: 0;padding-right: 0;">
                                <fs-card [contentData]="item" [contentType]="item.contentType" [miniCard]="miniCard"></fs-card>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
