<div class="col-md-12 col-xs-12 pull-left" style="padding: 0px 10px 10px; background-color: #fff;">
  <div class="col-md-12 fs-comments bgWhite padding0">
    <div *ngIf="comments && !isContentPage && timeArray">
      <p *ngIf="comments[comments.length-2]">{{comments[comments.length-2].userName}} : <span>{{comments[comments.length-2].commentText}}</span><span class="pull-right">{{timeArray[timeArray.length-2]=='0s'?'Just Now':timeArray[timeArray.length-2]+' ago'}}</span></p>
      <p *ngIf="comments[comments.length-1]">{{comments[comments.length-1].userName}} : <span>{{comments[comments.length-1].commentText}}</span><span class="pull-right">{{timeArray[timeArray.length-1]=='0s'?'Just Now':timeArray[timeArray.length-1]+' ago'}}</span></p>
    </div>
    <div *ngIf="comments && isContentPage && timeArray">
      <p *ngFor="let comment of comments;let i=index ">{{comment.userName}} : <span>{{comment.commentText}}</span><span class="pull-right">{{ timeArray[i]=='0s'? "Just Now":timeArray[i]+' ago' }} </span></p>
    </div>
    <button *ngIf="!isContentPage && dispViewMoreComments" on-click="goToContentPage()" class="">View more comments</button>
    <div class="separator"></div>
    <textarea [(ngModel)]="newComment" placeholder="Write a comment"></textarea> 
    <div class="fs-option">
    <!-- <img class="img-responsive" src="../../../assets/img/enter.png" on-click="comment()"> -->
    <img class="img-responsive hidden-xs" src="../../../assets/img/comment.png" on-click="comment()">
    <img class="img-responsive visible-xs" src="../../../assets/img/send.svg" on-click="comment()">
    <!-- <span class="fs-social-icon glyphicon glyphicon-send" on-click="comment()"></span> -->
    <!-- <span class="fs-social-icon glyphicon glyphicon-option-vertical"></span> -->
    <img class="img-responsive" src="../../../assets/img/report.png">  
    
    </div>
  </div>
</div>


<login *ngIf="displayLoginPopup" (closeLoginPopup)="closeLoginPopup($event)"></login>