/*.fs-comments{padding: 10px;}*/
.fs-comments p {
margin-bottom: 0px;
margin-top: 3px;
color: #bfbfbf;
font-size: 15px;
}
.fs-comments p span{
color: #a5a5a5;
}
.fs-comments button{
border: 0;
background-color: transparent;
padding: 0;
color: #949494;
margin-top: 8px;
}
.separator {
border-top: 1px solid rgb(233, 232, 232);
margin-top: 10px;
}
.fs-comments textarea{
border-width: 0;
width: 90%;
float: left;
line-height: 30px;
resize: none;
height: 36px;
}
.fs-comments textarea:focus {
box-shadow: 0 1px 0 0 #5ba0fe;
outline: none;
}
.fs-mt20{
margin-top: 20px;
}
.fs-option{
float: left;
margin-top: 12px;
text-align: right;
width: 10%;
}
.fs-option img{
	height: 20px;
float: right;
margin-top: -2px;
cursor: pointer;
}
.fs-option img:last-child{
	float: right;
	position: relative;
left: 8px;
display: none;
}
.fs-option span{
	cursor: pointer;
}
.padding0{
padding: 0;
}
 .bgWhite{ background-color: #fff; }