
<!-- <div class="col-md-12 bgWhite fs-mb20 padding0">  -->
   <card-associationdata [assnData]="assnData"></card-associationdata> 
   <p>{{ShowTime}}{{time}} </p>
    <div on-click="gotocontent()" class="col-md-12 padding0" *ngIf="content">
      <img class="img-responsive" src="{{content.content.assets.image.value}}" alt="">
      <span class="glyphicon glyphicon-play-circle fs-glyph-play"></span>
    </div>
     <card-socialbar [content]="content" [contentData]="contentData" [cardId]="cardId" [shareSlug]='shareSlug'[shareProfilePic]='shareProfilePic'></card-socialbar> 
    <div class="col-md-12 card-Title">
      <!-- <h4 [routerLink] = "['/content',contentData.contentSlug]">{{content.content.ContentSlug}}</h4> -->
      <!-- <h4>New movie lauch details leaked</h4> -->
      <card-comments [cardId]="cardId"></card-comments>
      
    </div>

    <!-- <card-comments></card-comments> --> 
  <!-- </div> -->
  