a:hover{
text-decoration: none;
}
:focus{
  outline: none;
}
.border0{
border: none;
}
.fs-m0{
margin:0;
}
.padding0{
padding: 0;
}
.fs-ml5{
margin-left: 5px;
}
.fs-mt50{
margin-top: 50px;
}
.fs-mt30{
margin-top: 30px;
}
.fs-mtb10{
margin-top: 10px; margin-bottom: 10px;
}
.fs-mtb20{
margin-top: 20px; margin-bottom: 20px;
}
.fs-mb10{
margin-bottom: 10px;
}
.fs-mb20{
margin-bottom: 20px;
}
.fs-mb50{
margin-bottom: 50px;
}
.fs-mt5{
margin-top: 5px;
}
.fs-mt10{
margin-top: 10px;
}
.fs-mt15{
margin-top: 15px;
}
.fs-mt20{
margin-top: 20px;
}
.fs-pl20{
padding-left: 20px;
}
.fs-ptb20{
padding-top: 20px; padding-bottom: 20px;
}
.fs-pr20{
padding-right: 20px;
}
.fs-plr10{
padding-left: 10px; padding-right: 10px;
}
.fs-pl0{
padding-left: 0;
}
.fs-pr0{
padding-right: 0;
}
.fs-plr0{
padding-left: 0; padding-right: 0;
}
.fs-pr50{
padding-right: 50px;
}
.fs-bg{
background-color: #fafafa;
}
.bg-white{
background-color: #fff;
}
/** banner css start here **/

/** banner css end here **/

/** Auctions css start here **/
.fs-Auctions{
    background: -webkit-linear-gradient(#349aa7, #008297); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#349aa7, #008297); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#349aa7, #008297); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#349aa7, #008297); /* Standard syntax (must be last) */
}
.fs-Aucpic{
    background: -webkit-linear-gradient(#349aa7, #008297); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#349aa7, #008297); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#349aa7, #008297); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#349aa7, #008297); /* Standard syntax (must be last) */
}
.fs-Aucpic .fa-legal{
font-size: 100px;
color: #fff;
}
.bidrbuy {
border: 1px solid;
border-radius: 8px;
display: block;
float: left;
height: 20px;
padding: 4px 8px;
}
.bidorbuydiv{
text-transform: none !important;
}
.auctionspace{
margin-bottom: 25px;
}
.fs-auctionProcess hr{
border-color: #fff;
}
.fs-auctionProcess h3{
color: #fff;
}
.fs-auctionProcess ul{
float: left;
width: 100%;
}
.fs-auctionProcess ul li {
float: left;
width: 25%;
position: relative;
list-style-type: none;
}
.fs-auctionProcess ul li a {
color: #fff;
float: left;
width: 100%;
text-align: center;
}
.fs-auctionProcess ul li a span{
float: left;
width: 100%;
font-size: 18px;
margin: 30px 0;
}
.fs-auctionProcess ul li a i {
font-size: 50px;
}
.fs-auctionProcess ul li::after {
color: #fff;
content: ">";
height: 100%;
position: absolute;
top: 18px;
width: 100px;
}
.fs-auctionProcess ul li:last-child::after {
content: "";
}
.borderwhite{
border: 1px solid #fff;
}
.fs-p5{
padding: 5px;
}
.fontsize14{
font-size: 14px !important;
}
.firstPuchase{
min-height: 50px;
margin-top: -20px;
}
.fs-mb0 {
    margin-bottom: 0;
}   
.fs-mb5{
margin-bottom: 5px;
}
ul.li6 li a {
padding-top: 15px !important;
}
.UserINfo{
color: rgb(244,244,242);
/*font-family: DINLight;*/
/*font-family: open_sansregular;*/
margin-top: 10px;
padding-left: 60px;
}
.UserINfo h3 span{
  width: 190px;
    float: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.UserINfo h3 a.small{
color: #f0f0f0;
display: inline-block;
font-size: 12px;
padding-left: 3px;
cursor: pointer;
padding: 4px 10px;
border-radius: 50px;
border: 1px solid #fff;
}
/** Auctions css end here **/

/*************** men fashion start here **************/
.fs-menpic{
background: #b83bed;
}
.fs-menfashion button {
color: #fff;
line-height: 20px;
/*font-family: helvetica; */
font-weight: 100;
margin-top: 0;
}
.fs-mfoloing{
margin-top: 0 !important;
border-radius: 16px !important;
line-height: 39px !important;
color: rgb(191,82,237) !important;
background: #fff !important;
}
/*************** men fashion css end here **************/

body{
/*font-family: 'DINLight';*/
height: 100%;
min-height: 100vh;
position: relative;
}
@font-face {
    font-family: 'architects_daughterregular';
    src: url('../../../assets/fonts/architectsdaughter/architectsdaughter.woff2') format('woff2'),
         url('../../../assets/fonts/architectsdaughter/architectsdaughter.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'DIN-Medium';
  src: url('../../../assets/fonts/din/DIN-Medium.woff') format('woff'),
       url('../../../assets/fonts/din/DIN-Medium.ttf') format('truetype'),
       url('../../../assets/fonts/din/DIN-Medium.svg#DIN-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DINRegular';
  src: url('../../../assets/fonts/din/DINRegular.woff') format('woff');
}
@font-face {
  font-family: 'DINLight';
  src: url('../../../assets/fonts/din/DINLight.woff') format('woff');
}
@font-face {
  font-family: 'ArchitectsDaughter';
  src: url('../../../assets/fonts/ArchitectsDaughter.woff') format('woff');
}

/***************************  hamburger  *****************************/
.fs-hamburger{
background: rgba(35, 35, 35, 0.8);
min-height: 100%;
position: absolute;
right: 0px;
top: 0;
display: none;
width: 100%;
z-index: 1;
}
.fs-hamburger-title {
background: rgb(255, 89, 107);
float: left;
width: 100%;
}
.fs-hamburger-title h4{
font-family: 'architects_daughterregular';
color: #fff;
padding:0 10px  0 20px;
}
.fs-hamburger #myNavbar{
padding: 0;
width: 258px;
min-height: 100%;
position: absolute;
right: 0;
background: #fff;
display: none !important;
margin:0 auto;
}
.fs-hamburger-close{
cursor: pointer;
}
.fs-user{
margin-bottom: 0;
margin-top: 25px;
width: 100%;
}
.fs-UserProPic{
border-radius: 100%;
float: left;
height: 50px;
margin: 3px 20px;
width: 50px;
}
.fs-UserProPicName{
float: left;
font-size: 20px;
margin-top: 20px;
}
.fs-hamburger .navbar-nav{
width: 100%;
margin: 20px 0 0;
float: left;
}
.fs-hamburger .navbar-nav:last-child{
margin-top: 30px;
}
.fs-hamburger .navbar-nav li{
width: 100%;
color: #8f8f8f;
}
.fs-hamburger .navbar-nav.navabr-nav-inline li{
display: inline;
width: auto;
}
.fs-hamburger .navbar-nav.navabr-nav-inline li a {
padding: 3px 8px;
font-size: 14px; color: #8f8f8f;
}
.fs-hamburger .navbar-nav.navabr-nav-inline li a::after {
content: "-";
font-size: 10px;
position: absolute;
right: 0;
top: 1px;
}
.fs-hamburger .navbar-nav.navabr-nav-inline li:last-child a::after {
content: "";
}
.fs-hamburger .navbar-nav.navabr-nav-inline .dropup .dropdown-menu{
min-width: 100px;
}
.fs-hamburger ul > li > a:focus, .fs-hamburger ul > li > a:hover {
color: #ff596b;
}
.fs-hamburger ul li a {
padding: 3px 20px;
color: #222;
text-transform: capitalize;
font-size: 16px;
}
.fs-hamburger h4 {
padding: 5px 10px 5px 20px;
float: left;
width: 100%;
margin-bottom: 0;
}
.fs-hamburger h4.fs-mt30 {
color: #8f8f8f;
}
.fs-hamburger p {
padding: 0 20px;
float: left;
}
.fs-hamburger p .fa {
font-size: 18px;
cursor: pointer;
margin-right: 15px;
}
.fs-hamburger .fa-user-circle-o{
font-size: 60px;
color: #eee;
border-radius: 100%;
}
.fs-Copy{
bottom: 0;
position: fixed;
right: 0;
}
.fs-hamburger #beforeLogin{
padding: 0 50px;
width: 1024px;
min-height: 100%;
position: absolute;
right: 0;
left: 0;
background: #fff;
display: block;
margin:0 auto;
}
#beforeLogin li a {
font-size: 20px;
float: left;
width: 100%;
}
/*********************  Nowshowing  **********************/
.fs-cast div{
display: table-cell;
}
.fs-width45{
width: 45px;
}
.fs-ratings-div{
margin:10px 0 0;
}
.fs-users-rating{
border-right:1px solid #e7e5e5;
padding-top: 8px;
margin-top: 5px;
}
.fs-users-rating p {
margin-bottom: 0;
}
.fs-critics-rating{
padding-top: 5px;
margin-top: 5px;
}
.fs-users-rating .txt-clr, .fs-critics-rating .txt-clr{
color: #fe5b69;
font-size: 14px;
}
.fs-users-rating img, .fs-critics-rating img {
margin-right: 3px;
margin-top: -7px;
width: 17px;
}
.fs-users-rating strong, .fs-critics-rating strong {
font-size: 16px;
/*font-family: 'open_sansregular';*/
}
.fs-users-rating span, .fs-critics-rating span {
font-size: 10px;
/*font-family: 'open_sansregular';*/
}
.fs-movie-rate{
border: 1px solid #222;
border-radius: 8px;
padding-top: 10px;
cursor: pointer;
}
.fs-movie-rate p {
margin-bottom: 6px;
}
.fs-movie-rate img {
width: 20px;
margin-bottom: 3px;
}
.fs-movie-title-info{
font-family: DIN-Medium;
color: #222;
font-size: 15px;
}
.fs-movie-info {
float: left;
font-size: 12px;
margin-bottom: 6px;
width: 100%;
}
.fs-movie-info span {
color: #222;
float: left;
font-family: DINRegular;
font-size: 12px;
font-weight: 100;
line-height: 14px;
margin-right: 3px;
padding-right: 3px;
}
.fs-movie-info:last-child span {
color: #222;
font-family: DIN-Medium;
}
.fs-movie-info span:last-child {
border-right: 0;
}
.fs-cast {
margin-top: 5px;
}
.fs-cast .fs-width45{
font-family: DIN-Medium;
}
.fs-cast-info p {
margin-bottom: 8px;
}
.fs-cast-info span {
color: #222;
font-family: DINRegular;
font-size: 13px;
}
.fs-director {
float: left;
margin-top: -8px;
}
.fs-director span:first-child {
font-family: DIN-Medium;
color: #222;
}
.fs-director span {
color: #222;
font-family: DINRegular;
font-size: 13px;
}
.fs-modal-rating, .fs-modal-rating-tollywood{
background: rgba(35,35,35,.8);
width:100%;
height: 100%;
min-height: 100vh;
float: left;
position: fixed;
top: 0;
z-index: 1;
}
.fs-dialog-rating, .fs-modal-rating-tollywood .fs-dialog-rating {
background: #fff none repeat scroll 0 0;
height: 220px;
margin: 0 auto;
max-width: 400px;
position: relative;
text-align: center;
top: 150px;
}
.fs-dialog-rating-heading {
background: #ff596b;
float: left;
width: 100%;
}
.fs-dialog-rating-heading h5{
color: #fff;
padding-left: 5px;
position: relative;
text-align: left;
text-transform: capitalize;
top: 4px;
font-size: 16px;
}
.fs-dialog-rating-heading .fs-modal-close {
color: #fff;
}
.fs-rating-dialog-info {
float: left;
width: 100%;
}
.fs-rating-dialog-info h4 {
margin-top: 20px;
}
.fs-rating-dialog-info p{
text-align: center;
}
.fs-rating-dialog-info img{
width: 25px;
cursor: pointer;
}
.fs-rating-dialog-info span{
position: relative;
top: 6px;
}
.fs-modal-movie-rate{
font-size: 20px;
}
.fs-rating-dialog-info button {
background: #ff596b none repeat scroll 0 0;
border: 1px solid #ff596b;
border-radius: 16px;
color: #fff;
height: 30px;
line-height: 42px;
font-size: 20px;
padding:0 20px;
margin-top: 25px;
}
.fs-nowshowingpic{
overflow: hidden;
padding: 0 0 0 10px;
}
.fs-nowshowingpic img {
height: 100%;
}
.fs-upcomingpic{
height: 160px;
width: 160px;
overflow: hidden;
padding: 0 0 0 10px;
}
.fs-upcomingpic1{
height: 128px;
width: 128px;
overflow: hidden;
padding: 0 0 0 10px;
}
.fs-upcomingpic img {
height: 100%;
}
/*********************  Upcoming  **********************/
.fs-watch{
text-align: center;
border-right: 1px solid #e7e5e5;
color: #e7e5e5; height: 55px;
margin:30px 0 5px;
}
.fs-watch span.glyphicon-thumbs-up, .fs-wontwatch span.glyphicon-thumbs-down{
margin: 0 6px;
}
.fs-watch span, .fs-wontwatch span{
margin-left: 6px;
}
.fs-watch span img, .fs-wontwatch span img{
margin-top: -7px; width: 12px;
}
.fs-watch button{
border: 1px solid transparent;
box-shadow: 0px 0px 4px 0px #ddd;
color: #616161;
/*color: #1aa913;*/
border-radius: 8px;
height: 32px;
line-height: 18px;
padding: 6px 12px !important;
background: transparent;
}
.fs-wontwatch{
text-align: center;
margin: 30px 0 5px;
}
.fs-wontwatch button{
/*color: #c32026;*/
color: #616161;
border: 1px solid transparent;
box-shadow: 0px 0px 3px 0px #ddd;
height: 32px;
line-height: 18px;
padding: 6px 12px !important;
border-radius: 8px;
background: transparent;
}
/*********************  CelebrityProfile  **********************/
.fs-celeb-profile{
background: #494c4d;
color: #fff;
float: left;
padding: 70px 0 50px;
margin-bottom: 120px;
width: 100%;
margin-top: 12px;
}
.fs-celeb-profile h2 {
margin-top: 0;
color: #fef45b;
font-family: DINRegular;
}
.fs-celeb-profile p{
float: left;
width: 100%;
font-size: 18px;
}
.fs-celeb-profile p span:first-child {
font-family: DINRegular;
width: 65px;
}
.fs-celeb-profile p span{
/*font-family: DINLight;*/
float: left;
}
.fs-celeb-profile p.fs-readmore {
cursor: pointer;
text-align: right;
}
.fs-celeb-profile-pic{
height: 280px;
width: 280px;
left: 0;
margin: 20px auto 0;
overflow: hidden;
position: absolute;
right: 0;
text-align: center;
}
.fs-celeb-profile img{
border-radius: 0;
height: 100%;
width: 100%;
background: #f0eded;
}
.fs-celeb-profile button {
background: transparent none repeat scroll 0 0;
border: 1px solid #fff;
border-radius: 16px;
height: 30px;
line-height: 38px;
width: 120px;
}
.fs-celeb-profile button.fs-store{
background: #5ba0fe;
margin-top: 15px;
border: 1px solid #5ba0fe;
}
.fs-modal-celebinfo{
background: #f2f2f2;
display: none;
min-height: 100%;
position: absolute;
right: 0;
top: 51px;
width: 100%;
}
.fs-modal-celebdialog{
background: #494c4d;
position: relative;
color: #fff;
padding-bottom: 20px;
}
.fs-modal-celebdialog h3{
color: #fef45b;
margin-top: 0;
}
.fs-modal-celebdialog p span{
display: table-cell;
}
.fs-modal-celebdialog p span:first-child {
float: left;
width: 100px;
position: relative;
font-family: DINRegular;
}
.fs-modal-celebdialog p span:first-child:after {
content: ":";
margin-right: 10px;
position: absolute;
right: 0;
}
.fs-modal-celebclose{
cursor: pointer;
font-size: 20px;
position: absolute;
right: -5px;
top: 10px;
}
/********************* gotostore *********************/
.fs-menu ul.dropdown-menu {
left: -20px;
min-width: 115px;
}
.fs-menu ul.dropdown-menu li a{
padding: 3px 6px;
}
.fs-menu a{
color: #222;
/*font-family: DINRegular;*/
/*font-family: 'open_sansregular';*/
}
.fs-mstore-flk{
border-bottom: 2px solid #222;
height: 35px;
width: 110px;
margin:15px auto 0;
}
.fs-men-header {
background: #494c4d none repeat scroll 0 0;
float: left;
width: 100%;
padding:10px 0px;
margin-top: 30px;
}
.fs-men-header h3 {
color: #4e5152;
float: left;
font-size: 130px;
line-height: 200px;
margin-bottom: 0;
text-align: center;
width: 100%;
/*font-family: DINRegular;*/
text-transform: uppercase;
top: -40px;
/*left:45px;*/
position: relative;
}
.fs-men-header p{
color: #fff;
font-size: 18px;
/*font-family: "helvetica";*/
/*font-family: 'open_sanslight';*/
font-weight: 100;
}
.fs-men-header p span {
font-size: 40px;
float: none;
margin-top: 10px;
}
.fs-menfashion-pic{
height: 200px;
width: 200px;
left: 11px;
margin: 20px auto 0;
overflow: hidden;
position: absolute;
right: 0;
top: -16px !important;
text-align: center;
}
.fs-menfashion-pic img{
border-radius: 0;
height: 100%;
width: 100%;
background: #f0eded;
}
.fs-men-header button {
background: #5ba0fe none repeat scroll 0 0;
border: 1px solid #5ba0fe;
border-radius: 16px;
height: 30px;
/*line-height: 38px;*/
/*font-family: 'DINLight';*/
/*font-family: helvetica;*/
}
.fs-mstore{
margin-top: -70px;
float: left;
width: 100%;
}
.fs-mstore1{
margin-top: 0px;
float: left;
width: 100%;
}
.logintxt1 + button{
background: transparent none repeat scroll 0 0;
border: 1px solid #fff;
border-radius: 0;
color: #fff;
float: right;
font-family: helvetica;
font-size: 13px;
font-weight: 100;
height: 30px;
padding: 0 50px; clear: both;
}
.fs-menu ul.nav > li > a{
padding: 15px 30px 15px 15px;
position: relative;
top: 5px;
}
.fs-menu ul.nav > li > a i {
left: 3px;
position: relative;
float: right;
}
.fs-menu ul > li > a:focus, .nav.fs-menu ul > li > a:hover {
background-color: transparent;
text-decoration: none;
color: #ff596b;
}
.fs-menu ul.nav .open > a, .nav .open > a:focus, .fs-menu ul.nav .open > a:hover{
background-color: transparent;
}
.fs-mstorefolow{
padding-right: 12px;
}
.fs-categories {
margin: 20px auto 60px;
}
.fs-watches{
background-color: #fb942f;
padding: 57px 15px;
}
.fs-watches ul {
display: table;
margin: 0;
padding: 0;
width: 100%;
}
.fs-watches li {
display: table-cell;
text-align: center;
vertical-align: middle;
width: 50%;
cursor: pointer;
}
.fs-watches img {
height: 136px;
margin:0 auto;
}
.fs-watches li span {
border-bottom: 1px solid #fff;
color: #fff;
display: inline-block;
font-size: 30px;
height: 32px;
margin: 0 auto;
padding-top: 3px;
}
.fs-clothes{
background-color: #5ba0fe;
padding:50px 0;
}
.fs-clothes ul {
display: table;
margin: 0;
padding: 0;
width: 100%;
}
.fs-clothes li {
display: table-row;
text-align: center;
vertical-align: middle;
width: 100%;
}
.fs-clothes img {
margin:0 auto;
width: 133px;
}
.fs-clothes li span {
border-bottom: 1px solid #fff;
color: #fff;
display: inline-block;
font-size: 30px;
height: 32px;
margin: 50px auto 0;
padding-top: 3px;
cursor: pointer;
}
.fs-shoe{
background-color: rgb(248, 122, 72);
padding: 86px 15px;
}
.fs-shoe ul {
display: table;
margin: 0;
padding: 0;
width: 100%;
}
.fs-shoe li {
display: table-row;
text-align: center;
vertical-align: middle;
width: 100%;
}
.fs-shoe img {
margin:0 auto;
width: 150px;
}
.fs-shoe li span {
border-bottom: 1px solid #fff;
color: #fff;
display: inline-block;
font-size: 30px;
height: 32px;
margin: 64px auto;
padding-top: 3px;
cursor: pointer;
}
.fs-googles ul {
display: table;
margin: 0;
padding: 0;
width: 100%;
}
.fs-googles li {
display: table-row;
text-align: center;
vertical-align: middle;
width: 100%;
}
.fs-googles li span {
border-bottom: 1px solid #fff;
color: #fff;
display: inline-block;
font-size: 30px;
height: 32px;
margin: 50px auto 20px;
padding-top: 3px;
cursor: pointer;
}
.fs-googles img {
width: 150px;
display: inline;
}
.fs-googles{
background-color: #7fde6f;
padding:75px 0;
margin:15px 0 0;
}
.fs-hats {
background-color: rgb(239, 191, 32);
margin: 15px 0 0;
padding: 47px 15px;
}
.fs-hats ul {
display: table;
margin: 0;
padding: 0;
width: 100%;
}
.fs-hats li {
display: table-cell;
text-align: center;
vertical-align: middle;
width: 50%;
}
.fs-hats img {
margin:0 auto;
}
.fs-hats li span {
border-bottom: 1px solid #fff;
color: #fff;
display: inline-block;
font-size: 30px;
height: 32px;
margin: 0 auto;
padding-top: 3px;
cursor: pointer;
}
.fs-everything{
background-color: rgb(86, 144, 179);
padding: 96px 15px;
margin-top: 15px;
}
.fs-everything ul {
display: table;
margin: 0;
padding: 0;
width: 100%;
}
.fs-everything li {
display: table-row;
text-align: center;
vertical-align: middle;
width: 100%;
}
.fs-everything img {
margin:0 auto;
width: 150px;
}
.fs-everything li span {
border-bottom: 1px solid #fff;
color: #fff;
display: inline-block;
font-size: 30px;
height: 32px;
margin: 65px auto;
padding-top: 3px;
cursor: pointer;
}
.fs-accessories{
background-color: #cf66fb;
margin:15px 2% 0 0;
width: 98%;
padding: 36px 15px;
}
.fs-accessories ul {
display: table;
margin: 0;
padding: 0;
width: 100%;
}
.fs-accessories li {
display: table-cell;
text-align: center;
vertical-align: middle;
width: 50%;
}
.fs-accessories img {
margin:0 auto;
max-width: 250px;
}
.fs-accessories li span {
border-bottom: 1px solid #fff;
color: #fff;
display: inline-block;
font-size: 30px;
height: 32px;
margin: 0 auto;
padding-top: 3px;
cursor: pointer;
}
.fs-mstore-footer{ 
width: 100%; 
float: left; 
margin-top:15px; 
}
.fs-mstore-footer div{ 
height: 5px; 
float: left; 
}
   
/*************************** celebrity store **************************/
.fs-celebStore{
    background: -webkit-linear-gradient(#8f6278, #755062); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#8f6278, #755062); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#8f6278, #755062); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#8f6278, #755062); /* Standard syntax (must be last) */
}
.fs-celebStore .fs-men-header{ 
background: none;  
margin-top: 10px;
/*min-height: 250px;*/
min-height: 280px;
}
.fs-celebStore h3{ 
color: #fff; 
opacity: .1;
font-size: 80px !important;
line-height: inherit;
/*margin-top: 0px;*/
}
.fs-celebPic {
 background: #755062 none repeat scroll 0 0; 
padding: 15px 8px;
z-index: 1;
border: 4px solid #fff;
}
.fs-celebPic img{
background-color: transparent;
width: 100px;
height: 100px;
border: none;
}
.designerstorefullpic{ padding: 0; }
.designerstorefullpic img{ width: 100%; height: 100%; padding: 0; }
.fs-celebPic h1{
color: #fff;
display: block;
margin:33px 0 0;
/*font-family: 'DINLight';*/
/*font-family: helvetica;*/
/*font-family: open_sansregular;*/
font-size: 18px;
font-weight: 100;
text-transform: uppercase;
}
.fs-celebStore .fs-mstore{
margin-top: 0;
}
.fs-celebStore .fs-menfashion-pic{
top: -55px;
}
.fs-celebStore button {
background: transparent none repeat scroll 0 0;
border-color: #fff;
color: #fff;
border-radius: 0;
/*line-height: 36px;*/
/*font-family: 'open_sansregular';*/
padding: 0 25px;
font-weight: 100;
margin-top: 10px; 
/*clear: both; float: right;*/
}
.fs-celebDownloadapp img{
width: 115px;
}
.bgWhite{ background-color: #fff; }
.fs-celebtabs > ul{ 
margin-bottom: 0;
margin-left: 0; min-height: 55px;
}
.fs-celebtabs > ul > li{
padding: 0; min-height: 55px;
}
.fs-celebtabs ul li a{
height: 100%;
float: left;
width: 100%;
padding-top: 20px; padding-bottom: 17px;
border-right: 1px solid rgb(242, 242, 242);
color: #616161; 
/*font-family: 'open_sansregular';*/
font-weight: 100;
font-size: 13px;
text-transform: uppercase;
margin:0px;
border-radius:0px; cursor: pointer;
}
.fs-celebtabs ul.isindustry li a{
  padding-top: 8px; padding-bottom: 0;
}
.fs-celebtabs ul > li:nth-child(3) a{ border-right: none; }
.fs-celebtabs ul div li a{  }
.fs-celebtabs ul li a .glyphicon-home{
  font-size: 16px; 
  line-height: 18px;
}
.fs-celebtabs ul li:last-child a{
  border-right: 0;
}
.fs-celebtabs.fs-tollywoodtabs ul li a{
/*padding-top:20px !important;*/
}
.fs-celebtabs.fs-tollywoodtabs ul.li6 li:nth-child(4){ width: 26% !important; }
.fs-celebtabs.fs-tollywoodtabs ul li.socialIcns{ width: 22% !important; }
.fs-celebtabs.fs-tollywoodtabs ul li.socialIcns span{ margin-left: -25px; 
  padding-top: 18px !important; }
.fs-celebtabs.fs-tollywoodtabs ul li.socialIcns span{ float: left; width: 100%; padding-top: 12px;
text-align: center; }
.fs-celebtabs.fs-tollywoodtabs ul li.socialIcns a{ width: auto; padding-right: 24px; float: none; }
.fs-celebtabs.fs-tollywoodtabs ul li.socialIcns a i.fa{ font-size: 20px; color: #959595; }
.fs-celebtabs.fs-tollywoodtabs ul li.socialIcns a i.fa:hover{ color: #333; }
.fs-celebtabs.fs-tollywoodtabs ul li.socialIcns a:last-child{ padding-right: 0; }
.fs-celebtabs.fs-tollywoodtabs ul li a + div{
padding-bottom: 8px;
}
.fs-celebtabs.fs-tollywoodtabs ul li a label{
  cursor: pointer;
}
.dropdown-menu{
max-width: 170px !important;
min-width: 170px !important;
left: 25px;
}
.dropdown-menu li{
/*min-width: 100px;*/
}
.fs-celebtabs ul.dropdown-menu li a{
height: auto;
padding: 3px 6px;
text-transform: capitalize;
cursor: pointer;
 border-right: none;
 text-align: left;
}
.fs-celebtabs ul li a.border-r0{
border-right: none;
}
.fs-celebtabs ul li a:hover{
color: rgb(255,89,107);
}
.fs-celebtabs li ul li {
float: left; 
width: 100%;
}
.fs-celebtabs li ul li.divider {
margin:0;
}
.fs-celebtabs ul li ul li a:hover{
/*background: rgb(255,89,107);*/
color: rgb(255,89,107);
}
.fs-cfoloing{
margin-top: 0 !important;
border-radius: 16px !important;
line-height: 39px !important;
color: rgb(251,150,50) !important;
background: #fff !important;
}
    /*************** movie store **************/
.menfashion[_ngcontent-c3] ul[_ngcontent-c3] li[_ngcontent-c3] a[_ngcontent-c3] {
height: 45px;
border-radius: 0px;
margin: 0px;
float: left;
width: 100%;
padding: 16px 0;
border-right: 1px solid rgb(242, 242, 242);
color: #222;
font-family: "DINRegular";
font-size: 13px;
text-transform: uppercase;
}
.fs-movie-store{
background: -webkit-linear-gradient(#52627b,#424f64); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(#52627b,#424f64); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(#52627b,#424f64); /* For Firefox 3.6 to 15 */
background: linear-gradient(#52627b,#424f64); /* Standard syntax (must be last) */
}
.fs-menfashion{
background: -webkit-linear-gradient(#7fd5d1, #71c2be); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(#7fd5d1, #71c2be); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(#7fd5d1, #71c2be); /* For Firefox 3.6 to 15 */
background: linear-gradient(#7fd5d1, #71c2be); /* Standard syntax (must be last) */
}
.fs-auctions{
background: -webkit-linear-gradient(#349aa7, #008297); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(#349aa7, #008297); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(#349aa7, #008297); /* For Firefox 3.6 to 15 */
background: linear-gradient(#349aa7, #008297); /* Standard syntax (must be last) */
}
.fs-designer-store{
/*background: -webkit-linear-gradient(#6984B4, #6984B4);*/ /* For Safari 5.1 to 6.0 */
/*background: -o-linear-gradient(#6984B4, #6984B4);*/ /* For Opera 11.1 to 12.0 */
/*background: -moz-linear-gradient(#6984B4, #6984B4);*/ /* For Firefox 3.6 to 15 */
/*background: linear-gradient(#6984B4, #6984B4);*/ /* Standard syntax (must be last) */
/*background: #759fbb;*/
background: #e7bc55;
}
.fs-Aucpic{
background: -webkit-linear-gradient(#349aa7, #008297); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(#349aa7, #008297); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(#349aa7, #008297); /* For Firefox 3.6 to 15 */
background: linear-gradient(#349aa7, #008297); /* Standard syntax (must be last) */
}
.fs-moviePic{
background: #e5379e;
}
.fs-mvfoloing{
margin-top: 0 !important;
border-radius: 16px !important;
line-height: 39px !important;
color: #e5379e !important;
background: #fff !important;
}

/*************** shareyourstyle **************/
.fs-shareyourstyle{
background: -webkit-linear-gradient(#a4dd8f, #8dc579); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(#a4dd8f, #8dc579); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(#a4dd8f, #8dc579); /* For Firefox 3.6 to 15 */
background: linear-gradient(#a4dd8f, #8dc579); /* Standard syntax (must be last) */
}
.fs-shareyourstylepic{
background: #8dc579;
}
.fs-shareinfo{
border:1px solid #A1A1A1;
padding: 0 20px 0px;
text-align: center;
float: left;
}
.fs-shareinfo h3{
background: rgb(242, 242, 242) none repeat scroll 0 0;
padding: 0 10px;
position: relative;
text-align: center;
top: -26px;
margin-bottom: 0;
width: 20%;
left: 40%;
}
.fs-shareinfo p{
margin: -10px 0 20px;
float: left;
}
.fs-shareinfo > span{
background: rgb(242, 242, 242) none repeat scroll 0 0;
border: 1px solid;
float: left;
height: 26px;
padding: 3px 25px;
position: relative;
top: 14px;
cursor: pointer;
width: 14%;
left: 43%;
}
.fs-shareinfo > span span{
padding-right: 10px;
}
.fs-Uname{
color: #fff;
font-size: 29px;
margin-top: 0;
}
.fs-card2{
max-height: 170px;
overflow: hidden;
}
.fs-card21{
margin: 10px 1% 0px 0px; width: 49%;padding: 0; position: relative;
}
.fs-card21:last-child{
margin: 10px 0px 0px 1%;
}
.fs-layer{
top: 0px; left: 0; position: absolute; width: 100%; height: 100%; 
background: rgb(170,169,173); 
opacity: .3;
}
.fs-layer + span.glyphicon-remove{
float: right;
padding: 5px 5px 0 0;
cursor: pointer;
color: #fff;
position: absolute;right: 3px;
}
.w1{
background: rgb(242,242,242);
color: #fff;
display: block;
-webkit-justify-content: center;
justify-content: center;
-webkit-align-items: center;
align-items: center;
height: 390px;
display: -webkit-flex;
display: flex;
text-transform: capitalize;
top: 0;
width: 50%;
}
.fs-hashtags{
font-size: 14px;
}
.fs-uploadmodal {
background: rgba(35, 35, 35, 0.8) none repeat scroll 0 0;
left: 0;
min-height: 100%;
position: absolute;
display: none;
top: 0;
/*font-family: "DINLight";*/
width: 100%;
}
.fs-uploadmodal .container {
background: #fff none repeat scroll 0 0;
position: relative;
top: 22px;
}
.fs-Modalheader {
background: rgb(89, 197, 98) none repeat scroll 0 0;
float: left;
height: 30px;
width: 100%;
}
.fs-modal-Upladclose {
float: right;
font-size: 22px;
padding: 4px 4px 0 0;
cursor: pointer;
}
.fs-ModalContent {
float: left;
width: 100%;
}
.fs-ModalContent P {
color: #a1a1a1;
/*font-family: "DINLight";*/
}
.fs-carouselPic div:first-child {
background: rgb(228, 228, 227) none repeat scroll 0 0;
height: 240px;
margin-bottom: 10px;
overflow: hidden;
display: -webkit-flex;
display: flex;
-webkit-justify-content: center;
justify-content: center;
-webkit-align-items: center;
align-items: center;
}
.fs-carouselPic .col-md-8 .col-md-6 {
margin: 0 1.5% 0 0;
padding: 0;
width: 48.5%;
height: 120px;
background: rgb(228, 228, 227) none repeat scroll 0 0;
display: -webkit-flex;
display: flex;
-webkit-justify-content: center;
justify-content: center;
-webkit-align-items: center;
align-items: center;
}
.fs-carouselPic .col-md-8 .col-md-6:last-child {
margin: 0 0 0 1.5%;
overflow: hidden;
}
.fs-carouselPic input[type="radio"] {
margin: 0 9px;
}
.fs-carouselPic i.fa {
margin-right: 12px;
}
.fs-carouselPic button {
border-radius: 0;
height: 31px;
padding: 6px 20px;
line-height: 26px;
}
.fs-carouselPicType > ul {
padding: 0;
list-style-type: none;
float: left;
}
.fs-carouselPicType > ul li {
clear: both;
cursor: pointer;
float: left;
padding: 0 0 5px;
position: relative;
width: 140px;
}
.fs-carouselPicType ul li:first-child::after{
content: "";
}
.fs-carouselPicType > ul > li::after {
content: "+";
font-size: 20px;
height: 30px;
position: absolute;
right: 0;
top: 0px;
}
.fs-carouselPicType ul li span{
background-repeat: no-repeat;
background-size: 20px 20px;
padding-top: 4px;
font-size: 15px;
float: left;
height: 30px;
padding-left: 30px;
width: 100%;
}
.fs-carouselPicType ul li.fs-upload span{
background-image: url("../../../assets/img/uploadphoto.png");
}
.fs-carouselPicType ul li.fs-upload.open span{
color: rgb(255, 89, 107);
background-image: url("../../../assets/img/uploadphoto@c.png");
}
.fs-carouselPicType ul li.fs-Clothes span{
background-image: url("../../../assets/img/clothing.png");
}
.fs-carouselPicType ul li.fs-Clothes.open span{
color: rgb(255, 89, 107);
background-image: url("../../../assets/img/clothing@c.png");
}
.fs-carouselPicType ul li.fs-eyewear span{
background-image: url("../../../assets/img/eyewear.png");
}
.fs-carouselPicType ul li.fs-eyewear.open span{
color: rgb(255, 89, 107);
background-image: url("../../../assets/img/eyewear@c.png");
}
.fs-carouselPicType ul li.fs-Footwear span{
background-image: url("../../../assets/img/footwear.png");
}
.fs-carouselPicType ul li.fs-Footwear.open span{
color: rgb(255, 89, 107);
background-image: url("../../../assets/img/footwear@c.png");
}
.fs-carouselPicType ul li.open::after {
content: "-";
}
.fs-carouselPicType ul li i {
padding-right: 6px;
}
.fs-carouselPicType ul li img {
margin: -3px 10px 0 0;
width: 20px;
}
.fs-carouselPicType ul ul{
height: 110px;
overflow-y: auto;
overflow-x: hidden;
width: 143px;
margin-bottom: 10px;
color: #333;
display: none;
/*font-family: "DINLight";*/
}
.fs-carouselPicType ul li li{
list-style: none;
width: 100px;
}
.fs-UploadCarousel{
float: left;
width: 100%;
margin-top: 20px;
}
.fs-Carousel1{
height: 120px;
margin-bottom: 30px;
overflow: hidden;
}
.fs-Carousel1-div {
float: left;
height: 110px;
margin: 0 9px 5px;
width: 110px;
}
.fs-Carousel1-div.active{
-ms-transform: scale(1.15, 1.15); /* IE 9 */
-webkit-transform: scale(1.15, 1.15); /* Safari */
transform: scale(1.15, 1.15);
}
.fs-Carousel1-div2 {
float: left;
height: 100%;
width: 100%;
}
.fs-Carousel1-div2 .fs-Carousel1-div2a {
background: rgb(242, 242, 241) none repeat scroll 0 0;
float: left;
height: 100%;
margin-right: 2%;
width: 48%;
}
.fs-Carousel1-div2 .fs-Carousel1-div2b {
background: rgb(242, 242, 241) none repeat scroll 0 0;
float: left;
height: 100%;
margin-left: 2%;
width: 48%;
}
.fs-Carousel1-div2b-1{
height: 48%;
margin-bottom: 2%;
width: 100%;
float: left;
}
.fs-Carousel1-div2b-2{
height: 48%;
margin-top: 2%;
float: left;
width: 100%;
}
.fs-Carousel1-div3{
float: left;
height: 100%;
width: 100%;
}
.fs-Carousel1-div3a{
background: rgb(242, 242, 241) none repeat scroll 0 0;
float: left;
height: 100%;
margin-right: 2%;
width: 58%;
}
.fs-Carousel1-div3b{
float: left;
height: 100%;
margin-left: 2%;
width: 38%;
}
.fs-Carousel1-div3b-1{
height: 48%;
width: 100%;
float: left;
margin-bottom: 2%;
background: rgb(242, 242, 241) none repeat scroll 0 0;
}
.fs-Carousel1-div3b-2{
height: 48%;
width: 100%;
margin-top: 2%;
background: rgb(242, 242, 241) none repeat scroll 0 0;
float: left;
}
.fs-Carousel1-div4{
float: left;
height: 100%;
width: 100%;
}
.fs-Carousel1-div4a{
float: left;
height: 100%;
margin-right: 2%;
width: 58%;
}
.fs-Carousel1-div4a-1{
background: rgb(242, 242, 241) none repeat scroll 0 0;
float: left;
height: 58%;
margin-bottom: 2%;
width: 100%;
}
.fs-Carousel1-div4a-2{
background: rgb(242, 242, 241) none repeat scroll 0 0;
float: left;
height: 38%;
margin-top: 2%;
width: 100%;
}
.fs-Carousel1-div3ah{
background: rgb(242, 242, 241) none repeat scroll 0 0;
float: left;
height: 58%;
margin-bottom: 2%;
width: 100%;
}
.fs-Carousel1-div3bh{
width: 100%;
float: left;
height: 38%;
margin-top: 2%;
}
.fs-Carousel1-div3bh-1{
background: rgb(242, 242, 241) none repeat scroll 0 0;
height: 100%;
width: 48%;
margin-right: 2%;
float: left;
}
.fs-Carousel1-div3bh-2{
background: rgb(242, 242, 241) none repeat scroll 0 0;
width: 48%;
height: 100%;
margin-left: 2%;
float: left;
}
.fs-Carousel1-div3bh-1a{
background: rgb(242, 242, 241) none repeat scroll 0 0;
width: 32%;
height: 100%;
float: left;
}
.fs-Carousel1-div3bh-2a{
background: rgb(242, 242, 241) none repeat scroll 0 0;
width: 32%;
height: 100%;
margin: 0 2%;
float: left;
display: -webkit-flex;
display: flex;
-webkit-justify-content: center;
justify-content: center;
-webkit-align-items: center;
align-items: center;
}
.fs-Carousel1-div3bh-3a{
background: rgb(242, 242, 241) none repeat scroll 0 0;
width: 32%;
height: 100%;
float: left;
}
.fs-Carousel1-div3bv{
width: 40%;
height: 100%;
float: left;
}
.fs-Carousel1-div3bv-1{
background: rgb(242, 242, 241) none repeat scroll 0 0;
width: 100%;
height: 33%;
float: left;
}
.fs-Carousel1-div3bv-2{
background: rgb(242, 242, 241) none repeat scroll 0 0;
width: 100%;
height: 32%;
margin:2% 0;
float: left;
}
.fs-Carousel1-div3bv-3{
background: rgb(242, 242, 241) none repeat scroll 0 0;
width: 100%;
height: 33%;
float: left;
}
.fs-carouselPicTypeHeading {
margin-bottom: 20px;
margin-top: 20px;
float: left;
}
.fs-carouselPicTypeHeading .strip1{
background: #a1a1a1 none repeat scroll 0 0;
height: 1px;
width: 100%;
}
.fs-carouselPicTypeHeading p {
margin-top: -11px;
}
.fs-carouselPicTypeHeading span {
background: #fff none repeat scroll 0 0;
padding: 0 10px;
font-size: 20px;
display: inline-block;
}
.fs-carouselPicTypeHeading div.ul {
float: left;
width: 100%;
}
.fs-carouselPicTypeHeading ul{
float: left;
list-style-type: none;
padding: 0;
width: 100%;
}
.fs-carouselPicTypeHeading ul li {
align-items: center;
display: flex;
float: left;
height: 140px;
justify-content: center;
margin-right: 5px;
margin-left: 5px;
width: 140px;
border:1px solid #a1a1a1;
}
.fs-controls {
height: 140px;
position: relative;
}
.fs-carouselPicTypeHeading .glyphicon.glyphicon-menu-left {
background: transparent none repeat scroll 0 0;
bottom: auto;
left: -30px;
position: absolute;
top: 44%;
cursor: pointer;
}
.fs-carouselPicTypeHeading .glyphicon.glyphicon-menu-right {
background: transparent none repeat scroll 0 0;
bottom: 0;
position: absolute;
right: -30px;
top: 44%;
cursor: pointer;
}
.fs-Carousel1 .fs-controls{
height: 125px;
position: relative;
}
.fs-Carousel1 .fs-controls .glyphicon-menu-left {
left: -14px;
cursor: pointer;
position: absolute;
top: 40%;
}
.fs-Carousel1 .fs-controls .glyphicon-menu-right {
position: absolute;
cursor: pointer;
right: -8px;
top: 40%;
}
/*************** womenfashion **************/
.fs-womenfashion{
background: -webkit-linear-gradient(#f57262,#e06152); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(#f57262,#e06152); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(#f57262,#e06152); /* For Firefox 3.6 to 15 */
background: linear-gradient(#f57262,#e06152); /* Standard syntax (must be last) */
}
.fs-womenpic{
background: #fa4857;
}
.fs-womenfashion button{
color: #fff;
/*line-height: 36px;*/
margin-top: 0;
}
.fs-foloing{
margin-top: 0 !important;
border-radius: 16px !important;
line-height: 39px !important;
color: rgb(255,89,107) !important;
background: #fff !important;
}
.fs-foloingal.fs-foloingal{
color: #5ba0fe !important;
}
.logintxt{
font-size: 14px !important;
/*margin-top: -20px;*/
margin-top: 10px; 
/*float: right;*/ 
text-align: left;
/*font-family: 'DINLight';*/
}
.logintxt1{
font-size: 14px !important;
/*margin-top: 10px;*/
/*font-family: 'DINLight';*/
color: #fff;
float: right;
}
.fs-celebDownloadapp .logintxt{ float: right; }
.fs-celebDownloadapp button{ clear: both; float: right; }
.fs-celebDownloadapp p.pull-right.txt{
margin-right: 50px;
/*font-family: 'DINLight';*/
}
.fs-celebDownloadapp p.pull-right{
margin-top: 0;
font-size: 14px;
display: block;
}
.fs-breadcrumb li a {
color: #222;
}
.fs-breadcrumb li {
color: rgb(255, 89, 107);
}
.imgzoom .col-md-12{
overflow: hidden;
max-width: 120px;
}
.price{
color: #616161;
}
.colortxt {
float: left;
margin-right: 30px;
position: relative;
width: 70px;
font-size: 18px;
}
.colortxt::after {
content: ":";
position: absolute;
right: 0;
}
.size {
float: left;
margin-right: 30px;
position: relative;
width: 70px;
line-height: 25px;
font-size: 18px;

}
.size::after {
content: ":";
position: absolute;
right: 0;
}
.sizetype{
border: 1px solid rgb(159,157,151);
display: inline-block;
height: 20px;
line-height: 27px;
margin-right: 7px;
text-align: center;
text-transform: uppercase;
width: 40px;
color: rgb(159,157,151);
cursor: pointer;
}
.sizetype.selected{
color: #222;
}
.clr {
background: rgb(149,54,78);
float: left;
height: 20px;
width: 40px;
}
.buybtn{
background: rgb(254,91,105);
border:1px solid rgb(254,91,105);
width: 45%;
margin-right: 5%;
height: 30px;
color: #fff;
float: left;
line-height: 38px;
}
.savelater{
border:1px solid rgb(159, 157, 151);
width: 50%;
height: 30px;
float: left;
line-height: 38px;
}
.divider{
background: rgb(159, 157, 151) none repeat scroll 0 0;
float: left;
height: 1px;
margin: 10px 0;
width: 100%;
}
h5 .caret {
margin: -4px 6px 0 0;
cursor: pointer;
}
.fs-socialicon strong {
margin-right: 20px;
}
.fs-socialicon .fa{
border: 1px solid rgb(159, 157, 151);
color: #222;
height: 26px;
margin-right: 6px;
padding: 5px;
text-align: center;
width: 26px;
}
.relstrip{
margin-bottom: 50px;
}
.relstrip hr{
border-color: #222;
}
.fs-prodname{
float: left;
width: 100%;
}
.prodprice {
color: rgb(166,164,164);
width: 100%;
float: left;
margin-bottom: 30px;
}
.fs-relflks .col-md-3:nth-child(4n) {
padding-right: 0;
}
.fs-relflks .col-md-3 .col-md-12 {
height: 230px;
overflow: hidden;
border:1px solid rgb(70,70,70);
cursor: pointer;
float: left;
}
.fs-relflks .col-md-3 .col-md-12 a{
  float: left;
  width: 100%; 
  height: 230px;
}
.fs-relflks .col-md-3:nth-child(4n) .col-md-12 {
height: 230px;
overflow: hidden;
}
.fs-relflks .col-md-3 .col-md-12 img {
margin: 0 auto;
}
.bidorbuydiv{
  background-color: rgba(0, 0, 0, 0.3);
color: #fff;
display: none;
-webkit-justify-content: center;
justify-content: center;
-webkit-align-items: center;
align-items: center;
height: 100%;
position: absolute;
text-transform: capitalize;
top: 0;
width: 100%;
}
/*.fs-relflks .col-md-3 .col-md-12 a + div{
background-color: rgba(0, 0, 0, 0.3);
color: #fff;
display: none;
-webkit-justify-content: center;
justify-content: center;
-webkit-align-items: center;
align-items: center;
height: 100%;
position: absolute;
text-transform: capitalize;
top: 0;
width: 100%;
}*/
.fs-relflks .col-md-3 .col-md-12:hover div{
display: -webkit-flex;
display: flex;
}
/********* Ecart ********/
.colortxt1{
float: left;
font-size: 14px;
margin-right: 10px;
margin-top: 3px;
position: relative;
width: auto;
}
.size1{
float: left;
font-size: 14px;
margin-right: 10px;
margin-top: 4px;
position: relative;
width: auto;
}
.sizetype1 {
border: 1px solid rgb(159, 157, 151);
color: rgb(159, 157, 151);
cursor: pointer;
display: inline-block;
height: 20px;
line-height: 27px;
margin-right: 7px;
text-align: center;
text-transform: uppercase;
width: 40px;
}
.sizetype1.selected {
color: #222;
}
.edittxt{
color: rgb(254, 91, 105);
}
.ecartpic {
border: 1px solid rgb(70, 70, 70);
}
.fs-shipingicon1 {
border: 1px solid rgb(255, 89, 107);
border-radius: 100%;
float: left;
height: 80px;
padding: 5px;
width: 82px;
}
.fs-shipingicon {
background-color: rgb(255, 89, 107);
border: 1px solid rgb(255, 89, 107);
border-radius: 100%;
float: left;
height: 100%;
justify-content: space-between;
width: 100%;
}
.fs-shipingicon > img {
left: 15px;
position: absolute;
top: 27px;
width: 50px;
}
.changeaddrs{
background: rgb(254, 91, 105) none repeat scroll 0 0;
border: 1px solid rgb(254, 91, 105);
color: #fff;
float: left;
height: 30px;
line-height: 38px;
margin-right: 5%;
width: 95%;
}
.edtbtn{
border: 1px solid rgb(159, 157, 151);
float: left;
height: 30px;
line-height: 38px;
width: 100%;
}
.ordersumery {
background-color: rgb(255, 89, 107);
color: #fff;
height: 40px;
line-height: 23px;
margin: 0 0 35px;
padding: 15px 0;
text-align: center;
}
.pamymenytype{
padding:0;
}
.pamymenytype input[type='radio']{
margin-top: -2px;
}
.fs-shipingicon.paymenticon > img{
top: 16px;
}
.paymenttype-info {
float: left;
}
.paymenttype-info .col-md-6{
border: 1px solid rgb(159, 157, 151);
margin: 0 4px 8px 0;
float: left;
width: 49%;
}
.paymenttype-info .col-md-6:nth-child(2n) {
margin: 0 0 8px;
}
.paymenttype-info .radio {
margin: 15px 0 5px;
}
.paymenttype-info img {
margin-top: -10px;
width: 100%;
}
.paymenttype-info option {
padding: 10px 0 0 16px;
}
.pay{
background: rgb(254, 91, 105) none repeat scroll 0 0;
border: 1px solid rgb(254, 91, 105);
color: #fff;
float: left;
height: 30px;
line-height: 38px;
width: 100%;
}
.shipingadres{
min-height: 526px;	
}
.deliveradrs-btn{
background: rgb(254, 91, 105) none repeat scroll 0 0;
border: 1px solid rgb(254, 91, 105);
color: #fff;
float: left;
height: 30px;
line-height: 38px;
width: 100%
}
.fs-deladresForm{
display: none;
}
.fs-deladresForm textarea{
resize: none;
}
.fs-dlocation > div{
width: 48%;
}
.fs-dlocation > div:last-child{
margin-left: 4%;	
}
.fs-payment{
min-height: 524px;
}
.placeorder{
background: rgb(254, 91, 105) none repeat scroll 0 0;
border: 1px solid rgb(254, 91, 105);
color: #fff;
float: left;
height: 30px;
line-height: 38px;
}
.fs-cashdelivery{
margin-bottom: 30px;
display: none;
}
.fs-debitcard{
display: none;
}
.fs-debitcardForm option {
padding: 10px 0 0 16px;
}
.cvvno{
border: 1px solid #f00;
float: right;
font-size: 10px;
height: 30px;
line-height: 13px;
padding: 5px;
position: relative;
top: 2px;
width: 62%;
}
.cvvno::before {
background: red none repeat scroll 0 0;
color: red;
content: "";
height: 1px;
left: -40px;
position: absolute;
top: 17px;
width: 40px;
}
/*************** tollywood **************/
.fs-tollywood{
/*background: -webkit-linear-gradient(#82957e, #829c94, #7d8d9e); 
background: -o-linear-gradient(#82957e, #829c94, #7d8d9e); 
background: -moz-linear-gradient(#82957e, #829c94, #7d8d9e); 
background: linear-gradient(#82957e, #829c94, #7d8d9e); */
background: -webkit-linear-gradient(#924ea9, #ae47b4); 
background: -o-linear-gradient(#924ea9, #ae47b4); 
background: -moz-linear-gradient(#924ea9, #ae47b4); 
background: linear-gradient(#924ea9, #ae47b4); 
padding: 0 0;
/*background-image:url(../../../assets/img/Background Doodle.png);*/
}
.fs-tollywood .fs-tollywoodPic{
background: #fff;
border: 4px solid #fff;
top: -30px;
/*left: 111px;*/
background: -webkit-linear-gradient(#f5f5f5, #fff); 
background: -o-linear-gradient(#f5f5f5, #fff); 
background: -moz-linear-gradient(#f5f5f5, #fff); 
background: linear-gradient(#f5f5f5, #fff);
box-shadow: 0 0px 4px 0 #e3e3e3;
}
.fs-tollywoodPic img{
width: 125px; height: auto; margin-top: 10px;
}
.fs-tollywoodPic h1{ color: #797979; font-size: 24px; /*margin-top: 20px;*/}
.fs-tollywoodPic span{
color: #616161;
text-transform: uppercase;
/*font-family: 'open_sanslight';*/
}
.fs-tollywoodtabs ul li{
border-right: 1px solid rgb(242, 242, 242);
}
.fs-tollywoodtabs ul li:nth-child(2), .fs-tollywoodtabs ul li:last-child{
border-right: none;
}
.fs-tollywoodtabs ul li a{
height: 100%;
text-transform: capitalize;
border-right: 0;
/*font-family: "DINLight";*/
/*font-family: open_sansregular;*/
}
.fs-tollywoodtabs .fs-movie-rate{
border: none;
padding-top: 0;
}
.fs-tollywoodtabs .fs-movie-rate:hover{
color: rgb(255,89,107);
}
.fs-tollywoodtabs .fs-movie-rate p{
margin-bottom: 0;
font-size: 13px;
}
.fs-tollywoodtabs .fs-users-rating{
padding-top: 0px;
margin-top: 0;
/*margin-bottom: 8px;*/
}
/*************** signup **************/
.fs-modal-signup{
background: rgba(35, 35, 35, 0.9) none repeat scroll 0 0;
display: block;
float: left;
height: 100%;
position: absolute;
top: 0;
left: 0;
width: 100%;
}
.fs-modal-signup1 {
display: table;
height: 400px;
top: 80px;
}
.fs-modal-signup1 .hello {
align-items: center;
background: rgb(254, 91, 105) none repeat scroll 0 0;
color: #fff;
font-size: 18px;
height: inherit;
display: table;
}
.fs-modal-signup1 .hello div {
display: table-cell;
vertical-align: middle;
text-align: center;
font-size: 18px;
}
.fs-modal-signup1 .hello div img{
margin-bottom: 20px;
width: 50px;
}
.fs-modal-signup1 .signupfields {
background: #fff;
height: inherit;
}
.fs-modal-signup1 .fs-modal-close{
position: static;
float: right;
margin:5px 5px 0 0;
}
.fs-modal-signup1 input[type='text']::-webkit-input-placeholder { /* Chrome/Opera/Safari */
color: #a5a5a5;
}
.fs-modal-signup1 input[type='text']::-moz-placeholder { /* Firefox 19+ */
color: #a5a5a5;
}
.fs-modal-signup1 input[type='text']:-ms-input-placeholder { /* IE 10+ */
color: #a5a5a5;
}
.fs-modal-signup1 input[type='text']:-moz-placeholder { /* Firefox 18- */
color: #a5a5a5;
}
.fs-namefield input[type='text']{
background: transparent none repeat scroll 0 0;
border: medium none;
color: #222;
float: left;
font-size: 18px;
position: relative;
text-transform: capitalize;
top: 8px;
width: 200px;
}
.fs-namefield input[type='text']:focus{
cursor: text;
}
.fs-namefield img{
cursor: pointer;
float: right;
display: none;
width: 18px;
}
.fs-namefield{
border-bottom: 1px solid #8c8c8c;
display: table;
margin: 0 auto;
position: relative;
text-align: center;
width: 250px;
}
.genderbtns button{
border: 1px solid #8c8c8c;
color: #b9b9b9;
background-color: transparent;
height: 30px;
line-height: 38px;
width: 122px;
}
.genderbtns button.selected{
border-color: #5ba0fe;
color: #fff;
}
.male{
background: url("../../../assets/img/male.png") no-repeat scroll 20px center / 16px 16px;
border-right-width: 0;
}
.female{
background: url("../../../assets/img/female.png") no-repeat scroll 17px center / 11px 16px;
margin-left: -3px;
}
.female.selected{
background: #5ba0fe url("../../../assets/img/femalewhite.png") no-repeat scroll 17px center / 11px 16px;
}
.male.selected{
background: #5ba0fe url("../../../assets/img/malewhite.png") no-repeat scroll 20px center / 14px 16px;
}
.addphoto div {
height: 120px;
width: 120px;
margin: 40px auto 0px;
border: 3px solid #efeeee;
background: #f8f7f7 none repeat scroll 0 0;
cursor: pointer;
color: #c3c3c3;
overflow: hidden;
}
.addphoto div:hover span {
display: block;
background-color: rgb(159,158,154);
}
.addphoto div span {
bottom: 19px;
color: #c3c3c3;
display: none;
height: 19px;
padding-top: 3px;
position: relative;
}
.addphoto img{
height: 100%;
}
.fs-submit{
width: 250px;
height: 30px;
line-height: 38px;
background-color: rgb(254, 91, 105);
border:1px solid rgb(254, 91, 105);
color: #fff;
}
.fs-terms{
margin-top: 8px;
font-size: 12px;
}
.fs-terms p{
color: #fff;
}
.fs-terms p span{
color: #fe5b69;
cursor: pointer;
display: inline-block;
}
/**************** login **************/
.fs-mobilefield .mob91{
border-width: 0 0 1px;
border-color: #8c8c8c;
width: 50px;
float: left;
font-size: 20px;
}
.fs-mobilefield .mobnum{
border-width: 0 0 1px;
border-color: #8c8c8c;
margin-left: 10px;
float: left;
font-size: 20px;
width: 192px;
}
.fs-next{
background-color: rgb(254, 91, 105);
border: 1px solid rgb(254, 91, 105);
color: #fff;
height: 30px;
line-height: 38px;
width: 250px;
margin-bottom: 20px;
}
.loginwithfb{
height: 30px;
line-height: 38px;
width: 250px;
background: rgb(59,89,152) url("../../../assets/img/facebookwhite.png") no-repeat scroll 30px center / 10px 16px ;
color: #fff;
border:1px solid rgb(59,89,152);
margin-top: 10px;
}
.loginwithfb.selected{
background: transparent url("../../../assets/img/facebook.png") no-repeat scroll 30px center / 10px 16px ;
color: rgb(59,89,152);
}
.smstxt{
color: #a5a5a5;
margin-bottom: 0;
font-size: 15px;
}
.verify{
margin-bottom: 0;
margin-top: 35px;
}
/********** otp ***********/
.otp{
border-width: 0 0 1px;
margin-bottom: 15px;
width: 150px;
height: 26px;
padding-top: 10px;
font-size: 20px;
border-color: #8c8c8c;
}
.fs-otpfield p span{
color: rgb(254,91,105);
cursor: pointer;
display: inline-block;
}
.enterotp{
margin-bottom: 0;
margin-top: 25px;	
}
.fs-categorybg, .fs-categorypic{
background: #5ba0fe;
    }
/**********************************  Responsive  **********************************/
@media only screen and (min-width:300px) and (max-width:500px){
.fs-pos-rel p img { width: 72px; }
.fs-pos-rel p{ left: 38% !important; }
}
@media only screen and (max-width:320px){
.fs-celebStore button{ /*width: 98%;*/ margin-right: 2%; }
}
@media only screen and (min-width:480px) and (max-width:480px){
.fs-pos-rel p { left: 40% !important; }
.fs-pos-rel p img { width: 86px; }
}
@media only screen and (min-width:360px) and (max-width:360px){
.fs-pos-rel p{ left: 36.5% !important; }
.fs-pos-rel p img { width: 86px; }
}
@media only screen and (max-width:345px){
.fs-title{ font-size: 12px; }
.fs-asso-hash span{ font-size: 12px; }
}
@media only screen and (max-width:480px){
.fs-pr0{ padding-right: 0; }
.fs-csplr0{ padding-left: 0; padding-right: 0; }
}
@media only screen and (max-width:767px){
.fs-celeb-profile .text-right{ text-align: left; }
.fs-celeb-profile{ margin-bottom: 30px; }
.fs-modal-celebdialog h3{ margin-top: 20px; }
.fs-accessories{ margin-bottom: 15px; margin-right: 0; width: 100%; }
.fs-everything{ margin-top: 0; margin-left: 1%; width: 49%; }
.fs-shoe{ margin-right: 1%; width: 49%; }
.padding-r0{ padding-right: 0; }
.fs-mstore{ margin-top: 0; }
.fs-categories{ margin:10px auto 0; }
.fs-men-header{ height: auto; }
.fs-men-header button{ height: auto; line-height: 18px !important; padding: 8px 15px 0;}
.fs-men-header p{ font-size: 14px;}
.fs-men-header p span{ float: none; }
#fs-menu{ display: none; float: left; width: 100%; margin:0; }
#fs-menu > .nav.navbar-nav{ margin:0; }
.block1{ float: left; padding: 9px 0; font-family: "DINRegular"; margin-bottom: 0; }
.block1 .glyphicon.glyphicon-menu-down { left: 5px; position: relative; top: 3px; }
.fs-header .container.padding0 .col-md-4.col-xs-5.col-sm-5{ padding: 0; }
.space{ padding-left:0; padding-right:0;  }
.fs-pos-rel p { bottom: 19%; left: 42.5%; }
.industrytypes p{ color: #222; }
.industrytypes1 li a{ border: 1px solid #222; color: #222; }
.industrytypes1 li a:hover{ color: #fff; }
.fs-csplr0{ padding-right: 0; padding-left: 0; }
.fs-pl0.fs-pr0.fs-mtb10{ padding-right: 0; }
.gradient-clr{ height: auto; padding-bottom: 0; background: none; }
.fs-celebtabs ul li a{ text-align: center; }
.fs-celebPic{ width: 33.3333%; height: 95px; position: relative; margin-top: 0; }
.fs-celebPic img{ width: 50px; height: 50px; }
.fs-celebPic span{ margin:0; font-size: 9px; }
.fs-celebDownloadapp p{ float: left !important; width: 100%; font-size: 10px; margin-top: 70px;}
.fs-celebDownloadapp img{ width: 80px; margin-bottom: 3px; }
.fs-celebStore .fs-men-header{ height: 180px; }
.fs-celebDownloadapp p.pull-right{ margin-top: 70px; }
.fs-menfashion .fs-mstore { margin-top: 50px; }
.fs-menfashion .fs-mstore .fs-celebDownloadapp{ padding-left: 10px; }
.fs-menfashion .fs-mstore .fs-celebDownloadapp p{ margin-top: 0; }
.fs-womenfashion .fs-mstore { margin-top: 50px; }
.fs-womenfashion .fs-mstore .fs-celebDownloadapp{ padding-left: 10px; }
.fs-womenfashion .fs-mstore .fs-celebDownloadapp p{ margin-top: 0; }
.fs-movie-store .fs-mstore { margin-top: 50px; }
.fs-movie-store .fs-mstore .fs-celebDownloadapp{ padding-left: 10px; }
.fs-movie-store .fs-mstore .fs-celebDownloadapp p{ margin-top: 0; }
.fs-celebStore .fs-mstore { margin-top: 50px; }
.fs-celebStore .fs-mstore .fs-celebDownloadapp{ padding-left: 10px; }
.fs-celebStore .fs-mstore .fs-celebDownloadapp p{ margin-top: 0; text-align: right;}
.fs-shareinfo h3{ font-size: 18px; width: 60%; left: 20%; }
.fs-shareinfo > span{ width: 54%;left: 23%; }
.admin_login{ padding: 30px !important; }
.fs-tollywoodtabs ul li{ margin-bottom: 10px; }
.fs-tollywood{ padding: 0 15px; }
}
@media only screen and (min-width:768px) and (max-width:768px){
.fs-mstore{ margin-top: -25px; }
.fs-shareinfo h3{ width: 30%; left: 35%; }
.fs-shareinfo > span{ width: 20%;left: 40%; }
}
@media only screen and (min-width:800px) and (max-width:800px){
}
@media only screen and (max-width:991px){
.fs-mpading0{ padding-left: 0; padding-right: 0; }
.l-shareyourstyle img{ margin-right: 40px; }
.l-menfashion img{ margin-left: 40px; }
.fs-celebtabs ul li a{ font-size: 11px; }
}
@media only screen and (min-width:768px) and (max-width:1199px){
.fs-pos-rel p{ left: 38%; }
.fs-pos-rel p img{ width: 73px; }
.fs-mstore{ margin-top: -25px; }
}
@media only screen and (max-width:1023px){
.fs-men-header h3{ font-size: 80px; line-height: 150px; letter-spacing: -5px; }
.l-womenfashion, .l-celebritystore, .l-moviestore{ margin-bottom: 10px; }
.industrytypes{ padding: 0; }
}
@media only screen and (min-width:1024px) and (max-width:1024px){
.fs-pos-rel p{ left: 38%; }
.fs-pos-rel p img{ width: 86px !important; }
}
@media only screen and (min-width:1024px) and (max-width:1280px){
.fs-men-header h3{ font-size: 110px; }
.fs-mstore{ margin-top: -70px; }
/*.fs-celebtabs ul li{ width: 20%; }*/
}
/** iphone 6 **/
@media only screen and (min-width:375px) and (max-width:375px){
.fs-celebStore .fs-mstore .fs-celebDownloadapp p{ margin-top: 100px; text-align: center; }

}
/* carousel */
.media-carousel 
{
margin-bottom: 0;
padding: 0 0 30px;
}
/* Previous button  */
.media-carousel .carousel-control.left 
{
left: -12px;
opacity: 1;
background: #fff;
border: 1px solid #ddd;
color: #222;
height: 33px;
line-height: 40px;
width : 20px;
margin-top: 110px
}
/* Next button  */
.media-carousel .carousel-control.right 
{
right: -12px !important;
opacity: 1;
background: #fff;
border: 1px solid #ddd;
color: #222;
height: 33px;
line-height: 40px;
width : 20px;
margin-top: 110px
}
/* Changes the position of the indicators */
.media-carousel .carousel-indicators 
{
right: 50%;
top: auto;
bottom: 0px;
margin-right: -19px;
}
/* Changes the colour of the indicators */
.media-carousel .carousel-indicators li 
{
background: #c0c0c0;
}
.media-carousel .carousel-indicators .active 
{
background: #333333;
}
.media-carousel img
{
max-height: 100%;
/*width: 236px;height: 263px;*/
}
.media-carousel .item a
{
align-items: center;
display: flex;
float: left;
height: 263px;
justify-content: center;
margin-bottom: 10px;
overflow: hidden;
position: relative;
width: 100%;
border-radius: 0;
padding: 0;
}
.media-carousel .item a span.fs-stealStyle
{
align-items: center;
bottom: 10px;
display: flex;
height: 43px;
justify-content: center;
overflow: hidden;
position: absolute;
right: 0;
width: 70px;
/*background: url("../../../assets/img/White label.png") no-repeat;*/
}
.media-carousel .item a span img
{
max-height: 34px;
max-width: 36px;
}
.media-carousel .item span{
float: left;
clear: left;
}
.media-carousel .item a + span{
float: left;
font-family: "DIN-Medium";
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
width: 100%;
}
.fs-style .media-carousel .carousel-control.left, 
.fs-style .media-carousel .carousel-control.right{
margin-top: 120px;
}
.fs-ProductsType h3 {
padding-left: 15px;
}
.fs-collectionsPic{
overflow: hidden; height: 320px; padding-right: 0;
}
.fs-ProductsType .fs-socialbar{
border-bottom: 0; padding-left: 15px;
}
.fs-ProductsType .media-carousel .item a{
height: 163px;
}
.fs-ProductsType .media-carousel .carousel-control.left, 
.fs-ProductsType .media-carousel .carousel-control.right{
margin-top: 70px;
}
.fs-ProductsType .fs-association-data{
background: white none repeat scroll 0 0;
position: absolute;
right: -87%;
top: 40px;
z-index: 1;
}
#media3{
margin-top: 150px;
}
.fs-seemore{
float: right;
cursor: pointer;
padding-right: 15px;
margin-top: -20px;
}
.fs-seemore a{
color: #333;
float: left;
}
.fs-seemore a:hover{
color: rgb(255, 89, 107);
}
.fs-ProductsType .fs-seemore{
padding-right: 0;
}
.fs-Products .row .col-md-3{
width: 20%;
}
.fs-Products .media-carousel .item a {
height: 193px;
}
.fs-Products .media-carousel .carousel-control.left, .fs-Products .media-carousel .carousel-control.right {
margin-top: 80px;
}
.fs-shopByVideos .media-carousel .item a {
height: 203px;
}
.fs-ShareUrStyle .media-carousel .item a {
height: 292px;
}
.fs-ShareUrStyle .media-carousel .carousel-control.left, .fs-ShareUrStyle .media-carousel .carousel-control.right{
margin-top: 130px;
}
.fs-shopByVideos .media-carousel .carousel-control.left, .fs-shopByVideos .media-carousel .carousel-control.right{
margin-top: 85px;
}
.fs-WomenCollectionsType{
position: absolute; 
text-transform: uppercase; 
color: rgb(255, 255, 255); 
text-shadow: 0px 1px 2px rgb(51, 51, 51); 
font-size: 26px; 
letter-spacing: 3px; 
width: 100%; height: 100%;
text-align: center; left: 0; top: 46%;
}
.fs-News .media-carousel .carousel-control.left, .fs-News .media-carousel .carousel-control.right{
margin-top: 180px;
}
.fs-News .fs-socialbar .glyphicon {
margin: -2px 4px 0 0;
padding: 0;
}
.fs-News .fs-association-data + div p:last-child span {
color: rgb(143, 163, 242);
float: right;
height: auto;
text-align: right;
}
.fs-News .fs-association-data + div p:first-child {
height: 50px;
line-height: 18px;
overflow: hidden;
text-align: justify;
}
.fs-News .thumbnail > div:first-child {
max-height: 200px; min-height: 200px; overflow: hidden;
}
.fs-News .thumbnail > div:first-child img{
width: 100%;
}
.fs-News .fs-likes{
padding-top: 0;
}
.fs-News .fs-quotes{
align-items: center;
box-shadow: 0 0 5px 0 #ddd;
display: flex;
font-weight: bold;
justify-content: center;
margin: 3%;
max-height: 190px;
min-height: 190px;
overflow: hidden;
text-align: center;
}
.fs-ShareUrStyle1 .media-carousel .item a {
    height: 1005px; border:none;
}
.fs-ShareUrStyle1 .media-carousel .carousel-control.left, 
.fs-ShareUrStyle1 .media-carousel .carousel-control.right{
margin-top: 500px;
}
/* End carousel */
.fs-menu-borderbtm{
border-bottom: 1px solid rgb(242, 242, 242);
background-color: #fff;
}
.fs-Loadmore {
margin: 20px auto;
}
.fs-Loadmore button {
background: transparent none repeat scroll 0 0;
border: 1px solid #333;
border-radius: 16px;
line-height: 20px;
padding-top: 8px;
width: 100px;
}
.fs-Loadmore button:hover{
color: rgb(255, 89, 107);
border-color: rgb(255, 89, 107);
}
/*** admin Dashboard css ***/
/*** admin login ***/
.admin_login{
width: 100%;
display: table-cell;
vertical-align: middle;
padding:80px;
}
.admin_login > div{
border:1px solid #ccc;
padding: 30px;
height: 330px;
}
.admin_login h3{
margin-top: 0px;
margin-bottom: 0px;
}
.admin_login .form-group{
height: 40px;
}
.admin_login button {
background: rgb(255, 89, 107) none repeat scroll 0 0;
border: 1px solid;
margin-top: 20px;
font-size: 18px;
}
.admin_login button.btn-primary:hover{
background: rgb(255, 89, 107) none repeat scroll 0 0;
border: 1px solid;
}
.flikster-font{
font-family: 'ArchitectsDaughter';
}
.admin_login .form-control{
border-radius: 0;
padding-top: 12px;
height: 40px;
}
.a-strip {
background: #ccc none repeat scroll 0 0;
border-radius: 100%;
height: 2px;
margin: 0 auto 30px;
width: 90px;
}
.height-100vh{
height: 100vh;
}
.height-100vh1{
display: table;
height: 100vh;
}
.fs-adm-resendcode{
width: 127px;
float: left;
}
.admin_login a{
color: rgb(107, 175, 215);
}
.fs-error span{
bottom: 83px;
color: rgb(255, 89, 107);
position: absolute;
left: 30px;
float: left;
display: none;
}
.fs-admin-header{
display: table;
margin: 0 3%;
padding-top: 10px;
width: 94%;
}
.fs-admin-menu {
width: 91%;
margin-left: 1%;
}
.fs-admin-menu ul{
float: left;
margin-bottom: 0;
margin-left: 0;
}
.fs-admin-menu ul li {
float: left;
margin-right: 12px;
padding-bottom: 6px;
padding-top: 6px;
color: #ccc;
}
.fs-admin-menu ul li.active{
border-bottom: 1px solid rgb(255,89,107);
}
.fs-admin-menu ul li.active a{
color: rgb(255,89,107);
}
.fs-admin-menu ul li a {
color: #222;
float: left;
text-align: center;
min-width: 60px;
font-weight: bold;
}
.fs-admin-menu ul li a:hover{
color: rgb(255,89,107);
}
.fs-admin-menu-right{
float: left;
width: 8%;
}
.fs-admin-noti {
margin-left: 20px;
}
.fs-admin-noti .fa-bell {
font-size: 20px;
cursor: pointer;
margin-top: 2px;
}
.fs-admin-userProfile .fa-user-circle {
font-size: 22px;
margin-top: 1px;
cursor: pointer;
}
.fs-admin-noti .cnt {
background: red none repeat scroll 0 0;
border-radius: 100%;
display: inline-block;
height: 14px;
left: -15px;
position: relative;
top: -5px;
width: 14px;
}
.fs-admin-noti .cnt span {
color: #fff;
float: left;
font-size: 8px;
height: 14px;
padding-top: 5px;
position: absolute;
text-align: center;
width: 14px;
}
.fs-admin-userProfile{
float: right;
}
.fs-dashboard-content{
float: left;
width: 100%;
padding-top: 20px;
min-height: 91vh;
}
.fs-dashboard-panel1{
float: left;
width: 15%;
background-color: rgb(87, 99, 108);
min-height: 89vh;
}
.fs-dashboard-panel2{
float: left;
width: 79%;
margin:0 3%;
}
.fs-dashboard-panel1 ul{
padding: 0;
margin:1px;
float: left;
}
.fs-dashboard-panel1 li{
float: left;
width: 100%;
margin-bottom: 1px;
}
.fs-dashboard-panel1 li a{
color: #fff;
float: left;
height: 46px;
padding: 15px 0 0 30px;
width: 100%;
}
.fs-dashboard-panel1 li:hover{
background-color: rgb(242, 242, 242);
}
.fs-dashboard-panel1 li:hover a{
color: rgb(87, 99, 108);
}
.fs-dashboard-panel1 li.active{
background-color: rgb(242, 242, 242);
}
.fs-dashboard-panel1 li.active a{
color: rgb(87, 99, 108);
}
.fs-dashboard-panel2-1{
float: left;
width: 100%;
margin-bottom: 30px;
}
.fs-dashboard-panel2-1a{
width: 23.5%;
float: left;
background-color: #fff;
margin-right: 2%;
}
.fs-dashboard-panel2-1a:last-child{
margin-right: 0;
}
.fs-dashboard-panel2-1a:nth-child(2) h4{
background-color: rgb(231,90,91);
}
.fs-dashboard-panel2-1a:nth-child(3) h4{
background-color: rgb(86,112,162);
}
.fs-dashboard-panel2-1a:nth-child(4) h4{
background-color: rgb(212,113,67);
}
.fs-dashboard-panel2-1a h4{
background-color: rgb(16,180,162);
margin:0;
padding-top: 10px;
text-align: center;
color: #fff;
}
.fs-dashboard-panel2-1a ul {
height: 150px;
margin: 10px 0 10px;
overflow-x: hidden;
overflow-y: scroll;
}
.fs-dashboard-panel2-1a ul li{
padding: 0 18px 6px;
float: left;
width: 100%;
}
.fs-dashboard-panel2-1a ul li a{
float: left;
width: 100%;
color: #222;
}
.fs-dashboard-panel2-1a ul li a:hover{
color: rgb(255, 89, 107);
}
.fs-dashboard-panel2-2 {
float: left;
width: 100%;
}
.fs-dashboard-panel2-2a {
float: left;
width: 74.5%;
}
.fs-dashboard-panel2-2a .nav-tabs{
margin-bottom: 15px;
background-color: #fff;
}
.fs-dashboard-panel2-2a .nav-tabs li.active a {
border-left-width: 0;
border-top-width: 0;
color: rgb(255, 89, 107);
border-bottom-color: rgb(255, 89, 107);
}
.fs-dashboard-panel2-2a .nav-tabs li a {
border-radius: 0;
cursor: pointer;
height: 35px;
color: #222;
}
.fs-dashboard-panel2-2a .tab-content {
background-color: #fff;
padding:6px 12px;
}
.fs-dashboard-panel2-2a .tab-content h3 {
font-size: 12px;
}
.fs-dashboard-panel2-2a .tab-content .small{
color: #ccc;
cursor: pointer;
}
.fs-dashboard-panel2-2a .tab-content span:last-child {
color: #ccc;
margin: 0 5px;
}
.fs-dashboard-panel2-2b {
float: left;
margin-left: 2%;
width: 23%;
}
.fs-dashboard-panel2-2b-1 {
float: left;
width: 100%;
}
.fs-dashboard-panel2-2b-1 h4 {
background-color: rgb(87,99,108);
color: #fff;
margin: 0;
padding-top: 10px;
text-align: center;
}
.fs-dashboard-panel2-2b-1 .bg-white{
width: 100%;
}
/*** ContentCreateProfile ***/
.Censor input {
float: left;
margin-right: 5px;
width: 50px;
}
.releasedate input{
float: left;
margin-right: 5px;
width: 50px;
}
.releasedate input:last-child{
width: 80px;
}
.duration input {
display: inline-block;
width: 40px;
}
.leadcost select {
float: left;
margin: 0 10px;
width: 100px;
}
.leadcost input {
float: left;
width: 150px;
}
.profilePic{
width: 300px;
height: 300px;
float: left;
border: 1px solid #ccc;
background-color: #fff;
border-radius: 4px;
}
.movietab input[type="checkbox"] {
margin-top: -2px;
}
.movietab .checkbox label{
margin-right: 15px;
}
.fs-preview_btn{
background-color: rgb(246,118,73);
color: #fff;
width: 150px;
}
.fs-submit_btn{
background-color: rgb(101,183,90);
color: #fff;
width: 150px;
}
.nav-tabs1 li{
border-right:1px solid #ccc;
}
.nav-tabs1 li a{
color: #222;
}
.nav-tabs1 li.active{
border-bottom: 1px solid rgb(255, 89, 107);
border-right:none;
}
.nav-tabs1 li.active a{
color: rgb(255, 89, 107) !important;
border-left-width: 0 !important;
border-top-width: 0 !important;
}
.dob input {
float: left;
margin-right: 5px;
width: 50px;
}
.dob input:last-child {
width: 80px;
}
.gender .radio label{
padding-right: 10px;
}
.gender .radio input{
margin-top: -2px;
}
.pob input{
float: left;
width: 200px;
}
.pob select{
float: left;
margin-left: 15px;
width: 150px;
}
.estd input{
width: 100px;
float: left;
margin-right: 10px;
}
.movietab .control-label, .celebritytab .control-label, 
.designertab .control-label, .brandtab .control-label{
text-align: left;
}
.newpost .control-label{
text-align: left;
}
.newpost input[type="checkbox"] {
margin-top: -2px;
}
.newpost .checkbox label {
margin-right: 15px;
}
.videoThumbnailDiv{
border: 1px solid rgb(90,174,202);
background-color: rgb(242, 240, 240);
float: left;
height: 120px;
position: relative;
width: 120px;
overflow:hidden;
align-items: center;
display: flex;
justify-content: center;
cursor: pointer;
}
.videoThumbnailDiv span{
color: #fff;
float: left;
font-size: 20px;
position: absolute;
text-align: center;
top: 45%;
width: 100%;
left: 0;
}
.videoThumbnailDiv img{
color: #f00;
}
.videoThumbnailDiv.active{
border:1px solid #f00;
}
.videoThumbnail {
float: left;
width: 100%;
}
.videoThumbnail-a button{
float: left;
}
.videoThumbnail-a{
float: left;
margin-right: 10px;
width: 120px;
margin-bottom: 10px;
}
.videoThumbnail-a > p {
float: left;
width: 100%;
}
.dragfiles-div {
float: left;
width: 100%;
}
.add-img-div {
height: 250px;
overflow: hidden;
width: 250px;
margin:0 auto;
}
.add-img {
float: left;
background: rgb(180, 231, 218) none repeat scroll 0 0;
width: 58%;
margin-right: 3px;
height: 100%;
align-items: center;
display: flex;
justify-content: center;
}
.add-img-1 {
float: left;
width: 40%;
height: 100%;
}
.add-img img{
color: #f00;
}
.add-img-1a img, .add-img-1b img{
color: #f00;
}
.add-img-1a{
margin-bottom: 3px;
height: 50%;
background: rgb(180, 231, 218) none repeat scroll 0 0;
align-items: center;
display: flex;
justify-content: center;
}
.add-img-1b{
height: 50%;
background: rgb(180, 231, 218) none repeat scroll 0 0;
align-items: center;
display: flex;
justify-content: center;
}
.video-thumtype {
float: left;
margin: 30px 0;
}
.video-thumtype .fs-Carousel1-div2 .fs-Carousel1-div2a, .video-thumtype .fs-Carousel1-div2 .fs-Carousel1-div2b, 
.video-thumtype .fs-Carousel1-div3a, .video-thumtype .fs-Carousel1-div3b-1, .video-thumtype .fs-Carousel1-div3b-2, 
.video-thumtype .fs-Carousel1-div4a-1, .video-thumtype .fs-Carousel1-div4a-2, .video-thumtype .fs-Carousel1-div3ah, 
.video-thumtype .fs-Carousel1-div3bh-1, .video-thumtype .fs-Carousel1-div3bh-2, .video-thumtype .fs-Carousel1-div3bv-1, 
.video-thumtype .fs-Carousel1-div3bv-2, .video-thumtype .fs-Carousel1-div3bv-3
{
background: rgb(224,224,223);
display: flex;
justify-content: center;
align-items: center;
}
.video-thumtype .fs-Carousel1-div.active{
transform: scale(1, 1);
border:1px solid red;
padding:2px;
}
.video-thumtype .fs-Carousel1-div3bv-2{
margin:1px 0;
}
.video-thumtype .fs-Carousel1-div{
width: 95px;
height: 95px;
}
.fs-Rating img{
width: 20px;
height: 20px;
cursor: pointer;
float: left;
margin-right: 4px;
}
.fs-Rating span{
float: left;
margin:6px 0 0 18px;
}
.fs-addMedia {
background-color: rgba(0,0,0, 0.7);
height: 100%;
position: absolute;
top: 1px;
width: 100%;
display: none;
}
.fs-addMediaContent{
background-color: rgb(242,240,240);
padding-bottom: 20px;
position: absolute;
top: 30px;
left: 0;
right: 0;
padding-top: 15px;
}
.fs-mediaLeftpane{
width: 18%;
float: left;
}
.fs-mediaRightpane {
float: left;
width: 82%;
}
#createaudioplaylist {
float: left;
width: 100%;
}
.fs-Edit, .fs-Delete{
cursor: pointer;
}
.fs-atachdetails label {
font-size: 11px;
font-weight: normal;
}
.fs-atachdetails .form-group {
margin-bottom: 8px;
}
.fs-atachdetails input.form-control{
height: 28px;
}
#medialibrary{
float: left;
}
.fs-w50 .videoThumbnail-a{
width: 50px;
}
.fs-w50 .videoThumbnailDiv{
width: 50px;
height: 50px;
}
.fs-borderspace{
border-top: 1px solid #ddd;
padding-top: 20px;
}
#createaudioplaylist .fa-close, #creategallery .fa-close, #insertmedia .fa-close,
#createvideoplaylist .fa-close, #insertfromurl .fa-close, #editvideoplaylist .fa-close{
margin-right: 15px; margin-top: -10px; cursor: pointer;
}
.mediaScroll{
height: 630px;
margin-bottom: 20px;
overflow:auto;
}
.uploadFile{
align-items: center;
display: flex;
font-size: 30px;
height: 400px;
justify-content: center;
}
.h300{
height: 300px;
}
.fs-mediaLeftpane ul li{
width: 100%;
}
.fs-mediaLeftpane ul li a{
width: 100%;
float: left;
}
.fs-editMedia{
background-color: rgba(0,0,0, 0.7);
height: 100%;
position: absolute;
top: 1px;
width: 100%;
display: none;	
}
.fs-editMediaContent{
background-color: rgb(242,240,240);
padding-bottom: 20px;
position: absolute;
top: 30px;
left: 0;
right: 0;
padding-top: 15px;
}
.useractions .control-label, .userAddNewRole .control-label, .userlist .control-label{
text-align: left;
}
.useractions th:first-child, .useractions td:first-child{
text-align: left;
}
.useractions th, .useractions td{
text-align: center;
}
.userlist li:last-child{
float: right;
margin-left:0;
}
.userlist li{
padding-left: 0;
padding-right: 0;
margin-left: 30px;
}
.userlist li button {
background-color: #fff;
border: 1px solid #ddd;
height: 30px;
line-height: 30px;
padding: 2px 4px;
}
.cursor{
cursor: pointer;
}
.userlist th, .userlist td{
text-align: center;
}
/****** movie profile ******/
.fs-movie-profile{
background: #494c4d none repeat scroll 0 0;
color: #fff;
float: left;
margin-bottom: 120px;
margin-top: 12px;
/*padding: 70px 0 42px;*/padding: 70px 0 0px; min-height: 275px;
width: 100%;
position: relative;
}
.fs-movie-profile-pic{
height: 250px;
margin: -8px auto 0;
overflow: hidden;
position: absolute;
left: 35px;
text-align: center;
width: 250px;
}
.fs-movie-profile-pic img {
background: #f0eded none repeat scroll 0 0;
border-radius: 0;
height: 100%;
width: 100%;
}
.fs-MovieProfile-title-info{
left: 30%;
}
.fs-MovieProfile-title-info .fs-movie-info span{
color: #fff; 
/*font-family: "DINLight";*/
font-size: 16px;
line-height: 22px;
}
.fs-MovieProfile-title-info h3{
color: #fef45b;
}
.fs-movie-profile button {
background: transparent none repeat scroll 0 0;
border: 1px solid #fff;
border-radius: 16px;
height: 30px;
line-height: 38px;
min-width: 120px;
}
.fs-movie-profile button.fs-store {
background: #5ba0fe none repeat scroll 0 0;
border: 1px solid #5ba0fe;
margin-top: 60px;
}
.fs-MovieProfile-title-info .fs-ratings-div .txt-clr{
color: #fff;
}
.fs-MovieProfile-title-info .fs-movie-rate{
border: 1px solid #fff;
height: 54px;
margin-top: 5px;
padding: 5px 0;
border-radius: 30px;
}
.fs-MovieProfile-title-info .fs-watch{
border-right:none;
text-align: left;
}
.fs-MovieProfile-title-info .fs-wontwatch{
text-align: left;
}
.fs-MovieProfile-title-info .fs-watch button, .fs-MovieProfile-title-info .fs-wontwatch button{
color: #fff;
line-height: inherit;
}
.fs-MovieProfile-title-info .fs-watch button .glyphicon-thumbs-up{
color: #1aa913;
}
.fs-MovieProfile-title-info .fs-wontwatch button .glyphicon-thumbs-down{
color: rgb(255, 89, 107);
}
.fs-relative{
position: relative;
}
.fs-photosMore{
background-color: rgba(0,0,0,.3);
bottom: 5px;
color: #fff;
float: left;
height: 25px;
line-height: 33px;
position: absolute;
right: 0;
text-align: center;
width: 70px;
cursor: pointer;
}
.fs-director1 span:first-child{
font-size: 13px;
}
.fs-director1 span{
font-size: 10px;
}
.fs-cast-info1 span{
font-size: 10px;
}
.fs-movie-info1 span{
font-size: 10px;
}
.fs-sharingStyle{
margin:50px auto 75px;
position: relative;
}
.fs-sharingStyle p{
border: 1px solid rgb(221, 221, 221);
font-size: 18px;
padding: 40px 32px 20px;
}
.fs-sharingStyle span{
background: #fff none repeat scroll 0 0;
float: left;
font-size: 30px;
height: 60px;
left: 0;
margin: 0 auto;
padding-top: 20px;
position: absolute;
right: 0;
text-align: center;
text-transform: uppercase;
top: -30px;
width: 200px;
}
.fs-shoplookpic{
border:1px solid #ddd;
height: 410px;
overflow:hidden;
}
.fs-shoplookpic:hover{
cursor: pointer;
border:1px solid rgb(255, 89, 107);
}
.fs-shoplook .fs-relpro {
margin: 6px 0;
}
.fs-shoplook .fs-relpro .col-md-4 {
border: 1px solid #ddd;
margin-right: 3px;
padding: 0 3px;
width: 32.6%;
display: flex;
height: 82px;
align-items: center;
overflow:hidden;
cursor: pointer;
}
.fs-shoplook .fs-relpro .col-md-4:last-child {
margin-right: 0;
}
.fs-shoplook .fs-relpro .col-md-4 img {
max-height: 82px;
margin: 0 auto;
}
.fs-shoplook .fs-relpro .col-md-4:hover {
border:1px solid rgb(255, 89, 107);
}
.fs-relpro + div {
float: left;
height: 60px;
overflow: hidden;
text-overflow: ellipsis;
width: 100%;
word-break: break-all;
}
.beinspired{
padding: 40px;
}
.beinspired h4{
font-weight: bold;
}
.beinspired ul{
padding-left: 20px;
}
.beinspired ul li h4 {
color: #555;
font-weight: normal;
}
.Auction{
background-color: rgb(51,123,134);
padding: 20px;
}
.Auction > div {
border: 1px solid #ddd;
height: 227px;
color: #fff;
font-size: 20px;
color: #fff;
padding: 30px 60px 0px;
text-align: center;
}
.Auction > div .fa-legal{
font-size: 40px;
margin-top: 15px;
}
.Auction > div button{
border-radius: 0; 
text-transform: uppercase; 
padding: 15px 35px 5px;
margin-top: 20px;
}
.fs-obsessions a.thumbnail:hover{
border: 1px solid rgb(255, 89, 107);
}
.moviebanner{
overflow:hidden;
position: relative;
text-align: center;
/*background-color: rgba(251,251,251,1);*/
}
.height250{
/*min-height: 250px;*/
/*max-height: 380px;*/
min-height: 284px;
max-height: 284px;
}
.moviebanner img{
  height: 284px;
/*width: 100%;*/
/*width: 1170px;*/
/*max-width: 1783px;*/
/*width: auto !important;*/
float: none;
overflow: hidden;
}
.movieInfo{
left: 0;
position: absolute;
right: 0;
top: -115px;
}
.text-white{
/*font-family: "DINLight";*/
color: #fff;
}
.movieInfoThumb{
/*width: 185px;
height: 185px;*/
width: 200px;
height: 200px;
overflow: hidden;
/*border:4px solid rgb(225, 225, 225);*/
border:4px solid #fff;
}
.movieInfoThumb img {
height: 100%;
}
.moviebanner .layer{
background-color: rgba(0, 0, 0, 0.2);
/*background-color: rgba(251,251,251, 0.2);*/
height: 284px;
position: absolute;
top: 0;
width: 100%;
}
.moviebanner .layer.profilepage-layer{
  /*  background: -webkit-linear-gradient(#4892a1, #365164); 
    background: -o-linear-gradient(#4892a1, #365164); 
    background: -moz-linear-gradient(#4892a1, #365164);
    background: linear-gradient(#4892a1, #365164);*/ 
    background: -webkit-linear-gradient(#4892a1 15%, #365164 85%); 
    background: -o-linear-gradient(#4892a1 15%, #365164 85%); 
    background: -moz-linear-gradient(#4892a1 15%, #365164 85%); 
    background: linear-gradient(#4892a1 15%, #365164 85%);
}
.folow{
background-color: transparent;
border: 1px solid #fff;
border-radius: 16px;
height: 30px;
margin: 3px 0 10px;
padding: 0px 30px;
font-family: "helvetica";
}
.movieInfoDiv{
position: relative;
}
.fs-relesDate{
  margin-bottom: 7px; font-size: 12px; float: left;
}
.fs-relesDate span{
border-right: 1px solid #fff;
float: left;
/*height: 15px;*/
margin-right: 8px;
padding-right: 8px;
/*font-family: open_sansregular;*/
line-height: 12px; height: 12px;
}
.fs-relesDate span:last-child{
border-right:none;
}
.fs-MovieType{ margin-top: 3px; }
.fs-MovieType span {
border-right: 1px solid #fff;
float: left;
margin-right: 8px; padding-right: 8px;
/*font-family: open_sansregular;*/
font-size: 11px;
line-height: 12px; height: 12px;
text-transform: uppercase;
}
.fs-MovieType span:last-child {
border-right:none; 
}
.fs-movieName{
width: 41.9667%; padding-left: 0;
/*font-family: 'open_sansregular';*/
}
.fs-movieName h3{
margin-bottom: 0;
/*font-family: 'open_sanssemibold';*/
font-size: 25px; margin-top: 4px;
}
.fs-celebtabs .fs-SocialIcn{
  margin-top: 5px;
}
.fs-SocialIcn span button{ 
  width: 30px;
    padding: 4px !important;
    height: 30px !important; margin-right: 5px;  
    border-radius: 18px; margin-top: 8px !important; background-color: transparent !important;
     border:none !important; display: inline-flex;
  }
.fs-SocialIcn span button a{ padding-top: 0 !important; }
.fs-SocialIcn span button i{ 
 color: #fff; font-size: 16px;
}
ul.li10 .fs-SocialIcn span button i{ 
 color: #959595; font-size: 20px;
}
ul.li10 .fs-SocialIcn span button i:hover{ 
  color: #333;
}
.fs-SocialIcn span{
/*border: 1px solid #fff;*/
border-radius: 100%;
margin-right: 5px;
width: 24px;
height: 24px;
padding: 0;
font-family: FontAwesome;
margin-top: 10px;
font-size: 13px;
line-height: 20px;
}
.movieInfoThumb + .col-md-5{
/*width: 41.5%;*/ width: 40.8%; padding-right: 0; margin-top: 10px;
}
.RelMovies{
float: left;
}
.RelMovies p{
color: rgb(108, 108, 108);
}
.RelMovies  li{
width: 100%;
float: left;
}
.RelMovies li a{
border-radius: 8px;
float: left;
height: 50px;
overflow: hidden;
width: 50px;
}
.RelMovies li {
border-bottom: 1px solid #e7e5e5;
float: left;
margin-bottom: 6px;
padding-bottom: 6px;
width: 100%;
}
.RelMovies li a span{
bottom: 3px;
float: left;
font-size: 14px;
/*height: 50px;*/
left: 3px; top: auto; color: #fff;
position: absolute;
width: auto;
}
.RelMovies li a img {
height: 50px;
width: 100%;
}
.RelMovies li div{
float: left;
position: relative;
}
.RelMoviesName{
left: 10px;
line-height: 50px;
}
.Types li span{
color: rgb(108, 108, 108);
}
.Types {
box-shadow: 0 1px 0 0 #e7e5e5;
margin-bottom: 15px;
padding-bottom: 15px;
}
.fs-leadcast {
float: left;
padding: 10px;
margin-bottom: 0;
width: 100%;
background-color: white;
}
.fs-leadcast li {
float: left;
margin-bottom: 5px;
padding-bottom: 5px;
width: 100%;
}
.fs-leadcast li:last-child {
margin-bottom: 0;
padding-bottom: 0;
}
.fs-leadcast li a{
border: 1px solid #ddd;
border-radius: 4px;
float: left;
overflow: hidden;
}
.fs-leadcast li img{
height: 30px;
}
.fs-leadcast button{
background-color: transparent;
border: 1px solid #ddd;
border-radius: 12px;
cursor: pointer;
font-size: 12px;
height: 20px;
padding: 4px 10px;
text-transform: capitalize;
}
.fs-leadcast p{
color: rgb(108, 108, 108);
font-size: 15px;
margin-bottom: 6px;
}
.Photos{
float: left;
width: 100%;
padding: 10px;
}
.Photos > li {
float: left;
margin-bottom: 3%;
margin-right: 3%;
width: 31.33%;
}
.Photos > li:nth-child(3n+1) {
margin-right: 0;
}
.Photos p{
color: rgb(108, 108, 108);
margin-bottom: 6px;
}
.Photos img {
max-width: 100%;
}
.more{
background-color: rgba(0, 0, 0, 0.3);
bottom: 10px;
color: #fff;
cursor: pointer;
height: 22px;
padding: 6px 9px;
position: absolute;
right: 0;
}
ul.li7{
padding: 6px;
height: 55px;
}
ul.li7 li:first-child {
width: 6%;
}
ul.li7 li {
float: left;
width: 13%;
height: 43px;
border-right: 1px solid rgb(242, 242, 242);
}
ul.li7 li:nth-child(2) {
width: 11%;
border-right: 1px solid rgb(242, 242, 242);
}
ul.li7 li:nth-child(3) {
width: 11%;
}
ul.li7 li:nth-child(4) {
width: 11%;
border-right:none;
}
ul.li7 li:nth-child(5) {
width: 20%;
border-right: none;
}
ul.li7 .fs-users-rating{
border-right: none;
}
ul.li7 li button {
background-color: rgb(86, 162, 247);
border: 1px solid rgb(86, 162, 247);
border-radius: 18px;
color: white;
font-family: helvetica;
font-weight: 100;
height: 30px;
margin-top: 7px;
padding: 0 10px;
width: 100px;    }
ul.li7 li a{
padding-top: 15px;
}
ul.li10{
padding: 0px;
height: 55px;
}
ul.li10 li:first-child {
width: 6%;
}
ul.li10 li {
float: left;
width: 12%;
height: 100%;
border-right: 1px solid rgb(242, 242, 242);
}
ul.li10 li:nth-child(2) {
width: 15%;
border-right: 1px solid rgb(242, 242, 242) !important;
}
ul.li10 li:nth-child(3) {
width: 16%;
}
ul.li10 li:nth-child(4) {
/*display: none;*/
border:none;
}
ul.li10 li:nth-child(5) {
width: 9%;
border-right:none;
}
ul.li10 li:nth-child(6) {
width: 30%;
}
ul.li10 li:last-child {
/*width: 13%;*/
text-align: right;
}
ul.li10 .fs-users-rating{
border-right: none;
}
ul.li10 li:last-child button {
background-color: rgb(86, 162, 247);
border: 1px solid rgb(86, 162, 247);
border-radius: 18px;
color: white;
height: 30px;
padding: 0px 10px;
width: 100px;
margin-top: 12px;
font-family: helvetica;
font-weight: 100;
}
ul.li10 li a{
padding-top: 20px !important;
}
ul.li6{
padding: 0 6px;
height: 55px;
}
ul.li6 li:first-child {
width: 5% !important;
}
ul.li6 li {
float: left;
width: 13% !important;
height: 55px;
border-right: 1px solid rgb(242, 242, 242);
}
ul.li6 li:nth-child(2) {
width: 17% !important;
border-right: 1px solid rgb(242, 242, 242);
}
ul.li6 li:nth-child(3) {
width: 17% !important;
border-right: none;
}
ul.li6 li:nth-child(4) {
width: 22% !important;
border-right:none;
}
ul.li6 .fs-users-rating{
border-right: none;
}
ul.li6 li button {
border-radius: 18px;
height: 30px;
padding: 6px 8px;
min-width: 100px;
margin-top: 13px;
/*font-family: "DINLight";*/
line-height: 16px;
}
.fs-watch .active{
  background: #1aa913;
color: #fff;
border: 1px solid #1aa913;
}
.fs-wontwatch .active{
  background: rgb(255, 89, 107);
color: #fff;
border: 1px solid rgb(255, 89, 107);
}
ul.li6 li:last-child{
  text-align: right;
}
ul.li6 li:last-child button{
padding: 0 8px;
background-color: rgb(86, 162, 247);
border: 1px solid rgb(86, 162, 247);
color: white;
font-family: "helvetica";
}
ul.li6 li a{
padding-top: 15px !important;
}
ul.li6 .fs-wontwatch, ul.li6 .fs-watch{
margin:0;
}
ul.li6 li button span {
font-size: 12px;
}
nav a{
background-color: transparent;
}

.isindustry li {
width: 20%;
}
.isindustry li:nth-child(2) {
width: 19%;
margin-right: 1%;
}
.isindustry li:nth-child(4) {
padding-right: 3%;
}
.isindustry li .fs-movie-rate span{
font-size: 11px;
    text-transform: capitalize;
    /*font-family: 'open_sansregular';*/
}
a:focus{
text-decoration: none;
}
.dropdown-menu-feed{
/*min-width: 530px !important;*/
    /*min-height: 200px;*/
    /*padding: 10px;*/
}
.dropdown-menu-feed li{
/*width: 33.3333% !important;*/
float: left;
}
.dropdown-menu-feed li a{
padding: 3px 6px !important;
height: auto !important;
text-transform: capitalize !important;
text-align: left !important;
}
.dropdown-menu-feed li a:hover{
font-weight: bold;
cursor: pointer;
}


.dropdown-menu-feed1{
    min-width: 230px !important;
    min-height: 168px;
    padding: 7px;
}
.dropdown-menu-feed1 li{
width: 50% !important;
float: left;
}
.dropdown-menu-feed1 li a{
padding: 3px 6px !important;
height: auto !important;
text-transform: capitalize !important;
text-align: left !important;
}
.dropdown-menu-feed1 li a:hover{
font-weight: bold;
cursor: pointer;
}


.premiumtxt{
  font-size: 24px !important;
margin-top: -30px;
}
.txt-bold{
  font-weight: bold !important;
}
.discntof{
  color: #F8F377;
  font-size: 20px !important;
}
.auctionpicimg{
  height: auto !important;
margin-top: 20px;
}



.certified{ margin: 5px 0; }
.certified span{ margin-top: 3px; float: left; }
.certified-type{
border: 1px solid;
border-radius: 100%;
width: 25px;
height: 25px;
float: left;
line-height: 24px;
font-size: 10px;
text-align: center;
margin-right: 10px;
margin-top: 0px !important;
}
.banner-margindd{
  padding-top:50px;
}
/* .banner-fallow{
  margin: 0 0 0 165px;
} */
.fs-baner-img{
  max-height: 280px;
  overflow: hidden;
}
.designer-store-Style-Pic{
  padding: 0; display: flex; align-items: center; border:4px solid #e1e1e1; background-color: #fff;
}
.designer-store-Style-Pic img{
  width: auto;
  height: auto;
}
.brandstore-banner{
    position: relative;
    max-height: 284px;
    min-height: 284px;
    top: 0;
}
.brandstore-banner .layer{
      background-color: rgba(0,0,0,.2);
    position: absolute;
    width: 100%;
    height: 284px;
    top: 0;
    display: none;
}
.brandstore-banner > .container{
  position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.brandstore-banner > img{
  height: 284px;
    overflow: hidden; max-width: 100%; margin:0 auto; width: 100%;
}
.fs-brandstore-banner-header{
      /*background: none;*/
    /*margin-top: 115px;*/
    min-height: 290px;
        /*background: #494c4d none repeat scroll 0 0;*/
    float: left;
    width: 100%;
    padding: 10px 0px;
    /*margin-top: 30px;*/
}
.fs-brandstore-info{ position: relative;top: 115px; }
.brandstore-bannerpic{
  z-index: 1;
    border: 4px solid #fff;
    height: 200px;
    width: 200px;
    left: 11px; background-color: #fff;
    margin: 20px auto 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 14px;
    text-align: center; display: flex; align-items: center; box-shadow:0px 0px 4px 0px #111;
}
.brandstore-bannerpic img{
margin:0 auto; max-width: 100%;
}
.brand-store-nav ul{
    padding: 6px;
    height: 55px; margin-bottom: 0;
}
.brand-store-nav ul li{
      float: left;
    width: 12%;
    height: 43px;
    border-right: 1px solid #f2f2f2; text-align: center;
}
.brand-store-nav ul li:first-child{
      width: 6%;
}
.brand-store-nav ul li:nth-child(2){
          width: 16%;
    /*border-right: 1px solid #f2f2f2!important;*/
}
.brand-store-nav ul li:nth-child(3){
      width: 15%;
}
.brand-store-nav ul li:nth-child(4){
      width: 27%;
}
.brand-store-nav ul li:nth-child(5){
      width: 22%;
}
.brand-store-nav ul li:last-child{
      width: 14%;
}
.brand-store-nav ul li > a{
      height: 45px;
    float: left;
    width: 100%;
    padding: 14px 0 0;
    /*border-right: 1px solid rgb(242, 242, 242);*/
    /*color: #222;*/
    color: #616161;
    font-weight: 100;
    font-size: 13px;
    text-transform: uppercase;
    margin: 0px;
    border-radius: 0px;
    cursor: pointer;
}
.brand-store-nav ul li > a:hover{ color: #ff596b; }
.brand-store-nav ul li > a .glyphicon-home{ font-size: 16px; }
.brand-store-nav ul li button{
      background-color: #56a2f7;
    border: 1px solid #56a2f7;
    border-radius: 18px;
    color: #fff;
    height: 30px;
    padding: 0 10px;
    width: 100px;
    margin-top: 7px;
    font-family: helvetica;
    font-weight: 100;
}
.brand-store-nav ul li > span{
  padding-top: 12px; float: left; width: 100%;
}
.brand-store-nav ul li span a{
 /*color: #111;*/ color: #616161;
padding-right: 14px; font-size: 16px; cursor: pointer;
}
.brand-store-nav ul li span a:hover{
color: #ff596b;
}
.fs-brandstore-info h4{ color: #fff; margin-top: 40px; font-size: 22px; }
.fs-brandstore-info h4 span{
  font-size: 30px;
    margin-top: 10px;
    float: left;
}
.UserProfil-Info{}
.UserProfil-Info .posts{}
.UserProfil-Info .posts span{ padding-right: 8px; }
.UserProfil-Info .followers{
  border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    padding: 0 8px;
    margin: 0 10px;
}
.UserProfil-Info .followers span{ padding-right: 8px;}
.UserProfil-Info .following{}
.UserProfil-Info .following span{ padding-right: 8px; }