<div class="banner-margindd">
  <div *ngIf="isMovie">
    <div *ngIf="profileData">
      <div class="container-fluid moviebanner height250 padding0">
        <img class="col-md-12 padding0" src="{{profileData.coverPic}}" alt="">
        <div class="layer"></div>
      </div>


      <div class="container-fluid movieInfoDiv hidden-xs">
        <div class="container movieInfo padding0">
          <div class="col-md-5 fs-movieName" *ngIf="profileData">
            <h3 class="text-white text-capitalize hidden-xs">{{profileData.title}}</h3>
            <h4 *ngIf="pageTypes=='movie-store'">
              <span class="text-white">
                <strong>Exclusive Collections</strong>
              </span>
            </h4>
            <div *ngIf="pageTypes!='movie-store'" class="col-md-12 hidden-xs padding0 certified">
              <span *ngIf="profileData.censorCertificate" class="text-white certified-type">{{profileData.censorCertificate}}</span>
              <span *ngIf="profileData.industry=='Tollywood'" class="text-white">Telugu</span>
              <span *ngIf="profileData.industry=='Bollywood'" class="text-white">Hindi</span>
              <span *ngIf="profileData.industry=='Mollywood'" class="text-white">Mallayalam</span>
              <span *ngIf="profileData.industry=='Sandalwood'" class="text-white">Kannada</span>
              <span *ngIf="profileData.industry=='Kollywood'" class="text-white">Tamil</span>
            </div>
            <div *ngIf="pageTypes!='movie-store'" class="col-md-12 hidden-xs padding0 fs-relesDate">
              <span class="text-white">{{profileData.dateOfRelease }}</span>
              <span *ngIf="showTime(profileData.duration)" class="text-white">{{hours }}hrs {{min}}mins </span>
            </div>
            <div *ngIf="pageTypes!='movie-store'" class="col-md-12 padding0 fs-MovieType hidden-xs">
              <div *ngIf="profileData.genre">
                <span *ngFor="let data of profileData.genre" class="text-white">{{data}}</span>
              </div>
            </div>
          </div>
          <div class="col-md-2 padding0 movieInfoThumb hidden-xs hidden-sm" *ngIf="profileData.profilePic">
            <img class="col-md-12 padding0" src="{{profileData.profilePic}}" alt="">
            <span class="glyphicon glyphicon-play-circle fs-glyph-play"></span>
          </div>
          <div class="col-md-5">
            <div *ngIf="isLoggedIn =='true' && pageTypes!= 'movie-store'">
              <div class="col-md-12 text-center">
                <span class="text-white"> {{numOfFollowers}} Followers</span>
              </div>
              <div *ngIf="!isFollow" class="col-md-12 text-center">
                <button on-click="follow()" class="text-white folow">Follow</button>
              </div>
              <div *ngIf="isFollow" class="col-md-12 text-center">
                <button on-click="follow()" class="text-white folow">Following</button>
              </div>
              <div class="col-md-12 text-center fs-SocialIcn hidden">
                <p>

                  <span>
                    <button shareButton="facebook" [style.backgroundColor]="share.prop.facebook.color" [sbUrl]=pageUrl>
                      <i [class]="share.prop.facebook.icon"></i>
                    </button>
                  </span>
                  <span>
                    <button shareButton="twitter" [style.backgroundColor]="share.prop.twitter.color" [sbUrl]=pageUrl>
                      <i [class]="share.prop.twitter.icon"></i>
                    </button>
                  </span>
                  <span>
                    <button shareButton="whatsapp" [style.backgroundColor]="share.prop.whatsapp.color" [sbUrl]=pageUrl>
                      <i [class]="share.prop.whatsapp.icon"></i>
                    </button>
                  </span>
                  <span>
                    <button shareButton="google" [style.backgroundColor]="share.prop.google.color" [sbUrl]=pageUrl>
                      <i [class]="share.prop.google.icon"></i>
                    </button>
                  </span>
                  <!-- <span><button shareButton="pinterest" [style.backgroundColor]="share.prop.pinterest.color"   [sbUrl]=pageUrl>
                      <i [class]="share.prop.pinterest.icon"></i>
                    </button></span> -->
                </p>
              </div>
            </div>
            <div *ngIf="isLoggedIn=='false'">
              <div class="col-md-12 col-sm-12 fs-mstore1 padding0 hidden-xs" style="margin-top: 0;">
                <div class="col-md-12 pull-left col-xs-4 col-sm-6 padding0">

                  <p class="logintxt1 hidden-xs">Experience the best version of Flikster
                    <br>to tailer your feed by loging in</p>
                  <button on-click="loginPopup()">LOGIN TO CONTINUE</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--mobile movie info-->
      <div class="container-fluid movieInfoDiv bg-white visible-xs hidden-lg">
        <div class="container movieInfo padding0">
          <div class="col-xs-12 fs-movieName">
            <h3 class="text-white text-capitalize">{{profileData.title}}</h3>
            <div *ngIf="pageTypes!='movie-store'" class="col-md-12 padding0 certified">
              <!-- <span *ngIf="profileData.censorCertificate" class="text-white certified-type">{{profileData.censorCertificate}}</span> -->
              <span *ngIf="profileData.industry=='Tollywood'" class="text-white1">#Telugu</span>
              <span *ngIf="profileData.industry=='Bollywood'" class="text-white1">Hindi</span>
              <span *ngIf="profileData.industry=='Mollywood'" class="text-white1">Mallayalam</span>
              <span *ngIf="profileData.industry=='Sandalwood'" class="text-white1">Kannada</span>
              <span *ngIf="profileData.industry=='Kollywood'" class="text-white1">Tamil</span>
            </div>
            <!-- <h3 *ngIf='profileData' class="text-white text-capitalize">{{profileData.name}}</h3> -->
            <div *ngIf="!isFollow" class=" text-center visible-xs hidden-lg">
              <button on-click="follow()" class="text-white folow">
                <span class="fa fa-thumbs-up"></span>
              </button>
            </div>
            <div *ngIf="isFollow" class=" text-center visible-xs hidden-lg">
              <button on-click="follow()" class="text-white folow">
                <span class="fa fa-thumbs-up active"></span>
              </button>
            </div>
            <div class="col-xs-12 padding0 fs-mb10 text-center">
              <span *ngFor="let roles of profileData.role; let isLast=last" class="" style="color: #7e7e7e;">{{roles}}{{isLast ? '' : ', '}}</span>
            </div>
          </div>
        </div>
        <div class="container visible-xs hidden-lg padding0">
          <div class="col-xs-12 pull-left padding0 mob-Celeb-s-menu">
            <ul class="list-inline">
              <li *ngIf='pageTypes=="movie"' class="feed-li">
                <a on-click='openMenu()'>Explore
                  <i aria-hidden="true" class="fa fa-angle-down"></i>
                </a>
              </li>

              <li *ngIf='pageTypes=="movie-store"'>
                <a [routerLink]="['/movie',celebName]">Feed</a>
              </li>
              <div *ngIf='openSideMenu' class="mob-celeb-feed">
                <ul>
                  <li [ngClass]="index=='*' ? 'active' :''">
                    <a on-click="eventEmitt('*')">Whats New</a>
                  </li>
                  <li [ngClass]="index=='news' ? 'active' :''">
                    <a on-click="eventEmitt('news')">News</a>
                  </li>
                  <li [ngClass]="index=='Gallery' ? 'active' :''">
                    <a on-click="eventEmitt('Gallery')">Gallery</a>
                  </li>
                  <li [ngClass]="index=='Videos' ? 'active' :''">
                    <a on-click="eventEmitt('Videos')">Videos & Audios</a>
                  </li>
                  <li [ngClass]="index=='Social' ? 'active' :''">
                    <a on-click="eventEmitt('Social')">Social Buzz</a>
                  </li>
                  <li>
                    <a>Storyline</a>
                  </li>
                </ul>

              </div>
              <li *ngIf=' pageTypes=="movie" || pageTypes=="movie-store"' class="collections_li">
                <a [routerLink]="['/movie-store',celebName]">Collections</a>
              </li>
              <li>
                <a on-click='showShare()'>
                  <i class="fa fa-share-alt"></i>Share</a>
              </li>
              <div *ngIf='shoShare' class="Mob-Shar">
                <div class="Mob-Shar-div">
                  <h3>Share
                    <span></span>
                    <span on-click='showShare()'>x</span>
                  </h3>
                  <p>
                    <button *ngIf='!profileData.socialMediaLinks.fbLink'>
                      <i class="fa fa-facebook"></i>
                    </button>
                    <button *ngIf='!profileData.socialMediaLinks.twitterLink'>
                      <i class="fa fa-twitter"></i>
                    </button>
                    <button *ngIf='!profileData.socialMediaLinks.instaLink'>
                      <i class="fa fa-instagram"></i>
                    </button>
                    <button>
                      <i class="fa fa-pinterest"></i>
                    </button>
                    <button>
                      <i class="fa fa-google-plus"></i>
                    </button>
                  </p>
                </div>
              </div>
            </ul>
          </div>
        </div>

      </div>

      <!-- <div *ngIf ="gotodatefunction((profileData.dateOfRelease ),(today ))"> -->

      <div *ngIf='!userRated && pageTypes!= "movie-store"' class="container-fluid padding0 bgWhite hidden-xs" style="box-shadow: 0 0 2px 0 #e7e5e5;">
        <div *ngIf='movieCount' class="container padding0">
          <div class="col-md-12 padding0">
            <nav class="nav navbar-nav fs-celebtabs fs-tollywoodtabs col-md-12 col-sm-12 padding0">
              <ul class="list-inline col-md-12 col-sm-12 col-xs-12 padding0 li6">
                <li class="text-center">
                  <a rel="canonical" [routerLink]="['/home']">
                    <span class="glyphicon glyphicon-home"></span>
                  </a>
                </li>
                <li class="col-md-2 col-sm-2 col-xs-6 padding0 text-center">
                  <div class="col-md-12 col-xs-12 pull-left padding0 fs-watch">
                    <button on-click="sendUserStatus(1)">
                      <span class="glyphicon glyphicon-thumbs-up1">
                        <img src="../../../assets/img/will@watch.svg">
                      </span>
                      <span class="hidden-xs">Will Watch</span>
                      <span>({{movieCount.watchCount}})</span>
                    </button>
                  </div>
                </li>
                <li class="col-md-2 col-sm-2 col-xs-6 padding0 text-center">
                  <div class="col-md-12 col-xs-12 pull-left padding0 fs-wontwatch">
                    <button on-click="sendUserStatus(0)">
                      <span class="glyphicon glyphicon-thumbs-down1">
                        <img src="../../../assets/img/wont@watch.svg">
                      </span>
                      <span class="hidden-xs">Wont Watch</span>
                      <span>({{movieCount.wontWatchCount}})</span>
                    </button>
                  </div>
                </li>
                <li class="col-md-4 col-sm-4 hidden-xs padding0">
                  <a rel="canonical" href="" class="border-r0"></a>
                </li>
                <!-- <li class="col-md-2 col-sm-2 col-xs-6 padding0 text-center">
              <a rel="canonical" on-click='show()'>Story Line</a>
            </li>
            <li class="col-md-2 col-sm-2 col-xs-6 padding0 text-center">
              <a rel="canonical" on-click='showReviewCard()' >Write a Review</a>
            </li> -->
                <li class="socialIcns">
                  <span>
                    <a href="https://www.facebook.com/Flikster/">
                      <i class="fa fa-facebook"></i>
                    </a>
                    <a href="https://twitter.com/Flikstercom">
                      <i class="fa fa-twitter"></i>
                    </a>
                    <a href="https://www.instagram.com/fliksterfashion/">
                      <i class="fa fa-instagram"></i>
                    </a>
                    <a href="https://in.linkedin.com/company/flikster">
                      <i class="fa fa-linkedin"></i>
                    </a>
                    <a href="https://www.pinterest.com/fliksterfashion/">
                      <i class="fa fa-pinterest-p"></i>
                    </a>
                  </span>
                </li>
                <li class="col-md-2 col-sm-2 col-xs-6 padding0 text-center">
                  <button [routerLink]="['/movie-store',celebName]">Go to Store</button>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
      <div *ngIf='userRated && pageTypes!= "movie-store"' class="container-fluid padding0 bgWhite hidden-xs" style="box-shadow: 0 0 2px 0 #e7e5e5;">
        <div *ngIf='movieCount' class="container padding0">
          <div class="col-md-12 padding0">
            <nav class="nav navbar-nav fs-celebtabs fs-tollywoodtabs col-md-12 col-sm-12 padding0">
              <ul class="list-inline col-md-12 col-sm-12 col-xs-12 padding0 li6">
                <li class="text-center">
                  <a rel="canonical" [routerLink]="['/home']">
                    <span class="glyphicon glyphicon-home"></span>
                  </a>
                </li>
                <li class="col-md-2 col-sm-2 col-xs-6 padding0 text-center">
                  <div class="col-md-12 col-xs-12 pull-left padding0 fs-watch">
                    <button [ngClass]="userRated.type == '1' ? 'active' : ''">
                      <span class="glyphicon glyphicon-thumbs-up1">
                        <img *ngIf="userRated.type == '1'" src="../../../assets/img/will@white.svg" tabindex="0">
                        <img *ngIf="userRated.type == '0'" src="../../../assets/img/will@watch.svg" tabindex="0">
                      </span>
                      <span class="hidden-xs">Will Watch</span>
                      <span>({{movieCount.watchCount}})</span>
                    </button>
                  </div>
                </li>
                <li class="col-md-2 col-sm-2 col-xs-6 padding0 text-center">
                  <div class="col-md-12 col-xs-12 pull-left padding0 fs-wontwatch">
                    <button [ngClass]="userRated.type == '0' ? 'active' : ''">
                      <span class="glyphicon glyphicon-thumbs-down1">
                        <img *ngIf="userRated.type == '0'" src="../../../assets/img/wont@white.svg" tabindex="0">
                        <img *ngIf="userRated.type == '1'" src="../../../assets/img/wont@watch.svg" tabindex="0">

                      </span>
                      <span class="hidden-xs">Wont Watch</span>
                      <span>({{movieCount.wontWatchCount}})</span>
                    </button>
                  </div>
                </li>
                <li class="col-md-4 col-sm-4 hidden-xs padding0">
                  <a rel="canonical" href="" class="border-r0"></a>
                </li>
                <li class="socialIcns">
                  <span>
                    <a href="https://www.facebook.com/Flikster/">
                      <i class="fa fa-facebook"></i>
                    </a>
                    <a href="https://twitter.com/Flikstercom">
                      <i class="fa fa-twitter"></i>
                    </a>
                    <a href="https://www.instagram.com/fliksterfashion/">
                      <i class="fa fa-instagram"></i>
                    </a>
                    <a href="https://in.linkedin.com/company/flikster">
                      <i class="fa fa-linkedin"></i>
                    </a>
                    <a href="https://www.pinterest.com/fliksterfashion/">
                      <i class="fa fa-pinterest-p"></i>
                    </a>
                  </span>
                </li>

                <!-- <li class="col-md-2 col-sm-2 col-xs-6 padding0 text-center">
              <a rel="canonical" on-click='show()'>Story Line</a>
            </li>
            <li class="col-md-2 col-sm-2 col-xs-6 padding0 text-center">
              <a rel="canonical" on-click='showReviewCard()' >Review</a>
            </li> -->
                <li class="col-md-2 col-sm-2 col-xs-6 padding0 text-center">
                  <button [routerLink]="['/movie-store',celebName]">Go to Store</button>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
      <div *ngIf='pageTypes== "movie-store"' class="container-fluid padding0 bgWhite hidden-xs" style="box-shadow: 0 0 2px 0 #e7e5e5;">
        <div class="container padding0">
          <div class="col-md-12 padding0">
            <nav class="nav navbar-nav col-md-12 col-sm-12 padding0 brand-store-nav">
              <ul class="list-unstyled list-inline">
                <li>
                  <a>
                    <span class="glyphicon glyphicon-home"></span>
                  </a>
                </li>
                <li>
                  <a>Collections</a>
                </li>
                <li>
                  <a [routerLink]="['/movie',celebName]">Profile</a>
                </li>
                <li>
                  <a></a>
                </li>
                <li>
                  <span>
                    <a href="https://www.facebook.com/Flikster/">
                      <i class="fa fa-facebook"></i>
                    </a>
                    <a href="https://twitter.com/Flikstercom">
                      <i class="fa fa-twitter"></i>
                    </a>
                    <a href="https://www.instagram.com/fliksterfashion/">
                      <i class="fa fa-instagram"></i>
                    </a>
                    <a href="https://in.linkedin.com/company/flikster">
                      <i class="fa fa-linkedin"></i>
                    </a>
                    <a href="https://www.pinterest.com/fliksterfashion/">
                      <i class="fa fa-pinterest-p"></i>
                    </a>

                  </span>
                </li>
                <li *ngIf="!isFollow && isLoggedIn=='true'">
                  <button on-click="follow()">Follow</button>
                </li>
                <li *ngIf="isFollow && isLoggedIn=='true'">
                  <button on-click="follow()">Following</button>
                </li>

              </ul>
            </nav>
          </div>
        </div>
      </div>


    </div>
  </div>


  <div *ngIf="isIndustry" class="">
    <!-- <h1 class="mob-indusname visible-xs">{{industry}}</h1> -->
    <ul class="mob-indusname visible-xs">
      <li on-click='showDropdown()'>
        <a>{{industry}}</a>
        <i class="fa fa-angle-down"></i>
        <ul *ngIf='showMobIndustry'>
          <li *ngIf='industry !="tollywood"' on-click='goToIndustry("tollywood")'>
            <a>Tollywood</a>
          </li>
          <li *ngIf='industry !="bollywood"' on-click='goToIndustry("bollywood")'>
            <a>Bollywood</a>
          </li>
          <li *ngIf='industry !="kollywood"' on-click='goToIndustry("kollywood")'>
            <a>Kollywood</a>
          </li>
          <li *ngIf='industry !="sandalwood"' on-click='goToIndustry("sandalwood")'>
            <a>Sandalwood</a>
          </li>
          <li *ngIf='industry !="mollywood"' on-click='goToIndustry("mollywood")'>
            <a>Mollywood</a>
          </li>
        </ul>
      </li>
    </ul>

    <div class="container-fluid fs-celebStore fs-tollywood hidden-xs hidden-sm">
      <!--  <img class="img-responsive1 img-thumbnail" src="../../../assets/img/Background Doodle.png" alt="image"> -->
      <div class="fs-baner-img">
        <img class="img-responsive img-thumbnail0" src="../../../assets/img/Background Doodle.png" alt="">
      </div>
      <div class="container padding0" style="margin-top: -280px;">
        <div class="fs-men-header">
          <h3 class="hidden-xs hidden-m">{{industry}}</h3>
          <div class="col-md-12 col-sm-12 fs-mstore padding0">
            <div class="col-md-4 pull-left col-xs-4 col-sm-6 padding0">

              <p *ngIf='isLoggedIn=="false"' class="logintxt hidden-xs">Experience the best version of Flikster
                <br>to tailer your feed by loging in</p>
              <button *ngIf='isLoggedIn=="false"' on-click="loginPopup()">LOGIN TO CONTINUE</button>
            </div>
            <div class="col-md-4 pull-left col-xs-4 col-sm-4 hidden-xs padding0 fs-menfashion-pic fs-celebPic fs-tollywoodPic">
              <img class="img-responsive1 img-thumbnail" src="../../../assets/img/reel image_01.png" alt="">
              <br>
              <h1>{{industry}}</h1>
            </div>
            <div class="col-md-4 text-right pull-left col-xs-12 col-sm-6 col-sm-push-0 col-md-offset-4 fs-celebDownloadapp padding0">
              <!--<p style="display: none;" class="fs-mstorefolow">74 Followers</p>-->
              <!--<p style="display: none;"><button>Following</button></p>-->
              <p class="text-center pull-right">DOWNLOAD THE APP
                <br>
                <a rel="canonical" href="{{appStoreLinks.iTunes}}" target="_blank">
                  <img src="../../../assets/img/appstorewhite.png" alt="">
                </a>
                <a rel="canonical" href="{{appStoreLinks.googlePlay}}" target="_blank">
                  <img src="../../../assets/img/googlestorewhite.png" alt="">
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid bgWhite fs-menu-borderbtm hidden-xs">
      <div class="container padding0">
        <div class="col-md-12 padding0">
          <nav class="nav navbar-nav fs-celebtabs fs-tollywoodtabs col-md-12 col-sm-12 padding0">
            <ul class="list-inline col-md-12 col-sm-12 col-xs-12 padding0 isindustry">
              <li *ngFor="let topMovie of topMovies |slice:0:2 let i=index;" class="col-md-2 col-sm-2 col-xs-6 padding0 text-center">
                <a rel="canonical" [routerLink]="['/movie', topMovie.slug]">{{topMovie.title}}</a>
                <div *ngIf="statusArray[i]" class="col-md-6 col-md-offset-3 padding0" style="box-shadow: 0px 0px 2px #e2e0e0;padding: 3px 5px;margin-top: 3px;margin-bottom: 10px;border-radius: 15px;">
                  <div *ngIf='statusArray[i].data.Items' class="col-md-6 padding0" style="border-right: 1px solid rgb(242, 242, 242);padding-right: 2px;">
                    <span *ngIf=" checkFunction(statusArray[i].data.Items,statusArray)" on-click="likeMovie(topMovie.id,i)">
                      <i class="fa fa-heart-o" aria-hidden="true" style="padding-right: 3px;"></i>like</span>
                    <span *ngIf="checkFull(statusArray[i].data.Items) ">
                      <i class="fa fa-heart" aria-hidden="true" style="padding-right: 3px;color:#f00;"></i>liked</span>


                  </div>
                  <div *ngIf="statusArray" class="col-md-6 padding0">
                    <span *ngIf="statusArray[i]">{{statusArray[i].totalCount}}</span>

                  </div>
                </div>
              </li>

              <li class="col-md-2 col-sm-2 col-xs-6"></li>
              <li *ngFor="let topMovie of topMovies|slice:2:4 let i=index;" class="col-md-2 col-sm-2 col-xs-6 padding0 text-center">
                <a rel="canonical" [routerLink]="['/movie', topMovie.slug]">{{topMovie.title}}</a>
                <div *ngIf='statusArray[i+2]' class="col-md-6 col-md-offset-3 padding0" style="box-shadow: 0px 0px 2px #e2e0e0;padding: 3px 5px;margin-top: 3px;margin-bottom: 10px;border-radius: 15px;">
                  <div *ngIf='statusArray[i+2].data.Items' class="col-md-6 padding0" style="border-right: 1px solid rgb(242, 242, 242);padding-right: 2px;">
                    <span *ngIf="checkFunction(statusArray[i+2].data.Items)" on-click="likeMovie(topMovie.id,i+2)">
                      <i class="fa fa-heart-o" aria-hidden="true" style="padding-right: 3px;"></i>like</span>
                    <span *ngIf="checkFull(statusArray[i+2].data.Items) ">
                      <i class="fa fa-heart" aria-hidden="true" style="padding-right: 3px;color:#f00;"></i>liked</span>
                    <!-- <div class="col-md-12 col-xs-6 col-sm-5 pull-left padding0 fs-users-rating">
                              <p class="text-center"><img src="../../../assets/img/starselected.png" alt="image" class=""><strong>{{topMovie.criticRating}}</strong><span>/10</span>
                              </p>
                      </div> -->
                  </div>
                  <div *ngIf="statusArray" class="col-md-6 padding0">
                    <span *ngIf="statusArray[i+2]">{{statusArray[i+2].totalCount}}</span>

                  </div>
                </div>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="isFashion || isDesigner || Designer">
    <div *ngIf="isLoggedIn == 'false'" class="">
      <h1 *ngIf="pageType != 'womenfashion' && pageType != 'menfashion'" class="visible-xs visible-sm hidden-lg mob-indusname">{{pageType}}</h1>
      <h1 *ngIf="pageType == 'womenfashion'" class="visible-xs visible-sm hidden-lg mob-indusname">Womens Fashion</h1>
      <h1 *ngIf="pageType == 'menfashion'" class="visible-xs visible-sm hidden-lg mob-indusname">Mens Fashion</h1>
      <div class="container-fluid fs-celebStore fs-{{pageType}}  padding0 hidden-xs hidden-sm">
        <div class="container padding0">
          <div class="fs-men-header">
            <h3 *ngIf="industryName==null" class="hidden-xs hidden-m">{{pageType}}</h3>
            <h3 *ngIf="industryName !=null" class="hidden-xs hidden-m">{{industryName}}</h3>
            <div class="col-md-12 col-sm-12 fs-mstore padding0">
              <div *ngIf="isFashion" class="col-md-4 pull-left col-xs-4 col-sm-6 padding0">

                <p class="logintxt hidden-xs">Experience the best version of
                  <br>Flikster by logging in</p>
                <button on-click="loginPopup()">LOGIN TO CONTINUE</button>
              </div>
              <div *ngIf="isDesigner" class="col-md-4 pull-left col-xs-4 col-sm-6 padding0">
                <p *ngIf="pagecontent">
                  <span>{{pagecontent.name}}</span>
                  <br>{{pagecontent.serviceName}} </p>

              </div>
              <div *ngIf="isFashion" class="col-md-4 pull-left col-xs-4 col-sm-4 padding0 fs-menfashion-pic fs-celebPic fs-{{pageType}}">
                <img class="img-responsive1 img-thumbnail" src="../../../assets/img/{{pageType}}.png" alt="">
                <br>
                <h1 *ngIf="pageType != 'womenfashion' && pageType != 'menfashion'">{{pageType}}</h1>
                <h1 *ngIf="pageType == 'womenfashion'">Womens Fashion</h1>
                <h1 *ngIf="pageType == 'menfashion'">Mens Fashion</h1>
              </div>
              <div *ngIf="isDesigner" class="col-md-4 pull-left col-xs-4 col-sm-4 padding0 fs-menfashion-pic fs-celebPic fs-{{pageType}} designer-store-Style-Pic">
                <img *ngIf="pagecontent" class="img-responsive1 img-thumbnail designer-store-Style-Pic" src="{{pagecontent.profilePic}}"
                  alt="">
                <br>
              </div>
              <div *ngIf="isFashion" class="col-md-4 text-right pull-left col-xs-4 col-sm-6 col-sm-push-0 col-md-offset-4 fs-celebDownloadapp padding0">

                <p class="text-center pull-right txt">DOWNLOAD THE APP</p>
                <p class="text-center pull-right">
                  <a rel="canonical" href="{{appStoreLinks.iTunes}}" target="_blank">
                    <img src="../../../assets/img/appstorewhite.png" alt="">
                  </a>
                  <a rel="canonical" href="{{appStoreLinks.googlePlay}}" target="_blank">
                    <img src="../../../assets/img/googlestorewhite.png" alt="">
                  </a>
                </p>
              </div>
              <div *ngIf="isDesigner" class="col-md-4 text-right pull-left col-xs-4 col-sm-6 col-sm-push-0 col-md-offset-4 fs-celebDownloadapp padding0">

                <p class="logintxt hidden-xs">Experience the best version of
                  <br>Flikster by logging in</p>
                <button on-click="loginPopup()">LOGIN TO CONTINUE</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="isLoggedIn == 'true'" class="">
      <h1 *ngIf="isMen" class="visible-xs visible-sm hidden-lg mob-indusname">Men's Fashion</h1>
      <h1 *ngIf="isWomen" class="visible-xs visible-sm hidden-lg mob-indusname">Women's Fashion</h1>
      <h1 *ngIf="isAmovie" class="visible-xs visible-sm hidden-lg mob-indusname">Movie Store</h1>
      <h1 *ngIf="isCelebrity" class="visible-xs visible-sm hidden-lg mob-indusname">Celebrity Store</h1>
      <h1 *ngIf="Designer" class="visible-xs visible-sm hidden-lg mob-indusname">Designer Store</h1>
      <div class="container-fluid fs-celebStore fs-{{pageType}}  padding0 hidden-xs hidden-sm">
        <div class="container padding0">
          <div class="fs-men-header">
            <h3 *ngIf="industryName==null && pageType=='menfashion'" class="hidden-xs hidden-m">men fashion</h3>
            <h3 *ngIf="industryName==null && pageType=='womenfashion'" class="hidden-xs hidden-m">women fashion</h3>
            <h3 *ngIf="industryName==null && pageType=='designer-store'" class="hidden-xs hidden-m">designer store</h3>
            <h3 *ngIf="industryName !=null" class="hidden-xs hidden-m">{{industryName}}</h3>
            <div class="col-md-12 col-sm-12 fs-mstore padding0">
              <div class="col-md-4 pull-left col-xs-4 col-sm-6 padding0">
                <div *ngIf="isMen">
                  <p class="premiumtxt">Premium Collection for
                    <br>
                    <span>Men</span>
                  </p>
                </div>
                <div *ngIf="isWomen">
                  <p class="premiumtxt">Premium Collection for
                    <br>
                    <span>Women</span>
                  </p>
                </div>
                <div *ngIf="isAmovie">
                  <p class="premiumtxt">Premium Collections from
                    <br>
                    <span>Movies</span>
                  </p>
                </div>
                <div *ngIf="isCelebrity">
                  <p class="premiumtxt">
                    <span>Celebrity</span>
                    <br>Premium Collections </p>
                </div>
                <div *ngIf="Designer">
                  <p>
                    <span style="font-size: 27px;">Explore Premium Products</span>
                    <br>From Our Featured Designers</p>
                </div>
                <div *ngIf="isDesigner">
                  <p *ngIf="pagecontent" class="premiumtxt">
                    <span>{{pagecontent.name}}</span>
                    <br>{{pagecontent.serviceName}} </p>
                </div>
              </div>
              <div *ngIf="isFashion" class="col-md-4 pull-left col-xs-4 col-sm-4 padding0 fs-menfashion-pic fs-celebPic fs-{{pageType}}">
                <img class="img-responsive1 img-thumbnail" src="../../../assets/img/{{pageType}}.png" alt="">
                <br>
                <h1 *ngIf="isMen">Mens Fashion</h1>
                <h1 *ngIf="isWomen">Women Fashion</h1>
                <h1 *ngIf="isAmovie">Movie Store</h1>
                <h1 *ngIf="isCelebrity">Celebrity Store</h1>
                <h1 *ngIf="Designer">Designer Store</h1>
              </div>
              <div *ngIf="isDesigner" class="col-md-4 pull-left col-xs-4 col-sm-4 padding0 fs-menfashion-pic fs-celebPic fs-{{pageType}} designerstorefullpic">
                <img *ngIf="pagecontent" class="img-responsive1 img-thumbnail" src="{{pagecontent.profilePic}}" alt="">
                <br>
              </div>
              <div class="col-md-4 text-right pull-left col-xs-4 col-sm-6 col-sm-push-0 col-md-offset-4 fs-celebDownloadapp padding0">
                <div class="borderwhite fs-mb5 fs-p5 text-center firstPuchase">
                  <p class="fontsize14 fs-mb0">Exclusive member offer </p>
                  <p class="fs-mb0 txt-bold">Get
                    <span class="discntof">10%</span> off on your first purchase</p>
                </div>
                <button *ngIf='liked==0' class="fs-mvfoloing1q" on-click='likeFashion()'>Like</button>
                <button *ngIf='liked==1' class="fs-mvfoloing1q">Liked</button>
                <!-- <p class="text-center pull-right">DOWNLOAD THE APP <br> 
                          <a href="#"><img src="images/appstorewhite.png"></a>
                          <a href="#"><img src="images/googlestorewhite.png"></a></p> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div *ngIf="mencategories" class="container-fluid padding0 fs-menu-borderbtm hidden-xs hidden-sm">
      <div class="container padding0">
        <div class="col-md-12 padding0">
          <nav class="nav navbar-nav  fs-celebtabs  col-md-12 col-sm-12 padding0">
            <ul class="list-inline col-md-12 col-sm-12 col-xs-12 padding0">
              <div *ngIf="isLoggedIn == 'true'">
                <li class="text-center col-md-1">
                  <a rel="canonical" [routerLink]="['/home']" style="border-right: 1px solid rgb(242, 242, 242);">
                    <span class="glyphicon glyphicon-home"></span>
                  </a>
                </li>
              </div>
              <div *ngIf="isLoggedIn == 'false'">
                <li class="col-md-1 col-sm-1 hidden-xs padding0">
                  <a rel="canonical" class="border-r0"></a>
                </li>
              </div>
              <li class="col-md-2 col-sm-2 col-xs-12 padding0 dropdown">
                <a *ngIf="isMen" rel="canonical" data-toggle="dropdown" class="text-center dropdown-toggle">Clothing
                  <span class="glyphicon glyphicon-menu-down"></span>
                </a>
                <a *ngIf="isWomen" rel="canonical" data-toggle="dropdown" class="text-center dropdown-toggle">Clothing
                  <span class="glyphicon glyphicon-menu-down"></span>
                </a>
                <a *ngIf="isAmovie" rel="canonical" data-toggle="dropdown" on-click="selectIndustry(industryArray[0])" class="text-center dropdown-toggle">{{industryArray[0]}}
                  <!-- <span class="glyphicon glyphicon-menu-down"></span> -->
                </a>
                <a *ngIf="isCelebrity" rel="canonical" data-toggle="dropdown" on-click="selectIndustry(industryArray[0])" class="text-center dropdown-toggle">{{industryArray[0]}}
                  <!-- <span class="glyphicon glyphicon-menu-down"></span> -->
                </a>
                <a *ngIf="Designer" rel="canonical" data-toggle="dropdown" on-click="filterDesignerPage('Designers')" class="text-center dropdown-toggle">Designers
                </a>
                <a *ngIf="isDesigner" rel="canonical" data-toggle="dropdown" class="text-center dropdown-toggle">Collections
                </a>
                <ul class="dropdown-menu dropdown-menu-feed1" *ngIf="isMen">

                  <li *ngFor="let item of mencategories[0].Clothing | slice:1">
                    <a rel="canonical" on-click="goToSeeAll(mencategories[0].Clothing[0],item,'menfashion',mencategories[0].Clothing)">{{item}}</a>
                  </li>


                  <!-- <li><a rel="canonical" on-click="goToSeeAll('Clothing','T-Shirts','menfashion','7')">T-Shirts</a></li>
                        <li><a rel="canonical" on-click="goToSeeAll('Clothing','Jackets','menfashion','7')">Jackets</a></li>
                        <li><a rel="canonical" on-click="goToSeeAll('Clothing','Coats','menfashion','7')"> Coats</a></li>
                        <li><a rel="canonical" on-click="goToSeeAll('Clothing','Trousers','menfashion','7')">Trousers</a></li>
                        <li><a rel="canonical" on-click="goToSeeAll('Clothing','Sweaters','menfashion','7')">Sweaters</a></li>
                        <li><a rel="canonical" on-click="goToSeeAll('Clothing','Hoodies','menfashion','7')">Hoodies</a></li> -->
                </ul>
                <ul class="dropdown-menu dropdown-menu-feed" *ngIf="isWomen">
                  <li on-click="goToSubPage('Clothing',womenCategories[0].Clothing.ETHNICWear[0],'womenfashion',womenCategories[0].Clothing.ETHNICWear)">
                    <a>Ethnic Wear</a>
                  </li>
                  <!-- <li *ngFor="let item of womenCategories[0].Clothing.ETHNICWear | slice:1"><a rel="canonical" on-click="goToSeeAllSubPage('Clothing',womenCategories[0].Clothing.ETHNICWear[0],item,'womenfashion',womenCategories[0].Clothing.ETHNICWear)">{{item}}</a></li> -->
                  <li on-click="goToSubPage('Clothing',womenCategories[0].Clothing.FUSIONWear[0],'womenfashion',womenCategories[0].Clothing.FUSIONWear)">
                    <a>Fusion Wear</a>
                  </li>
                  <!-- <li *ngFor="let item1 of womenCategories[0].Clothing.FUSIONWear | slice:1"><a rel="canonical" on-click="goToSeeAllSubPage('Clothing',womenCategories[0].Clothing.FUSIONWear[0],item1,'womenfashion',womenCategories[0].Clothing.FUSIONWear)">{{item1}}</a></li> -->
                  <li on-click="goToSubPage('Clothing',womenCategories[0].Clothing.WESTERNWear[0],'womenfashion',womenCategories[0].Clothing.WESTERNWear)">
                    <a>Western Wear</a>
                  </li>
                  <!-- <li *ngFor="let item2 of womenCategories[0].Clothing.WESTERNWear | slice:1"><a rel="canonical" on-click="goToSeeAllSubPage('Clothing',womenCategories[0].Clothing.WESTERNWear[0],item2,'womenfashion',womenCategories[0].Clothing.WESTERNWear)">{{item2}}</a></li> -->

                </ul>
                <!-- <ul class="dropdown-menu"  *ngIf ="isAmovie">
                        <li><a rel="canonical" on-click="goToSeeAll('Clothing','Trending','moviestore','2')">Trending</a></li>
                        <li><a rel="canonical" on-click="goToSeeAll('Clothing','Top-rated','moviestore','2')">Top-rated</a></li>
                      </ul>
                      <ul class="dropdown-menu"  *ngIf ="isCelebrity">
                        <li><a rel="canonical" on-click="goToSeeAll('Clothing','Trending','celebstore','2')">Trending</a></li>
                        <li><a rel="canonical" on-click="goToSeeAll('Clothing','Top-rated','celebstore','2')">Top-rated</a></li>
                      </ul> -->
                <!-- <ul class="dropdown-menu"  *ngIf ="Designer ||isDesigner">
                        <li><a rel="canonical" on-click="goToSeeAll('Clothing','Trending','designerstore','2')">Trending</a></li>
                        <li><a rel="canonical" on-click="goToSeeAll('Clothing','Top-rated','designerstore','2')">Top-rated</a></li>
                      </ul> -->
              </li>
              <li class="col-md-2 col-sm-2 col-xs-12 padding0 dropdown">
                <a *ngIf="isMen" rel="canonical" data-toggle="dropdown" class="text-center dropdown-toggle">Footwear
                  <span class="glyphicon glyphicon-menu-down"></span>
                </a>
                <a *ngIf="isWomen" rel="canonical" data-toggle="dropdown" class="text-center dropdown-toggle">Footwear
                  <span class="glyphicon glyphicon-menu-down"></span>
                </a>
                <a *ngIf="isAmovie" rel="canonical" data-toggle="dropdown" on-click="selectIndustry(industryArray[1])" class="text-center dropdown-toggle">{{industryArray[1]}}
                  <!-- <span class="glyphicon glyphicon-menu-down"></span> -->
                </a>
                <a *ngIf="isCelebrity" rel="canonical" data-toggle="dropdown" on-click="selectIndustry(industryArray[1])" class="text-center dropdown-toggle">{{industryArray[1]}}
                  <!-- <span class="glyphicon glyphicon-menu-down"></span> -->
                </a>
                <a *ngIf="Designer" rel="canonical" data-toggle="dropdown" on-click="filterDesignerPage('Boutiques')" class="text-center dropdown-toggle">Boutiques
                </a>
                <a *ngIf="isDesigner" rel="canonical" [routerLink]="['/designer',celebName]" data-toggle="dropdown" class="text-center dropdown-toggle">Profile
                </a>
                <ul class="dropdown-menu" *ngIf="isMen">
                  <li *ngFor="let item of mencategories[1].Footwear | slice:1">
                    <a rel="canonical" on-click="goToSeeAll('Footwear',item,'menfashion',mencategories[1].Footwear)">{{item}}</a>
                  </li>
                  <!-- <li><a rel="canonical" on-click="goToSeeAll('Eyewear','Aviator','menfashion','2')">Aviator</a></li> -->
                </ul>
                <ul class="dropdown-menu" *ngIf="isWomen">
                  <li *ngFor="let item of womenCategories[1].Footwear | slice:1">
                    <a rel="canonical" on-click="goToSeeAll('Footwear',item,'womenfashion',womenCategories[1].Footwear)">{{item}}</a>
                  </li>

                </ul>
               
              </li>
              <li class="col-md-2 col-sm-2 hidden-xs padding0">
                <a rel="canonical" class="border-r0"></a>
              </li>
              <li class="col-md-2 col-sm-2 col-xs-12 padding0 dropdown">
                <a *ngIf="isMen" rel="canonical" data-toggle="dropdown" class="text-center dropdown-toggle">EyeWear
                  <span class="glyphicon glyphicon-menu-down"></span>
                </a>
                <a *ngIf="isWomen" rel="canonical" data-toggle="dropdown" class="text-center dropdown-toggle">Accessories
                  <span class="glyphicon glyphicon-menu-down"></span>
                </a>
                <a *ngIf="isAmovie" rel="canonical" data-toggle="dropdown" on-click="selectIndustry(industryArray[2])" class="text-center dropdown-toggle">{{industryArray[2]}}
                  <!-- <span class="glyphicon glyphicon-menu-down"></span> -->
                </a>
                <a *ngIf="isCelebrity" rel="canonical" data-toggle="dropdown" on-click="selectIndustry(industryArray[2])" class="text-center dropdown-toggle">{{industryArray[2]}}
                  <!-- <span class="glyphicon glyphicon-menu-down"></span> -->
                </a>
                <a *ngIf="Designer" rel="canonical" on-click="filterDesignerPage('Categories')" data-toggle="dropdown" class="text-center dropdown-toggle">Categories
                </a>
                <a *ngIf="isDesigner" rel="canonical" data-toggle="dropdown" class="text-center dropdown-toggle">
                  <!-- <span>
                                  <button *ngIf='!profileData.socialMediaLinks.fbLink' style="background-color: rgb(59, 89, 152); border-color: rgb(59, 89, 152);">
                                      <i class="fa fa-facebook"></i>
                                    </button>
                                    <button *ngIf='!profileData.socialMediaLinks.twitterLink'>
                                      <i class="fa fa-twitter"></i>
                                    </button>
                                    <button *ngIf='!profileData.socialMediaLinks.instaLink' style="background-color: #fb3958; border-color: #fb3958;">
                                      <i class="fa fa-instagram"></i>
                                    </button>
                                    <button *ngIf='!profileData.socialMediaLinks.wikiLink' style="background-color: #222; border-color: #222;">
                                      <i class="fa fa-wikipedia">w</i>
                                    </button>
                                <button *ngIf='profileData.socialMediaLinks.fbLink' style="background-color: rgb(59, 89, 152); border-color: rgb(59, 89, 152);"><a (click)="onNavigate(profileData.socialMediaLinks.fbLink)">
                                  <i class="fa fa-facebook"></i>
                                </a></button>
                                <button *ngIf='profileData.socialMediaLinks.twitterLink'><a (click)="onNavigate(profileData.socialMediaLinks.twitterLink)">
                                  <i class="fa fa-twitter"></i>
                                </a></button>
                                <button *ngIf='profileData.socialMediaLinks.instaLink' style="background-color: #fb3958; border-color: #fb3958;"><a (click)="onNavigate(profileData.socialMediaLinks.instaLink)">
                                  <i class="fa fa-instagram"></i>
                                </a></button>
                                <button *ngIf='profileData.socialMediaLinks.wikiLink' style="background-color: #222; border-color: #222;"><a (click)="onNavigate(profileData.socialMediaLinks.wikiLink)">
                                  <i class="fa fa-wikipedia">w</i>
                                </a></button>
                                  
                                  
                                </span> -->
                </a>

                <ul class="dropdown-menu" *ngIf="isMen">
                  <li on-click="goToSubPage('Eyewear',mencategories[2].Eyewear.Eyeglasses[0],'menfashion',mencategories[2].Eyewear.Eyeglasses)">
                    <a>Eye glasses</a>
                  </li>
                  <!-- <li *ngFor="let item of mencategories[2].Eyewear.Eyeglasses | slice:1"><a rel="canonical" on-click="goToSeeAllSubPage('Eyewear',mencategories[2].Eyewear.Eyeglasses[0],item,'menfashion',mencategories[2].Eyewear.Eyeglasses)">{{item}}</a></li> -->
                  <li on-click="goToSubPage('Eyewear',mencategories[2].Eyewear.Sunglasses[0],'menfashion',mencategories[2].Eyewear.Sunglasses)">
                    <a>Sun glasses</a>
                  </li>
                  <!-- <li *ngFor="let item of mencategories[2].Eyewear.Sunglasses | slice:1"><a rel="canonical" on-click="goToSeeAllSubPage('Eyewear',mencategories[2].Eyewear.Sunglasses[0],item,'menfashion',mencategories[2].Eyewear.Sunglasses)">{{item}}</a></li> -->
                </ul>
                <ul class="dropdown-menu dropdown-menu-feed" *ngIf="isWomen">
                  <li on-click="goToSubPage('Accessories',womenCategories[2].Accessories.BAGS[0],'womenfashion',womenCategories[2].Accessories.BAGS)">
                    <a>Bags</a>
                  </li>
                  <!-- <li *ngFor="let item of womenCategories[2].Accessories.BAGS | slice:1"><a rel="canonical" on-click="goToSeeAllSubPage('Accessories',womenCategories[2].Accessories.BAGS[0],item,'womenfashion',womenCategories[2].Accessories.BAGS)">{{item}}</a></li> -->
                  <li on-click="goToSubPage('Accessories',womenCategories[2].Accessories.BELTS[0],'womenfashion',womenCategories[2].Accessories.BELTS)">
                    <a>Belts</a>
                  </li>
                  <!-- <li *ngFor="let item of womenCategories[2].Accessories.BELTS | slice:1"><a rel="canonical" on-click="goToSeeAllSubPage('Accessories',womenCategories[2].Accessories.BELTS[0],item,'womenfashion',womenCategories[2].Accessories.BELTS)">{{item}}</a></li> -->
                  <li on-click="goToSubPage('Accessories',womenCategories[2].Accessories.CAPSHATS[0],'womenfashion',womenCategories[2].Accessories.CAPSHATS)">
                    <a>Caps & Hats</a>
                  </li>
                  <!-- <li *ngFor="let item of womenCategories[2].Accessories.CAPSHATS| slice:1"><a rel="canonical" on-click="goToSeeAllSubPage('Accessories',womenCategories[2].Accessories.CAPSHATS[0],item,'womenfashion',womenCategories[2].Accessories.CAPSHATS)">{{item}}</a></li> -->
                  <li on-click="goToSubPage('Accessories',womenCategories[2].Accessories.EYEWEAR[0],'womenfashion',womenCategories[2].Accessories.EYEWEAR)">
                    <a>Eye Wear</a>
                  </li>
                  <!-- <li *ngFor="let item of womenCategories[2].Accessories.EYEWEAR | slice:1"><a rel="canonical" on-click="goToSeeAllSubPage('Accessories',womenCategories[2].Accessories.EYEWEAR[0],item,'womenfashion',womenCategories[2].Accessories.EYEWEAR)">{{item}}</a></li> -->
                  <li on-click="goToSubPage('Accessories',womenCategories[2].Accessories.HAIRACCESSORIES[0],'womenfashion',womenCategories[2].Accessories.HAIRACCESSORIES)">
                    <a>Hair Accessories</a>
                  </li>
                  <!-- <li *ngFor="let item of womenCategories[2].Accessories.HAIRACCESSORIES | slice:1"><a rel="canonical" on-click="goToSeeAllSubPage('Accessories',womenCategories[2].Accessories.HAIRACCESSORIES[0],item,'womenfashion',womenCategories[2].Accessories.HAIRACCESSORIES)">{{item}}</a></li> -->
                  <li on-click="goToSubPage('Accessories',womenCategories[2].Accessories.PHONECASES[0],'womenfashion',womenCategories[2].Accessories.PHONECASES)">
                    <a>Phone Cases</a>
                  </li>
                  <!-- <li *ngFor="let item of womenCategories[2].Accessories.PHONECASES | slice:1"><a rel="canonical" on-click="goToSeeAllSubPage('Accessories',womenCategories[2].Accessories.PHONECASES[0],item,'womenfashion',womenCategories[2].Accessories.PHONECASES)">{{item}}</a></li> -->
                  <li on-click="goToSubPage('Accessories',womenCategories[2].Accessories.SCARVESSTOLESGLOVES[0],'womenfashion',womenCategories[2].Accessories.SCARVESSTOLESGLOVES)">
                    <a>Scarves,Stoles & Gloves</a>
                  </li>
                  <!-- <li *ngFor="let item of womenCategories[2].Accessories.SCARVESSTOLESGLOVES | slice:1"><a rel="canonical" on-click="goToSeeAllSubPage('Accessories',womenCategories[2].Accessories.SCARVESSTOLESGLOVES[0],item,'womenfashion',womenCategories[2].Accessories.SCARVESSTOLESGLOVES)">{{item}}</a></li> -->
                  <li on-click="goToSubPage('Accessories',womenCategories[2].Accessories.TRAVELACCESSORIES[0],'womenfashion',womenCategories[2].Accessories.TRAVELACCESSORIES)">
                    <a>Travel Accessories</a>
                  </li>
                  <!-- <li *ngFor="let item of womenCategories[2].Accessories.TRAVELACCESSORIES | slice:1"><a rel="canonical" on-click="goToSeeAllSubPage('Accessories',womenCategories[2].Accessories.TRAVELACCESSORIES[0],item,'womenfashion',womenCategories[2].Accessories.TRAVELACCESSORIES)">{{item}}</a></li> -->
                  <li on-click="goToSubPage('Accessories',womenCategories[2].Accessories.WATCHES[0],'womenfashion',womenCategories[2].Accessories.WATCHES)">
                    <a>Watches</a>
                  </li>
                  <!-- <li *ngFor="let item of womenCategories[2].Accessories.WATCHES | slice:1"><a rel="canonical" on-click="goToSeeAllSubPage('Accessories',womenCategories[2].Accessories.WATCHES[0],item,'womenfashion',womenCategories[2].Accessories.WATCHES)">{{item}}</a></li>  -->





                </ul>
                <!-- <ul class="dropdown-menu" *ngIf ="isAmovie">
                        <li><a rel="canonical" on-click="goToSeeAll('Footwear','Shoes','moviestore','4')">Shoes</a></li>
                        <li><a rel="canonical" on-click="goToSeeAll('Footwear','Flats','moviestore','4')">Flats</a></li>
                        <li><a rel="canonical" on-click="goToSeeAll('Footwear','Heels','moviestore','4')">Heels</a></li>
                        <li><a rel="canonical" on-click="goToSeeAll('Footwear','Wedges','moviestore','4')">Wedges</a></li>                        
                      </ul>
                      <ul class="dropdown-menu" *ngIf ="isCelebrity">
                        <li><a rel="canonical" on-click="goToSeeAll('Footwear','Shoes','celebstore','4')">Shoes</a></li>
                        <li><a rel="canonical" on-click="goToSeeAll('Footwear','Flats','celebstore','4')">Flats</a></li>
                        <li><a rel="canonical" on-click="goToSeeAll('Footwear','Heels','celebstore','4')">Heels</a></li>
                        <li><a rel="canonical" on-click="goToSeeAll('Footwear','Wedges','celebstore','4')">Wedges</a></li>                        
                      </ul> -->
                <!-- <ul class="dropdown-menu" *ngIf ="Designer ||isDesigner">
                        <li><a rel="canonical" on-click="goToSeeAll('Footwear','Shoes','designerstore','4')">Shoes</a></li>
                        <li><a rel="canonical" on-click="goToSeeAll('Footwear','Flats','designerstore','4')">Flats</a></li>
                        <li><a rel="canonical" on-click="goToSeeAll('Footwear','Heels','designerstore','4')">Heels</a></li>
                        <li><a rel="canonical" on-click="goToSeeAll('Footwear','Wedges','designerstore','4')">Wedges</a></li>                        
                      </ul> -->
              </li>
              <li class="col-md-2 col-sm-2 col-xs-12 padding0 dropdown">
                <a *ngIf="isMen" rel="canonical" data-toggle="dropdown" class="dropdown-toggle text-center">Accessories
                  <span class="glyphicon glyphicon-menu-down"></span>
                </a>
                <a *ngIf="isWomen" rel="canonical" data-toggle="dropdown" class="dropdown-toggle text-center">Jewellery
                  <span class="glyphicon glyphicon-menu-down"></span>
                </a>
                <a *ngIf="isAmovie" rel="canonical" data-toggle="dropdown" on-click="selectIndustry(industryArray[3])" class="dropdown-toggle text-center">{{industryArray[3]}}
                  <!-- <span class="glyphicon glyphicon-menu-down"></span> -->
                </a>
                <a *ngIf="isCelebrity" rel="canonical" data-toggle="dropdown" on-click="selectIndustry(industryArray[3])" class="dropdown-toggle text-center">{{industryArray[3]}}
                  <!-- <span class="glyphicon glyphicon-menu-down"></span> -->
                </a>
                <a *ngIf="Designer" rel="canonical" data-toggle="dropdown" on-click="filterDesignerPage('Latest Arrivals')" class="dropdown-toggle text-center">Latest Arrivals
                  <!-- <span class="glyphicon glyphicon-menu-down"></span> -->
                </a>
                <a *ngIf="isDesigner" rel="canonical" data-toggle="dropdown" class="dropdown-toggle text-center">
                </a>

                <ul class="dropdown-menu" *ngIf="isMen">
                  <li on-click="goToSeeAllmenAccessories('Accessories',mencategories[3].Accessories.Bags[0],'menfashion',mencategories[3].Accessories.Bags)">
                    <a>Bags</a>
                  </li>
                  <!-- <li *ngFor="let item of mencategories[3].Accessories.Bags | slice:1"><a rel="canonical" on-click="goToSeeAllmenAccessories('Accessories',mencategories[3].Accessories.Bags[0],item,'menfashion',mencategories[3].Accessories.Bags)">{{item}}</a></li> -->
                  <li on-click="goToSeeAllmenAccessories('Accessories',mencategories[3].Accessories.Belts[0],'menfashion',mencategories[3].Accessories.Belts)">
                    <a>Belts</a>
                  </li>
                  <!-- <li *ngFor="let item of mencategories[3].Accessories.Belts | slice:1"><a rel="canonical" on-click="goToSeeAllmenAccessories('Accessories',mencategories[3].Accessories.Belts[0],item,'menfashion',mencategories[3].Accessories.Belts)">{{item}}</a></li>  -->
                  <li on-click="goToSeeAllmenAccessories('Accessories',mencategories[3].Accessories.CAPSHATS[0],'menfashion',mencategories[3].Accessories.CAPSHATS)">
                    <a>Caps & Hats</a>
                  </li>
                  <!-- <li *ngFor="let item of mencategories[3].Accessories.CAPSHATS | slice:1"><a rel="canonical" on-click="goToSeeAllmenAccessories('Accessories',mencategories[3].Accessories.CAPSHATS[0],item,'menfashion',mencategories[3].Accessories.CAPSHATS)">{{item}}</a></li>  -->
                  <li on-click="goToSeeAllmenAccessories('Accessories',mencategories[3].Accessories.Jewellery[0],'menfashion',mencategories[3].Accessories.Jewellery)">
                    <a>Jewellery</a>
                  </li>
                  <!-- <li *ngFor="let item of mencategories[3].Accessories.Jewellery | slice:1"><a rel="canonical" on-click="goToSeeAllmenAccessories('Accessories',mencategories[3].Accessories.Jewellery[0],item,'menfashion',mencategories[3].Accessories.Jewellery)">{{item}}</a></li>  -->
                  <li on-click="goToSeeAllmenAccessories('Accessories',mencategories[3].Accessories.MufflersScarves[0],'menfashion',mencategories[3].Accessories.MufflersScarves)">
                    <a>Mufflers & Scarves</a>
                  </li>
                  <!-- <li *ngFor="let item of mencategories[3].Accessories.MufflersScarves | slice:1"><a rel="canonical" on-click="goToSeeAllmenAccessories('Accessories',mencategories[3].Accessories.MufflersScarves[0],item,'menfashion',mencategories[3].Accessories.MufflersScarves)">{{item}}</a></li>  -->
                  <li on-click="goToSeeAllmenAccessories('Accessories',mencategories[3].Accessories.TechAccessories[0],'menfashion',mencategories[3].Accessories.TechAccessories)">
                    <a>Tech Accessories</a>
                  </li>
                  <!-- <li *ngFor="let item of mencategories[3].Accessories.TechAccessories | slice:1"><a rel="canonical" on-click="goToSeeAllmenAccessories('Accessories',mencategories[3].Accessories.TechAccessories[0],item,'menfashion',mencategories[3].Accessories.TechAccessories)">{{item}}</a></li>  -->
                  <li on-click="goToSeeAllmenAccessories('Accessories',mencategories[3].Accessories.TiesCuf[0],'menfashion',mencategories[3].Accessories.TiesCuf)">
                    <a>Ties & Cuffs</a>
                  </li>
                  <!-- <li *ngFor="let item of mencategories[3].Accessories.TiesCuf | slice:1"><a rel="canonical" on-click="goToSeeAllmenAccessories('Accessories',mencategories[3].Accessories.TiesCuf[0],item,'menfashion',mencategories[3].Accessories.TiesCuf)">{{item}}</a></li>  -->
                  <li on-click="goToSeeAllmenAccessories('Accessories',mencategories[3].Accessories.Watches[0],'menfashion',mencategories[3].Accessories.Watches)">
                    <a>Watches</a>
                  </li>
                  <!-- <li *ngFor="let item of mencategories[3].Accessories.Watches | slice:1"><a rel="canonical" on-click="goToSeeAllmenAccessories('Accessories',mencategories[3].Accessories.Watches[0],item,'menfashion',mencategories[3].Accessories.Watches)">{{item}}</a></li>  -->



                </ul>
                <ul class="dropdown-menu" *ngIf="isWomen">
                  <li *ngFor="let item of womenCategories[3].Jewellery | slice:1">
                    <a rel="canonical" on-click="goToSeeAll(womenCategories[3].Jewellery[0],item,'womenfashion',womenCategories[3].Jewellery)">{{item}}</a>
                  </li>

                </ul>
                <!-- <ul class="dropdown-menu" *ngIf="isAmovie">
                        <li><a rel="canonical" on-click="goToSeeAll('Accessories','Caps','moviestore','2')">Caps</a></li>
                        <li><a rel="canonical" on-click="goToSeeAll('Accessories','Belts','moviestore','2')">Belts</a></li>
                      </ul>
                      <ul class="dropdown-menu" *ngIf="isCelebrity">
                        <li><a rel="canonical" on-click="goToSeeAll('Accessories','Caps','celebstore','2')">Caps</a></li>
                        <li><a rel="canonical" on-click="goToSeeAll('Accessories','Belts','celebstore','2')">Belts</a></li>
                      </ul>
                      <ul class="dropdown-menu" *ngIf="Designer ||isDesigner">
                        <li><a rel="canonical" on-click="goToSeeAll('Accessories','Caps','designerstore','2')">Caps</a></li>
                        <li><a rel="canonical" on-click="goToSeeAll('Accessories','Belts','designerstore','2')">Belts</a></li>
                      </ul> -->
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>




  <div *ngIf="isCeleb">
    <div *ngIf="profileData">
      <div class="container-fluid moviebanner height250 padding0">

        <img class="col-md-12 padding0" src={{profileData.coverPic}}>
        <div class="layer"></div>

      </div>


      <div class="container-fluid movieInfoDiv hidden-xs">
        <div class="container movieInfo padding0">
          <div class="col-md-5 fs-movieName">
            <h3 *ngIf='profileData' class="text-white text-capitalize">{{profileData.name}}</h3>
            <div class="col-md-12 padding0 fs-mtb10" *ngIf="pageTypes!='celeb-store'">

              <span *ngFor="let roles of profileData.role; let isLast=last" class="text-white">{{roles}}{{isLast ? '' : ', '}}</span>
              <!-- <span class="text-white">Telugu</span> -->
            </div>
            <div class="col-md-12 padding0 fs-relesDate">
              <span *ngIf="pageTypes!='celeb-store'" class="text-white">{{profileData.dateOfBirth}}</span>
              <span *ngIf="pageTypes!='celeb-store'" class="text-white">{{profileData.placeOfBirth}}</span>
              <h4>
                <span *ngIf="pageTypes=='celeb-store'" class="text-white">
                  <strong>Exclusive Collections</strong>
                </span>
              </h4>
              <!-- <span class="text-white">2hr 20min</span> -->
            </div>

          </div>
          <div class="col-md-2 padding0 movieInfoThumb hidden-xs hidden-sm">
            <img class="col-md-12 padding0" src="{{profileData.profilePic}}">
            <!-- <span class="glyphicon glyphicon-play-circle fs-glyph-play"></span> -->
          </div>
          <div class="col-md-5">
            <div *ngIf="isLoggedIn == 'true' && pageTypes=='celeb'">
              <div class="col-md-12 text-center">
                <span class="text-white"> {{numOfFollowers}} Followers</span>
              </div>
              <div *ngIf="!isFollow" class="col-md-12 text-center">
                <button on-click="follow()" class="text-white folow">Follow</button>
              </div>
              <div *ngIf="isFollow" class="col-md-12 text-center">
                <button on-click="follow()" class="text-white folow">Following</button>
              </div>
              <!-- <div class="col-md-12 text-center fs-SocialIcn"><p>
                    <span class="fa fa-facebook text-white"></span>
                    <span class="fa fa-twitter text-white"></span>
                    <span class="fa fa-instagram text-white"></span>
                    <span class="fa fa-google-plus text-white"></span>
                  </p></div> -->
            </div>
            <div *ngIf="isLoggedIn != 'true'">
              <div class="col-md-12 col-sm-12 fs-mstore1 padding0" style="margin-top: 0;">
                <div class="col-md-12 pull-left col-xs-4 col-sm-6 padding0">

                  <p class="logintxt1 hidden-xs">Experience the best version of Flikster
                    <br>to tailer your feed by loging in</p>
                  <button on-click="loginPopup()">LOGIN TO CONTINUE</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--mobile celeb info-->
      <div class="container-fluid movieInfoDiv bg-white visible-xs hidden-lg">
        <div class="container movieInfo padding0">
          <div class="col-xs-12 fs-movieName">
            <h3 *ngIf='profileData' class="text-white text-capitalize">{{profileData.name}}</h3>
            <div *ngIf="!isFollow" class=" text-center visible-xs hidden-lg">
              <button on-click="follow()" class="text-white folow">
                <span class="fa fa-thumbs-up"></span>
              </button>
            </div>
            <div *ngIf="isFollow" class=" text-center visible-xs hidden-lg">
              <button on-click="follow()" class="text-white folow">
                <span class="fa fa-thumbs-up active"></span>
              </button>
            </div>
            <div class="col-xs-12 padding0 fs-mb10 text-center">
              <span *ngFor="let roles of profileData.role; let isLast=last" class="" style="color: #7e7e7e;">{{roles}}{{isLast ? '' : ', '}}</span>
            </div>
          </div>
        </div>
        <div class="container visible-xs hidden-lg padding0">
          <div class="col-xs-12 pull-left padding0 mob-Celeb-s-menu">
            <ul class="list-inline">
              <li *ngIf='pageTypes=="celeb"' class="feed-li">
                <a on-click='openMenu()'>Explore
                  <i aria-hidden="true" class="fa fa-angle-down"></i>
                </a>
              </li>
              <li *ngIf='pageTypes=="celeb-store"'>
                <a [routerLink]="['/celeb',celebName]">Feed</a>
              </li>
              <div *ngIf='openSideMenu' class="mob-celeb-feed">
                <ul>
                  <li [ngClass]="index=='*' ? 'active' :''">
                    <a on-click="eventEmitt('*')">Whats New</a>
                  </li>
                  <li [ngClass]="index=='news' ? 'active' :''">
                    <a on-click="eventEmitt('news')">News</a>
                  </li>
                  <li [ngClass]="index=='Gallery' ? 'active' :''">
                    <a on-click="eventEmitt('Gallery')">Gallery</a>
                  </li>
                  <li [ngClass]="index=='Videos' ? 'active' :''">
                    <a on-click="eventEmitt('Videos')">Videos & Audios</a>
                  </li>
                  <li [ngClass]="index=='Social' ? 'active' :''">
                    <a on-click="eventEmitt('Social')">Social Buzz</a>
                  </li>
                  <li>
                    <a>Biography</a>
                  </li>
                </ul>
              </div>
              <li *ngIf='pageTypes=="celeb" || pageTypes=="celeb-store"' class="collections_li">
                <a [routerLink]="['/celeb-store',celebName]">Collections</a>
              </li>

              <li>
                <a on-click='showShare()'>
                  <i class="fa fa-share-alt"></i>Share</a>
              </li>
              <div *ngIf='shoShare' class="Mob-Shar">
                <div class="Mob-Shar-div">
                  <h3>Share
                    <span></span>
                    <span on-click='showShare()'>x</span>
                  </h3>
                  <p>
                    <button *ngIf='!profileData.socialMediaLinks.fbLink'>
                      <i class="fa fa-facebook"></i>
                    </button>
                    <button *ngIf='!profileData.socialMediaLinks.twitterLink'>
                      <i class="fa fa-twitter"></i>
                    </button>
                    <button *ngIf='!profileData.socialMediaLinks.instaLink'>
                      <i class="fa fa-instagram"></i>
                    </button>
                    <button>
                      <i class="fa fa-pinterest"></i>
                    </button>
                    <button>
                      <i class="fa fa-google-plus"></i>
                    </button>
                  </p>
                </div>
              </div>
            </ul>
          </div>
        </div>

      </div>



      <div class="container-fluid padding0 bgWhite hidden-xs" style="box-shadow: 0 0 2px 0 #e7e5e5;">
        <div class="container padding0">
          <div class="col-md-12 padding0">
            <nav class="nav navbar-nav fs-celebtabs fs-tollywoodtabs col-md-12 col-sm-12 padding0">
              <ul class="list-inline col-md-12 col-sm-12 col-xs-12 padding0 li10">
                <li class="text-center col-md-2 col-sm-2 col-xs-6">
                  <a rel="canonical" [routerLink]="['/home']">
                    <span class="glyphicon glyphicon-home"></span>
                  </a>
                </li>
                <li class="col-md-2 col-sm-2 col-xs-6 padding0 text-center">
                  <a *ngIf="pageTypes!='celeb-store'" rel="canonical" on-click="filterFromBanner('filmography')">Filmography</a>
                  <a *ngIf="pageTypes=='celeb-store'" rel="canonical" on-click="filterFromBanners('collections')"> Collections</a>
                </li>

                <li class="col-md-2 col-sm-2 col-xs-6 padding0 text-center">
                  <a *ngIf="pageTypes!='celeb-store'" rel="canonical" on-click="filterFromBanner('social-buzz')">Social Buzz</a>
                  <a *ngIf="pageTypes=='celeb-store'" rel="canonical" [routerLink]="['/celeb',celebName]">Profile</a>

                </li>

                <li class="col-md-2 col-sm-2 col-xs-6 padding0 text-center"></li>
                <li class="col-md-4 col-sm-4 hidden-xs padding0">
                  <a rel="canonical" class="border-r0"></a>
                </li>
                <li class="col-md-2 col-sm-2 col-xs-6 padding0 text-center">
                  <div class="col-md-12 text-center fs-SocialIcn">
                    <span>
                      <button *ngIf='!profileData.socialMediaLinks.fbLink'>
                        <i class="fa fa-facebook"></i>
                      </button>
                      <button *ngIf='!profileData.socialMediaLinks.twitterLink'>
                        <i class="fa fa-twitter"></i>
                      </button>
                      <button *ngIf='!profileData.socialMediaLinks.instaLink'>
                        <i class="fa fa-instagram"></i>
                      </button>
                      <button>
                        <i class="fa fa-pinterest"></i>
                      </button>
                      <button>
                        <i class="fa fa-google-plus"></i>
                      </button>
                      <!-- <button *ngIf='!profileData.socialMediaLinks.wikiLink'>
                                      <i class="fa fa-wikipedia">w</i>
                                    </button> -->

                      <button *ngIf='profileData.socialMediaLinks.fbLink'>
                        <a (click)="onNavigate(profileData.socialMediaLinks.fbLink)">
                          <i class="fa fa-facebook"></i>
                        </a>
                      </button>
                      <button *ngIf='profileData.socialMediaLinks.twitterLink'>
                        <a (click)="onNavigate(profileData.socialMediaLinks.twitterLink)">
                          <i class="fa fa-twitter"></i>
                        </a>
                      </button>
                      <button *ngIf='profileData.socialMediaLinks.instaLink'>
                        <a (click)="onNavigate(profileData.socialMediaLinks.instaLink)">
                          <i class="fa fa-instagram"></i>
                        </a>
                      </button>
                      <!-- <button *ngIf='profileData.socialMediaLinks.wikiLink'><a (click)="onNavigate(profileData.socialMediaLinks.wikiLink)">
                                  <i class="fa fa-wikipedia">w</i>
                                </a></button> -->


                    </span>
                  </div>
                </li>

                <li class="col-md-2 col-sm-2 col-xs-6 padding0 text-center">
                  <button *ngIf="pageTypes!='celeb-store'" [routerLink]="['/celeb-store',celebName]">Go to Store</button>
                  <button *ngIf=" isLoggedIn == 'true' && pageTypes=='celeb-store' && !isFollow" on-click='follow()'>Follow</button>

                  <button *ngIf="isLoggedIn == 'true' && pageTypes=='celeb-store' && isFollow" on-click='follow()'>Following</button>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div *ngIf="isDesignerProfile">
    <div *ngIf="profileData">
      <div class="container-fluid moviebanner height250 padding0">

        <img class="col-md-12 padding0" src={{profileData.coverPic}}>
        <div class="layer"></div>
      </div>


      <div class="container-fluid movieInfoDiv hidden-xs">
        <div class="container movieInfo padding0">
          <div class="col-md-5 fs-movieName">
            <h3 *ngIf='profileData' class="text-white text-capitalize">{{profileData.name}}</h3>
            <div class="col-md-12 padding0 fs-mtb10 ">
              <span *ngFor="let roles of profileData.role; let isLast=last" class="text-white">{{roles}}{{isLast ? '' : ', '}}</span>
              <!-- <span class="text-white">Telugu</span> -->
            </div>
            <div class="col-md-12 padding0 fs-relesDate ">
              <span class="text-white">{{profileData.dateOfBirth | date}}</span>
              <span class="text-white">{{profileData.placeOfBirth}}</span>
              <!-- <span class="text-white">2hr 20min</span> -->
            </div>
          </div>
          <div class="col-md-2 padding0 movieInfoThumb hidden-sm ">
            <img class="col-md-12 padding0" src="{{profileData.profilePic}}">
            <!-- <span class="glyphicon glyphicon-play-circle fs-glyph-play"></span> -->
          </div>
          <div class="col-md-5 hidden-xs">
            <div *ngIf="isLoggedIn == 'true'">
              <div class="col-md-12 text-center">
                <span class="text-white"> {{numOfFollowers}} Followers</span>
              </div>
              <div *ngIf="!isFollow" class="col-md-12 text-center">
                <button on-click="follow()" class="text-white folow">Follow</button>
              </div>
              <div *ngIf="isFollow" class="col-md-12 text-center">
                <button on-click="follow()" class="text-white folow">Following</button>
              </div>
              <!-- <div class="col-md-12 text-center fs-SocialIcn"><p>
                    <span class="fa fa-facebook text-white"></span>
                    <span class="fa fa-twitter text-white"></span>
                    <span class="fa fa-instagram text-white"></span>
                    <span class="fa fa-google-plus text-white"></span>
                  </p></div> -->
            </div>
            <div *ngIf="isLoggedIn == 'false'">
              <div class="col-md-12 col-sm-12 fs-mstore1 padding0" style="margin-top: 0;">
                <div class="col-md-12 pull-left col-xs-4 col-sm-6 padding0">

                  <p class="logintxt1 hidden-xs">Experience the best version of Flikster
                    <br>to tailer your feed by loging in</p>
                  <button on-click="loginPopup()">LOGIN TO CONTINUE</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>




      <div class="container-fluid padding0 bgWhite" style="box-shadow: 0 0 2px 0 #e7e5e5;">
        <div class="container padding0">
          <div class="col-md-12 padding0">
            <nav class="nav navbar-nav fs-celebtabs fs-tollywoodtabs col-md-12 col-sm-12 padding0">
              <ul class="list-inline col-md-12 col-sm-12 col-xs-12 padding0 li10">
                <li class="text-center col-md-2 col-sm-2 col-xs-6">
                  <a rel="canonical" [routerLink]="['/home']">
                    <span class="glyphicon glyphicon-home"></span>
                  </a>
                </li>
                <li class="col-md-2 col-sm-2 col-xs-6 padding0 text-center">
                  <a rel="canonical" [routerLink]="['/designer-store',celebName]">Collections</a>
                </li>

                <li class="col-md-2 col-sm-2 col-xs-6 padding0 text-center">
                  <a rel="canonical" on-click="filterFromBanner('social-buzz')">Social Buzz</a>
                </li>

                <li class="col-md-2 col-sm-2 col-xs-6 padding0 text-center"></li>
                <li class="col-md-4 col-sm-4 hidden-xs padding0">
                  <a rel="canonical" class="border-r0"></a>
                </li>
                <li class="col-md-2 col-sm-2 col-xs-6 padding0 text-center">
                  <div class="col-md-12 text-center fs-SocialIcn">
                    <span>

                      <button shareButton="facebook" [style.backgroundColor]="share.prop.facebook.color" [sbUrl]=pageUrl>
                        <i [class]="share.prop.facebook.icon"></i>
                      </button>
                      <button shareButton="twitter" [style.backgroundColor]="share.prop.twitter.color" [sbUrl]=pageUrl>
                        <i [class]="share.prop.twitter.icon"></i>
                      </button>
                      <button shareButton="whatsapp" [style.backgroundColor]="share.prop.whatsapp.color" [sbUrl]=pageUrl>
                        <i [class]="share.prop.whatsapp.icon"></i>
                      </button>
                      <button shareButton="google" [style.backgroundColor]="share.prop.google.color" [sbUrl]=pageUrl>
                        <i [class]="share.prop.google.icon"></i>
                      </button>
                      <!-- <button shareButton="pinterest" [style.backgroundColor]="share.prop.pinterest.color"   [sbUrl]=pageUrl>
                                          <i [class]="share.prop.pinterest.icon"></i>
                                        </button> -->
                      <!-- <share-button 
                              [button]="'facebook'"
                              [url]="'profileData.socialMediaLinks.fbLink'"
                              ></share-button>
                          
                              <share-button
                              [button]="'twitter'"
                              [url]="'profileData.socialMediaLinks.twitterLink'"
                              ></share-button>
                          
                            
                                <share-button 
                                [button]="'whatsapp'"
                                [url]="'http://google.com'"
                                ></share-button>
                            
                                <share-button
                                [button]="'google'"
                                [url]="'http://google.com'"
                                ></share-button> -->

                    </span>
                  </div>
                </li>

                <li class="col-md-2 col-sm-2 col-xs-6 padding0 text-center">
                  <button [routerLink]="['/designer-store',celebName]">Go to Store</button>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div *ngIf="isShare">
    <div class="container-fluid fs-celebStore fs-shareyourstyle padding0">
      <div class="container padding0">
        <div class="fs-men-header">
          <h3 class="hidden-xs hidden-m">SHARE YOUR STYLE</h3>
          <div class="col-md-12 col-sm-12 fs-mstore padding0">
            <div class="col-md-4 pull-left col-xs-4 col-sm-6 padding0" *ngIf="isLoggedIn == 'false'">

              <p class="logintxt hidden-xs">Experience the best version of
                <br>Flikster by logging in</p>
              <button on-click="loginPopup()">LOGIN TO CONTINUE</button>
            </div>
            <div class="col-md-4 pull-left col-xs-4 col-sm-6 padding0" *ngIf="isLoggedIn == 'true'">

              <p class="logintxt hidden-xs" style="font-size: 18px !important;">Be inspired by how our stylish users are
                <br>
                <span style="font-size: 30px;">sharing their style</span>
              </p>

            </div>

            <div class="col-md-4 pull-left col-xs-4 col-sm-4 padding0 fs-menfashion-pic fs-celebPic fs-shareyourstylepic">
              <img class="img-responsive1 img-thumbnail" src="../../../assets/img/shareyourstyle.png">
              <br>
              <h1>Share Your Style</h1>
            </div>
            <div class="col-md-4 text-right pull-left col-xs-4 col-sm-6 col-sm-push-0 col-md-offset-4 fs-celebDownloadapp padding0" *ngIf="isLoggedIn == 'false'">

              <p class="text-center pull-right">DOWNLOAD THE APP
                <br>
                <a rel="canonical" href="{{appStoreLinks.iTunes}}" target="_blank">
                  <img src="../../../assets/img/appstorewhite.png">
                </a>
                <a rel="canonical" href="{{appStoreLinks.googlePlay}}" target="_blank">
                  <img src="../../../assets/img/googlestorewhite.png">
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="container-fluid padding0 bgWhite">
      <div class="container padding0">
        <div class="col-md-12 padding0">
          <nav class="nav navbar-nav fs-celebtabs col-md-12 col-sm-12 padding0">
            <ul class="list-inline col-md-12 col-sm-12 col-xs-12 padding0">
              <li class="col-md-2 col-sm-2 col-xs-12 padding0">
                <a rel="canonical" [routerLink]="['/womenfashion']">WOMEN FASHION</a>
              </li>
              <li class="col-md-2 col-sm-2 col-xs-12 padding0">
                <a rel="canonical" [routerLink]="['/menfashion']" class="text-center border-r0">MEN FASHION</a>
              </li>
              <li class="col-md-4 col-sm-4 hidden-xs padding0">
                <a rel="canonical" class="border-r0"></a>
              </li>
              <li class="col-md-2 col-sm-2 col-xs-12 padding0">
                <a rel="canonical" [routerLink]="['/movie-store']" class="text-center">MOVIE STORE</a>
              </li>
              <li class="col-md-2 col-sm-2 col-xs-12 padding0">
                <a rel="canonical" [routerLink]="['/celeb-store']" class="border-r0 text-right">CELEBRITY STORE</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>

    </div>
  </div>

  <div *ngIf="isAuctions">
    <h1 class="visible-xs hidden-lg hidden-md hidden-sm mob-indusname">AUCTIONS</h1>
    <div class="container-fluid fs-celebStore fs-menfashion fs-{{pageType}} padding0 hidden-xs hidden-sm">
      <div class="container padding0">
        <div class="fs-men-header">
          <h3 class="hidden-xs hidden-m">auctions</h3>
          <div class="col-md-12 col-sm-12 fs-mstore padding0">
            <div class="col-md-4 pull-left col-xs-4 col-sm-6 padding0">
              <div *ngIf="isLoggedIn == 'true'">
                <p class="premiumtxt" style="font-size: 18px !important;">Bid on unique and extraordinary products
                  <br>
                  <span style="font-size: 28px;">from your favourite celebrities</span>
                </p>
              </div>
              <div *ngIf="isLoggedIn == 'false'">
                <p class="logintxt hidden-xs">Experience the best version of
                  <br>Flikster by logging in</p>
                <button on-click="loginPopup()">LOGIN TO CONTINUE</button>

              </div>
            </div>
            <div class="col-md-4 pull-left col-xs-4 col-sm-4 padding0 fs-menfashion-pic fs-celebPic fs-menpic fs-Aucpic">
              <!-- <img class="img-responsive1 img-thumbnail" src="images/menfashion1.png"> -->
              <!-- <i class="fa fa-legal" aria-hidden="true"></i> -->
              <img src="../../../assets/img/bid.png" class="auctionpicimg">
              <br>
              <h1>auctions</h1>
            </div>


            <div class="firstPuchase  " *ngIf="isLoggedIn == 'true'">
              <div class="col-md-4 text-right pull-left col-xs-4 col-sm-6 col-sm-push-0 col-md-offset-4 fs-celebDownloadapp padding0">
                <div class="borderwhite fs-mb5 fs-p5 text-center firstPuchase">
                  <p class="fontsize14 fs-mb0">Exclusive member offer </p>
                  <p class="fs-mb0 txt-bold">Get
                    <span class="discntof">10%</span> off on your first purchase</p>
                </div>
                <button *ngIf='liked==0' class="fs-mvfoloing1q" on-click='likeFashion()'>Like</button>
                <button *ngIf='liked==1' class="fs-mvfoloing1q">Liked</button>
              </div>
            </div>
            <div *ngIf="isLoggedIn == 'false'">
              <div class="col-md-4 text-right pull-left col-xs-4 col-sm-6 col-sm-push-0 col-md-offset-4 fs-celebDownloadapp padding0">
                <div class=" fs-mb5 fs-p5 text-center ">
                  <p class="text-center pull-right">DOWNLOAD THE APP
                    <br>
                    <a rel="canonical" href="{{appStoreLinks.iTunes}}" target="_blank">
                      <img src="../../../assets/img/appstorewhite.png">
                    </a>
                    <a rel="canonical" href="{{appStoreLinks.googlePlay}}" target="_blank">
                      <img src="../../../assets/img/googlestorewhite.png">
                    </a>
                  </p>
                </div>
              </div>
            </div>
          </div>

          <!-- <p class="text-center pull-right">DOWNLOAD THE APP <br> 
              <a href="#"><img src="images/appstorewhite.png"></a>
              <a href="#"><img src="images/googlestorewhite.png"></a></p> -->
        </div>
      </div>
    </div>


    <div class="container-fluid padding0 fs-menu-borderbtm hidden-xs hidden-sm">
      <div class="container padding0">
        <div class="col-md-12 padding0">
          <nav class="nav navbar-nav fs-celebtabs col-md-12 col-sm-12 padding0">
            <ul class="list-inline col-md-12 col-sm-12 col-xs-12 padding0">
              <div *ngIf="isLoggedIn == 'true'">
                <li class="text-center col-md-1">
                  <a [routerLink]="['/home']" style="border-right: 1px solid rgb(242, 242, 242);">
                    <span class="glyphicon glyphicon-home"></span>
                  </a>
                </li>
              </div>
              <div *ngIf="isLoggedIn == 'false'">
                <li class="col-md-1 col-sm-1 hidden-xs padding0">
                  <a class="border-r0"></a>
                </li>
              </div>
              <li class="col-md-2 col-sm-2 col-xs-12 padding0">
                <a rel="canonical" [routerLink]="['/auctions/current']" class="text-center">Current Auctions</a>
              </li>
              <li class="col-md-2 col-sm-2 col-xs-12 padding0">
                <a rel="canonical" [routerLink]="['/auctions/upcoming']" class="text-center border-r0">Upcoming Auctions</a>
              </li>
              <li class="col-md-2 col-sm-2 hidden-xs padding0">
                <a rel="canonical" class="border-r0"></a>
              </li>
              <li class="col-md-2 col-sm-2 col-xs-12 padding0">
                <a rel="canonical" [routerLink]="['/auctionFaqs']" class="text-center">faqs</a>
              </li>
              <li class="col-md-2 col-sm-2 col-xs-12 padding0">
                <a rel="canonical" [routerLink]="['/contact']" class="border-r0 text-center">Contact Us</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>

  </div>

  <div *ngIf="isProfile || isEditPofile">
    <div class="container-fluid moviebanner height250 padding0">
      <!-- <img class="col-md-12 padding0" src="https://act.land/wp-content/uploads/2017/06/Wonder-Woman-movie-poster-courage-theme.jpg"> -->
      <div class="layer profilepage-layer"></div>
    </div>


    <div class="container-fluid movieInfoDiv hidden-xs">
      <div class="container movieInfo padding0">
        <div class="col-md-5 fs-movieName">
          <!-- <h3 class="text-white text-capitalize">Prabhas</h3> -->
          <div class="col-md-12 padding0">
            <!-- <span class="text-white">Actor</span> -->
            <!-- <span class="text-white">Telugu</span> -->
          </div>
          <div class="col-md-12 padding0 fs-relesDate">
            <!-- <span class="text-white">23 OCT,1979</span> -->
            <!-- <span class="text-white">2hr 20min</span> -->
          </div>
          <!-- <div class="col-md-12 padding0 fs-MovieType">
                    <span class="text-white">romance</span>
                    <span class="text-white">family</span>
                    <span class="text-white">drama</span>
                  </div> -->
        </div>
        <div class="col-md-2 padding0 movieInfoThumb hidden-sm hidden-xs">
          <img class="col-md-12 padding0" src="{{tempUser.profilePic}}">
          <!-- <span class="glyphicon glyphicon-play-circle fs-glyph-play"></span> -->
        </div>
        <div *ngIf="isProfile" class="col-md-5 UserINfo">
          <!-- <div class="col-md-12 text-center"><span class="text-white">67 Followers</span></div>
                  <div class="col-md-12 text-center"><button class="text-white folow">Follow</button></div>
                  <div class="col-md-12 text-center fs-SocialIcn"><p>
                    <span class="fa fa-facebook text-white"></span>
                    <span class="fa fa-twitter text-white"></span>
                    <span class="fa fa-instagram text-white"></span>
                    <span class="fa fa-google-plus text-white"></span>
                  </p></div> -->
          <h3 *ngIf="!toggleEditProfileText">
            <span>{{userName}}</span>
            <a rel="canonical" on-click="filterFromBanner('edit-profile')" class="small">Edit Profile</a>
          </h3>
          <p class="UserProfil-Info">
            <span class="posts">
              <span>2</span>posts</span>
            <span class="followers">
              <span>32</span>followers</span>
            <span class="following">
              <span>12</span>following</span>
          </p>
          <h3 *ngIf="toggleEditProfileText">{{userName}}
            <a rel="canonical" on-click="filterFromBanner('edit-profile')" class="small">Back</a>
          </h3>
          <ul class="list-inline">
            <!--<li><span>27</span> posts</li>-->
            <!--<li><span>934</span> followers</li>-->
            <!--<li><span>891</span> following</li>-->
          </ul>
        </div>
      </div>
    </div>



    <div *ngIf="isProfile" class="container-fluid padding0 bgWhite" style="box-shadow: 0 0 2px 0 #e7e5e5;">
      <div class="container padding0">
        <div class="col-md-12 padding0">
          <nav class="nav navbar-nav fs-celebtabs fs-tollywoodtabs col-md-12 col-sm-12 padding0">
            <ul class="list-inline col-md-12 col-sm-12 col-xs-12 padding0 li6">
              <li class="text-center">
                <a rel="canonical" [routerLink]="['/home']">
                  <span class="glyphicon glyphicon-home"></span>
                </a>
              </li>
              <li class="col-md-2 col-sm-2 col-xs-6 padding0 text-center">
                <a rel="canonical" on-click="filterFromBanner(followedCelebData)">
                  <label>Celebrities</label>
                  <label *ngIf="followedCelebData">({{followedCelebData.data.length}})</label>
                </a>
              </li>
              <li class="col-md-2 col-sm-2 col-xs-6 padding0 text-center">
                <a rel="canonical" on-click="filterFromBanner(followedMovieData)">
                  <label>Movies</label>
                  <label *ngIf="followedMovieData">({{followedMovieData.data.length}})</label>
                </a>
              </li>
              <li class="col-md-4 col-sm-4 hidden-xs padding0">
                <a rel="canonical" class="border-r0"></a>
              </li>
              <li class="col-md-2 col-sm-2 col-xs-6 padding0 text-center">
                <a rel="canonical" on-click="filterFromBanner(followedDesignerData)">
                  <label>Designers</label>
                  <label *ngIf="followedDesignerData">({{followedDesignerData.data.length}})</label>
                </a>
              </li>
              <li class="col-md-2 col-sm-2 col-xs-6 padding0 text-center">
                <a rel="canonical" on-click="filterFromBanner(followedBrandData)">
                  <label>Brands</label>
                  <label *ngIf="followedBrandData">({{followedBrandData.data.length}})</label>
                </a>
              </li>
              <li class="col-md-2 col-sm-2 col-xs-6 padding0 text-center">
                <button on-click="uploadPopup()">
                  <i class="fa fa-camera" aria-hidden="true"></i> Upload</button>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf='bannerType=="socialIconsBanner"'>
    <div *ngIf='brandContent' class="container-fluid brandstore-banner padding0">
      <img src="../../../assets/img/Brand Background.png" alt="" class="img-responsive">
      <div class="layer"></div>
      <div class="container padding0">
        <div class="fs-brandstore-banner-header">
          <div class="col-md-12 col-sm-12 fs-brandstore-info padding0">
            <div class="col-md-4 pull-left col-xs-4 col-sm-6 padding0">
              <h4>Premiun Collections From
                <br>
                <span>{{brandContent.name}}</span>
              </h4>
              <button class="visible-xs brandStore-Folow-Btn">Follow</button>
            </div>
            <div class="col-md-4 pull-left col-xs-4 col-sm-4 padding0 brandstore-bannerpic">
              <img src="{{brandContent.profilePic}}">
            </div>
            <div class="col-md-4 text-right pull-left col-xs-4 col-sm-6 col-sm-push-0 col-md-offset-4 fs-celebDownloadapp padding0 hidden-xs"></div>
          </div>

        </div>
      </div>
    </div>
    <div class="container-fluid padding0 fs-menu-borderbtm hidden-xs hidden-sm">
      <div class="container padding0">
        <div class="col-md-12 padding0">
          <nav class="nav navbar-nav col-md-12 col-sm-12 padding0 brand-store-nav">
            <ul class="list-unstyled list-inline">
              <li>
                <a>
                  <span class="glyphicon glyphicon-home"></span>
                </a>
              </li>
              <li>
                <a>JUST IN</a>
              </li>
              <li>
                <a> TRENDING</a>
              </li>
              <li>
                <a></a>
              </li>
              <li>
                <span>
                  <a>
                    <i class="fa fa-facebook"></i>
                  </a>
                  <a>
                    <i class="fa fa-twitter"></i>
                  </a>
                  <a>
                    <i class="fa fa-instagram"></i>
                  </a>
                  <a>
                    <i class="fa fa-linkedin"></i>
                  </a>
                  <a>
                    <i class="fa fa-pinterest-p"></i>
                  </a>
                </span>
              </li>
              <li *ngIf='!isFollow'>
                <button on-click="follow()">Follow</button>
              </li>

              <li *ngIf='isFollow'>
                <button on-click="follow()">Following</button>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>

    <!-- <p>hello</p> -->
  </div>
</div>
<upload *ngIf="displayUploadPopup" (closeUploadPopup)="closeUploadPopup($event)"></upload>

<rate-movie *ngIf="displayRatingPopup" [movieObject]="movieObject" (submitingRatingPopup)="submitingRatingPopup($event)"></rate-movie>

<login *ngIf="displayLoginPopup" (closeLoginPopup)="closeLoginPopup($event)"></login>