
<div *ngIf='content' class="col-md-12 padding0">
  <div class="bgWhite col-md-12 col-xs-12 col-sm-12 padding0">
        <h4 class="text-bold" style="margin:0;padding: 10px 10px 5px;font-size: 14px; white-space: nowrap; text-overflow: ellipsis;overflow: hidden; width: 80%;">{{content.name}}
        </h4>
<span class="pull-left" style="color: #616161; padding-bottom: 10px; padding-left: 10px;">Rs. {{content.price}}/-</span>
<button on-click="gotoProduct()" style="border: 1px solid rgb(255, 89, 107);
    background: rgb(255, 89, 107);margin-left: 10px;border-radius: 20px;padding: 4px 18px;font-size: 14px;color: #fff; float: right; height: 25px; margin-top: -12px; margin-right: 10px; line-height: 18px;">BUY</button>
</div>
      <div class="fs-card col-md-12 padding0">
        
        
        <!-- <card-associationdata [assnData]="assnData"></card-associationdata>  -->

        <div on-click="gotoProduct()" class="fs-cardtype-v2-h2">
          <div class="">
            <img src="{{content.profilePic}}" alt="" class="col-md-12 img-responsive padding0 center-block">
          </div>
          <div class="col-md-6 padding0">
          <div class="col-md-12 padding0" *ngFor="let img of content.imageGallery">
            <img src="{{img}}" alt="" class="col-md-12 img-responsive padding0 center-block">
          </div>
          <!-- <div class="col-md-12 padding0">
            <img src="{{content.imageGallery[2]}}" alt="image" class="col-md-12 img-responsive padding0 center-block">
          </div> -->
        </div>
        </div>

        <div class="col-md-12 col-xs-12 pull-left padding0">
          <card-socialbar [content]="content" [contentData]="content" [productSlug]="content.slug" [cardId]="cardId"></card-socialbar>
          <!-- <button on-click="gotoProduct()">BUY</button> -->
        </div>

        <div class="col-md-12 col-xs-12 pull-left padding0">
          <div class="col-md-12 fs-title-heading">
            <!-- <h4>{{content.name}}</h4> -->
          </div>
        </div>

      <div class="padding0 col-md-12 col-xs-12 col-sm-12 pull-left bgWhite">
        <card-comments [cardId]="cardId"></card-comments>
      </div>
          
          
        </div>
      </div>