<titlebar>Flikster - Movies & Fashion</titlebar>


<div class="container-fluid padding0 gradient-clr home-margintop">
  <div class="container padding0">
    <div class="col-md-8 col-xs-12 col-sm-6 fs-pos-rel padding0 hidden-xs hidden-sm">
      <div class="mob-img">
      <img src="../../../assets/img/mobilemocks.png" alt="image" class="img-responsive">
      <!-- <p class="text-center">DOWNLOAD THE APP <br> 
        <a href=""><img src="../../../assets/img/Itunes-Logo.png" alt="image"></a>
        <a href=""><img src="../../../assets/img/Android-Logo.png" alt="image"></a>
      </p> -->
    </div>
      <div class="fs-categorie1 pull-left also-avail">
        <h1>Also available<br>in your<br>pockets.</h1>
        <div class="dwnld"><span>Download the app</span><br>
        <a href="https://play.google.com/store/apps/details?id=com.flikster" target="_blank" class=""><img alt="" class="img-responsive" src="../../../assets/img/android.png"></a>
        <!-- <a href="https://play.google.com/store/apps/details?id=com.flikster" class="visible-xs"><img alt="" class="img-responsive" src="../../../assets/img/android.png"></a> -->
      <a href="https://itunes.apple.com/us/app/flikster/id1221940431" target="_blank" class=""><img alt="" class="img-responsive" src="../../../assets/img/ios.png"></a>
      <!-- <a href="https://itunes.apple.com/us/app/flikster/id1221940431" class="visible-xs"><img alt="" class="img-responsive" src="../../../assets/img/ios.png"></a> -->
    </div>
        <!-- <ul>
          <li>
            <div><img src="../../../assets/img/icon01.png" alt="image"></div>
            <div><p><span>feed</span> - Get youe daily dose of celebrity news, celebrity fashion and trends, movie updates.</p></div>
          </li>
          <li>
            <div><img src="../../../assets/img/icon02.png" alt="image"></div>
            <div><p><span>fashion</span> - Find celebrity inspired fashion, brands in vogue and exclusive designer wear.</p></div>
          </li>
          <li>
            <div><img src="../../../assets/img/icon03.png" alt="image"></div>
            <div><p><span>auction</span> - Own your favorite stars exclusive fashion possession or memorabilia via auctions.</p></div>
          </li>
        </ul> -->
      </div>
    </div>
    <div class="col-md-4 col-md-offset-0 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1 industrytypes">
      <p>Choose your favorite Movie Industry</p>
      <div  class="industrytypes1">
        <ul class="list-unstyled">
          <li class="Bollywood"><a rel="canonical" on-click="goToIndustry('bollywood')">Bollywood</a></li>
          <li class="Tollywood"><a rel="canonical" on-click="goToIndustry('tollywood')">Tollywood</a></li>
          <li class="Tamil"><a rel="canonical" on-click="goToIndustry('kollywood')">Kollywood</a></li>
          <li class="Kannada"><a rel="canonical" on-click="goToIndustry('sandalwood')">Sandalwood</a></li>
          <li class="Malayalam"><a rel="canonical" on-click="goToIndustry('mollywood')">Mollywood</a></li>
          <li *ngIf="checkFunction()" on-click="loginPopup()"><a class="bgclr">Tailor My Experience
            <!--<i class="fa fa-angle-right" aria-hidden="true"></i>-->
              <!--Login-->
            <!--<p  class="pull-right loginbtn"><button *ngIf="isLoggedIn=='false'" on-click="loginPopup()" class="btn btn-danger" >LOGIN</button></p>            -->
            </a></li>
        </ul>
        <router-outlet></router-outlet>
        <span class="chose-ind" *ngIf="displayLoginText">Please select your favourite industry to Tailor</span>
      
      </div>
    </div>
    <div class="fs-categorie1 pull-left also-avail visible-xs visible-sm hidden-md col-xs-12 text-center">
        <h1>Also available in your pockets.</h1>
        <div class="dwnld"><span>Download the app</span><br>
        <a href="https://play.google.com/store/apps/details?id=com.flikster" target="_blank" class=""><img alt="" class="img-responsive" src="../../../assets/img/android.png"></a>
        <!-- <a href="https://play.google.com/store/apps/details?id=com.flikster" class="visible-xs"><img alt="" class="img-responsive" src="../../../assets/img/android.png"></a> -->
      <a href="https://itunes.apple.com/us/app/flikster/id1221940431" target="_blank" class=""><img alt="" class="img-responsive" src="../../../assets/img/ios.png"></a>
      <!-- <a href="https://itunes.apple.com/us/app/flikster/id1221940431" class="visible-xs"><img alt="" class="img-responsive" src="../../../assets/img/ios.png"></a> -->
    </div>
        <!-- <ul>
          <li>
            <div><img src="../../../assets/img/icon01.png" alt="image"></div>
            <div><p><span>feed</span> - Get youe daily dose of celebrity news, celebrity fashion and trends, movie updates.</p></div>
          </li>
          <li>
            <div><img src="../../../assets/img/icon02.png" alt="image"></div>
            <div><p><span>fashion</span> - Find celebrity inspired fashion, brands in vogue and exclusive designer wear.</p></div>
          </li>
          <li>
            <div><img src="../../../assets/img/icon03.png" alt="image"></div>
            <div><p><span>auction</span> - Own your favorite stars exclusive fashion possession or memorabilia via auctions.</p></div>
          </li>
        </ul> -->
      </div>
  </div>
  </div>
  

  <div class="container-fluid padding0 fs-mtb30 mob-mtb20 quot" style="float: left;width: 100%;">
    <div class="container text-center " style=" font-size: 20px;font-family: 'proxima_nova_ltsemibold'; font-style: italic;">
        "I like my money right where I can see it: hanging in my closet."<br>— Carrie Bradshaw
    </div>
    <!-- <div class="container text-center visible-xs hidden-lg" style=" font-size: 20px;font-family: 'proxima_nova_ltsemibold'; font-style: italic;">
        "I like my money right where I can see it: hanging in my closet."<br>— Carrie Bradshaw
    </div> -->
</div>


  <div class="container-fluid padding0" style="display: table;">
    <div class="container padding0">
    <div class="col-md-12 col-sm-12 col-xs-12 padding0">
      <div class="col-md-4 col-sm-4 col-xs-4 padding0">
       <a rel="canonical" [routerLink] = "['/womenfashion']">
        <div class="col-md-12 l-womenfashion fashion_cat text-center">
          <img src="../../../assets/img/womenfashion.png" alt="image">
            <h2>Women Fashion</h2>
        </div></a>
      </div>
    <div class="col-md-4 col-sm-4 col-xs-4 fs-csplr0">
      <a rel="canonical" [routerLink] = "['/celeb-store']">
      <div class="col-md-12 l-celebritystore fashion_cat text-center">
        <img src="../../../assets/img/celeb-store.png" alt="image">
        <h2>Celebrity Store</h2>
      </div>
      </a>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-4 padding0">
      <a rel="canonical" [routerLink] = "['/menfashion']">
      <div class="col-md-12 l-moviestore fashion_cat text-center">
        <img src="../../../assets/img/menfashion.png" alt="image">
        <h2>Men Fashion</h2>
      </div>
      </a>
    </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 padding0">
      <div class="col-md-6 col-sm-6 col-xs-6 fs-pl0 fs-mtb10 mob-pr4 mob-m0">
        <a rel="canonical" [routerLink] = "['/share-your-style']">
        <div class="col-md-12 l-shareyourstyle fashion_cat fashion_cat1 text-center">
          <img src="../../../assets/img/shareyourstyle.png" alt="image">
          <h2>Share your Style</h2>
        </div>
        </a>
      </div>
    <div class="col-md-6 col-sm-6 col-xs-6 padding0 fs-mtb10 mob-m0">
      <a rel="canonical" [routerLink] = "['/movie-store']">
      <div class="col-md-12 l-menfashion fashion_cat fashion_cat1 text-center">
        <h2>Movie Store</h2>
        <img src="../../../assets/img/movie-store.png" alt="image">
      </div>
      </a>
    </div>
  </div> 
  </div>
</div>


 <div class="container-fluid col-md-12" style="display: none;">
<div class="container fs-ShareUrStyle1 padding0">
  <div class='row'>
    <div class='col-md-12 col-sm-12 col-xs-12'>
      <div class="carousel slide media-carousel" id="media2"  *ngIf="styleBoards">
        <div class="carousel-inner">



          <div class="item active" *ngIf="styleBoards[0]">
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12 ">
  <div class="container fs-mt30" style="max-width: 986px;">
    <div class="col-md-12 padding0 shareStyleCard">
      <div class="col-md-12 padding0">
        <div class="col-md-6 col-sm-6 col-xs-6 padding0">
          <div class="styleInfo fs-mt20 hidden-xs"><span>STATUS : </span><span class="styleInfo-data">{{styleBoards[0]._source.userStatus}}</span></div>
          <div class="styleInfo hidden-xs"><span>OCCUPATION : </span><span class="styleInfo-data">{{styleBoards[0]._source.occupation}}</span></div>
          <div class="SHareSTylePic">
            <img class="img-responsive" src="{{styleBoards[0]._source.profilePic}}">
          </div>
        </div> 
        <div class="col-md-6 col-sm-6 col-xs-6 padding0 hidden-xs">
          <div class="fs-pl150 styleInfo fs-mt20">
            <span>STYLE ICON : </span>
            <span class="styleInfo-data" *ngFor="let icon of styleBoards[0]._source.styleIcon">{{icon.name}}</span>
          </div>
          <div class="fs-pl150 styleInfo"  style="overflow: hidden;height: 38px;">
            <span>FAVORITE ACCESSORY : </span>
            <span class="styleInfo-data" *ngFor="let item of styleBoards[0]._source.accessories">{{item}}</span>
          </div>
        </div>
        <div class="col-md-12 col-xs-12 padding0 fs-mt10 fs-mb20"><h3 class="text-center shareCardTitle">{{styleBoards[0]._source.title}}</h3></div>
        <div class="col-md-12 padding0">
          <div class="col-md-12 col-xs-12 padding0">
            <div class="col-md-3 col-sm-3 col-xs-3 col-md-3a padding0 h200 fs-mb5" *ngIf="styleBoards[0]._source.products[0]">
             <a  [routerLink] = "['/product/'+styleBoards[0]._source.products[0].product.slug]"> <img src="{{styleBoards[0]._source.products[0].image}}" class="img-responsive"></a>
            </div>
            <div class="col-md-3 col-md-3a col-sm-3 col-xs-3 padding0 h200 fs-mb5 thumbnail text-center">
              <p>{{styleBoards[0]._source.textTile[0]}}</p>
            </div>
            <div class="col-md-3 col-md-3a col-sm-3 col-xs-3 padding0 h200 fs-mb5" *ngIf="styleBoards[0]._source.products[1]">
              <a  [routerLink] = "['/product/'+styleBoards[0]._source.products[1].product.slug]"><img src="{{styleBoards[0]._source.products[1].image}}" class="img-responsive"> </a>
              <!-- <span>Lorem</span> -->
            </div>
            <div class="col-md-3 col-md-3a col-sm-3 col-xs-3 padding0 h200 fs-mb5" *ngIf="styleBoards[0]._source.products[2]">
              <a  [routerLink] = "['/product/'+styleBoards[0]._source.products[2].product.slug]"> <img src="{{styleBoards[0]._source.products[2].image}}" class="img-responsive"></a>
            </div>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12 padding0">
            <div class="col-md-6 col-sm-6 col-xs-12 padding0">
              <div class="col-md-6 col-md-6a padding0 h200 fs-mb5 " *ngIf="styleBoards[0]._source.products[3]">
                <a  [routerLink] = "['/product/'+styleBoards[0]._source.products[3].product.slug]"> <img  src="{{styleBoards[0]._source.products[3].image}}" class="img-responsive"></a><span></span>
              </div>
              <div class="col-md-6 col-md-6a col-sm-6 col-xs-6 padding0 h200 fs-mb5 " *ngIf="styleBoards[0]._source.products[4]">

                <a  [routerLink] = "['/product/'+styleBoards[0]._source.products[4].product.slug]"><img  src="{{styleBoards[0]._source.products[4].image}}" class="img-responsive"></a>
              </div>
              <div class="col-md-6 col-md-6a col-sm-6 col-xs-6 padding0 h200 fs-mr5 thumbnail text-center fs-mb0">
                <p>{{styleBoards[0]._source.textTile[1]}}</p>
              </div>
              <div class="col-md-6 col-md-6a col-sm-6 col-xs-6 padding0 h200" *ngIf="styleBoards[0]._source.products[5]">
                <a  [routerLink] = "['/product/'+styleBoards[0]._source.products[5].product.slug]"> <img src="{{styleBoards[0]._source.products[5].image}}" class="img-responsive"></a>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 padding0 flex">
              <div *ngIf="styleBoards[0]._source.products[6]" class="col-md-6 col-md-6a h451 padding0 fs-mr5 flex">
                <a  [routerLink] = "['/product/'+styleBoards[0]._source.products[6].product.slug]">  <img  src="{{styleBoards[0]._source.products[6].image}}" class="img-responsive h451a"></a>
              </div>
              <div class="col-md-6 col-md-6a col-sm-6 col-xs-6 h451 padding0">
                <div class="col-md-12 padding0 h233 fs-mb5 thumbnail text-center">
                  <p>{{styleBoards[0]._source.textTile[2]}}</p></div>
                <div class="col-md-12 padding0 h233 fs-mb5" *ngIf="styleBoards[0]._source.products[7]">
                  <a  [routerLink] = "['/product/'+styleBoards[0]._source.products[7].product.slug]">  <img src="{{styleBoards[0]._source.products[7].image}}" class="img-responsive" style=""></a><span style="position: absolute; bottom: 10px; width: 100%; text-align: center; color: #333;"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 padding0"><span style="position: absolute;
left: 0;
right: 0;
max-width: 370px;
margin: 0 auto;
border: 1px solid #ccc;
font-size: 20px;
text-align: center;
line-height: 20px;
float: left;
font-family: helvetica;
padding: 10px 0;
background-color: #fff;
bottom: -70px; font-weight: 100;">Show Us Your #Flikstyle</span></div>
      </div>
    </div>
  </div>
              </div>      
            </div>
          </div>














          <div class="item" *ngIf="styleBoards[1]">
            <div class="row active">
              <div class="col-md-12 col-xs-12 ">
  <div class="container fs-mt30" style="width: 986px;">
    <div class="col-md-12 col-sm-12 col-xs-12 padding0 shareStyleCard shareStyleCard1">
      <div class="col-md-12 col-sm-12 col-xs-12 padding0">
        <div class="col-md-6 col-sm-6 col-xs-6 padding0">
          <div class="styleInfo fs-mt30"><span>Status : </span><span class="styleInfo-data">{{styleBoards[1]._source.userStatus}}</span></div>
          <div class="styleInfo"><span>OCCUPATION : </span><span class="styleInfo-data">{{styleBoards[1]._source.occupation}}</span></div>
          <div class="SHareSTylePic">
            <img class="img-responsive" src="{{styleBoards[1]._source.profilePic}}">
          </div>
        </div> 
        <div class="col-md-6 col-sm-6 col-xs-6 padding0">
          <!--<div class="fs-pl150 styleInfo fs-mt30">
            <span>MEMBER SINCE: </span>
            <span class="styleInfo-data" *ngFor="let icon of styleboard._source.styleIcon">{{icon.name}}</span>
          </div>-->
          <div class="fs-pl150 styleInfo fs-mt20">
            <span>STYLE ICON : </span>
            <span class="styleInfo-data" *ngFor="let icon of styleBoards[1]._source.styleIcon">{{icon.name}}</span>
          </div>
          <div class="fs-pl150 styleInfo" style="overflow: hidden;height: 38px;">
            <span>FAVORITE ACCESSORY : </span>
            <span class="styleInfo-data" *ngFor="let item of styleBoards[1]._source.accessories">{{item}}</span>
          </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 padding0 fs-mt10 fs-mb20"><h3 class="text-center shareCardTitle">{{styleBoards[1]._source.title}} <!-- test21 --></h3></div>
        <div class="col-md-12 col-sm-12 col-xs-12 padding0">
          <div class="col-md-12 col-sm-12 col-xs-12 padding0">
            <div class="col-md-3 col-md-3a col-sm-3 col-xs-3 padding0 h200 fs-mb5 fs-mr5 thumbnail text-center">
              <p>{{styleBoards[1]._source.textTile[0]}}</p>
            </div>
            <div class="col-md-3 col-md-3a col-sm-3 col-xs-3 padding0 h200 fs-mb5 fs-mr5" *ngIf="styleBoards[1]._source.products[0]">
             <a   [routerLink] = "['/product/'+styleBoards[1]._source.products[0].product.slug]"> <img  src="{{styleBoards[1]._source.products[0].image}}" class="img-responsive">
             </a><!-- <span>Lorem</span> -->
            </div>
            <div class="col-md-3 col-md-3a col-sm-3 col-xs-3 padding0 h200 fs-mb5 fs-mr5 thumbnail text-center">
              <p>{{styleBoards[1]._source.textTile[0]}}</p>
            </div>
            <div class="col-md-3 col-md-3a col-sm-3 col-xs-3 padding0 h200 fs-mb5 fs-mr5" *ngIf="styleBoards[1]._source.products[1]">
             <a  [routerLink] = "['/product/'+styleBoards[1]._source.products[1].product.slug]" > <img src="{{styleBoards[1]._source.products[1].image}}" class="img-responsive">
             </a><!-- <span>Lorem</span> -->
            </div>
          </div>
          <div class="col-md-12 padding0">
            <div class="col-md-6 padding0">
              <div class="col-md-6 col-md-6a padding0 h200 fs-mb5 fs-mr5 flex" *ngIf="styleBoards[1]._source.products[2]">
                <a [routerLink] = "['/product/'+styleBoards[1]._source.products[3].product.slug]"><img src="{{styleBoards[1]._source.products[2].image}}" class="img-responsive h451a">
                </a><!-- <span>Lorem</span> -->
              </div>
              <div class="col-md-6 col-md-6a padding0 h200 fs-mb5 fs-mr5" *ngIf="styleBoards[1]._source.products[3]">
                <a [routerLink] = "['/product/'+styleBoards[1]._source.products[4].product.slug]"><img src="{{styleBoards[1]._source.products[3].image}}" class="img-responsive h451a">
                </a><!-- <span>Lorem</span> -->
              </div>
              <div class="col-md-6 col-md-6a padding0 h200 fs-mr5" *ngIf="styleBoards[1]._source.products[4]">
                <a [routerLink] = "['/product/'+styleBoards[1]._source.products[5].product.slug]"><img src="{{styleBoards[1]._source.products[4].image}}" class="img-responsive">
                </a>
                </div>
              <div class="col-md-6 col-md-6a padding0 h200 fs-mr5 thumbnail text-center fs-mb0">
                <p>{{styleBoards[1]._source.textTile[1]}}</p>
              </div>
            </div>
            <div class="col-md-6 padding0 flex">
            <div class="col-md-6 col-md-6a h451 padding0">
              <div class="col-md-12 padding0 h233 fs-mb5" *ngIf="styleBoards[1]._source.products[5]">
                <a [routerLink] = "['/product/'+styleBoards[1]._source.products[7].product.slug]"><img src="{{styleBoards[1]._source.products[5].image}}" class="img-responsive" style="">
                </a>
                </div>
              <div class="col-md-12 padding0 h233 fs-mb5 thumbnail text-center" *ngIf="styleBoards[1]._source.products[6]">
                <a [routerLink] = "['/product/'+styleBoards[1]._source.products[6].product.slug]"><img src="{{styleBoards[1]._source.products[6].image}}" class="img-responsive ">
                </a>
                  <span style="position: absolute; bottom: 10px; width: 100%; text-align: center; color: #333;"></span>
              </div>
              
            </div>
              <div class="col-md-6 col-md-6a h451 padding0 fs-ml5 flex" *ngIf="styleBoards[1]._source.products[7]">
                 <a [routerLink] = "['/product/'+styleBoards[1]._source.products[7].product.slug]"> <img src="{{styleBoards[1]._source.products[7].image}}" class="img-responsive h451a" style=""><!-- <span style="position: absolute; bottom: 10px; width: 100%; text-align: center; color: #333;">Lorem Ipsum</span> -->
                 </a>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
              </div>   
            </div>
          </div>









          <div class="item" *ngIf="styleBoards[2]">
            <div class="row">
              <div class="col-md-12 col-xs-12 ">
  <div class="container fs-mt30" style="width: 986px;">
    <div class="col-md-12 padding0 shareStyleCard">
      <div class="col-md-12 padding0">
        <div class="col-md-6 padding0">
          <div class="styleInfo fs-mt20"><span>STATUS: </span><span class="styleInfo-data">{{styleBoards[2]._source.userStatus}}</span></div>
          <div class="styleInfo"><span>OCCUPATION: </span><span class="styleInfo-data">{{styleBoards[2]._source.occupation}}</span></div>
          <div class="SHareSTylePic">
            <img class="img-responsive" src="{{styleBoards[2]._source.profilePic}}">
          </div>
        </div> 
        <div class="col-md-6 padding0">
          <div class="fs-pl150 styleInfo fs-mt20">
            <span>STYLE ICON: </span>
            <span class="styleInfo-data" *ngFor="let icon of styleBoards[2]._source.styleIcon">{{icon.name}}</span>
          </div>
          <div class="fs-pl150 styleInfo" style="overflow: hidden;height: 38px;">
            <span>FAVORITE ACCESSORY: </span>
            <span class="styleInfo-data" *ngFor="let item of styleBoards[2]._source.accessories">{{item}}</span>
          </div>
        </div>
        <div class="col-md-12 padding0 fs-mt10 fs-mb20"><h3 class="text-center shareCardTitle">{{styleBoards[2]._source.title}}</h3></div>
        <div class="col-md-12 padding0">
          <div class="col-md-12 padding0">
            <div class="col-md-3 col-md-3a padding0 h200 fs-mb5 fs-mr5" *ngIf="styleBoards[2]._source.products[0]">
             <a [routerLink] = "['/product/'+styleBoards[2]._source.products[0].product.slug]"> <img src="{{styleBoards[2]._source.products[0].image}}" class="img-responsive">
             </a>
            </div>
            <div class="col-md-3 col-md-3a padding0 h200 fs-mb5 fs-mr5 thumbnail text-center">
              <p>{{styleBoards[2]._source.textTile[0]}}</p>
            </div>
            <div class="col-md-3 col-md-3a padding0 h200 fs-mb5 fs-mr5" *ngIf="styleBoards[2]._source.products[1]">
              <a [routerLink] = "['/product/'+styleBoards[2]._source.products[1].product.slug]"> <img src="{{styleBoards[2]._source.products[1].image}}" class="img-responsive">
              </a><!-- <span>Lorem</span> -->
            </div>
            <div class="col-md-3 col-md-3a padding0 h200 fs-mb5 fs-mr5" *ngIf="styleBoards[2]._source.products[2]">
              <a [routerLink] = "['/product/'+styleBoards[2]._source.products[2].product.slug]"> <img src="{{styleBoards[2]._source.products[2].image}}" class="img-responsive">
              </a>
              </div>
          </div>
          <div class="col-md-12 padding0">
            <div class="col-md-6 padding0">
              <div class="col-md-6 col-md-6a padding0 h200 fs-mb5 fs-mr5" *ngIf="styleBoards[2]._source.products[3]">
                <a [routerLink] = "['/product/'+styleBoards[2]._source.products[3].product.slug]"> <img src="{{styleBoards[2]._source.products[3].image}}" class="img-responsive">
                </a><!-- <span>Lorem</span> -->
              </div>
              <div class="col-md-6 col-md-6a padding0 h200 fs-mb5 fs-mr5" *ngIf="styleBoards[2]._source.products[4]">
                <a [routerLink] = "['/product/'+styleBoards[2]._source.products[4].product.slug]"> <img src="{{styleBoards[2]._source.products[4].image}}" class="img-responsive">
                </a>
                </div>
              <div class="col-md-6 col-md-6a padding0 h200 fs-mr5 thumbnail text-center fs-mb0">
                <p>{{styleBoards[2]._source.textTile[1]}}</p>
              </div>
              <div class="col-md-6 col-md-6a padding0 h200 fs-mr5" *ngIf="styleBoards[2]._source.products[5]">
                <a [routerLink] = "['/product/'+styleBoards[2]._source.products[5].product.slug]"> <img src="{{styleBoards[2]._source.products[5].image}}" class="img-responsive">
                </a>
                </div>
            </div>
            <div class="col-md-6 padding0 flex">
              <div class="col-md-6 col-md-6a h451 padding0 fs-mr5 flex" *ngIf="styleBoards[2]._source.products[6]">
                <a [routerLink] = "['/product/'+styleBoards[2]._source.products[6].product.slug]"><img src="{{styleBoards[2]._source.products[6].image}}" class="img-responsive h451a">
                </a>
                </div>
              <div class="col-md-6 col-md-6a h451 padding0">
                <div class="col-md-12 padding0 h233 fs-mb5 thumbnail text-center">
                  <p>{{styleBoards[2]._source.textTile[2]}}</p></div>
                <div class="col-md-12 padding0 h233 fs-mb5" *ngIf="styleBoards[2]._source.products[7]">
                  <a [routerLink] = "['/product/'+styleBoards[2]._source.products[7].product.slug]"> <img src="{{styleBoards[2]._source.products[7].image}}" class="img-responsive" style=""><span style="position: absolute; bottom: 10px; width: 100%; text-align: center; color: #333;"></span>
                  </a>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 padding0"><span style="position: absolute;
left: 0;
right: 0;
max-width: 370px;
margin: 0 auto;
border: 1px solid #ccc;
font-size: 20px;
text-align: center;
line-height: 20px;
float: left;
font-family: helvetica;
padding: 10px 0;
background-color: #fff;
bottom: -70px; font-weight: 100;">Show Us Your #Flikstyle</span></div>
      </div>
    </div>
  </div>
              </div>      
            </div>
          </div>


          <div class="item" *ngIf="styleBoards[3]">
            <div class="row">
              <div class="col-md-12 col-xs-12 ">
  <div class="container fs-mt30" style="width: 986px;">
    <div class="col-md-12 padding0 shareStyleCard">
      <div class="col-md-12 padding0">
        <div class="col-md-6 padding0">
          <div class="styleInfo fs-mt30"><span>STATUS: </span><span class="styleInfo-data">{{styleBoards[3]._source.userStatus}}</span></div>
          <div class="styleInfo"><span>OCCUPATION: </span><span class="styleInfo-data">{{styleBoards[3]._source.occupation}}</span></div>
          <div class="SHareSTylePic">
            <img class="img-responsive" src="{{styleBoards[3]._source.profilePic}}">
          </div>
        </div> 
        <div class="col-md-6 padding0">
          <div class="fs-pl150 styleInfo fs-mt30">
            <span>STYLE ICON: </span>
            <span class="styleInfo-data" *ngFor="let icon of styleBoards[3]._source.styleIcon">{{icon.name}}</span>
          </div>
          <div class="fs-pl150 styleInfo">
            <span>FAVORITE ACCESSORY: </span>
            <span class="styleInfo-data" *ngFor="let item of styleBoards[3]._source.accessories">{{item}}</span>
          </div>
        </div>
        <div class="col-md-12 padding0 fs-mt30 fs-mb20"><h3 class="text-center shareCardTitle">{{styleBoards[3]._source.title}}</h3></div>
        <div class="col-md-12 padding0">
          <div class="col-md-12 padding0">
            <div class="col-md-3 col-md-3a padding0 h200 fs-mb5 fs-mr5">
              <a [routerLink] = "['/product/'+styleBoards[3]._source.products[0].product.slug]"> <img src="{{styleBoards[3]._source.products[0].image}}" class="img-responsive">
              </a>
              </div>
            <div class="col-md-3 col-md-3a padding0 h200 fs-mb5 fs-mr5 thumbnail text-center">
              <p>{{styleBoards[3]._source.textTile[0]}}</p>
            </div>
            <div class="col-md-3 col-md-3a padding0 h200 fs-mb5 fs-mr5">
              <a [routerLink] = "['/product/'+styleBoards[3]._source.products[1].product.slug]"><img src="{{styleBoards[3]._source.products[1].image}}" class="img-responsive">
              </a> <!-- <span>Lorem</span> -->
            </div>
            <div class="col-md-3 col-md-3a padding0 h200 fs-mb5 fs-mr5">
              <a [routerLink] = "['/product/'+styleBoards[3]._source.products[3].product.slug]"><img src="{{styleBoards[3]._source.products[2].image}}" class="img-responsive">
              </a>
              </div>
          </div>
          <div class="col-md-12 padding0">
            <div class="col-md-6 padding0">
              <div class="col-md-6 col-md-6a padding0 h200 fs-mb5 fs-mr5">
                <a [routerLink] = "['/product/'+styleBoards[3]._source.products[3].product.slug]"> <img src="{{styleBoards[3]._source.products[3].image}}" class="img-responsive">
                </a><!-- <span>Lorem</span> -->
              </div>
              <div class="col-md-6 col-md-6a padding0 h200 fs-mb5 fs-mr5">
                <a [routerLink] = "['/product/'+styleBoards[3]._source.products[4].product.slug]"><img src="{{styleBoards[3]._source.products[4].image}}" class="img-responsive">
                </a>
                </div>
              <div class="col-md-6 col-md-6a padding0 h200 fs-mr5 thumbnail text-center fs-mb0">
                <p>{{styleBoards[3]._source.textTile[1]}}</p>
              </div>
              <div class="col-md-6 col-md-6a padding0 h200 fs-mr5">
                <a [routerLink] = "['/product/'+styleBoards[3]._source.products[5].product.slug]"><img src="{{styleBoards[3]._source.products[5].image}}" class="img-responsive">
                </a>
                </div>
            </div>
            <div class="col-md-6 padding0 flex">
              <div class="col-md-6 col-md-6a h451 padding0 fs-mr5">
                <a [routerLink] = "['/product/'+styleBoards[3]._source.products[6].product.slug]"><img  src="{{styleBoards[3]._source.products[6].image}}" class="img-responsive h451a">
                </a>
                </div>
              <div class="col-md-6 col-md-6a h451 padding0">
                <div class="col-md-12 padding0 h233 fs-mb5 thumbnail text-center">
                  <p>{{styleBoards[3]._source.textTile[2]}}</p></div>
                <div class="col-md-12 padding0 h233 fs-mb5">
                  <a [routerLink] = "['/product/'+styleBoards[3]._source.products[7].product.slug]"> <img on-click="goToProduct(styleBoards[3]._source.products[7].product.slug)" src="{{styleBoards[3]._source.products[7].image}}" class="img-responsive" style=""><span style="position: absolute; bottom: 10px; width: 100%; text-align: center; color: #333;"></span>
                  </a>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 padding0"><span style="position: absolute;
left: 0;
right: 0;
max-width: 370px;
margin: 0 auto;
border: 1px solid #ccc;
font-size: 20px;
text-align: center;
line-height: 20px;
float: left;
font-family: helvetica;
padding: 10px 0;
background-color: #fff;
bottom: -70px; font-weight: 100;">Show Us Your #Flikstyle</span></div>
      </div>
    </div>
  </div>
              </div>      
            </div>
          </div>




          <!--<div class="item">
            <div class="row">
              <div class="col-md-12 col-xs-12 ">
  <div class="container fs-mt30" style="width: 986px;">
    <div class="col-md-12 padding0 shareStyleCard shareStyleCard1">
      <div class="col-md-12 padding0">
        <div class="col-md-6 padding0">
          <div class="styleInfo fs-mt30"><span>HOME TOWN: </span><span class="styleInfo-data">{{styleboard._source.userStatus}}</span></div>
          <div class="styleInfo"><span>AGE: </span><span class="styleInfo-data">{{styleboard._source.occupation}}</span></div>
          <div class="styleInfo"><span>OCCUPATION: </span><span class="styleInfo-data">{{styleboard._source.occupation}}</span></div>
          <div class="SHareSTylePic">
            <img class="img-responsive" src="{{styleboard._source.profilePic}}">
          </div>
        </div> 
        <div class="col-md-6 padding0">
          <div class="fs-pl150 styleInfo fs-mt30">
            <span>MEMBER SINCE: </span>
            <span class="styleInfo-data" *ngFor="let icon of styleboard._source.styleIcon">{{icon.name}}</span>
          </div>
          <div class="fs-pl150 styleInfo">
            <span>STYLE ICON: </span>
            <span class="styleInfo-data" *ngFor="let icon of styleboard._source.styleIcon">{{icon.name}}</span>
          </div>
          <div class="fs-pl150 styleInfo">
            <span>FAVORITE ACCESSORY: </span>
            <span class="styleInfo-data" *ngFor="let item of styleboard._source.accessories">{{item}}</span>
          </div>
        </div>
        <div class="col-md-12 padding0 fs-mt30 fs-mb20"><h3 class="text-center shareCardTitle">{{styleboard._source.title}}</h3></div>
        <div class="col-md-12 padding0">
          <div class="col-md-12 padding0">
            <div class="col-md-3 col-md-3a padding0 h200 fs-mb5 fs-mr5">
              <img on-click="goToProduct(styleboard._source.products[0].product.slug)" src="{{styleboard._source.products[0].image}}" class="img-responsive">
              <span>Lorem</span>
            </div>
            <div class="col-md-3 col-md-3a padding0 h200 fs-mb5 fs-mr5 thumbnail text-center">
              <p>{{styleboard._source.textTile[0]}}</p>
            </div>
            <div class="col-md-3 col-md-3a padding0 h200 fs-mb5 fs-mr5">
              <img on-click="goToProduct(styleboard._source.products[1].product.slug)" src="{{styleboard._source.products[1].image}}" class="img-responsive">
              <span>Lorem</span>
            </div>
            <div class="col-md-3 col-md-3a padding0 h200 fs-mb5 fs-mr5">
              <img on-click="goToProduct(styleboard._source.products[2].product.slug)" src="{{styleboard._source.products[2].image}}" class="img-responsive">
            </div>
          </div>
          <div class="col-md-12 padding0">
            <div class="col-md-6 padding0">
              <div class="col-md-6 col-md-6a padding0 h451 fs-mb5 fs-mr5">
                <img on-click="goToProduct(styleboard._source.products[3].product.slug)" src="{{styleboard._source.products[3].image}}" class="img-responsive h451">
              </div>
              <div class="col-md-6 col-md-6a padding0 h200 fs-mb5 fs-mr5">
                <img on-click="goToProduct(styleboard._source.products[5].product.slug)" src="{{styleboard._source.products[5].image}}" class="img-responsive">
              </div>
              <div class="col-md-6 col-md-6a padding0 h200 fs-mb5 fs-mr5 thumbnail text-center">
                <p>{{styleboard._source.textTile[1]}}</p>
              </div>
            </div>
            <div class="col-md-6 padding0">
              <div class="col-md-6 col-md-6a h200 padding0 fs-mr5">
                <img on-click="goToProduct(styleboard._source.products[6].product.slug)" src="{{styleboard._source.products[6].image}}" class="img-responsive ">
                <span style="position: absolute; bottom: 10px; width: 100%; text-align: center; color: #333;">Lorem Ipsum</span>
              </div>
              <div class="col-md-6 col-md-6a padding0 h200 fs-mb5 fs-mr5 thumbnail text-center">
                <p>{{styleboard._source.textTile[1]}}</p>
              </div>
              <div class="col-md-6 col-md-6a h200 padding0 fs-mr5">
                <img on-click="goToProduct(styleboard._source.products[6].product.slug)" src="{{styleboard._source.products[6].image}}" class="img-responsive ">
                <span style="position: absolute; bottom: 10px; width: 100%; text-align: center; color: #333;">Lorem Ipsum</span>
              </div>
              <div class="col-md-6 col-md-6a h200 padding0">
                  <img on-click="goToProduct(styleboard._source.products[7].product.slug)" src="{{styleboard._source.products[7].image}}" class="img-responsive" style="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
              </div>   
            </div>
          </div>-->
        </div>
        <a rel="canonical" data-slide="prev" href="/#media2" class="left carousel-control"><i _ngcontent-c3="" _ngcontent-c1="" aria-hidden="true" class="fa fa-angle-left"></i></a>
        <a rel="canonical" data-slide="next" href="/#media2" class="right carousel-control"><i _ngcontent-c3="" _ngcontent-c1="" aria-hidden="true" class="fa fa-angle-right"></i></a>
      </div>                          
    </div>
  </div>
</div>
</div> 





  <!--<div class="container fs-mt30">
    <div class="col-md-12 padding0 shareStyleCard">
      <div class="col-md-12 padding0">
        <div class="col-md-6 padding0">
          <div class="styleInfo fs-mt30"><span>STATUS: </span><span class="styleInfo-data">Single</span></div>
          <div class="styleInfo"><span>OCCUPATION: </span><span class="styleInfo-data">Student</span></div>
          <div class="SHareSTylePic">
            <img class="img-responsive" src="http://www.cinespot.net/gallery/d/2208334-1/Jr+NTR+in+Maa+Naannaku+Prematho.jpg">
          </div>
        </div>
        <div class="col-md-6 padding0">
          <div class="fs-pl150 styleInfo fs-mt30"><span>STYLE ICON: </span><span class="styleInfo-data">Samantha,</span><span class="styleInfo-data">Deepika padhukone</span></div>
          <div class="fs-pl150 styleInfo"><span>FAVORITE ACCESSORY: </span><span class="styleInfo-data">Sunglasses,</span><span class="styleInfo-data">Shoes</span></div>
        </div>
        <div class="col-md-12 padding0 fs-mt50 fs-mb20"><h3 class="text-center shareCardTitle">Lee Anne's Style Board</h3></div>
        <div class="col-md-12 padding0">
          <div class="col-md-12 padding0">
            <div class="col-md-3 col-md-3a padding0 h200 fs-mb5 fs-mr5">
              <img src="http://www.cinespot.net/gallery/d/2208334-1/Jr+NTR+in+Maa+Naannaku+Prematho.jpg" class="img-responsive">
            </div>
            <div class="col-md-3 col-md-3a padding0 h200 fs-mb5 fs-mr5 thumbnail text-center">
              <p>"Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum "</p>
            </div>
            <div class="col-md-3 col-md-3a padding0 h200 fs-mb5 fs-mr5">
              <img src="http://www.cinespot.net/gallery/d/2208334-1/Jr+NTR+in+Maa+Naannaku+Prematho.jpg" class="img-responsive">
              <span>Lorem</span>
            </div>
            <div class="col-md-3 col-md-3a padding0 h200 fs-mb5 fs-mr5">
              <img src="http://www.cinespot.net/gallery/d/2208334-1/Jr+NTR+in+Maa+Naannaku+Prematho.jpg" class="img-responsive">
            </div>
          </div>
          <div class="col-md-12 padding0">
            <div class="col-md-6 padding0">
              <div class="col-md-6 col-md-6a padding0 h200 fs-mb5 fs-mr5">
                <img src="http://www.cinespot.net/gallery/d/2208334-1/Jr+NTR+in+Maa+Naannaku+Prematho.jpg" class="img-responsive"><span>Lorem</span>
              </div>
              <div class="col-md-6 col-md-6a padding0 h200 fs-mb5 fs-mr5">
                <img src="http://www.cinespot.net/gallery/d/2208334-1/Jr+NTR+in+Maa+Naannaku+Prematho.jpg" class="img-responsive">
              </div>
              <div class="col-md-6 col-md-6a padding0 h200 fs-mb5 fs-mr5 thumbnail text-center">
                <p>"Lorem Ipsum Lorem Ipsum Lorem Ipsum "</p>
              </div>
              <div class="col-md-6 col-md-6a padding0 h200 fs-mb5 fs-mr5">
                <img src="http://www.cinespot.net/gallery/d/2208334-1/Jr+NTR+in+Maa+Naannaku+Prematho.jpg" class="img-responsive">
              </div>
            </div>
            <div class="col-md-6 padding0 flex">
              <div class="col-md-6 col-md-6a h451 padding0 fs-mr5">
                <img src="http://www.cinespot.net/gallery/d/2208334-1/Jr+NTR+in+Maa+Naannaku+Prematho.jpg" class="img-responsive h451">
              </div>
              <div class="col-md-6 col-md-6a h451 padding0">
                <div class="col-md-12 padding0 h233 fs-mb5 thumbnail text-center"><p>"Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum"</p></div>
                <div class="col-md-12 padding0 h233 fs-mb5">
                  <img src="http://www.cinespot.net/gallery/d/2208334-1/Jr+NTR+in+Maa+Naannaku+Prematho.jpg" class="img-responsive" style="width: 100px; margin: 0 auto;"><span style="position: absolute; bottom: 10px; width: 100%; text-align: center; color: #333;">Lorem Ipsum</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 padding0"><span style="position: absolute;
left: 0;
right: 0;
width: 250px;
margin: 0 auto;
border: 1px solid #ccc;
font-size: 20px;
text-align: center;
line-height: 20px;
float: left;
font-family: helvetica;
padding: 4px 0;
background-color: #fff;
bottom: -65px; font-weight: 100;">Show Us Your #Flikstyle</span></div>
      </div>
    </div>
  </div>-->






<div  class="container-fluid col-md-12 mob-plr7" *ngIf="shopTheLook">
<div class="container fs-shoplook bg-white padding0" style="">
<h3 class="text-left">SHOP THE LOOK</h3>
<h5><span>Need some inspiration?</span><a  [routerLink] = "['/see-all/shop-the-look/home']" class="pull-right">Show all</a></h5>
<div class="mob-scrl pull-left col-md-12">

<div class='row1'>
    <div class='col-md-12 padding0'>
      <div class="carousel slide media-carousel" id="media12">
        <div class="carousel-inner">
          <div class="item active">
            <div class="row1 r1">
              <div *ngFor="let item of shopTheLook | slice:0:4;" class="col-md-3 col-xs-3">

                <a rel="canonical" class="thumbnail hidden-xs"  [routerLink] = "['/looks/'+item.slug]" target="_blank"><img alt="" src="{{item.profilePic}}"></a>
                <a rel="canonical" class="thumbnail visible-xs"  [routerLink] = "['/looks/'+item.slug]" ><img alt="" src="{{item.profilePic}}"></a>
                  <span class="text-uppercase">{{item.title}}</span>
                  <!-- <span class="text-uppercase">Rs. {{item.price}}/-</span> -->
              </div> 
            </div>
          </div>
          <div class="item">
              <div class="row1 r1">
                <div *ngFor="let item of shopTheLook | slice:4:8;" class="col-md-3 col-xs-3">

                  <a rel="canonical" class="thumbnail hidden-xs"  [routerLink] = "['/looks/'+item.slug]" target="_blank" ><img alt="" src="{{item.profilePic}}"></a>
                  <a rel="canonical" class="thumbnail visible-xs"  [routerLink] = "['/looks/'+item.slug]" ><img alt="" src="{{item.profilePic}}"></a>

                  <!-- <a rel="canonical" class="thumbnail"  [routerLink] = "['/looks/'+item.slug]" target="_blank"><img alt="" src="{{item.profilePic}}"></a> -->

                  <span class="text-uppercase">{{item.title}}</span>
                  <!-- <span class="text-uppercase">Rs. {{item.price}}/-</span> -->
                </div> 
              </div>
          </div>
        </div>
        <a on-click='checkitem()' rel="canonical" data-slide="prev" href="/#media12" class="left carousel-control">
          <img _ngcontent-c0="" class="" src="../../../assets/img/arrowleft.png">
        </a>
        <a on-click='checkitem()' rel="canonical" data-slide="next" href="/#media12" class="right carousel-control">
          <img _ngcontent-c0="" class="" src="../../../assets/img/arrowright.png">
        </a>
      </div>                          
    </div>
  </div>

<!-- <div *ngFor=" let item of shopTheLook; let i=index" class="col-md-3 col-sm-3 fs-shoplook-dv padding0">
  <div class="col-md-12 padding0"  *ngIf="i<4">
    <a [routerLink] = "['/looks/'+item._source.slug]" class="pull-left" target="_blank"> <div class="col-md-12 padding0 fs-shoplookpic">
      <img src="{{item._source.profilePic}}" alt="" class="img-responsive">
    <div class="overlay"><span>Shop</span></div>
    </div></a>
    <div *ngIf="item._source.products" class="col-md-12 fs-relpro padding0" style="display: none;">
      <div class="col-md-4 padding0" *ngFor="let prods of item._source.products; let j=index">
        <div  class="col-md-12 padding0 shop-products" *ngIf="j<3">
          <a [routerLink] = "['/product/'+prods.productSlug]"><img src="{{prods.productProfilePic}}" alt="" class="img-responsive">
          <div class=""><span>Shop</span></div></a>
        </div>
      </div>
    </div>
    <div class="text-center">{{item._source.title}}</div>
  </div> -->
</div>
</div>

</div>



<div class="container-fluid col-md-12 fs-mt30 mob-fs-mt15 mob-plr7">
  <div class="container bg-white bidnw" style="">
    <h3>BID NOW</h3>
      <h5><span>Rare Collections of celebrity products</span>
        <!-- <a class="pull-right">Show all</a> -->
      </h5>
    <!-- <div class="col-md-4 col-sm-4 beinspired">
      <ul class="list-unstyled inspired-list">
        <li>WIN exclusive celebrity owned items through a direct online auction.</li>
        <li>Show the world your passion! Take a leap towards owning latest celebrity memorabilia</li>
        <li>Get started to be the first to own your favorite celebrity's collection.</li>
      </ul>
    </div> -->
    <div class="mob-bidnw1">
    <div class="col-md-4 col-sm-4 bidnw1">
      <a target="_blank" class="hidden-xs">
    <img src="../../../assets/img/current image.png">
    <button [routerLink] = "['/auctions']">CURRENT AUCTIONS</button></a>
    <a class="visible-xs">
    <img src="../../../assets/img/current image.png">
    <button [routerLink] = "['/auctions']">CURRENT AUCTIONS</button></a>
    </div>
    <div class="col-md-4 col-sm-4 bidnw1">
      <a target="_blank" class="hidden-xs">
<img src="../../../assets/img/111.png">
    <button [routerLink] = "['/auctions']">UPCOMING AUCTIONS</button></a>
    <a class="visible-xs">
<img src="../../../assets/img/111.png">
    <button [routerLink] = "['/auctions']">UPCOMING AUCTIONS</button></a>
    </div>
    <div class="col-md-4 col-sm-4 Auction hidden-xs hidden-sm">
      <div><img src="../../../assets/img/bid.png" alt="image">
        <!-- <i class="fa fa-legal" aria-hidden="true"></i> --><br>Auctions<br><button [routerLink] = "['/auctions']" class="btn btn-default">Get Started</button>
      </div>
    </div>
    </div>
  </div>
</div>

<div class="container-fluid col-md-12 fs-mt30 fs-mb50 mob-fs-mt15 mob-fs-mb15 mob-plr7">
  <div class="container padding0">
    <carousel [data]="latestObsessions" [type]="latestObsessionstxt"></carousel>
  </div>
</div>

<!-- <div class="container-fluid col-md-12 fs-mt30 fs-mb50 brnds">
  <div class="container bg-white ">
    <h3>BRANDS<br><span style="color: rgb(114,114,114); font-size: 16px;">Checkout collections from your favourite brands</span></h3>
    <div class="col-md-6 col-sm-6 brnds-dv"></div>
    <div class="col-md-6 col-sm-6 brnds-dv"></div>
  </div>
</div> -->
<!--<carousel [data]="shopbyVideosData" [type]="shopbyvideos"></carousel>-->


<div *ngIf="widgets">
    <div *ngFor="let widget of widgets | slice:0:show; let i=index" class="container fs-ProductsType">
      <div class="row">
      <a rel="canonical"><h2 class="text-left">{{widget._source.title}}</h2></a>
      </div>
      <div class='row'>
        <div class="col-md-4 fs-pl0">
          <div class="col-md-12 col-xs-12 pull-left fs-collectionsPic"><img src="{{widget._source.image}}" alt="image" class="col-md-12 img-responsive padding0 center-block" >
                <!-- <span class="glyphicon glyphicon-play-circle fs-glyph-play"></span> -->
          </div>
          
          <div class="fs-association-data col-md-12 col-xs-12">
                  <div class="fs-pic"><img class="img-circle" src="{{widget._source.item.profilePic}}"></div>
                  <div class="fs-info col-md-9 col-xs-7">
                    <div class="fs-title"><a rel="canonical" [routerLink]="['/'+widget._source.item.type,widget._source.item.slug]">{{widget._source.item.name}}</a></div>
                    <div class="fs-asso-hash">
                    <span *ngFor="let role of widget._source.item.role">#{{role}}</span>
                    </div>
                  </div>
                  <!-- <div class="fs-follow col-md-3 col-xs-2"><button class="pull-right">Follow</button></div> -->
    
          </div>
        </div>
        <div class='col-md-8'>
          <div class="carousel slide media-carousel" id="media{{i}}">
          <!--<h5 class="text-right fs-seemore"><a rel="canonical" on-click="goToClothing()"  class="">See More</a></h5>-->
            <!--<div class="carousel-inner">-->
              <!--<div class="item  active">-->
                <div class="row">
                  <div class="col-md-3 col-xs-3" *ngFor="let product of widget._source.products">
                    <a rel="canonical" class="thumbnail" [routerLink] = "['/product/'+product._source.slug]"><img alt="" src="{{product._source.profilePic}}"></a>
                    <span class="text-uppercase">{{product._source.name}}</span><br>
                    <span>{{product._source.brand}}</span><br><span>&#8377;{{product._source.price}}/-</span>
                  </div>            
                </div>
              <!--</div>-->
              <!--<div class="item">-->
                <!--<div class="row">
                  <div class="col-md-3 col-xs-3" *ngFor="let item of fourArray">
                    <a rel="canonical" class="thumbnail" ><img alt="" src="http://content.flikster.com/celeb/SHILPA-SHETTY-IN-WHITE-FRILLS-D.jpg"></a>
                    <span class="text-uppercase">Short Dress With 3/4 Ruffled Sleeves</span><br>
                    <span>Description</span><br><span>&#8377;28,499/-</span>
                  </div>            
                </div>-->
              <!--</div>-->
            <!--</div>-->
            <!--<a rel="canonical" data-slide="prev" href="/#media{{i}}" class="left carousel-control"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>-->
            <!--<a rel="canonical" data-slide="next" href="/#media{{i}}" class="right carousel-control"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>-->
          </div>                          
        </div>
      </div>    
    </div>
</div>


<footer></footer>



<login *ngIf="displayLoginPopup" (closeLoginPopup)="closeLoginPopup($event)"></login>

