
<div *ngIf="!isMiniCard && contentData" class="thumbnail col-md-12 col-xs-12 padding0">
  <card-associationdata [time]='ShowTime' [date]='time' [assnData]="assnData"> </card-associationdata>
  
  <div on-click="gotocontent()" class="col-md-12 col-xs-12 pull-left padding0"><img src= "{{contentData.profilePic}}" class="img-responsive">
  
  </div>
  
  <card-socialbar [content]="content" [contentData]="contentData" [cardId]="cardId" [shareSlug]='shareSlug' [shareProfilePic]='shareProfilePic' [image]="image"></card-socialbar>

  <div class="col-md-12 col-sm-12 col-xs-12 pull-left padding0">
      <div class="col-md-12 col-sm-12 col-xs-12 fs-title-heading bgWhite">
        <h1 on-click="gotocontent()">{{contentData.title}}</h1>
        <p *ngIf='page=="feed"' class="text-justify news-read-more" [innerHTML]=contentData.text></p>
        <p *ngIf='page=="content"' class="text-justify" [innerHTML]=contentData.text></p>
        <p *ngIf='page=="feed"' on-click="gotocontent()"><span>Read More</span></p>
        <!-- <p [routerLink] = "['/content',contentData.contentSlug]"><span>Read More</span></p> -->
      </div>
  </div>
  <div class="padding0 col-md-12 col-sm-12 col-xs-12 pull-left bgWhite">
    <card-comments [cardId]="cardId"></card-comments>
  </div>

</div>

 
<div *ngIf="contentData" class="col-md-12 col-xs-12 padding0">
  <div *ngIf="isMiniCard && page !='content'" class=" col-md-12 col-xs-12 padding0" style="border:1px solid #ddd;">
      
    <a [routerLink] = "['/content/'+contentData.slug]" target="_blank"><div  class="col-md-12 col-xs-12 pull-left padding0 hei200 hei260"><img src= "{{contentData.profilePic}}" alt="">
    </div></a>
    <card-associationdata [time]='ShowTime' [date]='time' [assnData]="assnData"></card-associationdata>
   

      
    <div class="col-md-12 col-sm-12 col-xs-12 pull-left padding0">
        <div class="col-md-12 col-sm-12 col-xs-12 fs-title-heading bgWhite">
          <h1 on-click="gotocontent()">{{contentData.title}}</h1>
          <p class="text-justify readmore" [innerHTML]=contentData.text></p>
          <a on-click="gotocontent()">read more</a>
        </div>
    </div>
    
    <card-socialbar *ngIf='page !="industry"' [content]="content" [contentData]="contentData" [cardId]="cardId" [shareSlug]='shareSlug' [shareProfilePic]='shareProfilePic' [image]="image" ></card-socialbar>

  </div>
  <div *ngIf="isMiniCard && page =='content'" class=" col-md-12 col-xs-12 padding0" style="border:1px solid #ddd;">
    
  <a  on-click="gotocontent()" target="_blank"><div  class="col-md-12 col-xs-12 pull-left padding0 hei200 hei260"><img src= "{{contentData.profilePic}}" alt="">
  </div></a>
  <card-associationdata [time]='ShowTime' [date]='time' [assnData]="assnData"></card-associationdata>
 

    
  <div class="col-md-12 col-sm-12 col-xs-12 pull-left padding0">
      <div class="col-md-12 col-sm-12 col-xs-12 fs-title-heading bgWhite">
        <h1 on-click="gotocontent()">{{contentData.title}}</h1>
        <p class="text-justify readmore" [innerHTML]=contentData.text></p>
        <a on-click="gotocontent()">read more</a>
      </div>
  </div>
  
  <card-socialbar [content]="content" [contentData]="contentData" [cardId]="cardId" [shareSlug]='shareSlug' [shareProfilePic]='shareProfilePic' [image]="image" ></card-socialbar>

</div>
</div>