<div  class="container-fluid fs-header ">
    <div class="container">
        <div class="row">
            
            <div *ngIf="!isShowSearch" class="col-md-4 col-xs-1 col-sm-1 padding0 hide1">

                <button *ngIf='checkMenu(pageTitle)' type="button" class="navbar-toggle block1" data-toggle="collapse" data-target="#fs-menu"><img alt="image" class="" src="../../../assets/img/hamburger.svg" style="width: 24px;">
    </button>
      <button on-click="goBack()" *ngIf='checkBack(pageTitle)' type="button" class="navbar-toggle back" data-toggle="collapse" data-target="">
        <img alt="image" class="" 
        src="../../../assets/img/back.svg" style="height: 22px;">
    </button>

    <div class="mob-menu-overly"></div>
                <nav class="nav navbar-nav fs-menu" id="fs-menu">
                    <div class="mob-menu-bg hidden-md" style="display: none;"></div>
                    <ul class="nav navbar-nav">
                        <!--<li on-click="toggleLogin()">{{testLogin}}</li>-->
<div *ngIf="isLoggedIn" class="col-xs-12 fs-user-mob-menu fs-mtb10 pull-left visible-xs visible-sm hidden-lg"><img src="{{tempUser.profilePic}}" alt="image" class="">
<span class="">{{username}}</span></div>

                        <li *ngIf="!isLoggedIn" class="active dropdown"><a rel="canonical" class="dropdown-toggle" data-toggle="dropdown" href="#">Feed <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                            <ul class="dropdown-menu">
                                <li class="text-left"><a rel="canonical" [routerLink]="['/industry/bollywood']">Bollywood</a></li>
                                <li class="text-left"><a rel="canonical" [routerLink]="['/industry/tollywood']">Tollywood</a></li>
                                <li class="text-left"><a rel="canonical" [routerLink]="['/industry/kollywood']">Kollywood</a></li>
                                <li class="text-left"><a rel="canonical" [routerLink]="['/industry/sandalwood']">Sandalwood</a></li>
                                <li class="text-left"><a rel="canonical" [routerLink]="['/industry/mollywood']">Mollywood</a></li>
                            </ul>
                        </li>


                        <li *ngIf="isLoggedIn && isFeedPage" class="active dropdown"><a rel="canonical" class="dropdown-toggle" data-toggle="dropdown" href="#">Feed <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                            <ul class="dropdown-menu dropdown-menu-feed hidden-xs hidden-sm">
                                <li class="text-left"><a rel="canonical" [routerLink]="['/feed/'+industry+'/audio-song']">Audio Song</a></li>
                                <li><a rel="canonical" [routerLink]="['/feed/'+industry+'/comedy-clip']">Comedy Clip</a></li>
                                <!-- <li><a rel="canonical" [routerLink]="['/feed/'+industry+'/critic-review']">Critic Review</a></li> -->
                                <!-- <li class="text-left"><a rel="canonical" [routerLink]="['/feed/'+industry+'/dialouge']">Dialouge</a></li> -->
                                <li><a rel="canonical" [routerLink]="['/feed/'+industry+'/first-look']">First Look</a></li>
                                <li><a rel="canonical" [routerLink]="['/feed/'+industry+'/gallery']">Gallery</a></li>
                                <li class="text-left"><a rel="canonical" [routerLink]="['/feed/'+industry+'/interview']">Interview</a></li>
                                <li><a rel="canonical" [routerLink]="['/feed/'+industry+'/movie-making']">Movie Making</a></li>
                                <li><a rel="canonical" [routerLink]="['/feed/'+industry+'/news']">News</a></li>
                                <li class="text-left"><a rel="canonical" [routerLink]="['/feed/'+industry+'/poster']">Poster</a></li>
                                <!-- <li><a rel="canonical" [routerLink]="['/feed/'+industry+'/quote']">Quote</a></li> -->
                                <li><a rel="canonical" [routerLink]="['/feed/'+industry+'/social-buzz']">Social Buzz</a></li>
                                <li class="text-left"><a rel="canonical" [routerLink]="['/feed/'+industry+'/teasers-promos']">Teasers & Promos</a></li>
                                <li><a rel="canonical" [routerLink]="['/feed/'+industry+'/trailer']">Trailer</a></li>
                                <li><a rel="canonical" [routerLink]="['/feed/'+industry+'/tweet']">Tweets</a></li>
                                <li><a rel="canonical" [routerLink]="['/feed/'+industry+'/video-song']">Video Song</a></li>
                                 </ul>
                                 <ul class="dropdown-menu dropdown-menu-feed hidden-lg hidden-md">
                                    <li class="text-left"><a rel="canonical" on-click="gotofeed('feed','bollywood')" >Bollywood</a></li>
                            <li class="text-left"><a rel="canonical" on-click="gotofeed('feed','tollywood')" >Tollywood</a></li>
                            <li class="text-left"><a rel="canonical" on-click="gotofeed('feed','kollywood')" >Kollywood</a></li>
                            <li class="text-left"><a rel="canonical" on-click="gotofeed('feed','sandalwood')">Sandalwood</a></li>
                            <li class="text-left"><a rel="canonical" on-click="gotofeed('feed','mollywood')">Mollywood</a></li> </ul>
                        </li>

                        <li *ngIf="isLoggedIn && !isFeedPage" class="active dropdown"><a rel="canonical" class="dropdown-toggle" data-toggle="dropdown" [routerLink]="['/feed']">Feed</a>
                        </li>

                        <li class="dropdown"><a rel="canonical" class="dropdown-toggle" data-toggle="dropdown" >Fashion <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                            <ul class="dropdown-menu">
                                <li class="text-left"><a rel="canonical" [routerLink]="['/womenfashion']">Women's Fashion</a></li>
                                <li class="text-left"><a rel="canonical" [routerLink]="['/menfashion']">Men's Fashion</a></li>
                                <li class="text-left"><a rel="canonical" [routerLink]="['/celeb-store']">Celebrity Store</a></li>
                                <li class="text-left"><a rel="canonical" [routerLink]="['/movie-store']">Movie Store</a></li>
                                <li class="text-left"><a rel="canonical" [routerLink]="['/designer-store']">Designer Store</a></li>
                            </ul>
                        </li>
                        <li class="dropdown"><a rel="canonical" class="dropdown-toggle" data-toggle="dropdown" [routerLink]="['/auctions']">Auctions </a>
                            <ul class="dropdown-menu">
                                <li class="text-left"><a rel="canonical" [routerLink]="['/auctions/current']">Current</a></li>
                                <li class="text-left"><a rel="canonical" [routerLink]="['/auctions/upcoming']">Upcoming</a></li>
                            </ul>
                        </li>
                        <div *ngIf="!isLoggedIn" class="hidden-lg hidden-md col-xs-12 padding0">
                        <li><a rel="canonical" on-click="goToLogin('login')" style="padding:0 0 15px 15px; float: left; margin-top: 20px;">Login</a></li>
                        <li><a rel="canonical" on-click="goToLogin('signup')" style="padding:0 0 15px 15px; float: left;" >Create Account</a></li>
                        </div>
                        <div *ngIf="isLoggedIn"  class="hidden-lg hidden-md">
                         <li><a  [routerLink]="['/user']" style="padding:0 0 15px 15px; float: left;">My Account</a></li>   
                         <li><a [routerLink] = "['/orders']" style="padding:0 0 15px 15px; float: left;">Orders</a></li>   
                         <!-- <li><a style="padding:0 0 15px 15px; float: left;">Whislist</a></li>    -->
                         <li><a [routerLink] = "['/refer-a-friend']" style="padding:0 0 15px 15px; float: left;">Refer A Friend</a></li>   
                         <li><a [routerLink]="['/rewards']" style="padding:0 0 15px 15px; float: left;">My Rewards</a></li>   
                        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <a itemprop="item" on-click="logout()"  style="padding:0 0 15px 15px; float: left; "> <span itemprop="name">Logout</span></a>
                        <meta itemprop="position" content="8" />
                    </li>
                        </div>
                        <li *ngIf="!isLoggedIn" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="hidden-lg hidden-md visible-xs visible-sm visible-sm" style="border-bottom: 0; margin-bottom: 0;">
                        <a itemprop="item" [routerLink] = "['/refer-a-friend']" > <span itemprop="name">Refer A Friend</span></a>
                        <meta itemprop="position" content="4" />
                    </li>
                        <!-- <li><a rel="canonical" >Flikster Credits</a></li> -->
                        <li *ngIf="!isLoggedIn" class="hidden-lg hidden-md visible-xs visible-sm" style="border-bottom: 0;"><a rel="canonical" [routerLink]="['/rewards']">My Rewards</a></li>
                        <div class="hidden-lg hidden-md visible-xs visible-sm" style="float: left;
    width: 100%; margin-top: 50px;">
                        <li><a rel="canonical" [routerLink] = "['/privacy']" style="padding:0 0 15px 15px; float: left; width: 100%; color: #7e7e7e;">Privacy</a></li>
                        <li class="text-left"><a rel="canonical" [routerLink] = "['/contact']"  style="padding:0 0 15px 15px; float: left; width: 100%; color: #7e7e7e;">Contact Us</a></li>
                        </div>
                    </ul>
                </nav>
            </div>
            <div *ngIf="isLoggedIn && !isShowSearch" class="col-md-2 col-md-offset-1 col-sm-2 col-xs-4 text-center padding0 hide1">
                <ul class="nav navbar-nav fs-mstore-flk-login">

                    <li class="active dropdown" ><img [routerLink]="['/home']" class="flikster-logo" src="../../../assets/img/logo36x36.png"><a rel="canonical" class="dropdown-toggle flk  fs-mstore-flk hidden-xs hidden-sm" data-toggle="dropdown" >{{industry}} <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                        <ul class="dropdown-menu hidden-xs hidden-sm">
                            <li class="text-left"><a rel="canonical" on-click="gotofeed('feed','bollywood')" >Bollywood</a></li>
                            <li class="text-left"><a rel="canonical" on-click="gotofeed('feed','tollywood')" >Tollywood</a></li>
                            <li class="text-left"><a rel="canonical" on-click="gotofeed('feed','kollywood')" >Kollywood</a></li>
                            <li class="text-left"><a rel="canonical" on-click="gotofeed('feed','sandalwood')">Sandalwood</a></li>
                            <li class="text-left"><a rel="canonical" on-click="gotofeed('feed','mollywood')">Mollywood</a></li>
                        </ul>


                    </li>
                </ul>



            </div>
            <div *ngIf="!isLoggedIn && !isShowSearch" class="col-md-2 col-md-offset-1 col-sm-2 col-xs-5 text-center padding0 hide1 flkalign">
                <a rel="canonical" [routerLink]="['/home']" class="hidden-xs">

                    <h3 class="flk  fs-mstore-flk">flikster</h3>
                </a>
                <a rel="canonical" [routerLink]="['/home']" class="visible-xs hidden-md text-right">

                    <h3 class="flk  fs-mstore-flk " style="border-bottom: none;"><img [routerLink]="['/home']" class="flikster-logo visible-xs pull-right" src="../../../assets/img/logosign.png" style="width:30px;height: 30px;"></h3>
                </a>

            </div>
            <div on-click="disable()" *ngIf='isShowSearch' class="searchDiv-layer"></div>
            <div [style.width]="isShowSearch ? '100%' : null" class="col-md-5 col-sm-5 col-xs-4 space">
                <button type="button" class="navbar-toggle block hidden-xs hidden-sm" data-toggle="collapse" data-target="#myNavbar" (click)="showselected()">
        <!-- <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> -->
        <img src="../../../assets/img/hamburger.png" alt="" class="">
    </button>
    <span class="fa fa-shopping-bag hidden-lg hidden-xs hidden-lg hidden-md hidden-sm" style="float: right;
    color: rgb(114, 114, 114); margin: 17px 0 0;font-size: 18px;"></span>
                <div class="hidden-shoppingbag" style="position:relative;">
                    <!-- <span *ngIf="isLoggedIn" on-click="shopbag()" class="fa fa-shopping-bag pull-right fs-pr20 fs-shopingbag"><span *ngIf='checkFunction()'>{{itemsCount}}</span> </span> -->
                    <span *ngIf="isLoggedIn" on-click="shopbag()" class=" pull-right fs-shopingbag"><img src="../../../assets/img/bag.svg" class="">
                        <span *ngIf='checkFunction()'>{{itemsCount}}</span> </span>
                   <!-- <div style="position: fixed;width: 100%;height: 100%;background-color: rgba(0,0,0,.6);top: 50px;left: 0;z-index: 2;">

                    </div> -->
                    <div on-click="disable()" *ngIf='shoppingbag' class="searchDiv-layer"></div>
                    <div on-click="disable()" *ngIf="shoppingbag" class="shopbag-bglayer">
                    <div      class="fs-shioppingbagDiv"  autofocus>
                        <div class="fs-shopbag-head">
                            <h3>MY SHOPPING BAG</h3>
                            <span on-click="shopbag()">
                                <!-- <i class="fa fa-close"  aria-hidden="true"></i> -->
                                <img class="" src="../../../assets/img/close@white.svg">
                            </span>
                        </div>
                        <div *ngIf='cartItems'>
                            <!-- <img class="center-block" src="../../../assets/img/empty@bag.png" style="padding:15px 0;">
                            <p class="text-center" style="font-size: 18px;">Your bag is empty!</p>
                            <p class="text-center" style="margin-bottom: 16px;"><small style="color: #c2c2c2; margin-top: -10px; display: block;">Add items to it now</small></p> -->
                        <div  *ngIf='cartItems.length >0' class="fs-shopbag-DescDiv">
                            <div class="shopping-header">
                                <div class=""></div>
                                <div class="">Description</div>
                                <div class="">Qty</div>
                                <div class="">Remove</div>
                                <div class="">Price</div>
                            </div>
                            
                            <div class="shopping-info">
                                <div class="shopping-info-a" *ngFor="let item of cartItems;let i=index">
                                    <div class="">
                                        <img src="{{item.productDetails.productPic}}" alt="image">
                                    </div>
                                    <div class="">
                                        <p><strong>{{item.productDetails.productTitle}}</strong></p>
                                    </div>
                                    <div class="">
                                        <div class="btn-group">
                                            <!--<button type="button" class="btn btn-default disabled">-</button>-->
                                            <button type="button" class="btn btn-default">{{item.productDetails.quantity}}</button>
                                            <!--<button type="button" class="btn btn-default">+</button>-->
                                        </div>
                                    </div>
                                    <div class="">
                                        <button class="btn btn-default">
                                            <!-- <i class="fa fa-close" (click)='deleteItem(i)' aria-hidden="true"></i> -->
                                            <img (click)='deleteItem(i)' class=" pull-right srchicon" src="../../../assets/img/remove.svg">
                                        </button>
                                    </div>
                                    <div class="">
                                        Rs {{item.productDetails.price*item.productDetails.quantity }}
                                    </div>
                                </div>
                            </div>
                            <div  class="priceinfo">
                                <div class="priceinfo-a">
                                    <div class="priceItems"><span>Price({{cartItems.length}} items)</span></div>
                                    <div class="priceItemsTotal">Rs {{totalCost}}</div>
                                </div>
                                <div class="priceinfo-a">
                                    <div class="priceItems">Shipping Charge</div>
                                    <div class="priceItemsTotal">Rs 0</div>
                                </div>
                            </div>
                            <div class="total">
                                <div  class="orderTotal">Order Total</div>
                                <div  class="orderTotalPrice">Rs {{totalCost+0}}</div>
                                <div class="pull-left col-md-12 text-right padding0">Prices are inclusive of all taxes</div>
                                <div class="btndiv">
                                    <button class="btn btn-default" on-click="placeOrder()">PLACE ORDER</button>
                                    <button class="btn btn-default" on-click="shopbag()">CONTINUE SHOPPING</button>
                                </div>
                            </div>
                        </div>

                    <div *ngIf='cartItems.length ==0 || !cartItems' class="bag-empty">
                        <img class="center-block" src="../../../assets/img/empty@bag.png" style="padding:15px 0;">
                            <p class="text-center" style="font-size: 18px;">Your bag is empty!</p>
                            <p class="text-center" style="margin-bottom: 16px;"><small style="color: #c2c2c2; margin-top: -10px; display: block; font-size: 100%;">Add items to it now</small></p>
                            <!-- <p>
                                <img class="" src="../../../assets/img/empty@wishlist.svg" width="100">
                                Bag is empty</p> -->
                        <!-- <h4 style="" class="hidden-xs"> No items in the Cart</h4> -->
                        <!-- <p class="col-xs-12 text-center hidden-lg hidden-md visible-xs visible-sm" style="margin-top: 43%;"><span class="fa fa-shopping-bag pull-right1 fs-pr201 fs-shopingbag1" style="font-size: 50px;"></span></p>
                        <h3 class="hidden-lg hidden-md visible-xs visible-sm col-xs-12 fs-mt30 text-center">SHOPING BAG IS EMPTY</h3>
                        <p class="hidden-lg hidden-md visible-xs visible-sm gotohom"><button 
                            [routerLink]="['/home']">GO TO HOME</button></p> -->
                    </div>

                    </div>
                    </div>
                    
                    </div>
                </div>
                <div style="position:relative;" class=""><span *ngIf="isLoggedIn" on-click="notify()" class="fs-social-icon pull-right fs-notifi fs-Notifi">
      <!-- <span *ngIf='!notification'>0</span> -->
      <img src="../../../assets/img/notification.svg">
                    </span>
                    <div on-click="disable()" *ngIf='notification' class="searchDiv-layer"></div>
                    <div on-click="disable()" *ngIf="notification" class="notificationDiv-bglayer">
                    <div class="fs-notificationDiv" >
                        <div class="fs-noti-head">
                            <h3>NOTIFICATIONS</h3>
                            <span on-click="notify()">
                                <!-- <i class="fa fa-close" aria-hidden="true"></i> -->
                                <img class="" src="../../../assets/img/close@white.svg">
                            </span>
                        </div>
                        <div class="fs-noti-DescDiv">
                            <div class="fs-noti-DescDiv-a">
                                <!-- <h4></h4> -->
                                <!-- <img class="" src="../../../assets/img/no@notification.svg" width="100" height="100"> -->
                                <img src="../../../assets/img/no@notification.png" class="notification-icn">
                                <!-- <img class="" src="../../../assets/img/no@notification.svg"> -->
                                <p class="text-center">No notifications yet</p>
                            </div>
                           
                        </div>
                    </div></div>
                </div>
                <button class="pull-right getapp hidden-xs hidden-sm" (click)="getapp()">Get the app</button>

                <a rel="canonical" [routerLink]="['/user']" class="hidden-xs hidden-sm"><span *ngIf="isLoggedIn" class="fs-userPic"><img src="{{tempUser.profilePic}}"></span></a>
                <!-- <span on-click="showSearch()" class="glyphicon glyphicon-search pull-right srchicon">
                </span> --> 
                <img on-click="showSearch()" class=" pull-right srchicon" src="../../../assets/img/search.svg">
                

                <div class="fs-SrchDiv">
                    <input  *ngIf="isShowSearch"  autofocus  name="searchbar" class="pull-right srch" placeholder="Search for Movies, Celebrities, Fashions, Brands etc.." (keyup)="search()" [(ngModel)]="searchText">

                    <div class="fs-srchresult" *ngIf="displaySearchResluts && searchResult">
                        <div *ngIf="searchResult.movie.length == 0 && searchResult.celeb.length == 0 && searchResult.designer.length == 0 && searchResult.brand.length == 0 && searchResult.products.length == 0 && searchResult.content.length == 0">
                            <h4>No Results Found</h4>
                        </div>
                       
                        <div *ngIf="searchResult.celeb.length != 0">
                            <h4>Celebrities</h4>
                            <div *ngFor="let data of searchResult.celeb" class="fs-association-data col-md-12 col-xs-12">
                                <!--<a [routerLink]="['/celeb',data.slug]">-->
                                <div class="fs-pic"><img class="img-circle" src="{{data.profilePic}}"></div>
                                <div class="fs-info col-md-9 col-xs-8" on-click="goToPageFromSearch('celeb',data.slug)">
                                    <div class="fs-title">{{data.name}}</div>
                                    <div class="fs-asso-hash">
                                        <span *ngFor="let tag of data.role">#{{tag}}</span>
                                    </div>
                                </div>
                                <!--</a>-->
                            </div>
                        </div>
                        <div *ngIf="searchResult.movie.length != 0">
                            <h4>Movies</h4>
                                <div *ngFor="let data of searchResult.movie" class="fs-association-data col-md-12 col-xs-12">
                                <!--<a [routerLink]="['/movie',data.slug]">-->
                                <div class="fs-pic"><img class="img-circle" src="{{data.profilePic}}"></div>
                                <div class="fs-info col-md-9 col-xs-8" on-click="goToPageFromSearch('movie',data.slug)">
                                    <div class="fs-title">{{data.name}}</div>
                                    <div class="fs-asso-hash">
                                        <span *ngFor="let tag of data.genre">#{{tag}}</span>
                                    </div>
                                </div>
                                <!--</a>-->
                            </div>
                        </div>
                        <div *ngIf="searchResult.designer.length != 0">
                            <h4>Designer</h4>
                            <div *ngFor="let data of searchResult.designer" class="fs-association-data col-md-12 col-xs-12">
                                <!--<a [routerLink]="['/designer',data.slug]">-->
                                <div class="fs-pic"><img class="img-circle" src="{{data.profilePic}}"></div>
                                <div class="fs-info col-md-9 col-xs-8" on-click="goToPageFromSearch('designer',data.slug)">
                                    <div class="fs-title">{{data.name}}</div>
                                    <!--<div class="fs-asso-hash">
                                        <span *ngFor="let tag of data.searchTags">#{{tag}}</span>
                                    </div>-->
                                </div>
                                <!--</a>-->
                            </div>
                        </div>
                        <div *ngIf="searchResult.brand.length != 0">
                            <h4>Brand</h4>
                            <div *ngFor="let data of searchResult.brand" class="fs-association-data col-md-12 col-xs-12">
                                <!--<a [routerLink]="['/brand-store',data.slug]">-->
                                <div class="fs-pic"><img class="img-circle" src="{{data.profilePic}}"></div>
                                <div class="fs-info col-md-9 col-xs-8" on-click="goToPageFromSearch('brand-store',data.slug)">
                                    <div class="fs-title">{{data.name}}</div>
                                </div>
                                <!--</a>-->
                            </div>
                        </div>
                        <div *ngIf="searchResult.products.length != 0">
                            <h4>Products</h4>
                            <div *ngFor="let data of searchResult.products" class="fs-association-data col-md-12 col-xs-12">
                                <!--<a [routerLink]="['/product',data.slug]">-->
                                <div class="fs-pic"><img class="img-circle" src="{{data.profilePic}}"></div>
                                <div class="fs-info col-md-9 col-xs-8" on-click="goToPageFromSearch('product',data.slug)">
                                    <div class="fs-title">{{data.name}}</div>
                                    <!--<div class="fs-asso-hash">
                                        <span *ngFor="let tag of data.searchTags">#{{tag}}</span>
                                    </div>-->
                                </div>
                                <!--</a>-->
                            </div>
                        </div>
                        <div *ngIf="searchResult.content.length != 0">
                            <h4>Content</h4>
                            <div *ngFor="let data of searchResult.content" class="fs-association-data col-md-12 col-xs-12">
                                <!--<a [routerLink]="['/content',data.slug]">-->
                                <!--<div class="fs-pic"><img class="img-circle" src="{{data.profilePic}}"></div>-->
                                <div class="fs-info col-md-12 col-xs-12" on-click="goToPageFromSearch('content',data.slug)">
                                    <div class="fs-title fs-pl10">
                                        <span><img alt="image" class="" src="../../../assets/img/feed selected.png"></span>
                                    <span class="fs-pl5">{{data.name}}</span>
                                </div>
                                </div>
                                <!--</a>-->
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

<div *ngIf="show"> 
        
    <div on-click="hideHamburger()" class="container-fluid padding0 fs-hamburger">
        <div *ngIf="isLoggedIn">
            <div on-click='showHamburger()' class="collapse navbar-collapse" id="myNavbar">
                <div class="fs-hamburger-title">
                    <h4>flikster<span on-click="showselected()" class="fs-hamburger-close pull-right"><img _ngcontent-c1="" class="" src="../../../assets/img/close@white.svg"></span></h4>
                </div>
                <div class="fs-user text-center fs-mtb10 pull-left"><img src="{{tempUser.profilePic}}" alt="image" class="fs-UserProPic">
                    <span class="fs-UserProPicName">{{username}}</span></div>
                <ul class="nav navbar-nav" itemscope itemtype="http://schema.org/BreadcrumbList">
                    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="active"><a [routerLink]="['/user']">My Account</a></li>
                    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <a itemprop="item"  [routerLink] = "['/orders']" > <span itemprop="name">Orders</span></a>
                        <meta itemprop="position" content="1" />
                    </li>
                    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <a itemprop="item" [routerLink] = "['/boutique']" > <span itemprop="name">My Botique</span></a>
                        <meta itemprop="position" content="2" />
                    </li>
                    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <a itemprop="item" [routerLink] = "['/like']" > <span itemprop="name">Liked Posts</span></a>
                        <meta itemprop="position" content="3" />
                    </li>
                    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <a itemprop="item" [routerLink] = "['/refer-a-friend']" > <span itemprop="name">Refer a Friend</span></a>
                        <meta itemprop="position" content="4" />
                    </li>
                    <!-- <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <a itemprop="item" > <span itemprop="name">Flikster Credits</span></a>
                        <meta itemprop="position" content="5" />
                    </li> -->
                    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <a itemprop="item" [routerLink] = "['/rewards']" > <span itemprop="name">Rewards</span></a>
                        <meta itemprop="position" content="6" />
                    </li>
                    <!-- <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <a itemprop="item" > <span itemprop="name">Settings</span></a>
                        <meta itemprop="position" content="7" />
                    </li> -->
                    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <a itemprop="item" on-click="logout()"> <span itemprop="name">Logout</span></a>
                        <meta itemprop="position" content="8" />
                    </li>
                </ul>
                <ul class="nav navbar-nav navabr-nav-inline">
                    <li><a rel="canonical" [routerLink] = "['/about']" >About Us</a></li>
                    <li><a rel="canonical" [routerLink] = "['/business']">Business</a></li>
                    <li><a rel="canonical" [routerLink] = "['/blog']">Blog</a></li>
                    <li><a rel="canonical" [routerLink] = "['/help']">Help</a></li>
                    <li><a rel="canonical" [routerLink] = "['/privacy']">privacy</a></li>
                    <li><a rel="canonical" [routerLink] = "['/terms']">Terms</a></li>
                    <li class="dropup"><a rel="canonical"  class="dropdown-toggle" data-toggle="dropdown">More <i class="fa fa-caret-up" aria-hidden="true"></i></a>
                        <ul class="dropdown-menu">
                            <li class="text-left"><a rel="canonical" [routerLink] = "['/careers']" >Careers</a></li>
                            <li class="text-left"><a rel="canonical" [routerLink] = "['/contact']" >Contact</a></li>
                        </ul>
                    </li>



                </ul>
                <h4 class="fs-mt30">Download our App</h4>
                <p>
                        <a href="{{appStoreLinks.iTunes}}">   <img src="../../../assets/img/IOS.svg" width="100" style="margin-left: -4px;"></a>
                     <a href="{{appStoreLinks.googlePlay}}"> <img src="../../../assets/img/android.svg" width="100"></a>
                </p>
                <h4 class="fs-mt30">Follow us on</h4>
                
                    <!-- <i class="fa fa-facebook" aria-hidden="true" on-click="goToLink(facebook)"></i>
                    <i class="fa fa-twitter" aria-hidden="true" on-click="goToLink(twitter)"></i>
                    <i class="fa fa-instagram" aria-hidden="true" on-click="goToLink(instagram)"></i>
                    <i class="fa fa-linkedin" aria-hidden="true" on-click="goToLink(linkdin)"></i> -->
                    <p style="margin-bottom: 0;">
							<a href="https://www.facebook.com/Flikster/" target="_blank">
								<i _ngcontent-c26="" aria-hidden="true" class="fa fa-facebook"></i>
							</a>
							<a href="https://twitter.com/Flikstercom" target="_blank">
								<i _ngcontent-c26="" aria-hidden="true" class="fa fa-twitter"></i>
							</a>
							<a href="https://www.instagram.com/fliksterfashion/" target="_blank" >
								<i _ngcontent-c26="" aria-hidden="true" class="fa fa-instagram"></i>
							</a>
							<a href="https://in.linkedin.com/company/flikster" target="_blank">
								<i _ngcontent-c26="" aria-hidden="true" class="fa fa-linkedin"></i>
							</a>
							<a href="https://www.pinterest.com/fliksterfashion/" target="_blank">
								<i _ngcontent-c26="" aria-hidden="true" class="fa fa-pinterest-p"></i>
							</a>
						</p>
                
                <p class="fs-Copy">&copy; 2017 FLIKSTER</p>
            </div>
        </div>
        <div *ngIf="!isLoggedIn">
            <div on-click='showHamburger()' id="beforeLogin">
                <p on-click="showselected()" class="fs-mt30 col-md-12 col-sm-12 col-xs-12 text-right" style="color: rgb(147, 147, 147);"> <span style="cursor: pointer;">CLOSE </span><i class="fa fa-close" on-click="closeHamburger()" aria-hidden="true"></i></p>
                <p style="width: 100%;text-align: center;"><img style="width: 50px;margin-top: -45px;"  alt="image" src="../../../assets/img/Flikster logo.png"></p>
                <div class="col-md-12 col-sm-12 fs-mt50 pull-left col-xs-12">
                    <ul class="col-md-3 col-md-offset-1 col-sm-3 col-sm-offset-1 col-xs-4 list-unstyled" style="">
                        <li class="text-bold" style="font-size: 16px;margin-bottom: 10px;">Company<span style="border-top: 1px solid rgb(255, 89, 107);
    width: 40px;
    height: 2px;
    display: inline-block;
    position: absolute;
    top: 21px;
    left: 15px;"></span></li>
                        <li><a rel="canonical" [routerLink]="['/about']">About Us</a></li>
                        <li><a rel="canonical" [routerLink]="['/help']">Help</a></li>
                        <li><a rel="canonical" [routerLink]="['/privacy']">privacy</a></li>
                        <li><a rel="canonical" [routerLink]="['/terms']">Terms & Conditions</a></li>

                        
                        
                        
                        <li><a rel="canonical" [routerLink]="['/return-policy']">Return Policy</a></li>
                    </ul>
                    <ul class="col-md-3 col-md-offset-1 col-sm-3 col-sm-offset-1 col-xs-4 list-unstyled" style="">
                        <li class="text-bold" style="font-size: 16px;margin-bottom: 10px;">Connect<span style="    border-top: 1px solid rgb(255, 89, 107);
    width: 40px;
    height: 2px;
    display: inline-block;
    position: absolute;
    top: 21px;
    left: 15px;"></span></li>
                        <li><a rel="canonical" [routerLink]="['/business']">Business</a></li>
                        <li><a rel="canonical" [routerLink]="['/careers']">Careers</a></li>
                        <li><a rel="canonical" [routerLink]="['/blog']">Blog</a></li>
                        <li><a rel="canonical" [routerLink]="['/contact']">Contact Us</a></li>
                    </ul>
                    <ul class="col-md-3 col-md-offset-1 col-sm-3 col-sm-offset-1 col-xs-4 list-unstyled" style="">
                        <li class="text-bold" style="font-size: 16px;margin-bottom: 10px;">User<span style="border-top: 1px solid rgb(255, 89, 107);
    width: 20px;
    height: 2px;
    display: inline-block;
    position: absolute;
    top: 21px;
    left: 15px;"></span></li>
                        <li><a rel="canonical" on-click="goToLogin('login')">Login</a></li>
                        <li><a rel="canonical" on-click="goToLogin('signup')">Create Account</a></li>
                        <li><a rel="canonical" [routerLink]="['/refer-a-friend']">Refer a Friend</a></li>
                        <!-- <li><a rel="canonical" >Flikster Credits</a></li> -->
                        <li><a rel="canonical" [routerLink]="['/rewards']">My Rewards</a></li>
                    </ul>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                <p class="text-center col-md-12 col-sm-12 col-xs-12" style="font-size: 16px; margin-top: 50px; color: #111;">"Join our exclusive community of Movie, Celebrity & Fashion Enthusiasts."</p>
                    <p class="text-center col-md-12 col-sm-12 col-xs-12">
                        <strong style="float: left;
      font-size: 16px;
      margin: 10px 0;
      width: 100%;">DOWNLOAD OUR APP</strong> <br>
      <a href="{{appStoreLinks.iTunes}}" target="_blank">  <img src="../../../assets/img/Apple store.png" alt="image" width="150" style="cursor: pointer;"></a>
        <a href="{{appStoreLinks.googlePlay}}" target="_blank"> <img src="../../../assets/img/android_playstore.png" alt="image" width="150" style="cursor: pointer;"> </a></p>
        <p class="text-center" style="width: 100%; margin: 10px 0;">
            <a href="https://www.facebook.com/Flikster/" target="_blank">
                <i aria-hidden="true" class="fa fa-facebook" style="color: #111;margin-right: 20px;"></i>
            </a>
            <a href="https://www.twitter.com/Flikster/" target="_blank"><i aria-hidden="true" class="fa fa-twitter" style="color: #111;margin-right: 20px;"></i></a>
            <a href="https://www.instagram.com/fliksterfashion/" target="_blank"><i aria-hidden="true" class="fa fa-instagram" style="color: #111;margin-right: 20px;"></i></a>
            <a href="https://www.pinterest.com/fliksterfashion/" target="_blank"><i aria-hidden="true" class="fa fa-pinterest" style="color: #111;margin-right: 20px;"></i></a>
            <a href="https://www.plus.google.com.com/fliksterfashion/" target="_blank"><i aria-hidden="true" class="fa fa-google-plus" style="color: #111;margin-right: 20px;"></i></a>
        </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="get" >
    <div class="fs-modal" on-click='getapp()'>
        <div class="fs-modal-dialog" on-click='disableApp()'>
            <img src="../../../assets/img/Flikster logo.png" alt="image">
            <span on-click="getapp()" class="glyphicon glyphicon-remove-circle fs-modal-close"></span>
            <h4>Experience the best version of <br>flikster by getting the app.</h4>
            <p>
                    <a href="{{appStoreLinks.iTunes}}"> <img src="../../../assets/img/App-store_button.png" alt="image" class="fs-mr10"></a>
                <a href="{{appStoreLinks.googlePlay}}">   <img src="../../../assets/img/Play-store_button.png" alt="image"></a>
            </p>
        </div>
    </div>
</div>

<!-- <get-the-app *ngIf="get"></get-the-app> -->

<!-- <div style="position: absolute; background: rgba(35, 35, 35, 0.8) none repeat scroll 0% 0%; top: 50px; width: 100%; height: 200%; z-index: 2;"></div> -->


<login *ngIf="displayLoginPopup" [logType]='loginType' (closeLoginPopup)="closeLoginPopup($event)"></login>