/** common css start here**/

a:hover {
    text-decoration: none;
}

a:hover,
a:focus {
    background-color: transparent !important;
}

.padding0 {
    padding: 0;
}

.border0 {
    border: none;
}

.fs-m0 {
    margin: 0;
}

.fs-ml5 {
    margin-left: 5px;
}

.fs-mt50 {
    margin-top: 50px;
}

.fs-mt30 {
    margin-top: 30px;
}

.fs-mtb10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.fs-mtb20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.fs-mb10 {
    margin-bottom: 10px;
}

.fs-mb20 {
    margin-bottom: 20px;
}

.fs-mb50 {
    margin-bottom: 50px;
}

.fs-mt5 {
    margin-top: 5px;
}

.fs-mt10 {
    margin-top: 10px;
}

.fs-mt15 {
    margin-top: 15px;
}

.fs-mt20 {
    margin-top: 20px;
}
.fs-mr10{
    margin-right: 10px;
}

.fs-pl20 {
    padding-left: 20px;
}

.fs-ptb20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.fs-pr20 {
    padding-right: 20px;
}

.fs-plr10 {
    padding-left: 10px;
    padding-right: 10px;
}

.fs-pl0 {
    padding-left: 0;
}

.fs-pr0 {
    padding-right: 0;
}

.fs-plr0 {
    padding-left: 0;
    padding-right: 0;
}

.fs-pr50 {
    padding-right: 50px;
}

.fs-bg {
    background-color: #fafafa;
}

.bg-white {
    background-color: #fff;
}


/** common css end here**/


/** titlebar css start here**/

.fs-header {
    background: #fff;
    /*box-shadow: 0px 1px 0px #f5f5f5;*/
    position: fixed; left: 0; top: 0;
    z-index: 600;
    width: 100%;
}

@font-face {
    font-family: 'architects_daughterregular';
    src: url('../../../assets/fonts/architectsdaughter/architectsdaughter.woff2') format('woff2'), url('../../../assets/fonts/architectsdaughter/architectsdaughter.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DIN-Medium';
    src: url('../../../assets/fonts/din/DIN-Medium.woff') format('woff'), url('../../../assets/fonts/din/DIN-Medium.ttf') format('truetype'), url('../../../assets/fonts/din/DIN-Medium.svg#DIN-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DINRegular';
    src: url('../../../assets/fonts/din/DINRegular.woff') format('woff');
}

@font-face {
    font-family: 'DINLight';
    src: url('../../../assets/fonts/din/DINLight.woff') format('woff');
}

@font-face {
    font-family: 'ArchitectsDaughter';
    src: url('../../../assets/fonts/ArchitectsDaughter.woff') format('woff');
}

/***************** open_sans **************************/

@font-face {
    font-family: 'open_sansbold';
    src: url('../../../assets/fonts/Opensans/opensans-bold-webfont.woff2') format('woff2'), url('../../../assets/fonts/Opensans/opensans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansbold_italic';
    src: url('../../../assets/fonts/Opensans/opensans-bolditalic-webfont.woff2') format('woff2'), url('../../../assets/fonts/Opensans/opensans-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansextrabold';
    src: url('../../../assets/fonts/Opensans/opensans-extrabold-webfont.woff2') format('woff2'), url('../../../assets/fonts/Opensans/opensans-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansextrabold_italic';
    src: url('../../../assets/fonts/Opensans/opensans-extrabolditalic-webfont.woff2') format('woff2'), url('../../../assets/fonts/Opensans/opensans-extrabolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansitalic';
    src: url('../../../assets/fonts/Opensans/opensans-italic-webfont.woff2') format('woff2'), url('../../../assets/fonts/Opensans/opensans-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanslight';
    src: url('../../../assets/fonts/Opensans/opensans-light-webfont.woff2') format('woff2'), url('../../../assets/fonts/Opensans/opensans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanslight_italic';
    src: url('../../../assets/fonts/Opensans/opensans-lightitalic-webfont.woff2') format('woff2'), url('../../../assets/fonts/Opensans/opensans-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('../../../assets/fonts/Opensans/opensans-regular-webfont.woff2') format('woff2'), url('../../../assets/fonts/Opensans/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanssemibold';
    src: url('../../../assets/fonts/Opensans/opensans-semibold-webfont.woff2') format('woff2'), url('../../../assets/fonts/Opensans/opensans-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanssemibold_italic';
    src: url('../../../assets/fonts/Opensans/opensans-semibolditalic-webfont.woff2') format('woff2'), url('../../../assets/fonts/Opensans/opensans-semibolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



/*@font-face {
    font-family: 'Proxima Nova';
    src: url('../../../assets/fonts/Proxima Nova/fonts/Mark Simonson - Proxima Nova Alt Regular-webfont.eot');
    src: url('../../../assets/fonts/Proxima Nova/fonts/Mark Simonson - Proxima Nova Alt Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../../assets/fonts/Proxima Nova/fonts/Mark Simonson - Proxima Nova Alt Regular-webfont.woff2') format('woff2'),
         url('../../../assets/fonts/Proxima Nova/fonts/Mark Simonson - Proxima Nova Alt Regular-webfont.woff') format('woff'),
         url('../../../assets/fonts/Proxima Nova/fonts/Mark Simonson - Proxima Nova Alt Regular-webfont.ttf') format('truetype'),
         url('../../../assets/fonts/Proxima Nova/fonts/Mark Simonson - Proxima Nova Alt Regular-webfont.svg#proxima_nova_altregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

*{
    font-family: 'Proxima Nova';
}*/
nav a {
    background-color: transparent;
}
.fs-menu li{float: left;}
.fs-menu ul.nav>li>a {
    padding: 17px 40px 15px 15px;
    /*font-family: 'open_sansregular';*/
    /*font-family: 'Proxima Nova', Georgia, sans-serif;*/
    line-height: initial;
    cursor: pointer;
}

.fs-menu ul.nav>li>a i {
    left: 3px;
    position: relative;
}

.dropdown-menu>li>a:hover {
    color: #ff596b;
}

.fs-menu ul>li>a:focus,
.nav.fs-menu ul>li>a:hover {
    background-color: transparent;
    text-decoration: none;
    color: #ff596b;
}

.fs-menu ul.nav .open>a,
.nav .open>a:focus,
.fs-menu ul.nav .open>a:hover {
    background-color: transparent;
}

.fs-menu ul.dropdown-menu {
    left: 0px;
    min-width: 120px; float: left;
}

.fs-menu ul.dropdown-menu li{float: left;}
.fs-menu ul.dropdown-menu li a {
    /*padding: 3px 6px;*/
    float: left;
    padding-bottom: 10px;
}

.fs-menu a {
    color: #222;
    /*font-family: 'open_sansregular';*/
    margin: 0;
    text-align: left;
}

.fs-mstore-flk {
    border-bottom: 2px solid rgb(114, 114, 114);
    height: 35px;
    width: 100px;
    margin: 15px auto 0;
    color: rgb(114, 114, 114);
    padding: 0;
    /*float: left;*/
    display: inline-block;
}
.flkalign .flk{margin-left: 12px;}
.flk {
font-family: 'ArchitectsDaughter';
margin-top: 15px;
cursor: pointer;
}
.nav .open > a, .nav .open > a:focus, .nav .open > a:hover{
    background-color: transparent !important;
}

.flk a {
    color: #222;
}

.flk .fa-angle-down {
    float: right;
    margin-top: 3px;
}

.fs-mstore-flk+img {
    width: 30px;
    margin: 10px auto !important;
}

.flk+img {
    width: 30px;
    margin: 10px 0;
}

.icon-bar {
    background-color: #333;
}

.navbar-toggle.block {
    display: block;
margin: 15px 0 0px;
padding: 0;
}

.getapp {
    background-color: rgb(255, 89, 107);
    border: 1px solid rgb(255, 89, 107);
    border-radius: 16px;
    color: #fff;
    height: 20px;
    font-weight: 100;
    font-size: 12px;
    margin-right: 10px;
    padding: 0 10px;
    /*font-family: "open_sansregular";*/
    margin-top: 16px;
margin-bottom: 14px;
}

.space {
    /*margin-top: 13px;
    margin-bottom: 14px;*/
    float: right;
}

.srchicon {
    margin: 15px 10px 0 10px;
    cursor: pointer;
    font-size: 18px; color: rgb(114, 114, 114); width: 22px;
}

.srch {
    border: 1px solid #949494;
height: 30px;
font-weight: 100;
color:#949494;
width: 100%;
margin: 10px 0;
padding-left: 10px;
/*font-family: "open_sansregular";*/
}

.srch:focus {
    /*box-shadow: 0 1px 0 0 #616161;*/
    display: block !important;
}

.fs-userPic {
    float: right;
height: 20px;
margin-right: 20px;
margin-left: 15px;
width: 20px;
margin-top: 13px;
margin-bottom: 14px;
}

.fs-userPic>img {
    border-radius: 20px;
    height: 24px;
    width: 24px; position: relative; right: 4px;
}

.fs-Notifi {
    font-size: 18px;
position: relative;
margin-top: 5px;
cursor: pointer;
margin-top: 12px;
margin-bottom: 14px; color: rgb(114, 114, 114);
}
.fs-notifi {
    margin-right: 20px;
}
.fs-Notifi img{ width: 22px; }

.fs-Notifi span {
background: rgb(255, 89, 107) none repeat scroll 0 0;
border-radius: 16px;
color: #fff;
cursor: pointer;
float: right;
font-size: 9px;
font-weight: bold;
height: 18px;
position: absolute;
right: -7px;
text-align: center;
top: -8px;
width: 18px;
line-height: 18px;
}

.fs-shopingbag {
    margin-top: 11px; width: 22px; position: relative; right: 8px;
color: #333;
font-size: 18px; margin-right: 10px;
cursor: pointer;
margin-bottom: 14px; color: rgb(114, 114, 114);
}
.fs-shopingbag span{
background: rgb(255, 89, 107) none repeat scroll 0 0;
border-radius: 16px;
color: #fff;
cursor: pointer;
float: right;
font-size: 9px;
font-weight: bold;
height: 18px;
position: absolute;
right: -7px;
text-align: center;
top: 0px;
width: 18px;
line-height: 17px;
}
.fs-SrchDiv {
    float: right;
    position: relative;
    width: 66%;
}

.fs-srchresult {
    position: absolute;
    z-index: 2;
    background-color: rgb(255, 255, 255);
    top: 40px;
    width: 100%;
    box-shadow: 0px 2px 2px 0px rgb(51, 51, 51);
    max-height: 500px;
    overflow-y: auto;
    /*font-family: "open_sansregular";*/
}

.fs-srchresult h4 {
    margin: 0;
padding-left: 10px;
float: left;
width: 100%;
padding-top: 8px;
background-color: #f8f8f8;
padding-bottom: 8px;
color: #4e4e4e;
}

.fs-srchresult .fs-association-data:hover {
    background-color: rgb(254, 250, 222);
}


/** titlebar css end here**/


/** modal css start here **/

.fs-modal {
    background: rgba(35, 35, 35, .9);
    width: 100%;
    height: 100%;
    float: left;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0; z-index: 601;
}

.fs-modal-dialog {
    background: #fff none repeat scroll 0 0;
    height: 220px;
    margin: 0 auto;
    position: relative;
    /*top: 200px;*/
    top: 35%;
    max-width: 400px;
    text-align: center;
    border-bottom: 10px solid #ff596b;
    padding-top: 10px;
}

.fs-modal-dialog img {
    width: 60px;
}

.fs-modal-dialog h4 {
    color: #272727;
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
}

.fs-modal-dialog p img {
    width: 150px;
    cursor: pointer;
}

.fs-modal-close {
    font-size: 20px;
    position: absolute;
    right: 5px;
    top: 6px;
    cursor: pointer;
}


/** modal css end here **/


/***************************  hamburger  *****************************/

.fs-hamburger {
    background: rgba(35, 35, 35, 0.8);
    min-height: 100%;
    position: fixed;
    right: 0px;
    top: 0;
    width: 100%;
    z-index: 601;
}

.fs-hamburger-title {
    background: rgb(255, 89, 107);
    float: left;
    width: 100%;
}

.fs-hamburger-title h4 {
    font-family: ArchitectsDaughter;
    color: #fff;
    padding: 0 10px 0 20px;
    margin: 8px 0 !important;
}

.fs-hamburger #myNavbar {
    padding: 0;
    width: 258px;
    min-height: 100%;
    position: absolute;
    right: 0;
    background: #fff;
    margin: 0 auto;
}

.fs-hamburger-close {
    cursor: pointer; width: 20px; height: 20px;
}

.fs-user {
    margin-bottom: 0;
    margin-top: 25px;
    width: 100%;
}

.fs-UserProPic {
    border-radius: 100%;
    float: left;
    height: 50px;
    margin: 3px 20px;
    width: 50px;
    border: 1px solid #f5f5f5;
padding: 2px;
}

.fs-UserProPicName {
    float: left;
    font-size: 20px;
    margin-top: 15px;
    color: #818181;
}

.fs-hamburger .navbar-nav {
    width: 100%;
    margin: 20px 0 0;
    float: left;
}
.fs-hamburger .navabr-nav-inline{ padding: 0px 12px; }

.fs-hamburger .navbar-nav:last-child {
    margin-top: 30px;
}

.fs-hamburger .navbar-nav li {
    width: 100%;
    color: #8f8f8f;
}

.fs-hamburger .navbar-nav.navabr-nav-inline li {
    display: inline;
    width: auto; float: left;
}

.fs-hamburger .navbar-nav.navabr-nav-inline li a {
    padding: 3px 8px;
    font-size: 14px;
    color: #8f8f8f;
}

.fs-hamburger .navbar-nav.navabr-nav-inline li a::after {
    content: "-";
    font-size: 10px;
    position: absolute;
    right: 0;
    top: 1px;
}

.fs-hamburger .navbar-nav.navabr-nav-inline li:last-child a::after {
    content: "";
}
.fs-hamburger .navbar-nav.navabr-nav-inline > li:last-child a.dropdown-toggle{
    color: rgb(255, 89, 107);
}

.fs-hamburger .navbar-nav.navabr-nav-inline .dropup .dropdown-menu {
    min-width: 100px;
}

.fs-hamburger ul>li>a:focus,
.fs-hamburger ul>li>a:hover {
    color: #ff596b;
}

.fs-hamburger ul li a {
    padding: 3px 20px;
    color: #222;
    text-transform: capitalize;
    font-size: 16px;
    /*color: #818181;*/ color: #111;
    cursor: pointer;
}

.fs-hamburger h4 {
    padding: 5px 10px 5px 20px;
    float: left;
    width: 100%;
    margin-bottom: 0;
}

.fs-hamburger h4.fs-mt30 {
    color: #8f8f8f;
}

.fs-hamburger p {
    padding: 0 20px;
    float: left;
}

.fs-hamburger p .fa {
    font-size: 18px;
    cursor: pointer; color: #616161;
    margin-right: 15px;
}

.fs-hamburger .fa-user-circle-o {
    font-size: 60px;
    color: #eee;
    border-radius: 100%;
}

.fs-Copy {
    bottom: 0;
    position: fixed;
    right: 0;
}

.fs-hamburger #beforeLogin {
    padding: 0 50px;
    max-width: 1024px;
    min-height: 70%;
    position: absolute;
    right: 0;
    left: 0;
    background: #fff;
    display: block;
    margin: 0px auto;
    top: 80px;
}

#beforeLogin li a {
    font-size: 17px;
    float: left;
    width: 100%; padding: 0;
}



/**********************************  Responsive  **********************************/

@media only screen and (min-width:300px) and (max-width:500px) {
    .fs-pos-rel p img {
        width: 72px;
    }
    .fs-pos-rel p {
        left: 38% !important;
    }
}

@media only screen and (max-width:320px) {
    .fs-celebStore button {
        /*width: 98%;*/
        margin-right: 2%;
    }
}

@media only screen and (min-width:480px) and (max-width:480px) {
    .fs-pos-rel p {
        left: 40% !important;
    }
    .fs-pos-rel p img {
        width: 86px;
    }
}

@media only screen and (min-width:360px) and (max-width:360px) {
    .fs-pos-rel p {
        left: 36.5% !important;
    }
    .fs-pos-rel p img {
        width: 86px;
    }
}

@media only screen and (max-width:345px) {
    .fs-title {
        font-size: 12px;
    }
    .fs-asso-hash span {
        font-size: 12px;
    }
}

@media only screen and (max-width:480px) {
    .fs-pr0 {
        padding-right: 0;
    }
    .fs-csplr0 {
        padding-left: 0;
        padding-right: 0;
    }
}

@media only screen and (max-width:767px) {
    .fs-header .container{
    padding: 0 15px !important;
}
    .fs-celeb-profile .text-right {
        text-align: left;
    }
    .fs-celeb-profile {
        margin-bottom: 30px;
    }
    .fs-modal-celebdialog h3 {
        margin-top: 20px;
    }
    .fs-accessories {
        margin-bottom: 15px;
        margin-right: 0;
        width: 100%;
    }
    .fs-everything {
        margin-top: 0;
        margin-left: 1%;
        width: 49%;
    }
    .fs-shoe {
        margin-right: 1%;
        width: 49%;
    }
    .padding-r0 {
        padding-right: 0;
    }
    .fs-mstore {
        margin-top: 0;
    }
    .fs-categories {
        margin: 10px auto 0;
    }
    .fs-men-header {
        height: auto;
    }
    .fs-men-header button {
        height: auto;
        line-height: 18px !important;
        padding: 8px 15px 0;
    }
    .fs-men-header p {
        font-size: 14px;
    }
    .fs-men-header p span {
        float: none;
    }
    #fs-menu {
        display: none;
        float: left;
        width: 100%;
        margin: 0; height: 100% !important;
    }
    #fs-menu.fs-menu.collapse.in{
display: block;
    }
    #fs-menu>.nav.navbar-nav {
        margin: 0;
    }
    .block1 {
        float: left;
        padding: 9px 0;
        font-family: "DINRegular";
        margin-bottom: 0;
    }
    .back {
        float: left;
        padding: 9px 0;
        font-family: "DINRegular";
        margin-bottom: 0;
    }
    .block1 .glyphicon.glyphicon-menu-down {
        left: 5px;
        position: relative;
        top: 3px;
    }
    .fs-header .container.padding0 .col-md-4.col-xs-5.col-sm-5 {
        padding: 0;
    }
    .space {
        padding-left: 0;
        padding-right: 0;
    }
    .fs-pos-rel p {
        bottom: 19%;
        left: 42.5%;
    }
    .industrytypes p {
        color: #222;
    }
    .industrytypes1 li a {
        border: 1px solid #222;
        color: #222;
    }
    .industrytypes1 li a:hover {
        color: #fff;
    }
    .fs-csplr0 {
        padding-right: 0;
        padding-left: 0;
    }
    .fs-pl0.fs-pr0.fs-mtb10 {
        padding-right: 0;
    }
    .gradient-clr {
        height: auto;
        padding-bottom: 0;
        background: none;
    }
    .fs-celebtabs ul li a {
        text-align: center;
    }
    .fs-celebPic {
        width: 33.3333%;
        height: 95px;
        position: relative;
        margin-top: 0;
    }
    .fs-celebPic img {
        width: 50px;
        height: 50px;
    }
    .fs-celebPic span {
        margin: 0;
        font-size: 9px;
    }
    .fs-celebDownloadapp p {
        float: left !important;
        width: 100%;
        font-size: 10px;
        margin-top: 70px;
    }
    .fs-celebDownloadapp img {
        width: 80px;
        margin-bottom: 3px;
    }
    .fs-celebStore .fs-men-header {
        height: 180px;
    }
    .fs-celebDownloadapp p.pull-right {
        margin-top: 70px;
    }
    .fs-menfashion .fs-mstore {
        margin-top: 50px;
    }
    .fs-menfashion .fs-mstore .fs-celebDownloadapp {
        padding-left: 10px;
    }
    .fs-menfashion .fs-mstore .fs-celebDownloadapp p {
        margin-top: 0;
    }
    .fs-womenfashion .fs-mstore {
        margin-top: 50px;
    }
    .fs-womenfashion .fs-mstore .fs-celebDownloadapp {
        padding-left: 10px;
    }
    .fs-womenfashion .fs-mstore .fs-celebDownloadapp p {
        margin-top: 0;
    }
    .fs-movieStore .fs-mstore {
        margin-top: 50px;
    }
    .fs-movieStore .fs-mstore .fs-celebDownloadapp {
        padding-left: 10px;
    }
    .fs-movieStore .fs-mstore .fs-celebDownloadapp p {
        margin-top: 0;
    }
    .fs-celebStore .fs-mstore {
        margin-top: 50px;
    }
    .fs-celebStore .fs-mstore .fs-celebDownloadapp {
        padding-left: 10px;
    }
    .fs-celebStore .fs-mstore .fs-celebDownloadapp p {
        margin-top: 0;
        text-align: right;
    }
    .fs-shareinfo h3 {
        font-size: 18px;
        width: 60%;
        left: 20%;
    }
    .fs-shareinfo>span {
        width: 54%;
        left: 23%;
    }
    .admin_login {
        padding: 30px !important;
    }
    .fs-tollywoodtabs ul li {
        margin-bottom: 10px;
    }
.fs-menu li{width: 260px !important; clear: both;}
.fs-hamburger #beforeLogin{ padding: 0; }
}

@media only screen and (min-width:768px) and (max-width:768px) {
    .fs-mstore {
        margin-top: -25px;
    }
    .fs-shareinfo h3 {
        width: 30%;
        left: 35%;
    }
    .fs-shareinfo>span {
        width: 20%;
        left: 40%;
    }
}

@media only screen and (min-width:800px) and (max-width:800px) {}

@media only screen and (max-width:991px) {
    .fs-mpading0 {
        padding-left: 0;
        padding-right: 0;
    }
    .l-shareyourstyle img {
        margin-right: 40px;
    }
    .l-menfashion img {
        margin-left: 40px;
    }
    .fs-celebtabs ul li a {
        font-size: 11px;
    }
}

@media only screen and (min-width:768px) and (max-width:1199px) {
    .fs-pos-rel p {
        left: 38%;
    }
    .fs-pos-rel p img {
        width: 73px;
    }
    .fs-mstore {
        margin-top: -25px;
    }
    .fs-mstore-flk-login {
    padding-left: 5px !important;
    }
    .srchicon{
        margin:15px 2px 0 10px;
    }
}

@media only screen and (max-width:1023px) {
    .fs-men-header h3 {
        font-size: 80px;
        line-height: 150px;
        letter-spacing: -5px;
    }
    .l-womenfashion,
    .l-celebritystore,
    .l-moviestore {
        margin-bottom: 10px;
    }
    .industrytypes {
        padding: 0;
    }
}

@media only screen and (min-width:1024px) and (max-width:1024px) {
    .fs-pos-rel p {
        left: 38%;
    }
    .fs-pos-rel p img {
        width: 86px !important;
    }
}
@media only screen and (min-width:1024px){
    #beforeLogin ul:nth-child(2){
        padding-left: 40px;
    }
    #beforeLogin ul:nth-child(2) li span{
        left: 40px !important;
    }
}
@media only screen and (min-width:1024px) and (max-width:1280px) {
    .fs-men-header h3 {
        font-size: 110px;
    }
    .fs-mstore {
        margin-top: -70px;
    }
    .fs-celebtabs ul li {
        width: 20%;
    }
}
/**iphone 6**/
@media only screen and (min-width:375px) and (max-width:698px) {
    .fs-shopingbag.fs-pr20{ padding-right: 5px; }
    .fs-userPic{margin-left:0px; margin-right: 10px; margin-top: 17px;}
    .srchicon{ margin: 14px 10px 0 0px; }
    /*.space{width: 46%;}
    .hide1:first-child{width: 20%;}
    .hide1{width: 34%;}*/
    /*.fs-mstore-flk{width: 90px;margin-top: 5px; height: auto; }*/
    /*.fs-mstore-flk-login{padding-left: 10px !important;}*/
    .fs-notifi{ margin-right: 10px !important; }
    /*.flikster-logo{ margin-top: 5px !important; }*/
    .fs-menu ul.nav > li > a{ padding-left: 0; padding-right: 0; padding-top: 0; }
    
}
@media only screen and (max-width:374px){
.hidden-shoppingbag{ /*display: none;*/ }
.fs-Notifi, .fs-userPic, .flikster-logo{ /*display: none;*/ }
}
@media only screen and (min-width:375px) and (max-width:375px){
    .srchicon{ /*position: absolute;left: 10px;*/ }
    /*.space{width: 46%;}*/
    .hide1:first-child{/*width: 20%;*/}
    .hide1{/*width: 34%;*/}
    .fs-mstore-flk{/*width: 90px; margin-top: 8px; line-height: 20px;*/ /*height: auto;*/ }
    .fs-mstore-flk-login{margin-bottom: 0;}
    .flikster-logo{/*margin-top:0 !important;*/}
    .flkalign{ /*margin-top: 5px;*/ }
}
@media only screen and (min-width:559px) and (max-width:698px){
/*    .hide1{width: 50%;}
    .space{width: 30%;}*/
}
@media only screen and (min-width:435px) and (max-width:767px){
    .fs-mstore-flk-login{margin: 0;}
}
.fs-shioppingbagDiv {
    background-color: #fff;
    border: 1px solid rgb(244, 243, 243);
    border-radius: 3px;
    position: absolute; min-height: 250px;
    /*right: 38px;*/ right: 0%; left: 53%;
    top: 0px;
    /*width: 350px;*/
    max-width: 500px;
    z-index: 2;
}

.fs-shioppingbagDiv::before {
    border: 10px solid transparent;
    content: "";
    border-bottom-color: rgb(255, 89, 107);
    position: absolute;
    right: 5px;
    top: -18px;
    display: none;
}

.fs-shioppingbagDiv .fs-shopbag-head {
    background-color: rgb(255, 89, 107);
    float: left;
    width: 100%;
}

.fs-shioppingbagDiv .fs-shopbag-head>h3 {
    color: #fff;
    /*font-family: "open_sansregular";*/
    font-size: 14px;
    margin-bottom: 0;
    margin-top: 0;
    padding: 10px;
    text-align: center;
}

.fs-shioppingbagDiv .fs-shopbag-head>span {
    /*border: 1px solid;*/
    border-radius: 100%;
    color: #fff;
    height: 20px;
    line-height: 10px;
    padding: 4px;
    position: absolute;
    right: 8px;
    top: 7px; cursor: pointer;
    width: 20px;
}

.fs-shioppingbagDiv .fs-shopbag-head .fa.fa-close {
    margin-top: -2px; cursor: pointer;
}

.fs-shopbag-DescDiv {
    float: left;
    padding: 16px;
    width: 100%;
}

.shopping-header {
    border-bottom: 1px solid #eee;
    float: left;
    margin-bottom: 15px;
    padding-bottom: 7px;
    width: 100%;
}

.shopping-header>div {
    float: left;
    width: 16%;
    height: 20px;
    text-align: center;
}

.shopping-header>div:last-child {
    text-align: right;
}

.shopping-header>div:nth-child(2) {
    width: 36%;
    text-align: left;
}

.shopping-info {
    float: left;
    width: 100%; max-height: 280px; overflow: auto;
}
.shopping-info::-webkit-scrollbar { width: 8px; }
.shopping-info-a {
    float: left;
    width: 100%;
    padding: 10px 0; border-bottom: 1px solid #eee;
}
.shopping-info-a:last-child{ border-bottom: none !important; }

.shopping-info-a>div {
    float: left;
    width: 16%;
    /*padding-top: 15px;*/
    text-align: center;
}

.shopping-info-a>div:first-child {
    padding-top: 0;
}

.shopping-info-a>div:nth-child(2) {
    width: 36%;
    text-align: left;
}

.shopping-info-a>div:last-child {
    text-align: right;
}

.shopping-info-a img {
    height: 50px;
    width: 50px;
}

.shopping-info-a p {
    margin-bottom: 0;
}
.shopping-info-a p strong{
        font-weight: normal;
    line-height: 16px;
    float: left;
    overflow: hidden;
    height: 45px;
}
.shopping-info-a p.small{color: #B4B4B2;}
.shopping-info-a .btn.btn-default {
    border-radius: 0;
    height: 25px;
    padding: 5px;
    width: 25px;
    line-height: 1; border:none; margin-left: 10px !important;
}
.shopping-info-a > div:nth-child(4) .btn.btn-default{ padding: 0 !important; }
.shopping-info-a > div:nth-child(4) .btn.btn-default img{ width: 14px !important; 
    height: 14px !important; margin:0 0 0 5px; float: left !important; }
.fs-shopbag-DescDiv .priceinfo {
    border-top: 1px dashed #EAE9E9;
    border-bottom: 1px dashed #EAE9E9;
    float: left;
    margin: 10px 0;
    padding: 15px 0 10px;
    width: 100%;
}

.fs-shopbag-DescDiv .priceinfo .priceinfo-a {
    float: left;
    width: 100%;
}

.priceinfo-a .priceItems {
    margin-left: 16%;
    width: 27%;
    float: left;color: #C0C0BE;
    text-align: right;
}

.priceinfo-a .priceItems span {
    text-align: right;
    float: left;
    width: 100%;
}

.priceItemsTotal {
    float: right;
}

.total {
    float: left;
    width: 100%;
}

.orderTotal {
    float: left;
    font-size: 18px;
    font-weight: bold;
    margin-left: 16%;
    text-align: right;
    width: 27%;
}

.orderTotalPrice {
    float: right;
    font-weight: bold;
}

.orderTotalPrice + div{ color: #C0C0BE; width: 100%; }
.total .btndiv {
    float: left;
    margin: 15px 0;
    width: 100%;
}

.btndiv .btn {
    float: right;
    /*font-family: "open_sansregular";*/
    font-weight: 100;
    margin-left: 15px;
    border-radius: 0;
}

.btndiv .btn:first-child {
    background-color: rgb(255, 89, 107);
    border-color: rgb(255, 89, 107);
    color: #fff;
}

.btndiv .btn:last-child {
    background-color: rgb(246, 246, 246);
    border-color: rgb(246, 246, 246);
    color: #8F8F8F;
}

.fs-notificationDiv {
    background-color: #fff;
    position: absolute;
    /*right: 80px;*/ left: 60%;
    top: 0px;
    z-index: 2;
    width: 350px;
    border: 1px solid rgb(244, 243, 243);
    border-radius: 3px;
}

.fs-notificationDiv:before {
    border: 10px solid transparent;
    content: "";
    border-bottom-color: rgb(255, 89, 107);
    position: absolute;
    right: 5px;
    top: -18px; display: none;
}

.fs-notificationDiv .fs-noti-head {
    background-color: rgb(255, 89, 107);
    float: left;
    width: 100%;
}

.fs-notificationDiv .fs-noti-head>h3 {
    color: #fff;
    /*font-family: "open_sansregular";*/
    font-size: 14px;
    margin-bottom: 0;
    margin-top: 0;
    padding: 10px;
    text-align: center;
}

.fs-notificationDiv .fs-noti-head>span {
    /*border: 1px solid;*/
    border-radius: 100%; cursor: pointer;
    color: #fff;
    height: 20px;
    line-height: 10px;
    padding: 4px;
    position: absolute;
    right: 8px;
    top: 7px;
    width: 20px;
}

.fs-notificationDiv .fs-noti-head .fa.fa-close {
    margin-top: -2px; cursor: pointer;
}

.fs-noti-DescDiv {
    float: left;
    padding: 16px;
    width: 100%;
}

.fs-noti-DescDiv-a {
    border-bottom: 1px solid rgb(244, 243, 243);
    float: left; width: 100%;
    margin-bottom: 4px;
}

.fs-noti-DescDiv-a:last-child {
    border-bottom: none;
}

.fs-noti-DescDiv-a p {
    margin-bottom: 4px;
}

.flikster-logo {
height: 22px;
margin: 0px 3px 0 0;
width: 22px;
/*float: left; */
cursor: pointer;
}

.dropdown-menu {
    border-radius: 0;
}

.dropdown-menu li a {
    width: 100%; cursor: pointer;
}

.dropdown-menu-notLogged {
    min-width: 130px !important;
}

.dropdown-menu-notLogged li {
    width: 100%;
}

.dropdown-menu-feed {
    min-width: 400px !important;
}

.dropdown-menu-feed li {
    width: 33.3333%;
    float: left;
}

.dropdown-menu-feed li a:hover {
    font-weight: bold;
    color: #222 !important;
}

.fs-mstore-flk-login {
    text-transform: capitalize;
    padding-left: 45px;
}


/*.fs-srchresult {
    position: absolute;
    z-index: 2;
    background-color: rgb(255, 255, 255);
    top: 30px;
    width: 100%;
    box-shadow: 0px 2px 2px 0px rgb(51, 51, 51);
    display: none;
}
.fs-srchresult h4 {
    margin: 0;
    padding-left: 10px;
    float: left;
    width: 100%;
}*/

.fs-association-data {
    padding: 10px 0;
    float: left;
}

.fs-pic {
    float: left;
    padding: 3px 10px 0;
}

.fs-pic img {
    width: 40px;
    height: 40px; cursor: pointer;
}

.fs-info {
    padding-left: 0px;
    padding-right: 10px;
}

.fs-title {
    text-transform: capitalize;
    /*font-family: DIN-Medium;*/
    /*font-family: "open_sansregular";*/
    margin-top: 5px;
    color: #4e4e4e;
    font-size: 15px;
    cursor: pointer;
}

.fs-asso-hash span {
    margin-right: 5px;
    text-transform: capitalize;
    color: #949494;
    /*font-family: "open_sansregular";*/
    font-size: 12px;
}

.searchDiv-layer{
    background: transparent;
width: 100%;
height: 100%;
float: left;
position: fixed;
z-index: -1;
left: 0;
top: 0;
/*display: none;*/
}
.fs-pl10{
    padding-left: 10px;
}
.fs-pl5{
    padding-left: 5px;
}
.text-bold{
    font-weight: bold; 
}
.fs-header .container{
    padding: 0;
}
.fs-shioppingbagDiv h4{ text-align: center; width: 100%; float: left; }
.fs-user-mob-menu{}
.fs-user-mob-menu img{ border-radius: 100%;
    float: left;
    height: 50px;
    margin: 0px 15px 10px 0;
    width: 50px;
    border: 1px solid #f5f5f5;
    padding: 2px; }
.fs-user-mob-menu span{float: left; font-size: 20px; margin-top: 10px; color: #818181;
text-transform: capitalize;}
.shopbag-bglayer{    
    background: rgba(35, 35, 35, 0.8);
    min-height: 100%;
    position: fixed;
    right: 0px;
    top: 50px;
    width: 100%;
    z-index: 1; }
.notificationDiv-bglayer{
    background: rgba(35, 35, 35, 0.8);
    min-height: 100%;
    position: fixed;
    right: 0px;
    top: 50px;
    width: 100%;
    z-index: 1;
}
.fs-noti-DescDiv-a .notification-icn{
    margin: 0 auto 15px;
    display: block;
}
.fs-noti-DescDiv-a .notification-icn + p{ font-size: 18px; }