.EditProfile{
	margin-top: 140px;
}
.EditProfile input[type='text']{
border-width: 0 0 1px 0px;
border-color: #ccc;
width: 300px;
background-color: #fafafa;
box-shadow: none;
border-radius: 0;
margin: 0 auto;
text-align: center;
font-size: 20px;
}
.EditProfile button{
margin-top: 50px;
background-color: rgb(255, 89, 107);
color: #fff;
width: 129px;
font-size: 20px;
margin-bottom: 10px;
border-radius: 20px;
}