<titlebar></titlebar>
<banner [pageType]="pageType"></banner>
<div class="text-center EditProfile">
    <input type="text" [(ngModel)]="userName" class="form-control"><br>
    <button class="btn" on-click="save()" type="submit">Save</button>
</div>