 <titlebar></titlebar>
    

    <div class="container-fluid padding0" style="min-height: 91%;">
        <div class="container fs-mt50">
          <div class="row">
            <div class="col-md-12 col-xs-12 padding0 pull-left fs-mt50 mob-fs-mt0 W-ColletionS">
            <ul *ngIf="content !='see-all'" class="breadcrumb hidden-xs">
              <li *ngIf="mainRoute != 'Industry'">
              <ul  class="breadcrumb">
              <li *ngIf="rootRoute == 'menfashion' || content=='menfashion'"><a rel="canonical" [routerLink]="['/menfashion']">Men Fashion</a></li>
              <li *ngIf="rootRoute == 'womenfashion' || content=='womenfashion'"><a rel="canonical" [routerLink]="['/womenfashion']">Women Fashion</a></li>
              <li *ngIf="rootRoute == 'movie-store' || content=='movie-store'"><a rel="canonical" [routerLink]="['/movie-store']">Movie Store</a></li>
              <li *ngIf="rootRoute == 'celeb-store' || content=='celeb-store'"><a rel="canonical" [routerLink]="['/celeb-store']">Celebrity Store</a></li>
              <li *ngIf="rootRoute == 'designer-store' || content=='designer-store'"><a rel="canonical" [routerLink]="['/designer-store']">Designer Store</a></li>
              </ul></li>
              <li *ngIf="mainRoute == 'Industry'">
                  <ul  class="breadcrumb">
                      <li *ngIf="rootRoute == 'menfashion'"><a rel="canonical" [routerLink]="['/menfashion']">Men Fashion</a></li>
                      <li *ngIf="rootRoute == 'womenfashion'"><a rel="canonical" [routerLink]="['/womenfashion']">Women Fashion</a></li>
                          

                  </ul>
              </li>
              <!-- on-click="goToSubpage()" -->
              <li on-click="goToSubsubpage()" *ngIf="subCatagori" ><a rel="canonical">{{subCatagori}}</a></li>
              <li on-click="goToSubpage()" *ngIf="subPage" ><a rel="canonical">{{subPage}}</a></li>
              
              <li *ngIf="category"><a rel="canonical">{{category}}</a></li> 
             
             
              
              <li *ngIf="seeAllType == 'eyewear'"><a rel="canonical">Eye-wear</a></li>

            </ul>
            <ul *ngIf="content =='see-all'" class="breadcrumb hidden-xs">
             <li *ngIf="mainRoute == 'Fashion'">
                <ul *ngIf='seeAllType !="home"'  class="breadcrumb">
                    <li *ngIf="rootRoute == 'menfashion'"><a rel="canonical" [routerLink]="['/menfashion']">Men Fashion</a></li>
                    <li *ngIf="rootRoute == 'womenfashion'"><a rel="canonical" [routerLink]="['/womenfashion']">Women Fashion</a></li>
                    <li *ngIf="rootRoute == 'movie-store'"><a rel="canonical" [routerLink]="['/movie-store']">Movie Store</a></li>
                    <li *ngIf="rootRoute == 'celeb-store'"><a rel="canonical" [routerLink]="['/celeb-store']">Celebrity Store</a></li>
                    <li *ngIf="rootRoute == 'designer-store'"><a rel="canonical" [routerLink]="['/designer-store']">Designer Store</a></li>
                    </ul>
                    <ul *ngIf='seeAllType =="home"'  class="breadcrumb">
                   <li><a rel="canonical" [routerLink]="['/home']">Home</a></li>
                    </ul>
                    
             </li>
             <li *ngIf="mainRoute == 'Fashion'">
              <ul class="breadcrumb">
                <li *ngIf="contentType=='clothing'">Clothing</li>
                <li *ngIf="contentType=='justin'">Just in</li>
                <li *ngIf="contentType=='shirts-tees'">Shirts & Tees</li>
                <li *ngIf="contentType=='accessories'">Accessories</li>
                <li *ngIf="contentType=='footwear'">Footwear</li>
                <li *ngIf="contentType=='designerwear'">Designer wear</li>
                <li *ngIf="contentType=='steal-that-style'">Flik That Style</li>
                <li *ngIf="contentType=='movie-house'">Movie House</li>
                <li *ngIf="contentType=='shop-the-look'">Shop The Look</li>
                <li *ngIf="contentType=='small-screen'">Small Screen</li>
                <li *ngIf="contentType=='whats-new'">What's New</li>
              </ul> 
             </li>
            </ul>
            

          
            


<h4 *ngIf="category && catago" class="text-center col-md-12" style="position: relative;top: -22px;">
  {{category}}</h4>

<h4 *ngIf="!category && catago" class="text-center col-md-12" style="position: relative;top: -22px;">{{subPage}}</h4>
                
<h4 *ngIf="contentType == 'steal-that-style'" class="text-center col-md-12 hidden-xs" style="position: relative;top: -22px;">Flik That Style</h4>

<h4 *ngIf="contentType == 'steal-that-style'" class="text-center col-md-12  mob-indusname visible-xs"> Steal That Style</h4>

<h4 *ngIf="contentType == 'videos'" class="text-center col-md-12 hidden-xs" style="position: relative;top: -22px;">Videos</h4>

<h4 *ngIf="contentType == 'videos'" class="text-center col-md-12 mob-indusname visible-xs" >Videos</h4>
<h4 *ngIf="contentType == 'justin'" class="text-center col-md-12 mob-indusname visible-xs" >Just In</h4>
<h4 *ngIf="contentType == 'clothing'" class="text-center col-md-12 mob-indusname visible-xs" >Clothing</h4>
<h4 *ngIf="contentType == 'designerwear'" class="text-center col-md-12 mob-indusname visible-xs" >Designers Collection</h4>
<h4 *ngIf="contentType == 'accessories'" class="text-center col-md-12 mob-indusname visible-xs" >Accessories</h4>
<h4 *ngIf="contentType == 'footwear'" class="text-center col-md-12 mob-indusname visible-xs" >Footwear</h4>
<h4 *ngIf="contentType == 'shirts-tees'" class="text-center col-md-12 mob-indusname visible-xs" >T-Shirts</h4>
<h4 *ngIf="contentType == 'shop-the-look'" class="text-center col-md-12 mob-indusname visible-xs" >Shop The Look</h4>
<h4 *ngIf="contentType == 'whats-new'" class="text-center col-md-12 mob-indusname visible-xs" >What's New</h4>

<h4 *ngIf="contentType == 'news'" class="text-center col-md-12 hidden-xs" style="position: relative;
top: -22px;">Feed/News</h4>

<h4 *ngIf="contentType == 'news'" class="text-center col-md-12 mob-indusname visible-xs">Feed/News</h4>

<h4 *ngIf="contentType == 'gallery'" class="text-center col-md-12 hidden-xs" style="position: relative;
top: -22px;">Gallery</h4>

<h4 *ngIf="contentType == 'gallery'" class="text-center col-md-12 mob-indusname visible-xs">Gallery</h4>
                    
<h4 *ngIf="contentType == 'video-song'" class="text-center col-md-12 hidden-xs" style="position: relative;top: -22px;">Video Songs</h4>

<h4 *ngIf="contentType == 'video-song'" class="text-center col-md-12 mob-indusname visible-xs">Video Songs</h4>

<h4 *ngIf="contentType == 'interview'" class="text-center col-md-12 hidden-xs" style="position: relative;
top: -22px;">Interviews</h4>

<h4 *ngIf="contentType == 'interview'" class="text-center col-md-12 mob-indusname visible-xs">Interviews</h4>
<h5 *ngIf='mainRoute=="Industry"' on-click="goBack()" class='hidden-xs col-md-12 col-xs-12 col-sm-12 padding0 cursor'>Back</h5>
              
               <div *ngIf='displayArray'> 
                  <div  *ngIf="contentType == 'steal-that-style'" class="col-md-12 col-xs-12 fs-mt20 mob-fs-mt10 mob-plr7">
                    <div  class="seeallThumbnail" *ngFor="let product of displayArray">
                      <a *ngIf='product.products'  rel="canonical" class="thumbnail" [routerLink]="['/product', product.products[0].productSlug]" ><img alt="" src="{{product.profilePic}}">
                      </a>
                      <span class="text-uppercase brandName" [routerLink]="['/product', product.products[0].productSlug]">{{product.title}}</span><br>
                      
                      
                    </div>
                  </div>
                  <div  *ngIf="contentType == 'justin' || contentType == 'clothing' || contentType == 'footwear' || contentType == 'designerwear' || contentType=='accessories' || contentType=='shirts-tees' " class="col-md-12 col-xs-12 fs-mt20 mob-fs-mt10 mob-plr7">
                      <div  class="seeallThumbnail" *ngFor="let product of displayArray">
                        <a *ngIf='product.imageGallery'  rel="canonical" class="thumbnail" [routerLink]="['/product', product.slug]" ><img alt="" src="{{product.imageGallery[0]}}">
                        </a>
                        <span class="text-uppercase brandName" [routerLink]="['/product', product.slug]">{{product.name}}</span><br><span>Rs. {{product.price}}</span>
                        
                      </div>
                    </div>
                    <div  *ngIf="contentType=='small-screen' || contentType=='movie-house' || contentType=='whats-new'" class="col-md-12 col-xs-12 fs-mt20 mob-fs-mt10 mob-plr7">
                        <div  class="seeallThumbnail" *ngFor="let product of displayArray">
                          <a *ngIf='product.profilePic'  rel="canonical" class="thumbnail" [routerLink]="['/product', product.slug]" ><img alt="" src="{{product.profilePic}}">
                          </a>
                          <span class="text-uppercase brandName" [routerLink]="['/product', product.slug]">{{product.name}}</span><br><span>Rs. {{product.price}}</span>
                          
                        </div>
                      </div>
                      <div  *ngIf="contentType=='shop-the-look'" class="col-md-12 col-xs-12 fs-mt20 mob-fs-mt10 mob-plr7">
                          <div  class="seeallThumbnail" *ngFor="let product of displayArray">
                            <a *ngIf='product.profilePic'  rel="canonical" class="thumbnail" [routerLink]="['/looks', product.slug]" ><img alt="" src="{{product.profilePic}}">
                              <!-- <span *ngIf='product.products[0]' class="fs-stealStyle"><img alt="" src="{{product.products[0].productProfilePic}}"></span> -->
                            </a>
                            <span class="text-uppercase brandName" [routerLink]="['/looks', product.slug]">{{product.title}}</span><br>
                            
                          </div>
                        </div>
                    
                  <div  *ngIf="contentType == 'news'" class="col-md-12 col-xs-12 fs-mt20 mob-plr7 mob-fs-mt10">
                    <div  class="seeallThumbnail seeallThumbnail-seeall" *ngFor="let product of displayArray">
                      <card-news [miniCard]="miniCard" [content]="product" ></card-news>
                      
                      
                    </div>
                    
                  </div>
               
              <div *ngIf="contentType == 'shop-by-videos'" class="col-md-12 col-xs-12 padding0 
              fs-mt30 mob-plr7 mob-fs-mt10">

                  
                <div *ngFor="let item of videosArray"  class="col-md-4 pull-left fs-shopbyvideos">
                  <a on-click="displayPopup(item)" rel="canonical" class=""><img src="{{item.thumbnail}}" alt="image" class="col-md-12 img-responsive padding0">
                    <img  alt="play image" class="fs-glyph-play" src="../../../assets/img/play.png">
                </a>
                  <span class="fs-moviename">{{item.title}}</span><br>
                  <span class="fs-prodcnt">{{item.productCount}}Products</span>
                </div>
               
              </div>
              <div  *ngIf="contentType == 'videos' || contentType=='video-song' || contentType=='interview'" class="col-md-12 col-xs-12 padding0 fs-mt30 mob-plr7 mob-fs-mt10">
                
              <div *ngFor="let item of displayArray"  class="col-md-4 pull-left fs-shopbyvideos">
                <a [routerLink]="['/content/'+item.slug]" rel="canonical" class=""><img src="{{item.profilePic}}" alt="image" class="col-md-12 img-responsive padding0">
                  <img  alt="play image" class="fs-glyph-play"  src="../../../assets/img/play.png">
              </a>
                <span class="fs-moviename">{{item.title}}</span><br>
              </div>
             
            </div>
            
            <div *ngIf="contentType == 'gallery'" class="col-md-12 col-xs-12 padding0 fs-mt30 mob-plr7 mob-fs-mt10">
              
            <div *ngFor="let item of displayArray"  class="col-md-4 pull-left fs-shopbyvideos fs-seall-gallery">
              <a [routerLink]="['/content/'+item.slug]" rel="canonical" class=""><fs-card [contentData]="item" [contentType]="item.contentType"></fs-card>
              </a>
             
            </div>
           
          </div>
               
             </div>
             <div *ngIf='tqd'> 
                <div *ngIf="contentType == 'social'" class="col-md-12 col-xs-12 padding0 fs-mt30">
                  <div *ngIf='!showSeeMore' on-click="backState()" style="cursor: pointer;">Back</div>
                  <div *ngIf='showTweet' class="col-md-12 col-xs-12">
                      <h3 class="text-center">TWEETS</h3>
                      <h5 *ngIf='showSeeMore' class="text-right fs-seemore"><a rel="canonical" on-click='showallTweets()'   class="">See More</a></h5>
                    <div *ngFor="let item of tqd[0] | slice:0:showtqd;"  class="col-md-4 pull-left fs-shopbyvideos ">
                        <a *ngIf='item._source' [routerLink]="['/content/'+item._source.slug]" rel="canonical" class="" style="height: auto; display: block;"> 
                          <card-tweet  [miniCard]="miniCard" [content]="item._source" ></card-tweet>
                        </a>
                        
                      </div>
                  </div>
                  <div *ngIf='showQuote' class="col-md-12 col-xs-12">
                      <h3 class="text-center"> QUOTES </h3>
                      <h5 class="text-right fs-seemore"><a rel="canonical" on-click='showallQuotes()' class="">See More</a></h5>
                      <div *ngFor="let item of tqd[1] | slice:0:showtqd;"  class="col-md-4 pull-left fs-shopbyvideos ">
                          <a *ngIf='item._source' [routerLink]="['/content/'+item._source.slug]" rel="canonical" class="" style="height: auto; display: block;"> 
                            <card-quote  [miniCard]="miniCard" [content]="item" ></card-quote>
                          </a>
                          
                        </div></div>
                        <div *ngIf='showDialogue' class="col-md-12 col-xs-12">
                            <h3 class="text-center">DIALOGUE</h3>
                            <h5 class="text-right fs-seemore"><a rel="canonical" on-click='showallDialogues()' class="">See More</a></h5>
                        <div *ngFor="let item of tqd[2] | slice:0:showtqd;"  class="col-md-4 pull-left fs-shopbyvideos ">
                            <a *ngIf='item._source' [routerLink]="['/content/'+item._source.slug]" rel="canonical" class="" style="height: auto; display: block;"> 
                              <card-dialogue  [miniCard]="miniCard" [content]="item._source" ></card-dialogue>
                            </a>
                            
                          </div>
                        </div>


                </div>
                <!-- <div *ngIf="seeAllType == 'tweet'" class=" padding0 fs-mt30">
                    <div class="col-md-12">
                        <h3 class="text-center">TWEETS</h3>
                        
                      <div *ngFor="let item of tqd[0] "  class="col-md-4 pull-left fs-shopbyvideos ">
                          <a [routerLink]="['/content/'+item._id]" rel="canonical" class=""> <card-tweet  [miniCard]="miniCard" [content]="item._source" ></card-tweet>
                          </a>
                          
                        </div>
                    </div>
                </div> -->
             </div>
             
             <div *ngIf="menArray" class=" padding0 fs-mt30 mob-fs-mt0">
                <div *ngIf="seeAllType=='menwear'"  class="col-md-12 col-xs-12 padding0">
                  <h3 class="text-center hidden-xs" style="margin-top: 0;">Men Fashion</h3>
                  <h3 class="text-center mob-indusname visible-xs" style="margin-top: 0;">Men Fashion</h3>
                  <div class="col-md-12 col-xs-12 mob-plr7 mob-fs-mt10">
                  <div *ngFor="let item of menArray;let i=index "  class="col-md-4 pull-left fs-shopbyvideos menfashion-seeall">
                      <a on-click="goTomenCatogery('menfashion',item,i)"  rel="canonical" class=""> <img alt=""  src="{{menCatImages[i]}}">
                        <span  class="fs-WomenCollectionsType">{{item}}</span></a>
                    </div> 
                  </div>
                </div>
             </div>
             <div *ngIf="womenArray" class="col-md-12 col-xs-12 padding0 fs-mt30 mob-fs-mt0">
                <div *ngIf="seeAllType=='womenwear'" class="col-md-12 col-xs-12 padding0">
                    <h3 class="text-center hidden-xs" style="margin-top: 0;">Women Fashion</h3>
                    <h3 class="text-center col-md-12 mob-indusname visible-xs" style="margin-top: 0;">Women Fashion</h3>
                    <div class="col-md-12 col-xs-12 mob-plr7 mob-fs-mt10">
                  <div *ngFor="let item of womenArray;let i=index "  class="col-md-4 pull-left fs-shopbyvideos womenfashion-seeall">
                      <a on-click="goTowomenCatogery('womenfashion',item,i)" rel="canonical" class=""> <img alt=""  src="{{womenCatImages[i]}}">
                        <span  class="fs-WomenCollectionsType">{{item}}</span></a>
                    </div>
                  </div>
                </div>
             </div>
               <div *ngIf="content !='see-all'" >
                 <div *ngIf='!showProducts &&!subCatagori'>
                 <collections  [nocarosel]="content"></collections>
                 </div>
                 <div *ngIf='!showProducts && subCatagori'>
                  <collections  [nocarosel]="subCatagori"></collections>
                  </div>
                
                    
                

                </div>
                <div *ngIf="productsArray" class="prod-div">
                    <div *ngFor="let item of productsArray"  class="col-md-4 pull-left fs-shopbyvideos ">
                        <a  rel="canonical" class=""> <img alt="" [routerLink]="['/product', item.slug]"   src="{{item.profilePic}}">
                        </a> <span class="fs-moviename">{{item.name}}</span><br>
                          <span class="fs-prodcnt">Rs{{item.price}}/-</span>
                         
                        
                      </div>
                 </div>



            </div>
          </div>
        </div>
    </div>



        <footer></footer>



        <div  on-click='closeDisable()' *ngIf="popup" class="container-fluid padding0 fs-ShopByvideosModal">
          <i on-click="closePopup()" class="fa fa-close" aria-hidden="true"></i>
            <div  on-click="disablePopup()" *ngIf="popupVideo" class="col-md-8 col-md-offset-2 bgwhite">
              <div class="col-md-12 padding0">
              <h3>{{title}}</h3>
              <!-- <card-youtube [height]="height" [width]="width" [id]="id" ></card-youtube> -->
              <iframe  [src]='sanitizer.bypassSecurityTrustResourceUrl(videourl)' width="100%" height="360" frameborder="0"
              webkitallowfullscreen mozallowfullscreen allowfullscreen>
          </iframe>
              </div>
              <h3 class="col-md-12 pull-left padding0">{{title}}<span on-click="viewAll()" class="pull-right small viewallclick">View All</span></h3>
              <!--carusel start-->
              <div class="row">
              <div class="col-md-12">
                <div class="carousel slide media-carousel" id="media4">
                  <div class="carousel-inner">
                    <div class="item  active">
                      <div class="row">
                        <div *ngFor='let item of productArray |  slice:0:3;let i=index'  class="col-md-4 col-xs-4 ">
                          <a [routerLink]="['/product', item.slug]" rel="canonical" class="thumbnail" ><img alt="" src="{{item.profilePic}}">
                          <!-- <span class="glyphicon glyphicon-play-circle fs-glyph-play"></span> -->
                          <span class="Buy">Buy</span>
                          </a>
                          <span>{{item.name}}</span><br>
                          <span>{{item.price}}</span>
                        </div>          
                        
                           
                      </div>
                    </div>
                    <div *ngIf="productArray[3]" class="item">
                      <div class="row">
                        <div *ngFor='let item of productArray |  slice:3:6;let i=index'  class="col-md-4 col-xs-4 ">
                          <a [routerLink]="['/product', item.slug]" rel="canonical" class="thumbnail" ><img alt="" src="{{item.profilePic}}">
                          <!-- <span class="glyphicon glyphicon-play-circle fs-glyph-play"></span> -->
                          <span class="Buy">Buy</span>
                          </a>
                          <span>{{item.name}}</span><br>
                          <span>{{item.price}}</span>
                        </div>          
                        
                           
                      </div>
                    </div>
                   
                    <!-- <div class="item">
                      <div class="row">
                           
                      </div>
                    </div> -->
                 
                  </div>
                  <a rel="canonical" data-slide="prev" href="/#media4" class="left carousel-control"><i _ngcontent-c1="" aria-hidden="true" class="fa fa-chevron-left"></i></a>
                  <a rel="canonical" data-slide="next" href="/#media4" class="right carousel-control"><i _ngcontent-c1="" aria-hidden="true" class="fa fa-chevron-right"></i></a>
                </div>                          
              </div>
            </div><!-- carousel end-->
            </div>
          
          <div   *ngIf="popupViewAll" class="col-md-8 col-md-offset-2 bgwhite fs-ShopByvideosModalViewall">
              <div class="col-md-12 padding0">
              <h4 on-click="backToVideo()" class="Back"> &lt; Back</h4>
              <h3>{{title}}</h3>
              </div>
              <div class="item  active">
              <div class="row">
                <div class="col-md-12">
                  <div *ngFor="let item of productArray " class="col-md-4 col-xs-4 ">
                    <a rel="canonical" class="thumbnail" [routerLink]="['/product', item.slug]"><img alt="" src="{{item.profilePic}}">
                    <!-- <span class="glyphicon glyphicon-play-circle fs-glyph-play"></span> -->
                    <span class="Buy">Buy</span>
                    </a>
                    <span>{{item.name}}</span><br>
                <span>{{item.price}}</span>
                  </div>
                  </div>
              </div>
              </div>
         
            </div>
          
          
          </div>
          
          
        