
<div class="fs-bg">
  <titlebar class="hidden-xs"></titlebar>
  
  
  <div class="container-fluid padding0">
    <div class="container padding0 fs-mt50 mob-m0">
      <div class="col-md-12 col-xs-12 padding0 visible-xs bg-white" style="height: 50px;">
        <img on-click='goBack()' alt="image" class="" src="../../../assets/img/back.svg" style="height: 22px; margin:15px 0 0 15px; position: absolute;">
        <span style="text-align:  center; width: 100%; height:  50px; float:  left;
    line-height:  50px; font-size: 18px;">Checkout</span>
      </div>
      <div class="col-md-12 col-xs-12 padding0 fs-mt50 mob-fs-mt10">
        <div class="col-md-7 col-sm-7 col-xs-12 padding0 checkout-leftdiv">
          <div *ngIf='orderproduct' class="col-md-12 col-xs-12 padding0 fs-mb10 bg-white c-products">
            <h3>MY SHOPPING BAG <span *ngIf='orderproduct.product.length>1' >( {{orderproduct.product.length}} Items)</span></h3>
          <div *ngFor=' let item of orderproduct.product; let i = index ' class="col-md-12 col-xs-12 padding0 fs-mt10">
            <div class="col-md-12 col-xs-12 padding0 c-productsInfo">
            <div class="col-md-2 col-xs-3">
              <div class="col-md-12 padding0 ecartpic"><img class="img-responsive" src={{item.productPic}} alt="image"></div>
            </div>
            <div class="col-md-10 col-xs-9 fs-pl0">
              <div class="col-md-12 col-xs-12 padding0">
              <div class="col-md-6 col-xs-12 padding0 mtb8">
                <div class="col-md-12 col-xs-12 padding0"><h4 class="pro-title">{{item.productTitle}}</h4>
                </div>
                </div>
                <div class="col-md-3 col-xs-12 padding0 mtb8 pro-Infor">
                  <div *ngIf="item.color!='Undefined'" class="col-md-12 padding0" style="height: 20px;"><span class="colortxt1">Color :</span><span>{{item.color}}
                  </span></div>
                  <div class="col-md-12 padding0" *ngIf="item.size!='undefined'"><span class="size1">Size :</span><span class="sizetype1 selected">{{item.size}}</span></div>
                  <div class="" style="width: 165px;float: left;">
                    <h4 class="pro-qty"><span style="width: 48px; text-align: right;">Qty :</span><span style="color: #7e7e7e;">{{item.quantity}}</span></h4></div>
                </div>
                <div class="col-md-3 padding0 mtb8 pro-Prise">
                  <div class="col-md-12 padding0 pull-right"><h4 class="pro-price">
                  Rs {{(item.price)*(+item.quantity)}}</h4></div>
                </div>
                <div class="col-md-12 col-xs-12 padding0">                  
                    <div class="rm"><a on-click='removeItem(i)'>Remove</a> <span> |</span></div>
                  <div *ngIf='isAuctionProduct==false' class=" padding0 pull-right text-bold" (click)="getapp(i)"><span class="pull-left edittxt">Edit</span></div>
                </div>
                </div>
              </div>
              </div>
            </div>
          </div>
          
          <div class="col-md-12 col-xs-12 padding0 fs-mb10 bg-white" style="display: none;">
          <div class="col-md-11 col-md-offset-1 col-xs-11 col-xs-offset-1 fs-mtb10 fs-pl0">
            <h4>LOGGED IN <span><img src="../../../assets/img/tickmark.png" alt="image" width="25"></span></h4>
            <div class="LoggedName">{{username}}</div>
            <!--<div class="text-right edittxt">Edit</div>-->
          </div>
          </div>
          <div class="col-md-12 col-xs-12 padding0 fs-mb10 bg-white shipingadres ">
            <div class="col-md-12 col-xs-12 fs-mtb10 padding0">
            <div class="col-md-2 col-xs-4 padding0" style="display: none;">
              <div class="fs-shipingicon1">
                <div class="fs-shipingicon">
                  <img src="../../../assets/img/shippingicon.png" alt="image" class="img-responsive" >
                </div>
              </div>
            </div>
              <div class="col-md-12 col-xs-12 padding0 ShipngAdrs">
                <h3>SHIPPING ADDRESS <img src="../../../assets/img/shipping@address.svg"  alt="image"width="50"><span class="pull-right use-billing-adrs-div">
                  <div on-click="useBillingAddress()" class="use-billing-adrs check"></div><label>Use as billing Address</label></span>
                 <span *ngIf="shippingAddressSet"><img src="../../../assets/img/shipping@address.svg"  alt="image"width="25"></span></h3>
              </div>
              <div class="col-md-12 col-xs-12 padding0">
              <div *ngIf="!shippingAddressSet" class="col-md-12 col-xs-12 padding0 fs-mtb10 fs-deladresForm">
                <div class="col-md-12 col-xs-12 form-group padding0">
                  <label class="hidden-xs">Name<span>*</span></label>
                    <!-- <span *ngIf='shipname==true' class="starclr">*</span> -->
                  <input type="text" name="name" [(ngModel)]="shippingAddress.name" placeholder="" 
                  class="form-control hidden-xs">
                  <input type="text" name="name" [(ngModel)]="shippingAddress.name" placeholder="Name" class="form-control visible-xs">
                </div>
                <div class="col-md-12 col-xs-12 form-group padding0">
                  <label class="hidden-xs">Address<span>*</span></label>
                    <!-- <span  *ngIf='shipadd==true' class="starclr">*</span> -->
                  <textarea [(ngModel)]="shippingAddress.address" placeholder="" 
                  class="form-control hidden-xs"></textarea>
                  <textarea [(ngModel)]="shippingAddress.address" placeholder="Address" class="form-control visible-xs"></textarea>
                </div>
                <div class="col-md-12 col-xs-12 col-xs-12 form-group padding0 fs-dlocation">
                  <div class="col-md-6 col-xs-6 padding0">
                    <label class="hidden-xs">City<span>*</span></label>
                      <!-- <span *ngIf='shipcity==true' class="starclr">*</span> -->
                    <input type="text" [(ngModel)]="shippingAddress.city" name="city" placeholder="" class="form-control hidden-xs">
                    <input type="text" [(ngModel)]="shippingAddress.city" name="city" placeholder="City" class="form-control visible-xs">
                  </div>
                  <div class="col-md-6 col-xs-6 padding0">
                    <label class="hidden-xs">State<span>*</span></label>
                      <!-- <span *ngIf='shipstate==true'  class="starclr">*</span> -->
                    <input type="text" [(ngModel)]="shippingAddress.state" name="state" placeholder="" class="form-control hidden-xs">
                    <input type="text" [(ngModel)]="shippingAddress.state" name="state" placeholder="State" class="form-control visible-xs">
                  </div>
                </div>
                <div class="col-md-12 col-xs-12 col-xs-12 form-group padding0 fs-pin-mob">
                <div class="col-md-6 col-xs-6 padding0 form-group">
                    <label class="hidden-xs">Pincode<span>*</span></label>
                    <!-- <span *ngIf='shippin==true' class="starclr">*</span> -->
                    <span *ngIf='shippinInvalid==true' style="float: right;color: #f00;">Not a valid pincode</span>
                  <input type="number" onKeyPress="if(this.value.length==6) return false;" [(ngModel)]="shippingAddress.pincode" name="pincode" placeholder="" 
                  class="form-control hidden-xs">
                  <input type="number" onKeyPress="if(this.value.length==6) return false;" [(ngModel)]="shippingAddress.pincode" name="pincode" placeholder="Pincode" class="form-control visible-xs">
                </div>
                <div class="col-md-6 col-xs-6 padding0 form-group">
                    <label class="hidden-xs">Mobile Number<span>*</span></label>
                    <!-- <span *ngIf='shipmob==true' class="starclr">*</span> -->
                    <span *ngIf='shipmobInvailid==true' style="float: right;color: #f00;">Not a valid moblie number</span>
                  <input type="number" onKeyPress="if(this.value.length==10) return false;" [(ngModel)]="shippingAddress.mobile" name="mobile" placeholder="" 
                  class="form-control hidden-xs">
                  <input type="number" onKeyPress="if(this.value.length==10) return false;" [(ngModel)]="shippingAddress.mobile" name="mobile" placeholder="Mobile Number" class="form-control visible-xs">
                </div>
              </div>
              <div class="col-md-12 col-xs-12 form-group padding0">
                  <label class="hidden-xs">Email</label>
                    <!-- <span *ngIf='shipname==true' class="starclr">*</span> -->
                  <input type="text" name="name" [(ngModel)]="shippingAddress.email" placeholder="" class="form-control hidden-xs">
                  <input type="text" name="name" [(ngModel)]="shippingAddress.email" placeholder="Email" class="form-control visible-xs">
                </div>
                <div class="col-md-12 col-xs-12 form-group padding0 type-of-adres">
                  <label>Type of Address</label>
                    <!-- <span *ngIf='shipname==true' class="starclr">*</span> -->
                  <div class="col-md-12 col-xs-12 padding0">
                    <div class="col-md-3 col-xs-6 padding0"><input type="radio" [(ngModel)]="shippingAddress.type" name="addresstype" value='Home'>Home</div>
                    <div class="col-md-3 col-xs-6 padding0"><input type="radio" [(ngModel)]="shippingAddress.type" name="addresstype" value='Office'>Office</div>
                  </div>
                </div>
                <span class="starclr" style="font-size: 14px;left: 15px;top: -20px;">{{def}}</span>
                <div class="col-md-12 col-xs-12 padding0 form-group">
                  <button on-click="inputAddress()" class="deliveradrs-btn">DELIVER TO THIS ADDRESS</button>
                </div>
              </div>
  
              <h4 *ngIf="shippingAddressSet" class="col-md-12 padding0 fs-mt0" style="padding-left: 15px;">SHIP TO</h4>
              <div *ngIf="shippingAddressSet" class="col-md-6 col-xs-12 prevadrs">
                <img src="../../../assets/img/tickmark.png" class="same-adrs">
                <label class="nam">{{shippingAddress.name}}</label><br>
                <label>{{shippingAddress.address}}</label><br>
                <label>{{shippingAddress.city}}, {{shippingAddress.state}}</label><br>
                <label>{{shippingAddress.pincode}}</label><br><br>
                <label><span>Mobile :</span> {{shippingAddress.mobile}}</label><br>
                <label><span>Email :</span> {{shippingAddress.email}}</label><br>
                <label><span>Place :</span> {{shippingAddress.type}}</label><br>
                <div *ngIf="shippingAddressSet" class="col-md-12 col-xs-12 padding0 fs-mt20">
                <!-- <div class="col-md-8 col-xs-8 padding0"><button on-click='changeAddress()' class="changeaddrs">CHANGE ADDRESS</button></div> -->
                <div class=" fs-pl0"><button on-click="editAddress()" class="edtbtn">EDIT</button></div>
                <div class=" padding0 fs-pl0"><button on-click="editAddress()" class="delbtn">DELETE</button></div>
              </div>
              </div>
              <div class="col-md-6 col-xs-12 add-adres"><img src="../../../assets/img/add-address.svg">
                <br>Add Address</div>
  
              </div>
              <div *ngIf='shippingAddressSet && billingAddressSet && !proceedPayment' on-click='conformAddress()' class='visible-xs mob-chekout-nxt'><button>NEXT</button></div>
              <div *ngIf='showBillingAddress==true' class="col-md-12 col-xs-12 padding0" style="">
              <div class="col-md-12 col-xs-12 padding0">
                  <h3 class="biling">BILLING ADDRESS
                    <img src="../../../assets/img/billing.svg"  alt="image"width="25">
                   <span *ngIf="billingAddressSet"><img src="../../../assets/img/shipping@address.svg"  alt="image" width="30"></span></h3>
              </div>
              </div>
                <div *ngIf='showBillingAddress==true' class="col-md-12 col-xs-12 padding0" style="">
                <div *ngIf="!billingAddressSet" class="col-md-12 col-xs-12 padding0 fs-mtb10 fs-deladresForm">
                  <div class="col-md-12 col-xs-12 form-group padding0">
                    <label class="hidden-xs">Name<span>*</span></label>
                      <!-- <span *ngIf='bilname==true' class="starclr">*</span> -->
                    <input type="text" name="name" [(ngModel)]="billingAddress.name" placeholder="" class="form-control hidden-xs" >
                    <input type="text" name="name" [(ngModel)]="billingAddress.name" placeholder="Name" class="form-control visible-xs" >
                  </div>
                  <div class="col-md-12 col-xs-12 form-group padding0">
                    <label class="hidden-xs">Address<span>*</span></label>
                      <!-- <span *ngIf='biladd==true' class="starclr">*</span> -->
                    <textarea [(ngModel)]="billingAddress.address" placeholder="" 
                    class="form-control hidden-xs">
                    </textarea>
                    <textarea [(ngModel)]="billingAddress.address" placeholder="Address" class="form-control visible-xs"></textarea>
                  </div>
                  <div class="col-md-12 col-xs-12 col-xs-12 form-group padding0 fs-dlocation">
                    <div class="col-md-6 col-xs-6 padding0">
                    <label class="hidden-xs">City<span>*</span></label>
                        <!-- <span *ngIf='bilcity==true' class="starclr">*</span> -->
                      <input type="text" [(ngModel)]="billingAddress.city" name="city" placeholder="" class="form-control hidden-xs">
                      <input type="text" [(ngModel)]="billingAddress.city" name="city" placeholder="City" class="form-control visible-xs">
                    </div>
                    <div class="col-md-6 col-xs-6 padding0">
                    <label class="hidden-xs">State<span>*</span></label>
                        <!-- <span *ngIf='bilstate==true' class="starclr">*</span> -->
                      <input type="text" [(ngModel)]="billingAddress.state" name="state" placeholder="" class="form-control hidden-xs">
                      <input type="text" [(ngModel)]="billingAddress.state" name="state" placeholder="State" class="form-control visible-xs">
                    </div>
                  </div>
                  <div class="col-md-12 col-xs-12 padding0 form-group fs-pin-mob">
                  <div class="col-md-6 col-xs-6 padding0 form-group">
                    <label class="hidden-xs">Pincode<span>*</span></label>
                      <!-- <span *ngIf='bilpin==true' class="starclr">*</span> -->
                      <span *ngIf='bilpinInvailid==true' style="float: right;color: #f00;">Not a valid pin code </span>
                    <input type="number" onKeyPress="if(this.value.length==6) return false;" [(ngModel)]="billingAddress.pincode" name="pincode" placeholder="" 
                    class="form-control hidden-xs">
                    <input type="number" onKeyPress="if(this.value.length==6) return false;" [(ngModel)]="billingAddress.pincode" name="pincode" placeholder="Pincode" class="form-control visible-xs">
                  </div>
                  <div class="col-md-6 col-xs-6 padding0 form-group">
                    <label class="hidden-xs">Mobile Number<span>*</span></label>
                      <!-- <span *ngIf='bilmob==true' class="starclr">*</span> -->
                      <span *ngIf='bilmobInvailid==true' style="float: right;color: #f00;">Not a valid mobile number </span>
                    <input type="number" onKeyPress="if(this.value.length==10) return false;" [(ngModel)]="billingAddress.mobile" name="mobile" placeholder="" class="form-control hidden-xs">
                    <input type="number" onKeyPress="if(this.value.length==10) return false;" [(ngModel)]="billingAddress.mobile" name="mobile" placeholder="Mobile Number" class="form-control visible-xs">
                  </div>
                </div>
                  <div class="col-md-12 col-xs-12 padding0 form-group ">
                    <label class="hidden-xs">Email<span>*</span></label>
                    <input type="text" name="name" [(ngModel)]="billingAddress.email" placeholder="" class="form-control hidden-xs">
                    <input type="text" name="name" [(ngModel)]="billingAddress.email" placeholder="Email" class="form-control visible-xs">
                  </div>
                  <span class="starclr" style="font-size: 14px; left: 103px;top: -30px;"> {{gef}}</span>
                  <div class="col-md-12 col-xs-12 padding0 form-group">
                    <button on-click="inputbillingAddress()" class="deliveradrs-btn"> SAVE MY BILLING DETAILS</button>
                  </div>
                </div>
    
                <h4 *ngIf="billingAddressSet" class="col-md-12 padding0 fs-mt0" style="padding-left: 15px;">BILL TO</h4>
                <div *ngIf="billingAddressSet" class="col-md-12 biladrsset">
                  <label class="nam">{{billingAddress.name}}</label><br>
                  <label>{{billingAddress.address}}</label><br>
                  <label>{{billingAddress.city}}, {{billingAddress.state}}</label><br>
                  <label>{{billingAddress.pincode}}</label><br><br>
                  <label><span>Mobile :</span> {{billingAddress.mobile}}</label><br>
                  <label><span>Email :</span> {{shippingAddress.email}} </label><br>
                  <div *ngIf="billingAddressSet" class="col-md-12 col-xs-12 padding0 fs-mt20">
                  <div class="fs-pl0"><button on-click="editbillingAddress()" class="edtbtn">EDIT</button></div>
                  <div class=""><button on-click='changebillingAddress()' class="changeaddrs">DELETE
                  </button></div>
                </div>
                </div>
                </div>
            </div>
          </div>
        </div>
        <div *ngIf=" orderproduct && editingProduct == false" class="col-md-5 col-sm-5 col-xs-12 fs-pr0 checkout-rightdiv hidden-xs">
        <div class="col-md-12 col-xs-12 bg-white padding0 aplycoupon">
          <h3>APPLY COUPON</h3>
          <div class="col-md-12 col-xs-12 ">
            <div class="col-md-8 col-xs-8 fs-pl0">
              <input type="" name="" [(ngModel)]="couponCode" placeholder="Type coupon code here" class="form-control"></div>
            <div class="col-md-4 col-xs-4 padding0">
              <button on-click='applyCoupon()' class="form-control">APPLY</button>
            </div> 
          </div>
          <h5 style="float: left; padding-left: 19px;">{{displayResultedText}}</h5>
        </div>
        <div class="col-md-12 col-xs-12 bg-white padding0">
            <h4 class="col-md-12 ordersumery">ORDER SUMMARY</h4>
            <div class="col-md-12 fs-mb10">
              <p *ngFor='let item of orderproduct.product '>
                <!-- <span class="Itm-ProdTitle">{{item.productTitle}}</span> -->
                <!-- <span class="ITEM-QTY">X {{item.quantity}}</span> -->
                <span>{{item.productTitle}}</span>
                <span *ngIf='+item.quantity>1' class="ITEM-QTY">X {{item.quantity}}</span>
                <span class="pull-right">Rs {{item.price*(+item.quantity)}}</span></p>
              <p>Shipping Charge<span class="pull-right">Rs {{shippingCost }}</span></p>
              <p class="divider"></p>
              <p><strong>ORDER TOTAL</strong><strong><span class="pull-right">Rs {{totalCost+shippingCost}}</span></strong></p>
              <p class="text-right small">Prices are inclusive of all taxes</p>
            </div>
          </div>
          <div class="col-md-12 col-xs-12 padding0 fs-mtb10 fs-payment">
            <div class="col-md-12  col-xs-12  fs-mtb10 padding0 pull-left">
            <div class="col-md-2 col-xs-4 padding0" style="display: none;">
              <div class="fs-shipingicon1">
                <div class="fs-shipingicon paymenticon">
                  <img src="../../../assets/img/paymenticon.png" alt="image" class="img-responsive " >
                </div>
              </div>
            </div>
              <div class="col-md-10 col-xs-8" style="display: none;">
                <h3>MAKE PAYMENT <span><img *ngIf='displayAddressRequireds' src="../../../assets/img/tickmark.png" alt="image" width="25"></span></h3>
              </div>
              
  
  <button class="col-md-12 col-xs-12 padding0 placeorder"  on-click="orderConformed('ONLINE')">PROCEED TO PAYMENT</button>
              <div *ngIf='displayAddressRequired' class="starclr wrning"> Please enter Shipping and billing details before proceeding to pay online</div>
            </div>
          </div>
        </div>

        <div *ngIf=" orderproduct && editingProduct == false && proceedPayment" class="col-md-5 col-sm-5 col-xs-12 fs-pr0 checkout-rightdiv visible-xs">
          <div class="col-md-12 col-xs-12 bg-white padding0 aplycoupon">
            <h3>APPLY COUPON</h3>
            <div class="col-md-12 col-xs-12 ">
              <div class="col-md-8 col-xs-8 fs-pl0">
                <input type="" name="" [(ngModel)]="couponCode" placeholder="Type coupon code here" class="form-control"></div>
              <div class="col-md-4 col-xs-4 padding0">
                <button on-click='applyCoupon()' class="form-control">APPLY</button>
              </div> 
            </div>
            <h5 style="float: left; padding-left: 19px;">{{displayResultedText}}</h5>
          </div>
          <div class="col-md-12 col-xs-12 bg-white padding0">
              <h4 class="col-md-12 ordersumery">ORDER SUMMARY</h4>
              <div class="col-md-12 fs-mb10">
                <p *ngFor='let item of orderproduct.product '>
                  <!-- <span class="Itm-ProdTitle">{{item.productTitle}}</span> -->
                  <!-- <span class="ITEM-QTY">X {{item.quantity}}</span> -->
                  <span>{{item.productTitle}}</span>
                  <span *ngIf='+item.quantity>1' class="ITEM-QTY">X {{item.quantity}}</span>
                  <span class="pull-right">Rs {{item.price*(+item.quantity)}}</span></p>
                <p>Shipping Charge<span class="pull-right">Rs {{shippingCost }}</span></p>
                <p class="divider"></p>
                <p><strong>ORDER TOTAL</strong><strong><span class="pull-right">Rs {{totalCost+shippingCost}}</span></strong></p>
                <p class="text-right small">Prices are inclusive of all taxes</p>
              </div>
            </div>
            <div class="col-md-12 col-xs-12 padding0 fs-mtb10 fs-payment">
              <div class="col-md-12  col-xs-12  fs-mtb10 padding0 pull-left">
              <div class="col-md-2 col-xs-4 padding0" style="display: none;">
                <div class="fs-shipingicon1">
                  <div class="fs-shipingicon paymenticon">
                    <img src="../../../assets/img/paymenticon.png" alt="image" class="img-responsive " >
                  </div>
                </div>
              </div>
                <div class="col-md-10 col-xs-8" style="display: none;">
                  <h3>MAKE PAYMENT <span><img *ngIf='displayAddressRequireds' src="../../../assets/img/tickmark.png" alt="image" width="25"></span></h3>
                </div>
                
    
    <button class="col-md-12 col-xs-12 padding0 placeorder"  on-click="orderConformed('ONLINE')">PROCEED TO PAYMENT</button>
                <div *ngIf='displayAddressRequired' class="starclr wrning"> Please enter Shipping and billing details before proceeding to pay online</div>
              </div>
            </div>
          </div>


      </div>
    </div>
  </div>
  
  <div class="orddercnfpopup" *ngIf="order">
    <!-- <div class="orddercnfpopup" > -->
  <div [ngClass]="isPaymentSucess==true ? 'col-md-8' :''" class="fs-orderconformationDiv  ">
    <div class="fs-orderconformation-head">
      <p *ngIf="isPaymentSucess" class="text-center"><i class="fa fa-check-circle" aria-hidden="true"></i></p>
      <p *ngIf="!isPaymentSucess" class="text-center"><img _ngcontent-c0="" alt="image" src="../../../assets/img/failed.svg" width="50"></p>
      <span *ngIf="isPaymentSucess" on-click="orderClose()" class="orderCNFclose"><i class="fa fa-close" aria-hidden="true"></i></span>
      <h3 class="text-center" *ngIf="isPaymentSucess">Order Completed Successfully</h3>
      <!-- <h3 class="text-center" *ngIf="!isPaymentSucess">Order Failed</h3> -->
      <p class="text-center" *ngIf="isPaymentSucess">Thank you for ordering. We received your order and Will begin processing it soon. Your order information below</p>
      <p class="text-center" *ngIf="!isPaymentSucess" style="color: #ea5031; font-size: 20px;">Your transaction couldn't be processed.</p>
      <p *ngIf="!isPaymentSucess" class="Failed-TryAgain"><a on-click='tryAgain()' >Try Again</a><a on-click='backToHome()'>Back to home</a></p>
    </div>
    <div *ngIf="isPaymentSucess" class="fs-orderconformation-DescDiv">
      <div class="col-md-12 padding0">
      <div *ngIf='orderproduct' class="col-md-6 col-xs-12 fs-pl0 fs-Ord-detailss">
        <h4>Order Details</h4>
        <div class="col-md-12 padding0 orderDetailsDivMain">
        <div *ngFor='let item of orderproduct.product' class="orderDetailsDiv">
          <div class="orderProdimg">
            <img src="{{item.productPic}}" alt="image" class="img-responsive"></div>
          <div class="orderProdimginfo">
            <p><strong>{{item.productTitle}}</strong></p>
            <p class="small">branded</p>
            <p class="fs-mtb10">
              <span class="cnf-clr"><span>Color :</span><span>{{item.color}}</span></span>
              <span class="qty"><span>Qty:</span><span>{{item.quantity}}</span></span>
              <span class="ordercnfPrice"><span>Price:</span><span>Rs {{(item.price)*(item.quantity)}}</span></span>
            </p>
            <p class="fs-mtb10"><span>Orders Date :<span> {{today |date: 'dd-MM-yyyy'}}</span></span></p>
          </div>
        </div>
      </div>
      </div>
      <div class="col-md-6 col-xs-12 padding0 fs-Ord-Track">
        <h4>Track</h4>
        <div class="orderTrackDiv">
          <div class="orderTrackDiv-a">
            <span class="Ordered"><span></span></span>
            <span class="lane"><span></span></span>
            <span class="ship"><span></span></span>
            <span class="lane"><span></span></span>
            <span class="deliver"><span></span></span>
          </div>
          <p class="pull-left expertdeliverdate"><span>Expert deliver date on</span> <span class="delvrydate">{{deliveryDate  |date: 'dd-MM-yyyy'}}</span> <img src="../../../assets/img/shipping@address.svg" class="img-responsive" style=""></p>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-xs-12 padding0">
      <div class="col-md-6 fs-pl0 fs-delv-adrs">
        <h4>Delivery Address</h4>
        <div class="orderAdressDiv">
        <p>To-{{shippingAddressOrder.name}}<br>
            {{shippingAddressOrder.address}}
          {{shippingAddressOrder.city}} - {{shippingAddressOrder.pincode}}.<br>
          {{shippingAddressOrder.state}}
        </p>
  
        <p *ngIf='shippingAddress.mobile'>
          Mobile Number : {{shippingAddress.mobile}} 
        </p>
        </div>
      </div>
      <div class="col-md-6 col-xs-12 padding0 fs-bilng-detls">
        <h4>Billing Details</h4>
        <div class="orderBilingDiv">
          <p *ngFor='let item of orderproduct.product '><span>{{item.productTitle}}</span><span class="pull-right">{{(item.price)*(item.quantity) | currency: 'INR': true}}</span></p>
          <p><span>Shipping Charge</span><span class="pull-right">{{shippingCost | currency: 'INR': true}}</span></p>
          <p class="orderborder"><span>Order Total</span><span class="pull-right">{{totalCost+shippingCost | currency: 'INR': true}}</span></p>
          <p><span class="pull-right">Bill paying throughout {{paymentType}}</span></p>
        </div>
        <p class=" col-md-12 padding0 fs-mt10 text-right orderBilinginfo"><span on-click="requestInvoice()">Request Invoice</span></p>
        <p>{{message}}</p>
      </div>
    </div>
    </div>
  
  </div>
  </div>   
  <footer class="hidden-xs"></footer>
  <edit-checkout *ngIf="get" [sendObjects]='sendObject' [item]='item' [productOrder]='productOrder' [id]='orderId' (changingOrder)="changingOrder($event)" ></edit-checkout>
  <login *ngIf="displayLoginPopup" (closeLoginPopup)="closeLoginPopup($event)"></login>
  </div>