<div class="col-md-12 col-xs-12 pull-left padding0 bg-white">
  <div class="col-md-12 fs-socialbar">
    <div>
      <button *ngIf="!isLike" (click)="like()">
        <img src="../../../assets/img/card_like.png" alt="" class="hidden-xs">
        <img src="../../../assets/img/like.svg" alt="" class="visible-xs">
        <!-- <span class="fs-social-icon glyphicon glyphicon-heart"></span>  -->
       <!-- <span class="fs-likes"><span>{{counter}}</span>Likes</span>-->
       <span *ngIf="counter == 1" class="fs-likes"><span>{{counter}}</span>Like</span>
       <span *ngIf="counter != 1" class="fs-likes"><span>{{counter}}</span>Likes</span>
       </button>
      <button *ngIf="isLike" (click)="like()">
        <!-- <span class="fs-social-icon glyphicon glyphicon-heart " style="color:#ff0000"></span> --> 
        <img src="../../../assets/img/card_like-c.png" alt="" class="hidden-xs">
        <img src="../../../assets/img/like@color.svg" alt="" class="visible-xs">

        <span *ngIf="counter == 1" class="fs-likes"><span>{{counter}}</span>Like</span>
        <span *ngIf="counter != 1" class="fs-likes"><span>{{counter}}</span>Likes</span></button>
    </div>
    

    <div>
    <button on-click="share()">
      <!-- <span class="fs-social-icon glyphicon glyphicon-share-alt"></span>  -->
        <img *ngIf="!socialshare" src="../../../assets/img/card_share.png" alt="" class=" hidden-xs">
        <img *ngIf="!socialshare" src="../../../assets/img/share.svg" alt="" class=" visible-xs">

        <img *ngIf="socialshare" src="../../../assets/img/card_share_c.png" alt="" class="hidden-xs">
        <img *ngIf="socialshare" src="../../../assets/img/share@color.svg" alt="" class="visible-xs">
      <span>share</span></button>
      <div *ngIf="socialshare || display" on-click="disable()" class="shareDiv-layer"></div>
    <div class="shareDiv" *ngIf="socialshare ">
      <div *ngIf="!display" class="SHARE-SOCIAL-ICNS">
        <p>SHARE</p>
        <ul *ngIf='imageUrl' class="list-inline">
            <!-- [sbImage]=shareProfilePic  -->
           <li> <button shareButton="facebook" [style.backgroundColor]="sharee.prop.facebook.color" [sbImage]=imageUrl  [sbUrl]=contentUrl>
                <i [class]="sharee.prop.facebook.icon"></i>
              </button></li>
              <li><button shareButton="twitter" [style.backgroundColor]="sharee.prop.twitter.color"  [sbUrl]=contentUrl>
                  <i [class]="sharee.prop.twitter.icon"></i>
                </button></li>
              <li><button shareButton="whatsapp" [style.backgroundColor]="sharee.prop.whatsapp.color"  [sbUrl]=contentUrl>
                  <i [class]="sharee.prop.whatsapp.icon"></i>
                </button></li>
                <li><button shareButton="google" [style.backgroundColor]="sharee.prop.google.color" [sbUrl]=contentUrl>
                    <i [class]="sharee.prop.google.icon"></i>
                  </button></li>
            <li><button shareButton="pinterest" [style.backgroundColor]="sharee.prop.pinterest.color"  [sbUrl]=contentUrl>
                <i [class]="sharee.prop.pinterest.icon"></i>
              </button></li>
           
            <!-- <share-buttons [theme]="'default'"
            [exclude]="['linkedin','reddit','tumblr','telegram','vk','stumble','email','print']"
            [show]="6"
            [size]="-2"
            [url]=contentUrl
           ></share-buttons> -->
              
          <!-- <li><a rel="canonical" >
            <share-button 
                [theme]="'circles'"
                [button]="'facebook'"
                [url]=contentUrl
                ></share-button>
          </a></li>
          <li><a rel="canonical" >
            <share-button [theme]="'circles'"
            [button]="'twitter'"
                [url]=contentUrl
            ></share-button>
          </a></li>
          <li><a rel="canonical" >
            <share-button [theme]="'circles'"
            [button]="'whatsapp'"
                [url]=contentUrl
                [description]=contentTitle
            ></share-button>
          </a></li>
          <li><a rel="canonical" >
            <share-button [theme]="'circles'"
            [button]="'google'"
                [url]=contentUrl
            ></share-button>
          </a></li>
          <li><a rel="canonical" >
            <share-button [theme]="'circles'"
            [button]="'pinterest'"
                [url]=contentUrl
                [description]=contentTitle
                [image]=contentData.profilePic
            ></share-button>
          </a></li> -->

          <li><a rel="canonical" >
            <!-- <i aria-hidden="true" class="fa fa-google-plus"></i> -->
            <img on-click="displayUrl()" src="../../../assets/img/unlink.png" alt="" class="img-responsive">
          </a></li>
        </ul>
      </div>
      <div *ngIf="!display" class="OR"><span>or</span></div>
      <div *ngIf="!display" class="SEND">
        <P>SEND</P>
        <input type="text" name="lkjhgfdsa" placeholder="Enter email" [(ngModel)]="sendEmailMessage">
        <button on-click="shareCardViaEmail()">Send</button>
      </div>
      
  </div>
  <div *ngIf="display" class="url">
    <i class="fa fa-close" on-click="close()"></i><br>
    <input type="text" name="" value="http://flikster.com/content/{{shareSlug}}" #inputTarget><br>
    <!-- <input type="text" name="" value="localhost:3000{{currentUrl}}" #inputTarget><br>     -->
    <!--<button type="button" [xngClipboard]="inputTarget" on-click="currentUrls()">COPY</button>-->
    <button type="button" on-click="currentUrls()">COPY</button>
  </div>
    </div>
    

    <img *ngIf="!isBookmark" src="../../../assets/img/card_bookmark.png" alt="" (click)="bookmark()" class="img-responsive bookmark hidden-xs">
    <img *ngIf="!isBookmark" src="../../../assets/img/bookmark.svg" alt="" (click)="bookmark()" class="img-responsive bookmark visible-xs">
    <img *ngIf="isBookmark" src="../../../assets/img/card_bookmark_c.png" alt="" (click)="bookmark()" class="img-responsive bookmark hidden-xs">
    <img *ngIf="isBookmark" src="../../../assets/img/bookmark@color.svg" alt="" (click)="bookmark()" class="img-responsive bookmark visible-xs">
  </div>
</div>


<login *ngIf="displayLoginPopup" (closeLoginPopup)="closeLoginPopup($event)"></login>