
<div *ngIf="page=='content' && !isMiniCard" class="thumbnail col-md-12 padding0 card-video-iframe">
<!-- <card-associationdata [time]='ShowTime' [date]='time' [assnData]="assnData"></card-associationdata> -->

<!-- <div *ngIf="page=='feed'" class="crd-video">
    <img  on-click="gotocontent()" src="{{contentData.profilePic}}" class="img-responsive">
    <i class="fa fa-play-circle-o" aria-hidden="true"></i>
</div> -->
    
    <iframe *ngIf='videoUrl'  [src]='sanitizer.bypassSecurityTrustResourceUrl(videoUrl)' width="640" height="600" frameborder="0"
        webkitallowfullscreen mozallowfullscreen allowfullscreen>
    </iframe>

<!--<iframe frameborder="0" width="640" height="360" src="//www.dailymotion.com/embed/video/x6cfhyl" 
        webkitallowfullscreen mozallowfullscreen allowfullscreen>
</iframe>-->



<card-socialbar [content]="content" [contentData]="contentData" [cardId]="cardId" [shareSlug]='shareSlug' [shareProfilePic]='shareProfilePic'></card-socialbar>
<div *ngIf="contentData" class="cardinfo">
<h1  class="title bgwhite">{{contentData.title}}</h1>
<h5  class="text-justify" *ngIf='contentData.text'  [innerHTML]='contentData.text' style="padding:0 10px;float: left;width: 100%;"></h5>
<card-comments [cardId]="cardId"></card-comments>
</div>
</div>
<div *ngIf="page=='content' && isMiniCard" class="thumbnail col-md-12 padding0" style="">
        <!-- <card-associationdata [time]='ShowTime' [date]='time' [assnData]="assnData"></card-associationdata> -->
        
        <div *ngIf="contentData"  class="crd-video rel-fliks-crd-video">
            <img  on-click="gotocontent()" src="{{contentData.profilePic}}" class="img-responsive">
            <!-- <i class="fa fa-play-circle-o" aria-hidden="true"></i> -->
            <img on-click="gotocontent()" src="../../../assets/img/play.png" alt="" class="img-responsive playbtn">
        </div>
        <card-socialbar [content]="content" [contentData]="contentData" [cardId]="cardId" [shareSlug]='shareSlug' [shareProfilePic]='shareProfilePic'></card-socialbar>
        <!-- <card-socialbar [cardId]="cardId"></card-socialbar> -->
        <div *ngIf="contentData" class="cardinfo">
        <h1 on-click="gotocontent()" class="title bgwhite" style="padding-bottom: 5px; padding-top: 5px;">{{contentData.title}}</h1>
        <!-- <h5 *ngIf='contentData.text'  class="text-justify" [innerHTML]='contentData.text' 
        style="padding: 0 10px;float: left;width: 100%;height: 36px;overflow: hidden;line-height: 18px;min-height: 20px;"></h5> -->
        <!-- <card-comments [cardId]="cardId"></card-comments> -->
        </div>

</div>
<div *ngIf="page =='industry'" class="thumbnail col-md-12 padding0">
<div *ngIf="contentData"  class="crd-video">
    <img  on-click="gotocontent()" src="{{contentData.profilePic}}" class="img-responsive">
    <!-- <i class="fa fa-play-circle-o" aria-hidden="true"></i> -->
            <img on-click="gotocontent()" src="../../../assets/img/play.png" alt="" class="img-responsive playbtn">
</div>


</div>
<div *ngIf="page=='feed'" class="thumbnail col-md-12 padding0">
        <card-associationdata [time]='ShowTime' [date]='time' [assnData]="assnData"></card-associationdata>
        
        <div *ngIf="contentData"  class="crd-video">
            <img  on-click="gotocontent()" src="{{contentData.profilePic}}" class="img-responsive">
            <!-- <i class="fa fa-play-circle-o" aria-hidden="true"></i> -->
            <img on-click="gotocontent()" src="../../../assets/img/play.png" alt="" class="img-responsive playbtn">
        </div>
        <card-socialbar [content]="content" [contentData]="contentData" [cardId]="cardId" [shareSlug]='shareSlug' [shareProfilePic]='shareProfilePic'></card-socialbar>
        <div *ngIf="contentData" class="cardinfo">
        <h1 on-click="gotocontent()" class="title bgwhite">{{contentData.title}}</h1>
        <h5 *ngIf='contentData.text'  class="text-justify" [innerHTML]='contentData.text' style="padding:0 10px;float: left;width: 100%;"></h5>
        <card-comments [cardId]="cardId"></card-comments>
        </div>
        
        
        </div>
        <div *ngIf="page=='like'" class="thumbnail col-md-12 padding0">
            <card-associationdata [time]='ShowTime' [date]='time' [assnData]="assnData"></card-associationdata>
            
            <div *ngIf="contentData"  class="crd-video">
                <img  on-click="gotocontent()" src="{{contentData.profilePic}}" class="img-responsive">
                <!-- <i class="fa fa-play-circle-o" aria-hidden="true"></i> -->
                <img on-click="gotocontent()" src="../../../assets/img/play.png" alt="" class="img-responsive playbtn">
            </div>
            <card-socialbar [content]="content" [contentData]="contentData" [cardId]="cardId" [shareSlug]='shareSlug' [shareProfilePic]='shareProfilePic'></card-socialbar>
            <div *ngIf="contentData" class="cardinfo">
            <h1 on-click="gotocontent()" class="title bgwhite">{{contentData.title}}</h1>
            <h5 *ngIf='contentData.text'  class="text-justify" [innerHTML]='contentData.text' style="padding:0 10px;float: left;width: 100%;"></h5>
            <card-comments [cardId]="cardId"></card-comments>
            </div>
            
            
            </div>
            <div *ngIf="page=='bookmark'" class="thumbnail col-md-12 padding0">
                <card-associationdata [time]='ShowTime' [date]='time' [assnData]="assnData"></card-associationdata>
                
                <div *ngIf="contentData"  class="crd-video">
                    <img  on-click="gotocontent()" src="{{contentData.profilePic}}" class="img-responsive">
                    <!-- <i class="fa fa-play-circle-o" aria-hidden="true"></i> -->
                    <img on-click="gotocontent()" src="../../../assets/img/play.png" alt="" class="img-responsive playbtn">
                </div>
                <card-socialbar [content]="content" [contentData]="contentData" [cardId]="cardId" [shareSlug]='shareSlug' [shareProfilePic]='shareProfilePic'></card-socialbar>
                <div *ngIf="contentData" class="cardinfo">
                <h1 on-click="gotocontent()" class="title bgwhite">{{contentData.title}}</h1>
                <h5 *ngIf='contentData.text'  class="text-justify" [innerHTML]='contentData.text' style="padding:0 10px;float: left;width: 100%;"></h5>
                <card-comments [cardId]="cardId"></card-comments>
                </div>
                
                
                </div>
        <div *ngIf="page=='movie'" class="thumbnail col-md-12 padding0">
            <card-associationdata [time]='ShowTime' [date]='time' [assnData]="assnData"></card-associationdata>
            
            <div *ngIf="contentData"  class="crd-video">
                <img  on-click="gotocontent()" src="{{contentData.profilePic}}" class="img-responsive">
                <!-- <i class="fa fa-play-circle-o" aria-hidden="true"></i> -->
                <img on-click="gotocontent()" src="../../../assets/img/play.png" alt="" class="img-responsive playbtn">
            </div>
            <card-socialbar [content]="content" [contentData]="contentData" [cardId]="cardId" [shareSlug]='shareSlug' [shareProfilePic]='shareProfilePic'></card-socialbar>
            <div *ngIf="contentData" class="cardinfo">
            <h1 on-click="gotocontent()" class="title bgwhite">{{contentData.title}}</h1>
            <h5 *ngIf='contentData.text'  class="text-justify" [innerHTML]='contentData.text' style="padding:0 10px;float: left;width: 100%;"></h5>
            <card-comments [cardId]="cardId"></card-comments>
            </div>
            
            
            </div>
            <div *ngIf="page=='celeb'" class="thumbnail col-md-12 padding0">
                <card-associationdata [time]='ShowTime' [date]='time' [assnData]="assnData"></card-associationdata>
                
                <div *ngIf="contentData"  class="crd-video">
                    <img  on-click="gotocontent()" src="{{contentData.profilePic}}" class="img-responsive">
                    <!-- <i class="fa fa-play-circle-o" aria-hidden="true"></i> -->
                    <img on-click="gotocontent()" src="../../../assets/img/play.png" alt="" class="img-responsive playbtn">
                </div>
                <card-socialbar [content]="content" [contentData]="contentData" [cardId]="cardId" [shareSlug]='shareSlug' [shareProfilePic]='shareProfilePic'></card-socialbar>
                <div *ngIf="contentData" class="cardinfo">
                <h1 on-click="gotocontent()" class="title bgwhite">{{contentData.title}}</h1>
                <h5 *ngIf='contentData.text'  class="text-justify" [innerHTML]='contentData.text' style="padding:0 10px;float: left;width: 100%;"></h5>
                <card-comments [cardId]="cardId"></card-comments>
                </div>
                
                
                </div>