iframe{ width: 100%; }
video{ width: 100%; }
.bgwhite{ background-color: #fff; }
.title{
/*font-family: "open_sansregular";*/
font-size: 15px;
font-weight: bold;
margin: 0;
float: left;
width: 100%; line-height: 20px;
padding: 0 10px;
cursor: pointer;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}
.cardinfo{
	/*padding: 0 10px 10px;*/
float: left;
background: white;
width: 100%;
/*margin:10px 0 10px 0;*/
}
.crd-video{
	position: relative;
width: 100%;
float: left;
/*height: 200px;*/
}
.rel-fliks-crd-video{
	height: 200px;
	overflow: hidden;
display: flex;
align-items: center;
justify-content: center;
}
.rel-fliks-crd-video .playbtn{
/*top: 40%;*/
}
.crd-video .fa-play-circle-o{
	position: absolute;
top: 47%;
left: 47%;
color: white;
background-color: rgba(0,0,0,.5);
font-size: 30px;
border-radius: 17px;
padding: 0 2px;
cursor: pointer;
}
.crd-video .playbtn{
position: absolute;
top: 40%;
left: 43%;
color: white;
/*background-color: rgba(0,0,0,.5);*/
font-size: 30px;
border-radius: 17px;
padding: 0 2px;
cursor: pointer;
}
.crd-video img:first-child{
	width: 100%;
}
.bgwhite iframe{
	width:500px;
}
.thumbnail{
	padding:0;
	border:none;
	margin-bottom: 0;
}
.crd-video .fa-play-circle-o, .crd-video .playbtn{ width: 60px; }